{% extends "template.njk" %}
{% if agreementId_session == 'RM6187' %}
  {% set footerSupportLayer = true %}
  {% set fcaHelperLayer = true %}
{% endif %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% set title = 'DA - response date | Crown Commercial Service' %}
{% from "macros/csrf.njk" import csrfProtection %}
{% block breadCrumb %}

{% if agreementId_session == 'RM6187' %}
    {{ CCSBreadcrumbs({
        items: [
            {
        "text": "Dashboard",
        "href": "/dashboard"
        },
        {
        "text": "Choose a commercial agreement",
        "href": "/projects/choose-agreement"
        },
        {
        "text": "Procurement overview",
        "href": "/projects/create-or-choose"
        },
        {
        "text": "Write and publish your requirements",
        "href": "/da/task-list"
        },
        {
        "text": "Set your timeline"
        }   
            ] 
  }) }}

{% else %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
    }) }}
{% endif %}

{% endblock %}
{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                {% if agreementId_session == 'RM6187' %}
                    Set your timeline
                {% else %}
                    {{data.title }} 
                {% endif %}
                </h1>
            </div>
        </div>
        {% if(error)%}
            {{ CCSErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: errorMessage.text,
      href: "#"+errorMessage.href
    }
  ]
}) }}
{% endif%}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}
        
        {% if (selectedeventtype=='DA')%}
            <p class="govuk-body">{{data.subtitleDA}}</p>
            <p class="govuk-body">There are:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
            <li> {{data.subtitleDAOption1}} </li>
            <li> {{data.subtitleDAOption2}} </li>
            <li> {{data.subtitleDAOption3}} </li>

            </ul>    

            <p class="govuk-body">{{data.subtitleDA1}}</p>
            {% if agreementId_session != 'RM6187' %}
                <p class="govuk-body"><strong>{{data.subtitleDA2}}</strong></p>
            {% else %}
                <div class="govuk-inset-text">
                    <p class="govuk-body"><strong>{{data.subtitleDA2}}</strong></p>
                </div>
            {% endif %}

        {%else%}
            <p class="govuk-body">{{data.subtitle}}</p>
            <p class="govuk-body">{{data.subtitle1}}</p>
            <ul class="govuk-list govuk-list--bullet">
                {% if agreementId_session == 'RM6187' %}
                    <li><b>four</b> working days from publishing your further competition until the clarification period closes</li>
                {% else %}
                <li><b>four</b> working days from publishing your one stage further competition until the clarification period closes</li>
                {% endif %}
                
                <li><b>two</b> working days from the clarification period closing to publishing your responses to the clarification questions</li>
                <li><b>four</b> working days from publishing responses to clarification questions to the deadline for the suppliers to submit their responses.</li>
            </ul>
            <p class="govuk-body">{{data.subtitle2}}</p>
            <p class="govuk-body"><b>{{data.subtitle3}}</b></p>
            <div class="govuk-form-group ccs-page-section govuk-!-padding-bottom-5 govuk-!-margin-top-9">
                <p class="govuk-body-l govuk-!-margin-top-3"><strong>
                    {% if agreementId_session == 'RM6187' %}
                    Timeline for your direct award
                {% else %}
                Timeline for the 1-stage further competition
                {% endif %}

                </strong></p>
            </div>
        {%endif%} 
        {% block valuewitNoMultiSelect %}
            {% for requirement in framework%}
                {% if (requirement.nonOCDS.questionType === 'DateTime') and (requirement.nonOCDS.multiAnswer === false) %}
                    <div class="govuk-form-group ccs-page-section eoi_publish_date rfi-timeline-list" data-label="{{loop.index}}">
                        <p class="govuk-body">
                            {{requirement.OCDS.title}}</p>
                        {% if(requirement.OCDS.title == "Publish your EoI" )%}
                            <p class="govuk-body">
                                {{data['data'].body.p1}}</p>
                        {%endif %}
                        <div id="rfp_clarification_date">
                            {% if(requirement.nonOCDS.options[0].selected)%}
                                <label class="govuk-label govuk-body">
                                    <strong id="lbl-clarification" class="clarification_{{loop.index}} dynamicid_{{ loop.index }}">{{ requirement.nonOCDS.options[0].value  }}</strong>
                                </label>
                            {%endif %}
                            {% if( requirement.nonOCDS.options.length == 0)%}
                                {% if(requirement.OCDS.id == "Question 2" )%}
                                    <label class="govuk-label govuk-body">
                                        <strong id="clarification_period_end" class="clarification_2 dynamicid_{{ loop.index }}">{{ rfp_clarification_period_end}}</strong>
                                    </label>
                                {% elif(requirement.OCDS.id == "Question 3") %}
                                    <label class="govuk-label govuk-body">
                                        <strong id="deadline_period_for_clarification_period" class="clarification_3 dynamicid_{{ loop.index }}">{{deadline_period_for_clarification_period }}</strong>
                                    </label>
                                {% elif(requirement.OCDS.id == "Question 4") %}
                                    <label class="govuk-label govuk-body">
                                        <strong id="supplier_period_for_clarification_period" class="clarification_4 dynamicid_{{ loop.index }}">{{supplier_period_for_clarification_period }}</strong>
                                    </label>
                                {% elif(requirement.OCDS.id == "Question 5") %}
                                    <label class="govuk-label govuk-body">
                                        <strong id="supplier_dealine_for_clarification_period" class="clarification_5 dynamicid_{{ loop.index }}">{{supplier_dealine_for_clarification_period }}</strong>
                                    </label>
                                        {% elif(requirement.OCDS.id == "Question 6") %}
                                    <label class="govuk-label govuk-body">
                                        <strong id="deadline_for_submission_of_stage_one" class="clarification_6 dynamicid_{{ loop.index }}">{{deadline_for_submission_of_stage_one }}</strong>
                                    </label> {% elif(requirement.OCDS.id == "Question 7") %}
                                    <label class="govuk-label govuk-body">
                                        <strong id="evaluation_process_start_date" class="clarification_7 dynamicid_{{ loop.index }}">{{evaluation_process_start_date}}</strong>
                                    </label> {% elif(requirement.OCDS.id == "Question 8") %}
                                    <label class="govuk-label govuk-body">
                                        <strong id="bidder_presentations_date" class="clarification_8 dynamicid_{{ loop.index }}">{{bidder_presentations_date}}</strong>
                                    </label> {% elif(requirement.OCDS.id == "Question 9") %}
                                    <label class="govuk-label govuk-body">
                                        <strong id="standstill_period_starts_date" class="clarification_9 dynamicid_{{ loop.index }}">{{standstill_period_starts_date}}</strong>
                                    </label> {% elif(requirement.OCDS.id == "Question 10") %}
                                    <label class="govuk-label govuk-body">
                                        <strong id="proposed_award_date" class="clarification_10 dynamicid_{{ loop.index }}">{{proposed_award_date}}</strong>
                                    </label> {% elif(requirement.OCDS.id == "Question 11") %}
                                    <label class="govuk-label govuk-body">
                                        <strong id="expected_signature_date" class="clarification_11 dynamicid_{{ loop.index }}">{{expected_signature_date}}</strong>
                                    </label>
                                {%else%}
                                    <label class="govuk-label govuk-body">
                                        <strong class="clarification_1 dynamicid_{{ loop.index }}">{{rfp_clarification_date}}</strong>
                                    </label>
                            {%endif%}
                        {%endif%}
                                    {%if (requirement.OCDS.id !== "Question 1")%}
                                        <a href="#rfp_clarification_date_expanded_{{loop.index}}" id="change_clarification_date_{{loop.index}}"
            class="govuk-link govuk-link--no-visited-state change" >change</a>
            
                                    <div id="rfp_clarification_date_expanded_{{loop.index}}" class="hideFirst">
                                        <div>
                                            <label class="govuk-label govuk-body">
                                                <strong id="lbl-clarification_copy">{{
                    clarification_date_string }}</strong>
                                            </label>
                                            <a href="#rfp_clarification_date_{{loop.index}}"  id="rfp_cancel_change_clarification_date_{{loop.index}}"
                class="govuk-link govuk-link--no-visited-state " hidden>I do not want to change this date and time</a>
                                        </div>
                                        
                                        <form action="/da/add/response-date" method="post" class="ccs_eoi_response_date_form" id="ccs_rfp_response_date_form_{{ loop.index }}">
                                        {{ csrfProtection(csrf) }}
                                            <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_date">
                                                <div class="govuk-date-input govuk-!-margin-top-5" id="clarification_date">
                                                    <div class="govuk-date-input__item">
                                                        <div class="govuk-form-group">
                                                            <label class="govuk-label govuk-date-input__label" for="clarification_date-day">
                            Date
                        </label>
                                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                            id="clarification_date-day_{{loop.index}}" name="clarification_date_day" type="text"
                            inputmode="numeric"
                            value="{{ data['clarification_date-day'] }}" >
                                                        </div>
                                                    </div>
                                                    <div class="govuk-date-input__item">
                                                        <div class="govuk-form-group">
                                                            <label class="govuk-label govuk-date-input__label" for="clarification_date-month">
                            Month
                        </label>
                                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                            id="clarification_date-month_{{loop.index}}" name="clarification_date_month" type="text"
                                inputmode="numeric"
                            value="{{ data['clarification_date-month'] }}" >
                                                        </div>
                                                    </div>
                                                    <div class="govuk-date-input__item">
                                                        <div class="govuk-form-group">
                                                            <label class="govuk-label govuk-date-input__label" for="clarification_date-year">
                            Year
                        </label>
                                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                            id="clarification_date-year_{{loop.index}}" name="clarification_date_year" type="text"
                                inputmode="numeric"
                                maxlength="4"
                            value="{{ data['clarification_date-year'] }}" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_time">
                                                <div class="govuk-date-input govuk-!-margin-top-5" id="clarification_time">
                                                    <div class="govuk-date-input__item">
                                                        <div class="govuk-form-group">
                                                            <label class="govuk-label govuk-date-input__label" for="clarification_date-hour">
                            Hour
                        </label>
                                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                            id="clarification_date-hour_{{loop.index}}" name="clarification_date_hour" type="text"
                                inputmode="numeric"
                            value="{{ data['clarification_date-hour'] }}" >
                                                        </div>
                                                    </div>
                                                    <div class="govuk-date-input__item">
                                                        <div class="govuk-form-group">
                                                            <label class="govuk-label govuk-date-input__label" for="clarification_date-minute">
                            Minutes
                        </label>
                                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                            id="clarification_date-minute_{{loop.index}}" name="clarification_date_minute" type="text"
                                inputmode="numeric"
                            value="{{ data['clarification_date-minute'] }}">
                                                        </div>
                                                    </div>
                                                    {# <div class="govuk-date-input__item">
                                                        {{ CCSSelect({
                    id: "clarification_date-hourFormat",
                    name: "clarification_date_hourFormat",                      
                    classes: "",
                    items: [
                    { value:"",
                    text:"Please select"
                    },
                    { value:"AM",
                    text:"AM"
                    },
                    { value:"PM",
                    text:"PM"
                    }
                    ]
                    })
                    }}
                                                    </div> #}
                                                </div>
                                            </fieldset>
                                            {{ CCSInput({
        id: "selected_question_id",
        name: "selected_question_id",
        type: "hidden",
        value: requirement.OCDS.id
        }) }}
                                            <br><br>
                                            {{ CCSButton({
        attributes: {
        id: "save_clarification_date"
        },
        text: "Save New Date",
        classes: "govuk-button--secondary"
        }) }}
                                        </form>
                                        
                                    </div>
                                    {%endif%}
                        </div>
                        
                    </div>
                {% endif %}
            {%endfor%}
        {% endblock %}
        <div class="govuk-button-group">
            <form method="post" action="/da/response-date" >
            {{ csrfProtection(csrf) }}
                {{ CCSInput({
id: "timeStamp",
name: "rfp_clarification_date",
type: "hidden",
value: "Question 1*"+rfp_clarification_date
}) }}
                {{ CCSInput({
id: "timeStamp",
name: "rfp_clarification_period_end",
type: "hidden",
value: "Question 2*"+rfp_clarification_period_end
}) }}
                {{ CCSInput({
id: "timeStamp",
name: "deadline_period_for_clarification_period",
type: "hidden",
value: "Question 3*"+deadline_period_for_clarification_period
}) }}
                {{ CCSInput({
id: "timeStamp",
name: "supplier_period_for_clarification_period",
type: "hidden",
value: "Question 4*"+supplier_period_for_clarification_period
}) }}
                {{ CCSInput({
id: "timeStamp",
name: "supplier_dealine_for_clarification_period",
type: "hidden",
value: "Question 5*"+supplier_dealine_for_clarification_period
}) }}
                                    {{ CCSInput({
id: "timeStamp",
name: "deadline_for_submission_of_stage_one",
type: "hidden",
value: "Question 6*"+deadline_for_submission_of_stage_one
}) }}
                                    {{ CCSInput({
id: "timeStamp",
name: "evaluation_process_start_date",
type: "hidden",
value: "Question 7*"+evaluation_process_start_date
}) }}
                                    {{ CCSInput({
id: "timeStamp",
name: "bidder_presentations_date",
type: "hidden",
value: "Question 8*"+bidder_presentations_date
}) }}
                                    {{ CCSInput({
id: "timeStamp",
name: "standstill_period_starts_date",
type: "hidden",
value: "Question 9*"+standstill_period_starts_date
}) }}
                                                        {{ CCSInput({
id: "timeStamp",
name: "proposed_award_date",
type: "hidden",
value: "Question 10*"+proposed_award_date
}) }}
                                                        {{ CCSInput({
id: "timeStamp",
name: "expected_signature_date",
type: "hidden",
value: "Question 11*"+expected_signature_date
}) }}
<button class="govuk-button save-button" id="hideMeWhileDateChange" data-module="govuk-button">Save and continue</button>
<a href="/da/task-list" class="govuk-link govuk-link--no-visited-state">Return to Write and publish your requirements</a>
            </form>
        </div>
        {#<button class="govuk-button save-button" id="hideMeWhileDateChange" data-module="govuk-button">Save for later</button>#}

    </div>
    <div class="govuk-grid-column-one-third">
        {{ CCSReleatedContent(releatedContent) }}
    </div>
    </div>
</main>
    {% endblock %}
