{% extends "template.njk" %}
{% if agreementId_session == 'RM6187' %}
  {% set footerSupportLayer = true %}
  {% set fcaHelperLayer = true %}
{% endif %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title = 'DA review | Crown Commercial Service' %}
{% set numberWordBig = [
                'Zero',
                'First',
                'Second',
                'Third',
                'Fourth',
                'Fifth',
                'Sixth',
                'Seventh',
                'Eight',
                'Ninth',
                'Tenth'
              ] %}

{% set numberWordSmall = [
                'Zero',
                ' first',
                ' second',
                ' third',
                ' fourth',
                ' fifth',
                ' sixth',
                ' seventh',
                ' eight',
                ' ninth',
                ' tenth',
                'eleventh',
                'twelefth',
                'thirteenth',
                'fourteenth',
                'fifeteenth',
                'sixteenth',
                'seventeenth',
                'eighteenth',
                'nineteenth',
                'twentyth',
                'twenty first',
                'twenty second',
                'twenty third',
                'twenty fourth',
                'twenty fifth',
                'twenty sixth',
                'twenty seventh',
                'twenty eight',
                'twenty ninth',
                'thirtyth',
                'thirty first',
                'thirty second',
                'thirty third',
                'thirty fourth',
                'thirty fifth',
                'thirty sixth',
                'thirty seventh',
                'thirty eight',
                'thirty ninth',
                'fourtyth',
                'fourty first',
                'fourty second',
                'fourty third',
                'fourty fourth',
                'fourty fifth',
                'fourty sixth',
                'fourty seventh',
                'fourty eight',
                'fourty ninth',
                'fiftyth'
              ] %}

{% block breadCrumb %}
  {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
{% else %}
{{ CCSBreadcrumbs({
          items: [
                {"text": "Dashboard","href": "/dashboard"},
                {"text": "Review and publish"}    ] 
  }) }}
    {% endif %}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% if (viewError == true) and (apiError == false) %}
      {{ CCSErrorSummary({
        titleText: "There is a problem with publishing RFP",
        errorList: [
          {
            text: "You must check this box to confirm that you have read and confirm the statements above",
            href: "#ccs_rfp_publish_form"
          }
        ]
      }) }}
    {% endif %}

    {% if (checkboxerror==1) %}
      {{ CCSErrorSummary({
        titleText: "There has been an error publishing your DA",
        errorList: [
          {
            text: "Confirmation checkbox must be checked before progressing",
            href: "#ccs_rfp_publish_form"
          }
        ]
      }) }}
    {% endif %}

    

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          <strong>{{data.title }}<strong>
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}
        <br><br>
        <p class="govuk-body">{{data.subtitle}}
        </p><br><br>
        {%if(selectedeventtype=='DA')%}
        {{ CCSButton({
    text: "Export your draft direct award",
    classes: "govuk-button--secondary",
    href: "/da/review?download=1"
    }) }}
    {%elseif(selectedeventtype=='FC')%}
    {{ CCSButton({
    text: "Export your draft further competition",
    classes: "govuk-button--secondary",
    href: "/da/review?download=1"
    }) }}
    {%else%}
    {{ CCSButton({
    text: "Export your draft one-stage further competition",
    classes: "govuk-button--secondary",
    href: "/da/review?download=1"
    }) }}
    {%endif%}<br><br>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"></div>
    </div>
{# --------1 Project and colleagues---START------  #}
{%block Project_And_colleagues%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">1. Project and colleagues</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
              <dd class="govuk-summary-list__value">
              </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
         <p> Name your project</p>
        </dt>
            {% if project_name | length > 0 %}
              <dd class="govuk-summary-list__value">
                <p class="govuk-body-s">
                   {{ project_name | safe }} 
                </p>
              </dd>
            {% else %}
              <dd class="govuk-summary-list__value">
          You have not given a custom name to your project
        </dd>
            {% endif %}

            <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
              <a class="govuk-link" href="/da/name-your-project">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
          {% if agreementId_session == 'RM6187' %}
            <dt class="govuk-summary-list__value">
          <p>Change who will lead the project</p>
        </dt>
          {% else %}
            <dt class="govuk-summary-list__value">
              Change who will lead the procurement
            </dt>
          {% endif %} 
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--none">
                <li>
                  <span class="govuk-body-s">{{procurementLead.name }}</span></li>
                <li>
                  <span class="govuk-body-s">{{procurementLead.email }}</span></li>
                <li>
                  <span class="govuk-body-s">{{procurementLead.telephone }}</span></li>
              </ul> 
            </dd>
            <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
              <a class="govuk-link" href="/da/procurement-lead">
            Change<span class="govuk-visually-hidden"> procurement lead</span>
              </a>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <p>
            {% if agreementId_session == 'RM6187' %}
            Add collegues to your project
            {% else %}
            Add colleagues
            {% endif %}

</p>
        </dt>
            {% if procurementColleagues !=undefined and procurementColleagues !=null and procurementColleagues | length > 0 %}
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--none">
                  {% for collaborator in procurementColleagues %}
                    <li>
                      <ul class="govuk-list govuk-list--none">
                        <li>
                          <span class="govuk-body-s">{{collaborator.name}}</span></li>
                        <li>
                          <span class="govuk-body-s">{{collaborator.email}}</span></li>
                        <li>
                          <span class="govuk-body-s">{{collaborator.telephone}}</span></li>
                      </ul>
                    </li>
                  {%- endfor %}
                </ul>
              </dd>
            {% else %}
              <dd class="govuk-summary-list__value">
          You have not added anyone so far in your team
        </dd>
            {% endif %}
            <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
              <a class="govuk-link" href="/da/add-collaborators">
            Change<span class="govuk-visually-hidden"> eoi team members</span>
              </a>
              {% endif %}
            </dd>
          </div>
        </dl>
        
{% endblock %}
{# END--------------------Project and colleagues-----------------#}

{% if agreementId_session == 'RM6263' %}
  {# START----------------------Upload pricing schedules and any other supporting documents #}
  {%block Upload_pricing_schedules1%}
          <h2 class="govuk-heading-m">2. Upload pricing schedules and any other supporting documents </h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__value">
            <p>Upload your pricing schedule</p>
          </dt>
              {% if  document != undefined and document !=null and document | length > 0 %}
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body-s">
                    {{ document | safe }}
                  </p>
                </dd>
              {% else %}
                <dd class="govuk-summary-list__value">
            
          </dd>
              {% endif %}

              <dd class="govuk-summary-list__actions">
              {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
                <a class="govuk-link" href="/da/upload-attachment">
              Change<span class="govuk-visually-hidden">project name</span>
                </a>
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__value">
            <p>Upload more documents (optional)</p>
          </dt>
              {# <dd class="govuk-summary-list__value"> #}
                {% if(document !=undefined and document !=null and documents | length > 0) %}
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--none">
                    {% for doc in documents %}
                      <li>
                        <span class="govuk-body-s">{{doc}}</span>
                        </li>
                    {%- endfor %}
                  </ul>
                </dd>
              {% else %}
                <dd class="govuk-summary-list__value">
            
          </dd>
              {% endif %}
              {# </dd> #}
              <dd class="govuk-summary-list__actions">
              {% if(eventStatus !='' and eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                <a class="govuk-link" href="/da/upload-doc">
              Change<span class="govuk-visually-hidden"> procurement lead</span>
                </a>
                {% endif %}
              </dd>
            </div>
            {# <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <p class="govuk-!-margin-bottom-0">Confirm if the IR35 off-payroll working rules apply</p>
              </dt>
              {% if(ir35 !=undefined and  ir35 !=null and ir35 | length > 0) %}
              <dd class="govuk-summary-list__value">
                  <p class="govuk-body-s">
                    {{ ir35 | safe }}
                  </p>
                </dd>
              {% else %}
                <dd class="govuk-summary-list__value">
            
                </dd>
              {% endif %}
              <dd class="govuk-summary-list__actions">
              {% if eventStatus != "published"%}
                <a class="govuk-link" href="/da/IR35">
              Change<span class="govuk-visually-hidden"> eoi team members</span>
                </a>
                {% endif %}
              </dd>
            </div> #}
          </dl>
  {% endblock %}
  {# END----------------------Upload pricing schedules and any other supporting documents #}
{% else %}
  {# START----------------------The services you need  #}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  <h2 class="govuk-heading-m">2. The services you need </h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <ul>
                  {% for serviceInfo in selectedServices %}
                    <li>{{ serviceInfo.name }}</li>
                  {% endfor %}
                </ul>
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
          </div>
          </dl>
          </div>
          </div>
          
  {# END----------------------The services you need #}
{% endif %}

{# START----------------------3 Add context to your further competition #}
{%block Section_3%}
    
      <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">3. Add context to your {%if(selectedeventtype=='DA')%}direct award{%else%}further competition{%endif%} </h2>
              <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__value">
              <h3><strong>Terms and acronyms (Optional) </strong></h3>
            </dt>
            <dd class="govuk-summary-list__value">
              &nbsp;
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
              <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 3">
                  Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div>
          {% if(termAndAcr !=undefined and  termAndAcr !=null and termAndAcr | length > 0) %}
            {% for data in termAndAcr %}
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__value"><p>Term or acronym</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.text}}</p></dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__value"><p>Definition</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.value}}</p></dd>
            </div>
            
            {% endfor%}
          {%endif%}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-padding-0">
            </dt>
            <dd class="govuk-summary-list__value govuk-!-padding-0">
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-padding-0">
            </dd>
          </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                      <h3><strong>Add background to your requirement</strong></h3>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      &nbsp;
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 4">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  {% if(backgroundArr !=undefined and  backgroundArr !=null and backgroundArr | length > 0) %}
                      {% for data in backgroundArr%}
                      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__value"><p>Background information</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.v1}}</p></dd>
                      </div>
                      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__value"><p>Social value, economic and enviornmental benefits</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.v2}}</p></dd>
                      </div>
                      
                      {% endfor %}
                  {%endif%}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-padding-0">
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-0">
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-!-padding-0">
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <p class="govuk-!-margin-bottom-0">The business problem you need to solve</p></br>
                  </dt>
                  <dd class="govuk-summary-list__value content_review_length">
                      <p> {{businessProbAns}} </p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 5">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>

                   {% if agreementId_session == 'RM6263' %}
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                      <h3><strong> The business need</strong></h3><br />
                      {% if keyUser !=undefined and  keyUser !=null and keyUser | length > 0 %}
                      {% for item in keyUser %}
                      <p> Service user type</p><p>Details about them</p><br />
                      {% endfor %}
                      {%endif%}
                      {#<p> Key user</p><p>definition</p><br />#}
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <br /><br /><br /><br />
                      {% if keyUser !=undefined and  keyUser !=null and keyUser | length > 0 %}
                      {% for item in keyUser %}
                      <p> {{item.value}}</p><p>{{item.text}}</p><br />
                      {% endfor %}
                      {%endif%}
                      {#<p> Key user answer</p><p>definition answer</p><br />#}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 6">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  {% endif %}
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <p class="govuk-!-margin-bottom-0">Work done so far (optional)</p>
                  </dt>
                  <dd class="govuk-summary-list__value content_review_length">
                      <p>{{workcompletedsofar}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 7">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  {# <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <p class="govuk-!-margin-bottom-0">Which phase the project is in</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p>{{currentphaseofproject}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 8">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div> #}
                {% if agreementId_session == 'RM6263' %}
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <p class="govuk-!-margin-bottom-0">Which phase(s) of the project you need resource for</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      {% if phaseResource !=undefined and phaseResource !=null and phaseResource | length >0 %}
                      {% for data in phaseResource %}
                      <p>{{data}}</p>
                      {% endfor %}
                      {%endif%}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 9">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  {% endif %}
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__key govuk-!-padding-0">
                      <h3><strong>Work done so far (optional)</strong></h3>
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-0">&nbsp;</dd>
                    <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 10">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  {% if(agreement_id == "RM6187") %}
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                                <dt class="govuk-summary-list__value"><p>The date you want the project to start</p></dt>
                                <dd class="govuk-summary-list__value"><p>{{ startdate }}</p></dd>
                              </div>
                              <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                                <dt class="govuk-summary-list__value"><p>How long you think the project will run for (optional)</p></dt>
                                <dd class="govuk-summary-list__value"><p>{{ indicativedurationYear }} {{ indicativedurationMonth }} {{ indicativedurationDay }}</p></dd>
                              </div>

                                <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                                <dt class="govuk-summary-list__value"><p>Contract extension period (Optional)</p></dt>
                                <dd class="govuk-summary-list__value"><p>{{ extentionindicativedurationYear }} {{ extentionindicativedurationMonth }} {{ extentionindicativedurationDay }}</p></dd>
                              </div>
                  {% else %}
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                        <p>The date you want the project to start</p>
                        {% if(indicativedurationYear != '') %} 
                        <p>How long you think the project will run for (optional)</p>
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p>{{startdate}}</p>
                        <p>{{indicativedurationYear}} {{indicativedurationMonth}} {{indicativedurationDay}}</p>
                    </dd>
                  </div>
                  {% endif %}

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
                    <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__key"><h3>
                    {% if agreementId_session == "RM6187" %}
                    <strong>The organisation you are buying on behalf of (optional)</strong></h3>
                    {% else %}
                      <strong>Which phase the project is in (optional)</strong></h3>
                    {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">&nbsp;</dd>
                    <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 11">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  {% if agreementId_session == "RM6187" %}
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">                      
                        <p>Name of the organisation doing the procurement</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p>{{buyingorg1}}</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">                      
                        <p>Name of the organisation using the products or services</p>
                    </dt>
                    <dd class="govuk-summary-list__value content_review_length">
                        <p>{{buyingorg2}}</p>
                    </dd>
                  </div>
                  {% else %}
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">                      
                        <p>Current phase of the project</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p>{{buyingorg1}}</p>
                        <p>{{buyingorg2}}</p>
                    </dd>
                  </div>
                  {% endif %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
                    <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <p class="govuk-!-margin-bottom-0">Describe any pre-market engagement you've done (optional) </p>
                  </dt>
                  <dd class="govuk-summary-list__value content_review_length">
                      <p>{{summarize}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 14">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <p class="govuk-!-margin-bottom-0">Choose if this will be a new, replacement or expanded service or product</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p> {{newreplace}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 15">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <p class="govuk-!-margin-bottom-0">Tell us if there is an existing supplier?</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p> {{incumbentoption}}</p><p>{{suppliername}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 16">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <p class="govuk-!-margin-bottom-0">Management information and reporting requirements</p>
                  </dt>
                  <dd class="govuk-summary-list__value content_review_length">
                      <p> {{managementinfo}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 17">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__key">
                      <h3 class="govuk-!-margin-bottom-0"><strong>Your service levels and KPIs</strong></h3>
                    </dt>
                    <dd class="govuk-summary-list__value">&nbsp;</dd>
                    <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 19">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                    </dd>
                  </div>
                  {% set i=1 %}
                  {%if serviceLevel !=undefined and serviceLevel !=null and serviceLevel | length >0 %}
                      {% for data in serviceLevel %}
                        {% set text=numberWordBig[i] + " service level requirement/KPI" %}
                        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                          <dt class="govuk-summary-list__value">
                            <h3><strong>{{text}}</strong></h3>
                          </dt>
                          <dd class="govuk-summary-list__value"><p>&nbsp;</p></dd>
                        </div>
                        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                          <dt class="govuk-summary-list__value"><p>Name of requirement</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.text}}</p></dd>
                        </div>
                        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                          <dt class="govuk-summary-list__value"><p>Description of the criteria</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.value}}</p></dd>
                        </div>
                        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                          <dt class="govuk-summary-list__value"><p>Your success target</p>
                          </dt><dd class="govuk-summary-list__value"><p>{{data.percent}}% required target</p></dd>
                        </div>
                        
                        <br />
                        <p></p>
                        <p></p>
                        <p></p>
                      {% set i=i+1 %}
                    {% endfor %}
                  {%endif%}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
                    <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
                  </div>
                   {% if agreementId_session != 'RM6187' %}
                   <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__key">
                      <h3><strong>Any performance incentives and exit strategies</strong></h3>
                    </dt>
                    <dd class="govuk-summary-list__value">&nbsp;</dd>
                    <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 20">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                        <p>Details of any performance incentives or expected actions for poor performance</p>
                        <p>Details about any existing strategy that you would apply if a supplier performed poorly, and you needed to end their contract early</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p>{{incentive1}}</p>
                        <p>{{incentive2}}</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
                    <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
                  </div>
                   {% endif %}
                   <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__key">
                      <h3 class="govuk-!-margin-bottom-0"><strong>Your project budget (optional)</strong></h3>
                    </dt>
                    <dd class="govuk-summary-list__value">&nbsp;</dd>
                    <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 21">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__key">
                        {% if agreementId_session == 'RM6187' %}
                            <p class="govuk-!-margin-bottom-0">Indicative maximum (optional)</p>
                        {% else %}
                            <p class="govuk-!-margin-bottom-0">Maximum estimated contract value (optional)</p>
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p>{{bc1}}</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                        {% if agreementId_session == 'RM6187' %}
                            <p class="govuk-!-margin-bottom-0">Indicative minimum (optional) </p>
                        {% else %}
                            <p>Minimum estimated contract value (optional)</p>
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>{{bc2}}</p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
                    <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                        <h3><strong>Your project requirements</strong></h3>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      &nbsp;
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
                      <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 24">
                          Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  {%if reqGroup !=undefined  and reqGroup !=null and numberWordSmall !=undefined and numberWordSmall !=null and numberWordSmall !='' and reqGroup | length >0%}
                      {% set i=1 %}
                          {% if agreementId_session == 'RM6187' %}
                              {% for data in reqGroup%}
                                {% set text = "Name of the " +numberWordSmall[i]+" requirement"%}
                                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                                      <dt class="govuk-summary-list__value"><p>{{text}}</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.group}}</p></dd>
                                    </div>
                                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                                      <dt class="govuk-summary-list__value"><p>Description of the requirement</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.title}}</p></dd>
                                    </div>
                        
                                {% set i=i+1 %}
                              {% endfor %}
                          {% else %}
                              {% for data in reqGroup%}
                                {% set text = "Name of the " +numberWordSmall[i]+" requirement group"%}
                                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                                      <dt class="govuk-summary-list__value"><p>{{text}}</p></dt><dd class="govuk-summary-list__value"><p>{{data.group}}</p></dd>
                                    </div>
                                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                                      <dt class="govuk-summary-list__value"><p>Name of the requirement</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.title}}</p></dd>
                                    </div>
                                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                                      <dt class="govuk-summary-list__value"><p>Description of the requirement</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.desc}}</p></dd>
                                    </div>
                                {% set i=i+1 %}
                              {% endfor %}
                          {% endif %}
                  {% endif %}
                 
              </dl>
              <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-7">
{%endblock%}
{# ----END-----Add context to your further competition #}


{% if agreementId_session == 'RM6263' %}
{# ----START-----People, skills, security and location #}
{%block People_skills_security_and_location%}
        <h2 class="govuk-heading-m">4. People, skills, security and location </h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>        
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
         <h3><strong> The roles you need </strong></h3><br/>
         <p>Total number of roles added</p><br/>
         <p>Number of roles by job section, family and individual role</p>
        </dt>
        <dd class="govuk-summary-list__value">
        <br/><br/><br/>
          {{resourceQuntityCount}} <br/>
          <br/>
          {%if StorageForSortedItems !=undefined  and StorageForSortedItems !=null and StorageForSortedItems | length >0%}
          {% for item in StorageForSortedItems%}
          <br/>
          <strong>{{item.parent}}</strong><br/><br/>
          {% for data in item.subParent %}
          <strong>{{data.sp}}</strong><br/><br/>
          {% for arr in data.items[0] %}
          {{arr}}<br/><br/>
          {% endfor %}
          {% endfor %}
          {% endfor %}
          {%endif%}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
              <a class="govuk-link" href="/da/vetting-weighting">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          <h3><strong>Your highest security and vetting requirements </strong></h3><br/>
          <p>Highest level of security clearance that supplied staff may need to have</p><br/>
          <p>Number of staff that will need a lower level of clearance</p>
        </dt>
        <dd class="govuk-summary-list__value">
          <br/><br/><br/><br/>
          <p>{{highestSecuritySelected}}</p><br/><br/><br/>
          <p>{{highestSecurityCount}}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
              <a class="govuk-link" href="/da/choose-security-requirements">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
         <h3><strong> Essential skills and capabilities</strong></h3><br/>
          <p>Total number of skills and capabilities added</p>
          <p>Skills and capabilities added for each section</p>
        </dt>
        <dd class="govuk-summary-list__value">
          <br/><br/><br/>
          {{serviceCapabilitesCount}}
          <br/><br/>
          {%if StorageForServiceCapability !=undefined  and StorageForServiceCapability !=null and StorageForServiceCapability | length >0%}
          {% for item in StorageForServiceCapability%}
          <br/><strong>{{item.parent}}</strong><br/><br/>
          {% for sp in item.subParent%}
          {{sp}}<br/>
          {% endfor %}
          {% endfor %}
          {%endif%}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
              <a class="govuk-link" href="/da/service-capabilities">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <p>Where the work will be done</p>
        </dt>
        <dd class="govuk-summary-list__value">
          {%if whereWorkDone !=undefined  and whereWorkDone !=null and whereWorkDone | length >0%}
        {% for elem in whereWorkDone %}
        <p>{{elem}}</p>
         {% endfor %}
         {%endif%}
          {# North East England<br/>
          Yorkshire and the Humber<br/>
          Channel islands<br/>
          No specific location, for example they can work remotely #}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
              <a class="govuk-link" href="/da/where-work-done">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div>
          
        </dl>
{%endblock%}
{# END----------------------People, skills, security and location #}
{% else %}
  {# START----------------------4.Upload pricing schedules and any other supporting documents #}
  {%block Upload_pricing_schedules2%}
          <h2 class="govuk-heading-m">4. Upload pricing schedules and any other supporting documents </h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__value">
            <p>Upload your pricing schedule</p>
          </dt>
              {% if  document != undefined and document !=null and document | length > 0 %}
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body-s">
                    {{ document | safe }}
                  </p>
                </dd>
              {% else %}
                <dd class="govuk-summary-list__value">
            
          </dd>
              {% endif %}

              <dd class="govuk-summary-list__actions">
              {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
                <a class="govuk-link" href="/da/upload-attachment">
              Change<span class="govuk-visually-hidden">project name</span>
                </a>
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__value">
            <p>Upload more documents (optional)</p>
          </dt>
              {# <dd class="govuk-summary-list__value"> #}
                {% if(document !=undefined and document !=null and documents | length > 0) %}
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--none">
                    {% for doc in documents %}
                      <li>
                        <span class="govuk-body-s">{{doc}}</span>
                        </li>
                    {%- endfor %}
                  </ul>
                </dd>
              {% else %}
                <dd class="govuk-summary-list__value">
            
          </dd>
              {% endif %}
              {# </dd> #}
              <dd class="govuk-summary-list__actions">
              {% if(eventStatus !='' and eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
                <a class="govuk-link" href="/da/upload-doc">
              Change<span class="govuk-visually-hidden"> procurement lead</span>
                </a>
                {% endif %}
              </dd>
            </div>
            {# <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <p class="govuk-!-margin-bottom-0">Confirm if the IR35 off-payroll working rules apply</p>
              </dt>
              {% if(ir35 !=undefined and  ir35 !=null and ir35 | length > 0) %}
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body-s">
                    {{ ir35 | safe }}
                  </p>
                </dd>
              {% else %}
                <dd class="govuk-summary-list__value">
            
                </dd>
              {% endif %}
              <dd class="govuk-summary-list__actions">
              {% if eventStatus != "published"%}
                <a class="govuk-link" href="/da/IR35">
              Change<span class="govuk-visually-hidden"> eoi team members</span>
                </a>
                {% endif %}
              </dd>
            </div> #}
          </dl>
  {% endblock %}
  {# END----------------------4.Upload pricing schedules and any other supporting documents #}
{% endif %}

{# START----------------------Your assessment criteria #}
{%block Your_assessment_criteria%}
          <h2 class="govuk-heading-m">5. Your assessment criteria </h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>        
        {# <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
            <h3><strong> The overall weighting for quality and price</strong></h3><br/>
            <p>Quality</p>
            <p>Price</p>
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{overallratioQuestion2}}%</p>
          <p>{{overallratioQuestion1}}%</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/da/assesstment-question?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 2">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div> #}
          {# <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          <h3><strong>The overall weighting for the quality categories</strong></h3><br/>
          <p>Technical</p>
          <p>Cultural</p>
          <p>Social value</p>
        </dt>
        <dd class="govuk-summary-list__key">
          <br/><br/><br/><br/>
          <p>{{technicalgroupquestion1}}%</p>
          <p>{{culturalgroupquestion1}}%</p>
          <p>{{socialvaluegroupquestion1}}%</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/da/assesstment-question?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 3">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div> #}
          <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key">
              <h3 class="govuk-!-margin-bottom-0"><strong>Your technical questions</strong></h3>
            </dt>
            <dd class="govuk-summary-list__value">&nbsp;</dd>
            <dd class="govuk-summary-list__actions">
              {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
                <a class="govuk-link" href="/da/assesstment-question?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 4">
              Change<span class="govuk-visually-hidden">project name</span>
                </a>
                {% endif %}
              </dd>
          </div>
          {%if techGroup !=undefined  and techGroup !=null and techGroup | length >0%}
          {% for data in techGroup%}
          <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__value"><p>Your question</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.tech}}</p></dd>
          </div>
          {% endfor %}
          {%endif%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
            <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
            <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
          </div>
          {# <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <h3><strong>Your cultural questions</strong></h3><br/><br/>
          {%if techGroup !=undefined  and techGroup !=null and techGroup | length >0%}

          {% for data in techGroup%}
          <p>Your question</p><br/>
          <p>Enter more details about your question</p><br/>
          <p>Explain how good looks like</p><br/>
          <p>Enter a weighting for this question</p><br/><br/>
          {% endfor %}
          {% endif %} #}

          {#<p>Your question</p><br/>
          <p>Provide additional detail for your question</p><br/>
          <p>Explain how good looks like</p><br/>
          <p>Enter a weighting for this question</p><br/><br/>
          <p>Your question</p><br/>
          <p>Provide additional detail for your question</p><br/>
          <p>Explain how good looks like</p><br/>
          <p>Enter a weighting for this question</p><br/>#}
        {# </dt> #}
        {# <dd class="govuk-summary-list__value">
          <br/><br/><br/><br/>
          {%if culGroup !=undefined  and culGroup !=null and culGroup | length >0%}

          {% for data in culGroup%}
          <p>{{data.tech}}</p><br/>
          <p>{{data.add}}</p><br/>
          <p>{{data.good}}</p><br/>
          <p>{{data.weight}}%</p><br/><br/>
          {% endfor %}
          {%endif%} #}
          {#<p>Answer</p><br/>
          <p>Answer</p><br/>
          <p>Answer</p><br/>
          <p>XX%</p><br/><br/>
          <p>Answer</p><br/>
          <p>Answer</p><br/>
          <p>Answer</p><br/>
          <p>XX%</p><br/><br/>#}
        {# </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/da/assesstment-question?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 5">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div> #}

          <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key">
              <h3 class="govuk-!-margin-bottom-0"><strong>Your social value questions</strong></h3>
            </dt>
            <dd class="govuk-summary-list__value">&nbsp;</dd>
            <dd class="govuk-summary-list__actions">
              {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
                <a class="govuk-link" href="/da/assesstment-question?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 6">
              Change<span class="govuk-visually-hidden">project name</span>
                </a>
                {% endif %}
              </dd>
          </div>
          {%if socialGroup !=undefined  and socialGroup !=null and socialGroup | length >0%}
          {% for data in socialGroup%}
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__value"><p>Your question</p></dt><dd class="govuk-summary-list__value content_review_length"><p>{{data.tech}}</p></dd>
            </div>
          {% endfor %}
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
            <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
            <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
          </div>
          {# ENABLE STEP 46 UNCOMMET THIS CODE  #}
          {# <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-!-margin-bottom-0">Select the pricing model</p>
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{pricingModel}}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/da/questions?agreement_id={{agreementId_session}}&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 7">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div> #}
          {# <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <h3><strong>Set your scoring criteria</strong></h3><br/><br/>
          {%if tierData !=undefined  and tierData !=null and tierData | length >0%}
          {% for data in tierData%}
          <p>Level name</p><br/>
          <p>Score</p><br/>
          <p>Description</p><br/><br/>
          {% endfor %}
          {%endif%} #}
          {#<p>Enter the name for this tier</p><br/>
          <p>Enter the points for this tier</p><br/>
          <p>Enter the points for this tier</p><br/><br/>
          <p>Enter the name for this tier</p><br/>
          <p>Enter the points for this tier</p><br/>
          <p>Enter the points for this tier</p><br/><br/>#}
        {# </dt>
        <dd class="govuk-summary-list__value">
        <br/><br/><br/><br/>
          {%if tierData !=undefined  and tierData !=null and tierData | length >0%}

        {% for data in tierData %}
          <p>{{data.name}}</p><br/>
          <p>{{data.id}}</p><br/>
          <p>{{data.text}}</p><br/><br/>
          {% endfor%}
          {%endif%} #}
          {# <p>Answer</p><br/>
          <p>Answer</p><br/>
          <p>Answer</p><br/><br/>
          <p>Answer</p><br/>
          <p>Answer</p><br/>
          <p>Answer</p><br/><br/>#}
        {# </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/da/set-scoring-criteria">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div> #}


        </dl>
{%endblock%}
{# END-----------Your assessment criteria #}

{# START-----------Review and publish your further competition #}
 {%block Review_and_publish_your_further_competition%}
<h2 class="govuk-heading-m">6. Review and publish </h2>
<dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value">
        <p> Supplier selected for direct award</p>
    </dt>
    <dd class="govuk-summary-list__value">
        
        {% if publishSelectedSuppliersSession %}
            {{publishSelectedSuppliers[0].name}}
        {%else%}
            {% if(supplierList !=undefined  and supplierList !=null and supplierList | length >0) %}
                 {{supplierList[0].name}}
               
            {%else%}
                0 suppliers
            {%endif%}
        {%endif%}
    </dd>
    <dd class="govuk-summary-list__actions">
        {% if(eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED")%}
        <a class="govuk-link" href="/da/suppliers">
            View<span class="govuk-visually-hidden">project name</span>
        </a>
        {% endif %}
    </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        <h3><strong>Your timeline</strong></h3>
      </dt>
      <dd class="govuk-summary-list__value">&nbsp;</dd>
      <dd class="govuk-summary-list__actions">
        {% if eventStatus != "published" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
        <a class="govuk-link" href="/da/response-date">
            Change<span class="govuk-visually-hidden">project name</span>
        </a>
        {% endif %}
    </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__value"><p>Publish your requirements</p></dt>
      <dd class="govuk-summary-list__value">
        <p> 
          {%if rfp_clarification_date !=undefined and rfp_clarification_date !=null and rfp_clarification_date !='' and rfp_clarification_date !='Invalid dateZ'%}  
          {{rfp_clarification_date}}
          {%endif%}
          </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__value"><p>Clarification period closes</p></dt>
      <dd class="govuk-summary-list__value">
        <p> 
          {%if rfp_clarification_period_end !=undefined and rfp_clarification_period_end !=null and rfp_clarification_period_end !='' and rfp_clarification_period_end !='Invalid dateZ'%}  
          {{rfp_clarification_period_end}}
          {%endif%}
          </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__value"><p>Deadline to publish your responses to the clarification questions</p></dt>
      <dd class="govuk-summary-list__value">
        <p>
          {%if(deadline_period_for_clarification_period !=undefined and deadline_period_for_clarification_period !=null and deadline_period_for_clarification_period  !='' and deadline_period_for_clarification_period !='Invalid dateZ')%}  
           {{deadline_period_for_clarification_period}}
          {%endif%}
          </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__value"><p>Deadline for suppliers to submit their response</p></dt>
      <dd class="govuk-summary-list__value">
        <p> 
          {%if supplier_period_for_clarification_period !=undefined and supplier_period_for_clarification_period !=null and supplier_period_for_clarification_period  !='' and supplier_period_for_clarification_period !='Invalid dateZ'%}  
           {{supplier_period_for_clarification_period}}
          {%endif%}
          </p>
      </dd>
    </div>
    {% if agreementId_session == 'RM6263' %}
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__value"><p>Confirm your next steps to suppliers</p></dt>
        <dd class="govuk-summary-list__value"><p>&nbsp;</p></dd>
      </div>
    {% endif %}
    {% if agreementId_session == 'RM6187' %}
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__value"><p>Review supplier responses</p></dt>
        <dd class="govuk-summary-list__value">
            <p> 
            {%if supplier_dealine_for_clarification_period !=undefined and supplier_dealine_for_clarification_period !=null and supplier_dealine_for_clarification_period  !='' and supplier_dealine_for_clarification_period !='Invalid dateZ'%}  
             {{ supplier_dealine_for_clarification_period}}
            {%endif%}
            </p>
        </dd>
      </div>
    {% endif %}
    {% if agreementId_session == 'RM6263' %}
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__value"><p>Start supplier evaluation</p></dt>
        <dd class="govuk-summary-list__value">
          <p> 
            {%if supplier_dealine_evaluation_to_start !=undefined and supplier_dealine_evaluation_to_start !=null and supplier_dealine_evaluation_to_start  !='' and supplier_dealine_evaluation_to_start !='Invalid dateZ'%}  
            {{ supplier_dealine_evaluation_to_start}}
            {%endif%}
            </p>
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__value"><p>Supplier presentations</p></dt>
        <dd class="govuk-summary-list__value">
          <p> 
            {%if supplier_dealine_expect_the_bidders !=undefined and supplier_dealine_expect_the_bidders !=null and supplier_dealine_expect_the_bidders  !='' and supplier_dealine_expect_the_bidders !='Invalid dateZ'%}  
            {{ supplier_dealine_expect_the_bidders}}
            {%endif%}
            </p>
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__value"><p>Standstill starts</p></dt>
        <dd class="govuk-summary-list__value">
          <p> 
            {%if supplier_dealine_for_pre_award !=undefined and supplier_dealine_for_pre_award !=null and supplier_dealine_for_pre_award  !='' and supplier_dealine_for_pre_award !='Invalid dateZ'%}  
            {{ supplier_dealine_for_pre_award}}
            {%endif%}
            </p>
        </dd>
      </div>      
    {% endif %}
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__value"><p>When you plan to award the contract</p></dt>
      <dd class="govuk-summary-list__value">
        <p> 
          {%if supplier_dealine_for_expect_to_award !=undefined and supplier_dealine_for_expect_to_award !=null and supplier_dealine_for_expect_to_award  !='' and supplier_dealine_for_expect_to_award !='Invalid dateZ'%}  
           {{ supplier_dealine_for_expect_to_award}}
          {%endif%}
          </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__value"><p>When you expect the contract to be signed</p></dt>
      <dd class="govuk-summary-list__value">
        <p>
          {%if supplier_dealine_sign_contract !=undefined and supplier_dealine_sign_contract !=null and supplier_dealine_sign_contract  !='' and supplier_dealine_sign_contract !='Invalid dateZ'%}  
           {{ supplier_dealine_sign_contract}}
          {%endif%}
          </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__value"><p>When you expect the supplier to start</p></dt>
      <dd class="govuk-summary-list__value">
        <p>  {%if supplier_dealine_for_work_to_commence !=undefined and supplier_dealine_for_work_to_commence !=null and supplier_dealine_for_work_to_commence  !='' and supplier_dealine_for_work_to_commence !='Invalid dateZ'%}  
          {{ supplier_dealine_for_work_to_commence}}
         {%endif%}   
         </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
      <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
      <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
    </div>
</dl>
{%endblock%}
</div>

{# END--------Review and publish your further competition #}
         
                            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                              <p class="govuk-body">
                                <h2 class="govuk-heading-m"> Publish your {%if(selectedeventtype=='DA')%}direct award{%else%}further competition{%endif%} </h2>
                              </p>
                              
                            {% if agreementId_session == 'RM6187' %}
                                <div class="govuk-inset-text">
                                  <p class="govuk-body">Your direct award will now be sent to the supplier. Please be patient as this could take up to 30 seconds. </p>
                                </div>
                                <p class="govuk-body">
                                    If you need to make any significant changes – including changes to scope or timelines – after publishing this direct award, you will need to cancel and start a new project.
                                </p>    
                            {% else %}
                                <div class="govuk-inset-text">
                                  <p class="govuk-body">Publishing compiles your information and sends it to all suppliers. Please be patient as this could take up to 30 seconds. </p>
                                </div>
                                <p class="govuk-body">
                                    After publishing{%if(selectedeventtype!='DA')%} this event{%endif%}, you can still cancel all or part of it at any time, or amend, clarify, add to or withdraw all or any part of it.
                                </p>    
                            {% endif %}
                              <br><br>

{%if(selectedeventtype=='DA')%}
                              {{ CCSWarningText({
    text: "By publishing this direct award, you are stating that, to the best of your knowledge, the information you have provided is correct.",
    iconFallbackText: "Warning"
    }) }}
    {%else%}
    {% if agreementId_session == 'RM6187' %}
  {{ CCSWarningText({
    text: "By publishing this further competition to all suppliers in your list, you are stating that, to the best of your knowledge, the information you have provided is correct.",
    iconFallbackText: "Warning"
    }) }}
    {% else %}
     {{ CCSWarningText({
    text: "By publishing this further competition to all the suppliers listed, you are stating that, to the best of your knowledge, the information you have provided is correct.",
    iconFallbackText: "Warning"
    }) }}
    {% endif %}
    {%endif%}
                        <br><br>
                              
                              
                            </div>
                          <div class="govuk-grid-column-full">
                          <form id="ccs_rfp_publish_form" name="ccs_rfp_publish_form" class="form ccs_rfp_publish_form"
      action="/da/review" method="post">
      {{ csrfProtection(csrf) }}

  {% if eventStatus != "published" and customStatus!="complete" and closeStatus!="CLOSED" and closeStatus!="COMPLETE" and closeStatus!="EVALUATED" and closeStatus!="AWARDED" %}
       
      {{ CCSCheckboxes({
      idPrefix: "rfp_publish_confirmation",
      name: "rfp_publish_confirmation",
      classes: "govuk-checkboxes--small",
      items: [
      {
      "value": 1,
      html: "<label><strong>By checking this box, I confirm that I have read and confirm the statements above</strong></label>",
      Checked: ""
      }
      ]
      }) }}

  
                            <div class="govuk-button-group">
                              {{ CCSButton({
        attributes: {
        id: "rfp_btn_publish_now"
        },
        text: "Publish and continue"
        }) }}
                              <a href="/da/task-list" class="govuk-link govuk-link--no-visited-state">Return to Write and publish your requirements </a>
                            </div>
      {% else %}   
      <div class="govuk-button-group">
        <a href="/event/management?id={{ event_id }}" class="govuk-link govuk-link--no-visited-state">Return to your project </a>
        </div>                  
      {% endif %}                     
                            {{ CCSInput({
      id: "finished_pre_engage",
      name: "finished_pre_engage",
      type: "hidden",
      value: "true"
      }) }}

                          </form>
                        </div>
                        </div>
                      </div>

                    </main>

                  {% endblock %}