<script type="text/javascript">
    piAId = '812733';
    piCId = '63961';
    piHostname = 'pi.pardot.com';

    var cookiePreferences = JSON.parse(readCookie('cookie_preferences'));
    if (cookiePreferences !== null) {
        if (cookiePreferences.marketing === true) {
              (function() {
                function async_load(){
                    var s = document.createElement('script'); s.type = 'text/javascript';
                    s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
                    var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
                }
                if(window.attachEvent) { window.attachEvent('onload', async_load); }
                else { window.addEventListener('load', async_load, false); }
               })();
        }
    }

  
</script>
