{% macro howToGetSupport() %}
  <div class="ccs-callout-panel">
    <h2 class="govuk-heading-m">Contact</h2>

    <p class="govuk-body">You can contact us by email, phone or using the <a href="https://www.crowncommercial.gov.uk/contact">enquiry form</a>. </p>

    <h3 class="govuk-heading-s govuk-!-margin-0">Telephone: </h3>
    <p class="govuk-body">
      <a href="tel:03454102222">0345 410 2222</a>
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-0">Email: </h3>
    <p class="govuk-body">
      <a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a>
    </p>

    <p class="govuk-body">CCS customer services team is available Monday to Friday, 9am to 5pm.</p>
  </div>
{% endmacro %}