###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###	
/nbproject/private/	
/nbbuild/	
/dist/	
/nbdist/	
/.nb-gradle/	
build/	
!**/src/main/**/build/	
!**/src/test/**/build/

### VS Code ###
.vscode/

### OSX ###
.DS_Store
