{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Complete and upload a document | Contract a Thing' %}
{% set url -%}
  /projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}}
{%- endset %}
{% block breadCrumb %}
{{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}

{% endblock %}

{% block content %} 

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-xl">
       {{data.title}}
      </h1>
{% include "includes/project_header.njk" %} 



<div class="ccs-page-section govuk-!-margin-bottom-9 govuk-!-margin-top-6 ">
<p class="govuk-body govuk-!-margin-bottom-6">{{data.subtitle}}</p>
      <form action="/eoi/upload-doc" method="post" encType="multipart/form-data">
       <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      <label class="govuk-label govuk-label--m" for="eoi_offline_document">Upload a file</label>
      
      <p class="govuk-body-s"> {{data.filedesc}}</p>
      {% if (files.length > 0)%}
      <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
       <ul class="app-task-list">
              {% for file in files %}
        
                 <li class="app-task-list__item">

                  <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                   <span class="app-task-list__task-name">
                        <strong>{{file.name}}</strong>
                    </span>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <p>{{file.size | KbtoMb}} MB</p>
                  </div>
                  <div class="govuk-grid-column-one-third">

                    <p>  <a class="app-task-list__tag" href="/eoi/files/remove?file={{file.name}}" aria-describedby="eoi-questions">remove</a></p>
                  </div>
                  </div>


                    {% set hreflink  = items.OCDS.description | replace(" ", "_" ) %}
                    {% set criterion_id  = items.id | replace(" ", "_" ) %}
                  
                </li>
                   
                {% endfor %}

            </ul>
      </div>
      {%endif%}
            

         {{ CCSFileUpload({
        id: "eoi_offline_document",
        name: "eoi_offline_document",
        value: data['eoi_offline_document'],
        multiple: true,
        label: {
        text: "",
        classes: "govuk-label--m"
        }
        }) }}
      </div>

      <div class="govuk-grid-column-full">
          {{ CCSButton({
                        text: "upload",
                        type: "submit"
                      })
                  }}
      </div>

       {{ CCSInput({
                    id: "eoi_file_started",
                    name: "eoi_file_started",
                    type: "hidden",
                    value: true
                  })
                }}



                    </form>
      </div>

       


  



      <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-9 ">
      {{ CCSInput({
  label: {
    text: "Insert a link",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  id: "event-name",
  name: "event-name"
}) }}
</div>


          <div class="govuk-button-group">
                  {{ CCSButton({
                        text: "Save and continue"
                      })
                  }}
                  <a href="/eoi/online-task-list?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}" class="govuk-link govuk-link--no-visited-state">Return to Build your Request for Information (EoI)</a>
                </div>



</div>
    <div class="govuk-grid-column-one-third">
  
      {{ howToGetSupport() }}

    </div>
  </div>
    
  </div>
  </main>
{% endblock %}

