{% extends 'base.html.twig' %}

{% block body %}

    <div style="text-align: center">
        <h1>Create Procurement Page</h1>
        <a href="{{ path('procurement_name') }}">Procurement Project Name Page</a>
    </div>

{% endblock %}