{# templates/pages/landing_page.html.twig #}
<html>
<title>CaT Demo</title>
<body>
<h1>CaT Gov.UK PaaS Demo</h1>

<img src="lolcatz.jpg" />

<h3>Request:</h3>
<p>{{ endpoint }}/agreement-summaries</p>

<h3>Response:</h3>
<p>{{ response }}</p>

</body>
</html>
