{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <h1>Pre-market Engagement Decision Page</h1>
        <a href="{{ path('eoi_vs_rfi_decision') }}">EOI vs RFI Decision</a>
    </div>

{% endblock %}