{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <h1>Procurement Name Project Page</h1>
        <a href="{{ path('supplier_shortlist_overview') }}">Supplier Shortlist Overview</a>
    </div>

{% endblock %}