{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block body %}

    <div class="flow-pages">
        <h1>{{ pageTitle }}</h1>
        <a href="{{ path('eoi_issue_confirmation') }}">
            <button class="govuk-button" data-module="govuk-button">
                Save & Continue
            </button>
        </a>
    </div>

{% endblock %}