{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block body %}

    <div class="flow-pages">
        <h1>RFP Decision Page</h1>
{#        <a href="{{ path('review_issue_eoi') }}">#}
{#            <button class="govuk-button" data-module="govuk-button">#}
{#                Save & Continue#}
{#            </button>#}
{#        </a>#}
    </div>

{% endblock %}