{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <h1>Set EOI Response Deadline Page</h1>
        <a href="{{ path('review_issue_eoi') }}">Review & Issue EOI</a>
    </div>

{% endblock %}