{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <h1>Supplier Shortlist Filter 2</h1>
        <a href="{{ path('supplier_shortlist_deselect') }}">Supplier Shortlist Deselect</a>
    </div>

{% endblock %}