{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <h1>Supplier Shortlisting Filter 1</h1>
        <a href="{{ path('supplier_shortlist_filter_2') }}">Supplier Shortlist Filter 2</a>
    </div>

{% endblock %}