{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <h1>Supplier Shortlist Overview</h1>
        <a href="{{ path('supplier_shortlist_filter_1') }}">Supplier Shortlist Filter 1</a>
    </div>

{% endblock %}