{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <h1>Supplier Shortlist Deselect</h1>
        <a href="{{ path('review_supplier_shortlist') }}">Review Supplier Shortlist</a>
    </div>

{% endblock %}