{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <h1>Upload EOI Document Page</h1>
        <a href="{{ path('upload_eoi_supporting_document') }}">Upload EOI Supporting Document</a>
    </div>

{% endblock %}