{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <h1>Upload EOI Supporting Document Page</h1>
        <a href="{{ path('set_eoi_response_deadline') }}">Set EOI Response Deadline</a>
    </div>

{% endblock %}