{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Choose a commercial agreement | Contract Award Service' %}
{% block content %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          {{data.line1}}
        </h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <p class="govuk-body">{{data.line2}}</p>
        <div class="ccs-choose-agreement">
          <div class="ccs-page-section">
            {% if agreement_id %}
              <h2 class="govuk-heading-m">
                  {% if agreement_id != 'RM1557.13' %}
                    {{selectedAgreement.name}}
                  {% else %}
                    {{selectedAgreement.name}} ({{agreement_id}}, {{agreement_id}}L4)
                  {% endif %}
                <span>Agreement number: {{agreement_id}}</span>
              </h2>
              <p class="govuk-body">{{selectedAgreement.description | safe}}</p>
              <p class="govuk-body">
                {% if agreement_id == 'RM1043.8' %}
                  {% set overrideDetailUrl = selectedAgreement.detailUrl+'/'+agreement_id  %}
                {% else %}
                  {% set overrideDetailUrl = selectedAgreement.detailUrl  %}
                {% endif %}
                <a target="_blank" href="{{overrideDetailUrl}}" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">{{data.line5}}
                  <span class="visuallyhidden">{{selectedAgreement.name}}</span></a>
              </p>
            </div>
            <dl class="ccs-desc-list">
               {% if agreement_id != 'RM1557.13' %}
              {% for item in sortedItems %}
                <dt>
                  <a href="/projects/selected-agreement?agreementName={{selectedAgreement.name}}&agreementId={{agreement_id}}&lotId={{item.number}}&agreementLotName={{item.name}}" class=" govuk-link govuk-link--no-visited-state">Lot {{item.number | replace("Lot ", "")}}: {{item.name}}</a>
                  <span>Expires: <time>{{item.endDate | dateddmmyyyy}}</time>
                  </span>
                </dt>
                <dd>
                  <p class="govuk-body"></p>
                  <p class="govuk-body">
                    {% if agreement_id == 'RM1043.8' %}
                    <a href="/fca/supplier/list?agreement={{agreement_id}}&lot={{item.number | replace("Lot ", "")}}" onclick="return false;" class="govuk-link govuk-link--no-visited-state">{{item.suppliers}}
                      <span class="visuallyhidden">for {{item.number}}: {{item.name}}</span></a>
                    {% else %}
                    <a target="_blank" href="https://www.crowncommercial.gov.uk/agreements/{{agreement_id}}:{{item.number | replace("Lot ", "")}}/lot-suppliers" onclick="return false;" class="govuk-link govuk-link--no-visited-state">{{item.suppliers}}
                      <span class="visuallyhidden">for {{item.number}}: {{item.name}}</span></a>
                    {% endif %}
                  </p>
                </dd>
              {% endfor %}
              {% else %} {# GCLOUD #}
                       {% for item in sortedItems %}
                        {% if item.number == '4' %}
                          <dt>
                            <a href="/projects/selected-agreement?agreementName={{selectedAgreement.name}}&agreementId={{agreement_id}}&lotId={{item.number}}&agreementLotName={{item.name}}" class=" govuk-link govuk-link--no-visited-state">{{item.name}}</a>
                            <span>Expires: <time>{{item.endDate | dateddmmyyyy}}</time>
                            </span>
                          </dt>
                          <dd>
                            <p class="govuk-body"></p>
                            <p class="govuk-body">
                            <a rel="noopener noreferrer" target="_blank" href="/fca/supplier/list?agreement={{agreement_id}}&lot={{item.number | replace("Lot ", "")}}" onclick="return false;" class="govuk-link govuk-link--no-visited-state">{{item.suppliers}}
                            <span class="visuallyhidden">for {{item.number}}: {{item.name}}</span></a>
                            </p>
                          </dd>
                          {% endif %}
                       {% endfor %} 
                      <dt>
                          <a href="/projects/selected-agreement?agreementName={{selectedAgreement.name}}&agreementId={{agreement_id}}&lotId=All&agreementLotName=Find cloud hosting, software and support" class=" govuk-link govuk-link--no-visited-state">Find cloud hosting, software and support</a>
                          
                          
                        </dt>
                        <dd>
                          <p class="govuk-body">e.g. content delivery networks or accounting software</p>
                          
                        </dd>
              {% endif %}
            </dl>
          {% endif %}
        </div>

        <h2 class="govuk-heading-m">{{data.line6}}</h2>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% for agreement in agreements %}
            {% if agreement_id != agreement.number %}
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      {% if agreement.number != 'RM1557.13' %}
                        {{agreement.name}} ({{agreement.number}})
                      {% else %}
                        {{agreement.name}} ({{agreement.number}}, {{agreement.number}}L4)
                      {% endif %}
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <div class="ccs-choose-agreement">
                    <div class="ccs-page-section">
                        <p class="govuk-body">{{agreement.description | safe}}</p>
                        <p class="govuk-body">
                          <a target="_blank" href="https://www.crowncommercial.gov.uk/agreements/{{agreement.number}}" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">{{data.line5}}
                            <span class="visuallyhidden">{{agreement.name}}Opens in new tab</span></a>
                        </p>
                      </div>
                      <dl class="ccs-desc-list">
                        
                        {% if agreement.number != 'RM1557.13' %}
                        {% for lot in agreement.lotDetails %}
                          <dt>
                            <a href="/projects/selected-agreement?agreementName={{agreement.name}}&agreementId={{agreement.number}}&lotId={{lot.number}}&agreementLotName={{lot.name}}" class=" govuk-link govuk-link--no-visited-state">Lot {{lot.number | replace("Lot ", "")}}: {{lot.name}}</a>
                            <span>Expires: <time>{{lot.endDate | dateddmmyyyy}}</time>
                            </span>
                          </dt>
                          <dd>
                            <p class="govuk-body"></p>
                            <p class="govuk-body">
                              {% if agreement.number == 'RM1043.8' %}
                              <a rel="noopener noreferrer" href="/fca/supplier/list?agreement={{agreement.number}}&lot={{lot.number | replace("Lot ", "")}}" class="govuk-link govuk-link--no-visited-state">{{lot.suppliers}}
                                <span class="visuallyhidden">for {{lot.number}}: {{lot.name}}</span></a>
                              {% else %}
                              <a target="_blank" rel="noopener noreferrer" href="https://www.crowncommercial.gov.uk/agreements/{{agreement.number}}:{{lot.number | replace("Lot ", "")}}/lot-suppliers" class="govuk-link govuk-link--no-visited-state">{{lot.suppliers}}
                                <span class="visuallyhidden">for {{lot.number}}: {{lot.name}}</span></a>
                              {% endif %}
                            </p>
                          </dd>
                        {% endfor %}
                         {% else %} {# GCLOUD #}
                         
                        <dt>
                            <a href="/projects/selected-agreement?agreementName={{agreement.name}}&agreementId={{agreement.number}}&lotId=All&agreementLotName=Find cloud hosting, software and support" class=" govuk-link govuk-link--no-visited-state">Find cloud hosting, software and support</a>
                           
                           
                          </dt>
                          <dd>
                            <p class="govuk-body">e.g. content delivery networks or accounting software</p>
                           </dd>

                          {% for lot in agreement.lotDetails %}
                            {% if lot.number == '4' %}
                              <dt>
                                <a href="/projects/selected-agreement?agreementName={{agreement.name}}&agreementId={{agreement.number}}&lotId={{lot.number}}&agreementLotName={{lot.name}}" class=" govuk-link govuk-link--no-visited-state">{{lot.name}}</a>
                                <span>Expires: <time>{{lot.endDate | dateddmmyyyy}}</time>
                                </span>
                              </dt>
                              <dd>
                                <p class="govuk-body"></p>
                                <p class="govuk-body">
                                  <a rel="noopener noreferrer" href="/fca/supplier/list?agreement={{agreement.number}}&lot={{lot.number | replace("Lot ", "")}}" class="govuk-link govuk-link--no-visited-state">{{lot.suppliers}}
                                <span class="visuallyhidden">for {{lot.number}}: {{lot.name}}</span></a>
                                </p>
                              </dd>
                              {% endif %}
                            {% endfor %} 

                        {% endif %}
                      </dl>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</main>
{% endblock %}