{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'home | Contract a Thing' %}
{# {% set heading = t('Welcome to the Money Claim legal rep beta') %} #}
{% block content %}
{{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
       {{data.line1}}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body-l">{{data.line2}}</p>
      <div class="ccs-choose-agreement">
        <div class="ccs-page-section">
          <h2 class="govuk-heading-m">{{data.line3}} <span>Agreement number: {{agreement_id}}</span> </h2>
          <p class="govuk-body">{{data.line4}}</p>
          <p class="govuk-body">
            <a href="/agreement?id=RM1043.6" class="govuk-link govuk-link--no-visited-state">{{data.line5}}<span class="visuallyhidden">the Digital Specialists and Programmes </span></a>
          </p>
        </div>
        <dl class="ccs-desc-list">
          {% for item in sortedItems %}
          <dt><a href="/projects/create-or-choose?lotId={{item.number}}&agreementLotName={{item.name}}" class=" govuk-link govuk-link--no-visited-state">Lot {{item.number}}: {{item.name}}</a> <span>Expires: <time>{{item.endDate}}</time> </span></dt>          <dd>
            <p class="govuk-body"></p>
            <p class="govuk-body"><a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">{{item.description}} <span class="visuallyhidden">for Lot 2: Digital Outcomes</span></a> </p>
          </dd>
          {% endfor %}
        </dl>
      </div>
      <h2 class="govuk-heading-m">{{data.line6}}</h2>
      </div>
      </div>
    </div>
  </main>
{% endblock %}