 <div class="backdrop-supplier-popup backdrop-close">
  <div class="messagepop pop" role="dialog" aria-labelledby="navigationDialog">
    <div class="pop_logo govuk-grid-column-full">
      <hidden id = "redirect-dialog" class="govuk-visually-hidden"></hidden>
      <p class="pop_logo_image govuk-grid-column-one-half">
        <img class="popup_image" src="/assets/images/CCS_WHITE_SML_AW.png" alt="Go to the CCS homepage">
      </p>
      <p class="govuk-!-text-align-right govuk-grid-column-one-half dialog-close-supplier govuk-!-padding-top-6">
      <a href="javascript:void(0)" class="dialog-close-supplier nav-list__link_secondary">X</a></p>
    </div>
    <div class="govuk-grid-column-full">
      <h1 id="dialog-title">You are about to invite your shortlisted suppliers to stage 2: further assessment
</p>
      <p id="dialog-description">Click ‘Continue’, or click ‘Return’ to edit your scores.</p>
      <div class="govuk-button-group">
        <button id="invite_short_list_suppliers_btn" class="button dialog-button govuk-button">Continue</button>
        <a href="javascript:void(0)" class="dialog-close-supplier govuk-link govuk-link--no-visited-state">Return</a>
      </div>
    </div>
  </div>
</div>