 <div class="backdrop-award backdrop-close">
  <div class="messagepop pop" role="dialog" aria-labelledby="navigationDialog">
    <div class="pop_logo govuk-grid-column-full">
      <hidden id = "redirect-dialog" class="govuk-visually-hidden"></hidden>
      <p class="pop_logo_image govuk-grid-column-one-half"
      <a class="govuk-footer__link logo" href="javascript:void(0)">
        <img class="popup_image" src="/assets/images/CCS_WHITE_SML_AW.png" alt="Go to the CCS homepage">
      </a>
      </p>
      <p class="govuk-!-text-align-right govuk-grid-column-one-half dialog-close-award govuk-!-padding-top-6">
      <a href="javascript:void(0)" class="dialog-close-award nav-list__link_secondary">X</a></p>
    </div>
    <div class="govuk-grid-column-full">
      <h1 id="dialog-title">Congratulations, you have successfully awarded your contract!
</p>
      <p id="dialog-description">Please make sure you fulfil your transparency obligations. You can find further details on the next page.</p>
      <div class="govuk-button-group">
        <button id="btn_pre_award_supplier" class="button dialog-button govuk-button">Continue</button>
        {# <a href="javascript:void(0)" class="dialog-close-award govuk-link govuk-link--no-visited-state">Return</a> #}
      </div>
    </div>
  </div>
</div>