{% set sitemap = menudata.sitemap %}
{% set quicklink = menudata.quickLink %}
{% set about = menudata.aboutandcontact %}

<div class="ccs-contact-footer">
    <div class="ccs-width-container">
        <p>
            <strong>Having problems with this service?</strong>
            <a target="_blank" href="https://www.crowncommercial.gov.uk/contact">contact us</a> for support.</p>
    </div>
</div>
    <footer class="govuk-footer footer-global ccs">
        <div class="ccs-width-container">
            <div class="govuk-footer__navigation">
                <div class="govuk-footer__section">
                    <a class="govuk-footer__link logo nav-popup" href="https://www.crowncommercial.gov.uk"><img src="/assets/images/CCS_WHITE_SML_AW.png" alt="Go to the CCS homepage"></a>
                </div>
                <div class="govuk-footer__section ccs-footer">
                    <ul class="govuk-list govuk-!-font-size-18">
                        <li class="footer__list">
                            <a class="govuk-footer__link" rel="noopener noreferrer" target="_blank" href="https://www.crowncommercial.gov.uk/terms-and-conditions">Terms and conditions</a>
                        </li>
                        <li class="footer__list">
                            <a class="govuk-footer__link" rel="noopener noreferrer" target="_blank" href="https://www.gov.uk/government/publications/crown-commercial-service-privacy-notice">Privacy policy</a>
                        </li>
                        <li class="footer__list">
                            <a class="govuk-footer__link" target="_blank" href="/cookie-details">Cookie policy</a>
                        </li>
                        <li class="footer__list">
                            <a class="govuk-footer__link" target="_blank" href="/accessibility-statement">Accessibility statement</a>
                        </li>
                        <li class="footer__list">
                            <a target="_blank" rel="noopener noreferrer" class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
                    Crown copyright</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    