{% macro notificationBanner() %}
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You’ve been successfully signed-out
    </h3>
    <p class="govuk-body">Your session timed out and we’ve signed you out to protect your data.</p>
  </div>
</div>
{% endmacro %}