<div class="ccs-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag ">
            beta </strong> <span class="govuk-phase-banner__text">
            This is a new service – your
            <a target="_blank" rel="noreferrer noopener" class="govuk-link" href=https://crowncommercial.qualtrics.com/jfe/form/SV_5jzPGtbYCrfydbE>feedback (opens in a new window)</a> will help us to improve it.
       </span>
    </p>
  </div>
</div>  
