{% extends "template.njk" %}

{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title = 'Digital Outcomes opportunitiest | Contract Award Service' %}

{% block breadCrumb %}
    {{ CCSBreadcrumbs({
    items: [
        {
            "text": "Digital Outcomes opportunities",
            "href": ""
        },
        {
            "text": "Dorset ICS Integration and Interoperability Review & Recommendation",
            "href": "#"
        },
        {
            "text": "Details: Dorset ICS Integration and Interoperability Review & Recommendation",
            "href": "#"
        }
    ]
      }) }}
{% endblock %}

{% block content %}

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        {% if (error) %}

            {{ CCSErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: error
    }
  ]
}) }}
        {%endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Details: Dorset ICS Integration and Interoperability Review & Recommendation</h1>
            </div>
        </div>
        <div class="govuk-grid-row ccs-page-section govuk-!-padding-bottom-6 govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-full">
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">1. Context and requirements</h2>
                        </dt>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list--border">
                        <dt class="govuk-summary-list__key"></dt>
                        <dd class="govuk-summary-list__value"></dd>
                    </div>
                    {% for data in context_data%}

                        {% if (data != undefined and data != null and data.id == 'Group 2') %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                        <strong>Terms and acronyms</strong>
                                    </p>
                                </dt>
                            </div>

                            {% for requirement in data.requirements%}
                                {% for pattern in requirement.pattern%}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            <p class="govuk-body govuk-!-margin-bottom-0">Term or acronym</p>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            <p class="govuk-body">{{pattern.text}}</p>
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            <p class="govuk-body govuk-!-margin-bottom-0">Definition</p>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            <p class="govuk-body">{{pattern.value}}</p>
                                        </dd>
                                    </div>
                                    {%endfor%}
                                    {%endfor%}
                                    {%endif%}
                                    {% if (data != undefined and data != null and data.id == 'Group 3') %}
                                        {% for requirement in data.requirements%}
                                            {% for pattern in requirement.pattern%}
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        <p class="govuk-body govuk-!-margin-bottom-0">
                                                            <strong>Summary of work</strong>
                                                        </p>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <p class="govuk-body">{{pattern.value}}</p>
                                                    </dd>
                                                </div>
                                                {%endfor%}
                                                {%endfor%}
                                                {%endif%}
                                                {% if (data != undefined and data != null and data.id == 'Group 5' and currentLot = 'Lot 1') %}
                                                    {% for requirement in data.requirements%}
                                                        {% for pattern in requirement.pattern%}
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Where the supplied staff will work</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">No specific location (for example they can work remotely)</p>
                                                                </dd>
                                                            </div>
                                                            {%endfor%}
                                                            {%endfor%}
                                                            {%endif%}
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Who the organisation using the products or services is</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma, Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Why the work is being done</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>The business problem</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>The people who will use the product or</strong>
                                                                    </p>
                                                                </dt>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">User type</p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">Definition</p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Any pre-market engagement done</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Work done so far</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Which phase the project is in</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Not applicable</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Existing team</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Address where the work will be done</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Working arrangements</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Security and vetting requirements</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Baseline Personnel Security Standard (BPSS)</p>
                                                                    <p class="govuk-body">Counter Terrorist Check (CTC)</p>
                                                                    <p class="govuk-body">Security Check (SC)</p>
                                                                    <p class="govuk-body">Developed Vetting (DV)</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">More information about the Security requirements</p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Latest start date</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">01 April 2024</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Expected contract length</strong>
                                                                    </p>
                                                                </dt>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">Proposed start date</p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">2 years 0 months 0 days</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">Proposed duration</p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body"></p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Special terms and conditions</strong>
                                                                    </p>
                                                                </dt>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Budget</strong>
                                                                    </p>
                                                                </dt>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">Indicative maximum</p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">£40,000.00</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">Indicative minimum</p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">£20,000.00</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">Further information</p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Figma</p>
                                                                </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                                                        <strong>Contracted out service or supply of resource?</strong>
                                                                    </p>
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    <p class="govuk-body">Contracted out service: the off-payroll rules do not apply</p>
                                                                </dd>
                                                            </div>
                                                        {% endfor %}
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="govuk-grid-row ccs-page-section govuk-!-padding-bottom-6 govuk-!-margin-bottom-2">
                                                <div class="govuk-grid-column-full">
                                                    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">2. Assessment criteria</h2>
                                                            </dt>
                                                        </div>
                                                        <div class="govuk-summary-list__row govuk-summary-list--border">
                                                            <dt class="govuk-summary-list__key"></dt>
                                                            <dd class="govuk-summary-list__value"></dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>How many suppliers to evaluate</strong>
                                                                </p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">3</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Technical Competence</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">60%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Cultural fit</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">5%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Social values</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">10%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Price</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">25%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row govuk-summary-list--border">
                                                            <dt class="govuk-summary-list__key"></dt>
                                                            <dd class="govuk-summary-list__value"></dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>Technical competence</strong>
                                                                </p>
                                                            </dt>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Essential skills and experience</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">10%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Nice-to-have skills and experience</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">1%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Technical questions</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">89%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>Essential skills and experience</strong>
                                                                </p>
                                                            </dt>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Description</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Figma</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Weighting</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">33%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Description</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Figma</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Weighting</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">33%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Description</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Figma</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Weighting</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">34%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>Nice-to-have skills and experience </strong>
                                                                </p>
                                                            </dt>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Description</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Figma</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Weighting</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">90%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Description</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Figma</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Weighting</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">10%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>Technical questions</strong>
                                                                </p>
                                                            </dt>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Question</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Figma</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Weighting</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">100%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>Cultural fit questions</strong>
                                                                </p>
                                                            </dt>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Question</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Figma</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Weighting</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">100%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>Social value questions </strong>
                                                                </p>
                                                            </dt>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Question</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Figma</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Weighting</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">100%</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>Pricing model</strong>
                                                                </p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Capped time and materials</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>Additional assessment methods</strong>
                                                                </p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Presentation</p>
                                                                <p class="govuk-body">Reference</p>
                                                                <p class="govuk-body">Interview</p>
                                                                <p class="govuk-body">Scenario or test</p>
                                                                <p class="govuk-body">Case study</p>
                                                                <p class="govuk-body">Work history</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>Question and answer session details</strong>
                                                                </p>
                                                            </dt>
                                                        </div>
                                                        <div class="govuk-summary-list__row govuk-summary-list--border">
                                                            <dt class="govuk-summary-list__key"></dt>
                                                            <dd class="govuk-summary-list__value"></dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">
                                                                    <strong>How suppliers will be scored</strong>
                                                                </p>
                                                            </dt>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Level</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Exceeded</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Score</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">3</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Description</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">The response exceeds requirements, providing detail that minimises risks to delivery. The response is comprehensive and unambiguous, demonstrating a thorough understanding of the requirements and providing details of how the requirement will be met in full without additional support from the Contracting Authority, other than that outlined within the Statement of Requirements.</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Level</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Met</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Score</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">2</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Description</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">The response is acceptable and meets all the basic requirements. However, the response is not sufficiently detailed to minimise risk and / or the proposed approach may require additional support (in addition to that outlined in the Statement of Requirements) from the Contracting Authority to meet its deliverables.</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Level</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Partially met</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Score</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">1</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Description</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">The response has met some, but not all elements of the requirement, which poses risk that the proposal will not meet the deliverables required. The response does not demonstrate a full understanding of the requirement posing major concerns.</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Level</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">Not met</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Score</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">0</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Description</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">The response does not meet any of the requirements or no response has been provided. An unacceptable and / or non-compliant response with serious reservations, demonstrating no understanding of the requirement.</p>
                                                            </dd>
                                                        </div>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="govuk-grid-row ccs-page-section govuk-!-padding-bottom-6 govuk-!-margin-bottom-2">
                                                <div class="govuk-grid-column-full">
                                                    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">3. Timeline</h2>
                                                            </dt>
                                                        </div>
                                                        <div class="govuk-summary-list__row govuk-summary-list--border">
                                                            <dt class="govuk-summary-list__key"></dt>
                                                            <dd class="govuk-summary-list__value"></dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Publication of stage 1</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">22/04/2023</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Clarification period closes</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">25/04/2023, 01:00</p>
                                                            </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">
                                                                <p class="govuk-body govuk-!-margin-bottom-0">Deadline for suppliers to submit their stage 1 responses</p>
                                                            </dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <p class="govuk-body">27/04/2023, 18:00</p>
                                                            </dd>
                                                        </div>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="govuk-grid-row">
                                                <div class="govuk-grid-column-full">
                                                    <div class="govuk-button-group">
                                                        <a class="govuk-link" href="/digital-outcomes-and-specialists/reviewRecommendation">Return to Dorset ICS Integration and Interoperability Review & Recommendation</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </main>
                                    {% endblock %}