{% extends "template.njk" %}
{% from "components/support/macro.njk" import howToGetSupport %}
{% block breadCrumb %}
{{ CCSBreadcrumbs({
items: [
{
text: "Dashboard",
href: "/dashboard"
},
{
text: "Choose a commercial agreement",
href: "/projects/choose-agreement"
},
{
text: "Procurement overview",
href: "#"
}
]
}) }}
{% endblock %}
{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
         <h1 class="govuk-heading-xl">
            {{title}}
         </h1>
      </div>
   </div>
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
         <div class="project-overview">
            <p class="govuk-body">{{topHeader.selectedAggrement[0]}}<strong>{{aggName}}{{topHeader.selectedAggrement[1]}}{{lotId}}{{topHeader.selectedAggrement[2]}}</strong></p>
            <p class="govuk-body">{{topHeader.aggrementId}}<strong>{{agreement_id}}</strong></p>
            <p class="govuk-body">{{topHeader.projectName}}
               <strong>{{projName}}</strong>
            </p>
         </div>
         <br>
         <div class="govuk-inset-text">
            <p class="govuk-body">{{line1}}</p>
            <p class="govuk-body">{{line2}}</p>
            <p class="govuk-body">{{line3}}</p>
            <p class="govuk-body">{{line4}}</p>
         </div>
         <ol class="proc-task-list">
          {% for event in events %}
            <li>
               <h2 class="proc-task-list__section">
                  <span class="proc-task-list__section-number">{{event.eventno}}.</span>
                  {{event.eventTitle}}
                  <strong class="govuk-tag app-task-list__tag" id="suppliers-status">{{event.status}}</strong>
               </h2>
               {% for line in event.lines %}
                  {% if (event.eventno) == 1 
                     or (event.eventno == 2)
                     or (event.eventno) == 3 
                     or (event.eventno) == 4 
                     or (event.eventno) == 5 %}
                     <p class="govuk-body">{{line}}</p>
                  {% endif %}
    
               {% endfor %}
               {% if event.list.length %}
               <ul class="govuk-list govuk-list--bullet">
                  {% for elem in event.list %}
                  <li>{{elem}}</li>
                  {% endfor %}
               </ul>
               {% endif %}
               {% if event.buttonText %}
                  <button hidden={{event.buttonText}} disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled" data-module="govuk-button">
                  {{event.buttonText}}
                  </button>
               {% endif %}
            </li>
          {% else %}
            <li>There are no events to display</li>
          {% endfor %}
         </ol>
      </div>
      <div class="govuk-grid-column-one-third">
         <div class="ccs-callout-panel">
            <h2 class="govuk-heading-m">{{related.title}}</h2>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href={{related.content.href}} target="_blank">{{related.content.text}}</a> </p>
         </div>
      </div>
   </div>
</main>
{% endblock %}