
{% set heading = 'Cookies' %}

{% set headingVisible = false %}

{% block content %}
    <div id="skiplink-container">
    <div>
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    </div>
</div>
{% endblock %}
