{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'home | Contract a Thing' %}

{% block content %} 

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-4 govuk-!-margin-bottom-2">Page Work in progress</strong>    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-xl">
        Temporary landing page
      </h1>
      <p class="govuk-body">
      <a href="/agreement/lot?agreement_id=RM6263&lotNum=Lot 2" class="govuk-link govuk-link--no-visited-state">lot description page (SCAT-914)</a>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
  
      {{ howToGetSupport() }}

    </div>
  </div>
    
  </div>
  </main>
{% endblock %}
