{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'home | Contract a Thing' %}

{% block content %} 

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-4 govuk-!-margin-bottom-2">Page Work in progress</strong>    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-xl">
        RFI temporary landing page
      </h1>
      <ul class="govuk-list">
        
        <li>
          <a class="govuk-link" href="/rfi/type?agreement_id=RM1043.6">How will you build your Request for Information (RfI)</a>
        </li>
        
        <li>
          <a class="govuk-link" href="/rfi/online-task-list?agreement_id=RM1043.6">Build your Request for Information (RfI)</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
  
      {{ howToGetSupport() }}

    </div>
  </div>
    
  </div>
  </main>
{% endblock %}
