{#- Adding all of the components so that they can be added to the childern node. -#}
{% from "components/breadcrumbs/macro.njk" import CCSBreadcrumbs %}
{% from "components/date-input/macro.njk" import CCSDateInput %}
{% from "components/input/macro.njk" import CCSInput %}
{% from "components/radios/macro.njk" import CCSRadios %}
{% from "components/helper/macro.njk" import helpSection %}
{% from "components/button/macro.njk" import CCSButton %}
{% from "components/fieldset/macro.njk" import CCSFieldset %}
{% from "components/select/macro.njk" import CCSSelect %}
{% from "components/error-message/macro.njk" import CCSErrorMessage %}
{% from "components/error-summary/macro.njk" import CCSErrorSummary %}
{% from "components/textarea/macro.njk" import CCSTextarea %}
{% from "components/InsetText/macro.njk" import CCSInsetText %}
{% from "components/checkboxes/macro.njk" import CCSCheckboxes %}
{% from "components/file-upload/macro.njk" import CCSFileUpload %}
{% from "components/warning-text/macro.njk" import CCSWarningText %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "components/character-count/macro.njk" import CCSCharacterCount %}
{% from "components/tableOfContents.njk" import onsTableOfContents %}
{% from "components/table/macro.njk" import CCSTable %}

<html lang="{{ htmlLang | default('en') }}" class="govuk-template {{ htmlClasses }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GLOBAL_SITE_TAG_ID}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', '{{GLOBAL_SITE_TAG_ID}}');
    </script>
    <meta charset="utf-8">
    <title>{{ title }}| Crown Commercial Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}">
    {# Hardcoded value of $govuk-black #}
    {# Ensure that older IE versions always render with the correct rendering engine #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block headIcons %}
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/govuk-mask-icon.svg" color="{{ themeColor | default('#0b0c0c') }}">
      {# Hardcoded value of $govuk-black #}
      <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon.png">

    {% endblock %}
    {% block head %}
      {% include "webpack/css.njk" %}
    {% endblock %}

    <meta property="og:image" content="{{ assetUrl | default('/assets') }}/images/govuk-opengraph-image.png">
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f
          .parentNode
          .insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '{{GOOGLE_TAG_MANAGER_ID}}');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="govuk-template__body {{ bodyClasses }} show-flourishes  pillar--none" {%- for attribute, value in bodyAttributes %} {{attribute}}="{{value}}"{% endfor %}>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{GOOGLE_TAG_MANAGER_ID}}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script>
      document.body.className = (
        (document.body.className)
        ? document.body.className + ' js-enabled'
        : 'js-enabled');
    </script>
    {#  cookies Section #}
    {% block cookies %}
      {% include "cookies.njk" %}
    {% endblock %}

    {% block header %}
      {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
      {% include "components/Header.njk" %}
      {% include "components/phase_banner_beta.njk" %}
    {% endblock %}
    
    {# This block has been comented out - This can be un-comment once the SCAT-3516 & SCAT-3517 has been ready for implementation #}
    {#  dialog Section #}
    {# {% block dialog %}
      {% include "components/dialog.njk" %}
    {% endblock %} #}

    {# This is main content section#}
    <div class="ccs-width-container">
      {% block breadCrumb %}{% endblock %}

      {% block content %}{% endblock %}
    </div>

    {% if Session['session'] %}
      {% block helpSection%}
        {{helpSection()}}
      {% endblock %}
    {% endif %}

    {% block footer %}
      {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
      {% include "components/footer.njk" %}
    {% endblock %}

    {% block bodyEnd %}
      {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
      {% include "webpack/js.njk" %}
    {% endblock %}

  </body>
</html>