<div class="backdrop-{{params.type}}" id="backdrop-{{params.type}}">
  <div class="messagepop pop" role="dialog" aria-labelledby="navigationDialog">
    <div class="pop_logo govuk-grid-column-full">
      <hidden id = "redirect-dialog" class="govuk-visually-hidden"></hidden>
      <p class="pop_logo_image govuk-grid-column-one-half">
        <img class="popup_image" src="/assets/images/CCS_WHITE_SML_AW.png" alt="Go to the CCS homepage">
      </p>
      <p class="govuk-!-text-align-right govuk-grid-column-one-half dialog-close-{{params.type}} govuk-!-padding-top-6">
      <a href={{params.redirect}} class="dialog-close-{{params.type}} nav-list__link_secondary">X</a></p>
    </div>
    <div class="govuk-grid-column-full">
      <h1 id="dialog-title" class="nodeDialogTitle">{{params.title}}</p></h1>
      <p id="dialog-description">{{params.description}}</p>
      <div class="govuk-button-group">
        {% if(params.type == 'supplierConfirmAllPopup'  or params.type == 'checksupplierConfirmAllPopup') %}
        <a href="/evaluate-confirm" id="redirect-button-{{params.type}}" class="dialog-close-{{params.type}} button dialog-button govuk-button govuk-link govuk-link--no-visited-state">Continue</a>
       {% elseif(params.type == 'sessionTimeoutPopup') %}
        <a href="#" id="redirect-button-{{params.type}}" class="dialog-close-{{params.type}} button dialog-button govuk-button govuk-link govuk-link--no-visited-state">Continue</a>
        {% else %}
        <button id="redirect-button-{{params.type}}" class="button dialog-button govuk-button">Continue</button>
        {% endif %}
        {% if(params.type == 'sessionTimeoutPopup') %}
         <a href={{params.redirect}} class="dialog-close-{{params.type}} govuk-link govuk-link--no-visited-state">Logout</a>
       {% else %}
        <a href={{params.redirect}} class="dialog-close-{{params.type}} govuk-link govuk-link--no-visited-state">
          {% if(params.type == 'supplierConfirmAllPopup' or params.type == 'checksupplierConfirmAllPopup') %}
            Return
          {% else %}
            Cancel
          {% endif %}
            
        </a>
         {% endif %}
      </div>
    </div>
  </div>
</div>