{% extends "template.njk" %}

{% set title = 'Page Not Found- Crown Commercial Service' %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main"> 
      <h1 class="govuk-heading-xl page-title">Page not found</h1>
      <p class="govuk-body">If you typed the web address, check it is correct.</p>
      <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
       <p class="govuk-body">If the web address is correct or you selected a link or button,
        <a target="_blank" rel="noreferrer noopener" href="https://www.crowncommercial.gov.uk/contact">contact CCS (opens in a new window)</a> who will be able to provide further support.</p>
        <p class="govuk-body">You can also return to the
        <a href="/">homepage</a>.</p>
    </main>  
{% endblock %}
