{% extends "template.njk" %}

{% set title = '500 Internal Server error- Crown Commercial Service' %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main"> 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-xl page-title">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">
          <a href="/contact">contact CCS</a> who will be able to provide further support.</p>
        <p class="govuk-body">You can also return to the
        <a href="/">homepage</a>.</p>
      </p>
    </div>
  </div>
 </main> 
{% endblock %}
