{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% set title = 'Save your search | Contract Award Service' %}

{% block content %}
    {% set url -%}
  /projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}} 
  
    {%- endset %}

    {{ CCSBreadcrumbs({
        items: [
        { "text": "Dashboard", "href": "/dashboard" },
        { "text": "Choose a commercial agreement", "href": "/projects/choose-agreement" },
        { "text": "Procurement overview", "href": url },
        { "text": "Start a new search", "href": "/g-cloud/choose-category" },
        { "text": "Choose a category", "href": "/g-cloud/choose-category" },
        { "text": "Search results", "href": returnto | trim }, 
        { "text": "Save your search", "href": "/g-cloud/save-your-search" },
        { "text": "Before you export your results", "href": "/g-cloud/export-results" },
        { "text": "Download your results", "href": "#" } ] 
}) }}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
            <h3 class="govuk-heading-xl">{{data.title}}</h3>
            {% include "includes/project_header.njk" %}
            <p class="govuk-body">{{data.line1}}</p>
            <p class="govuk-body">{{data.line2}}</p><br>
             
                <a class="govuk-body govuk-link" href="/g-cloud/download-your-search?assessmentID={{assessmentID}}&download=1">{{data.links}}</a><br>
            
             <br>
             <ul><li class="govuk-body">Results first exported on {{exporteddate}}</li></ul>
             <p class="govuk-body">{{data.line4}}</p>
            <br>
            <div class="govuk-button-group">
                <a href="{{url}}" class="govuk-button" data-module="govuk-button">
                    {{data.buttonText}}
                </a>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="ccs-callout-panel">
          <h2 class="govuk-heading-m">Related content</h2>
          <p class="govuk-body">
            {% for item in data.related_content %}
              <a class="govuk-link govuk-link--no-visited-state" href="{{ item.href }}" target="_blank" rel="noopener noreferrer" onclick="return false;">{{ item.text }}</a><br>
            {% endfor %}
          </p>
        </div>
        </div>
    </div>
</main>
{% endblock %}