{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Welcome to the Contract Award Service beta' %}
{% block content %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
           {{ 
  CCSDialog({
    title: "Confirm you want to close this project",
    description:"This project has not been published. Upon closure, it will appear in your past projects list, but you will no longer have access to it.",
    redirect:'#',
    type:'projectCloseAllPopup'
  }) 
}}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    {# Banner notic Start #}
    {% if issetDashBanner != '' %}
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title"></h2>
        </div>
        <div class="govuk-notification-banner__content">
          <b>
            {{issetDashBanner}}
          </b>
        </div>
      </div>
    {% endif %}
    {# Banner notic End #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          {{data.title}}</h1>
      </div>
    </div>
    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h3 class="govuk-heading-m">
            Hello, {{ user_firstName }}
        </h3>
        <div class="govuk-inset-text">
          <p class="govuk-body">
          To start a new project, 
          <a class="govuk-link" href="/projects/choose-agreement">
              {{data.buttonText}}.
          </a>
          </p>
          <p class="govuk-body">{{ data.line1 }}</p>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ccs-callout-panel">
          <h2 class="govuk-heading-m">Related content</h2>
          <p class="govuk-body">
            {% for item in data.related_content %}
              {% if item.href %}
                <a class="govuk-link govuk-link--no-visited-state" href="{{ item.href }}" target="_blank" rel="noopener noreferrer" onclick="return true;">{{ item.text }}</a><br>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>

    
        <p>
          <strong>Find a Project</strong>
        </p>
        <form method="POST" action="/dashboard">
          {{ csrfProtection(csrf) }}
          <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
            <div class="govuk-grid-column-one-half">
              <div class="govuk-form-group">
                <div class="govuk-input__wrapper govuk-input__wrapper_custom">
                  <input type="text" id="search" class="govuk-input" value="{{searchText}}" name="search">
                  {# {{ CCSInput({
                  id: "search",
                  name: "search",
                  type: "text",
                  value:searchText
                  }) }} #}
                  <div class="govuk-input__suffix">
                    {{ CCSButton({
                      text: "Search",
                      attributes: {
                      id: "searchBtn"
                      },
                      type: "submit",
                      classes: "govuk-button d_button"
                      }) }}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </form>

    <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
      <div class="govuk-grid-column-full">
        {% if events.length < 6 and events.length > 0 %}
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-heading-m">{{data.subsection2_title}} ({{events.length}})</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-1">{{data.subsection2_table_th_1}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-2">{{data.subsection2_table_th_2}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-3">{{data.subsection2_table_th_3}}</th>
                <th scope="col" class="govuk-table__header">{{data.subsection2_table_th_4}}</th>
                <th scope="col" class="govuk-table__header govuk-!-text-align-right">{{data.subsection2_table_th_5}}</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for event in events %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell govuk-table__header_custom_w-1">
                    <p class="govuk-body govuk-!-margin-bottom-0">
                      <a class="govuk-link" href="/event/management?id={{ event.activeEvent.id }}">{{ event.activeEvent.id }}</a>
                      <input type="hidden" value="{{event.projectId}}">
                      <input type="hidden" value="{{event.activeEvent.id}}">
                      <input type="hidden" value="{{event.activeEvent.eventSupportId}}">
                    </p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ event.projectName | safe }}</p>
                  </th>
                  {% if event.activeEvent.eventType == 'TBD' %}
                    <td class="govuk-table__cell govuk-table__header_custom_w-2"> N/A </td>
                  {% else %}
                    <td class="govuk-table__cell govuk-table__header_custom_w-2">{{ event.activeEvent.eventType }}
                    </td>
                  {% endif %}

                  <td class="govuk-table__cell govuk-table__header_custom_w-3">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ event.lotId }} : {{ event.lotName }}</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ event.agreementName }} [{{ event.agreementId }}]</p>
                  </td>
                  <td class="govuk-table__cell">
                    {% if event.activeEvent.tenderPeriod.endDate %}
                      {{ event.activeEvent.tenderPeriod.endDate|timedateddmmyyyy}}
                    {% else %} N/A {% endif %}
                  </td>
                  <td class="govuk-table__cell govuk-!-text-align-right">
                    {% if (event.activeEvent.status.toUpperCase() == 'TO BE EVALUATED' and event.activeEvent.eventType == 'RFI') %}
                      To Be Reviewed
                    {% else %}
                      {{ event.activeEvent.status }}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% elseif events.length > 5 %}
          <table class="govuk-table" id="active-data">
            <caption class="govuk-table__caption govuk-heading-m">{{data.subsection2_title}} ({{events.length}})</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-1">{{data.subsection2_table_th_1}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-2">{{data.subsection2_table_th_2}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-3">{{data.subsection2_table_th_3}}</th>
                <th scope="col" class="govuk-table__header">{{data.subsection2_table_th_4}}12</th>
                <th scope="col" class="govuk-table__header govuk-!-text-align-right">{{data.subsection2_table_th_5}}</th>
               
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for event in events %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell govuk-table__header_custom_w-1">
                    <p class="govuk-body govuk-!-margin-bottom-0">
                      <a class="govuk-link" href="/event/management?id={{ event.activeEvent.id }}">{{ event.activeEvent.id }}</a>
                      <input type="hidden" value="{{event.projectId}}">
                      <input type="hidden" value="{{event.activeEvent.id}}">
                      <input type="hidden" value="{{event.activeEvent.eventSupportId}}">
                    </p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ event.projectName | safe }}</p>
                  </th>
                  {% if event.activeEvent.eventType == 'TBD' %}
                    <td class="govuk-table__cell govuk-table__header_custom_w-2"> N/A </td>
                  {% else %}
                    <td class="govuk-table__cell govuk-table__header_custom_w-2">{{ event.activeEvent.eventType }}
                    </td>
                  {% endif %}

                  <td class="govuk-table__cell govuk-table__header_custom_w-3">
                    <p class="govuk-body govuk-!-margin-bottom-0">
                      {% if (event.agreementId == 'RM1043.8') %}
                        Lot {{ event.lotId }} : {{ event.lotName }}
                      {% else %}
                        {{ event.lotId }} : {{ event.lotName }}
                      {% endif %}
                    </p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ event.agreementName }} [{{ event.agreementId }}]</p>
                  </td>
                  <td class="govuk-table__cell">
                    {% if event.activeEvent.tenderPeriod.endDate %}
                      {{ event.activeEvent.tenderPeriod.endDate|timedateddmmyyyy }}
                    {% else %} N/A {% endif %}
                  </td>
                  <td class="govuk-table__cell govuk-!-text-align-right">
                    {% if (event.activeEvent.status.toUpperCase() == 'TO BE EVALUATED' and event.activeEvent.eventType == 'RFI') %}
                      To Be Reviewed
                    {% else %}
                      {{ event.activeEvent.status }}
                    {% endif %}

                  </td>
                   <td class="govuk-table__cell govuk-!-text-align-right" nowrap>
                    <p class="govuk-body govuk-!-margin-bottom-0" >
                       <a href="#backdrop-projectCloseAllPopup" class="govuk-link" data-module="govuk-button" id="evaluate_suppliers">
           Close project
          </a>
                      {# <a class="govuk-link" href="/event/management?id={{ event.activeEvent.id }}">Close project                      
                      </a> #}
                  
                    </p>

                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <table class="govuk-table" id="active-data-no-records">
            <caption class="govuk-table__caption govuk-heading-m">{{data.subsection2_title}} (0)</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-1">{{data.subsection2_table_th_1}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-2">{{data.subsection2_table_th_2}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-3">{{data.subsection2_table_th_3}}</th>
                <th scope="col" class="govuk-table__header">{{data.subsection2_table_th_4}}13</th>
                <th scope="col" class="govuk-table__header govuk-!-text-align-right">{{data.subsection2_table_th_5}}</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    you have no current projects. To start a new project select the lot you want from the available commercial agreements.
                  </strong>
                </td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>

        {% endif %}
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-full">
        {% if historicalEvents.length > 5 %}
          <table class="govuk-table" id="historical-data">
            <caption class="govuk-table__caption govuk-heading-m">{{data.subsection4_title}} ({{withOutPaEventsData.length}})</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-1">{{data.subsection4_table_th_1}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-2">{{data.subsection4_table_th_2}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-3">{{data.subsection4_table_th_3}}</th>
                <th scope="col" class="govuk-table__header govuk-!-text-align-centre">{{data.subsection4_table_th_4}}</th>
                {#<th scope="col" class="govuk-table__header">Status</th>#}
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for event in historicalEvents %}
                {% if event.activeEvent.eventType != 'PA' %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell govuk-table__header_custom_w-1">
                      <p class="govuk-body govuk-!-margin-bottom-0">
                        <a class="govuk-link" href="/event/management_close?id={{ event.activeEvent.id }}">{{ event.activeEvent.id }}</a>
                        <input type="hidden" value="{{event.projectId}}">
                        <input type="hidden" value="{{event.activeEvent.id}}">
                        <input type="hidden" value="{{event.activeEvent.eventSupportId}}">
                        <!--<a class="govuk-link" href="">{{ event.activeEvent.id }}</a>-->
                      </p>
                      <p class="govuk-body govuk-!-margin-bottom-0">{{ event.projectName }}</p>
                    </th>
                    {% if event.activeEvent.eventType == 'TBD' %}
                      <td class="govuk-table__cell govuk-table__header_custom_w-2"> N/A </td>
                    {% else %}
                      <td class="govuk-table__cell govuk-table__header_custom_w-2">{{ event.activeEvent.eventType }}
                      </td>
                    {% endif %}

                    <td class="govuk-table__cell govuk-table__header_custom_w-3">
                      <p class="govuk-body govuk-!-margin-bottom-0">{{ event.lotId }} : {{ event.lotName }}</p>
                      <p class="govuk-body govuk-!-margin-bottom-0">{{ event.agreementName }} [{{ event.agreementId }}]</p>
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                      {% if event.activeEvent.tenderPeriod.endDate %}
                        {{ event.activeEvent.tenderPeriod.endDate| dateddmmyyyy }}
                      {% else %} N/A {% endif %}
                    </td>
                    {#<td class="govuk-table__cell govuk-capitalise">
                    {{event.activeEvent.dashboardStatus}}
                  </td>#}
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <!-- <p>
            <a class="govuk-link" href="#">{{data.view_Historical}}</a>
          </p>-->
        {% elseif historicalEvents.length < 6 and historicalEvents.length > 0 %}
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-heading-m">{{data.subsection4_title}} ({{withOutPaEventsData.length}})</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-1">{{data.subsection4_table_th_1}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-2">{{data.subsection4_table_th_2}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-3">{{data.subsection4_table_th_3}}</th>
                <th scope="col" class="govuk-table__header govuk-!-text-align-centre">{{data.subsection4_table_th_4}}</th>
                {#<th scope="col" class="govuk-table__header">Status</th>#}
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for event in historicalEvents %}
                {% if event.activeEvent.eventType != 'PA' %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell govuk-table__header_custom_w-1">
                      <p class="govuk-body govuk-!-margin-bottom-0">
                        <a class="govuk-link" href="/event/management_close?id={{ event.activeEvent.id }}">{{ event.activeEvent.id }}</a>
                        <input type="hidden" value="{{event.projectId}}">
                        <input type="hidden" value="{{event.activeEvent.id}}">
                        <!--<a class="govuk-link" href="">{{ event.activeEvent.id }}</a>-->
                      </p>
                      <p class="govuk-body govuk-!-margin-bottom-0">{{ event.projectName }}</p>
                    </th>
                    {% if event.activeEvent.eventType == 'TBD' %}
                      <td class="govuk-table__cell govuk-table__header_custom_w-2"> N/A </td>
                    {% else %}
                      <td class="govuk-table__cell govuk-table__header_custom_w-2">{{ event.activeEvent.eventType }}
                      </td>
                    {% endif %}

                    <td class="govuk-table__cell govuk-table__header_custom_w-3">
                      <p class="govuk-body govuk-!-margin-bottom-0">{{ event.lotId }} : {{ event.lotName }}</p>
                      <p class="govuk-body govuk-!-margin-bottom-0">{{ event.agreementName }} [{{ event.agreementId }}]</p>
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                      {% if event.activeEvent.tenderPeriod.endDate %}
                        {{ event.activeEvent.tenderPeriod.endDate| dateddmmyyyy }}
                      {% else %} N/A {% endif %}
                    </td>
                    {#<td class="govuk-table__cell govuk-capitalise">
                    {{event.activeEvent.dashboardStatus}}
                  </td>#}
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <!-- <p>
            <a class="govuk-link" href="#">{{data.view_Historical}}</a>
          </p> -->
        {% else %}
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-heading-m">{{data.subsection4_title}} (0)</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-1">{{data.subsection4_table_th_1}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-2">{{data.subsection4_table_th_2}}</th>
                <th scope="col" class="govuk-table__header govuk-table__header_custom_w-3">{{data.subsection4_table_th_3}}</th>
                <th scope="col" class="govuk-table__header govuk-!-text-align-centre">{{data.subsection4_table_th_4}}</th>
                {#<th scope="col" class="govuk-table__header">Status</th>#}
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">
                    You have no archived projects.
                  </strong>
                </td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                {#<td class="govuk-table__cell"></td>#}
              </tr>
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}