{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'home | Contract a Thing' %}
{# {% set heading = t('Welcome to the Money Claim legal rep beta') %} #}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "/home"
          },
          {
            text: "Contract award service",
            href: "#"
          }
        ]
      }) }}

{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          {{data.title}}</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <div class="ccs-page-section">
          <h3 class="govuk-heading-m">
            Hello, {{ user_email }}
          </h3>
          <p class="govuk-body">{{ data.line1 }}</p>
          <h2 class="govuk-heading-m">Get started</h2>
          <p class="govuk-body">
          <span>{{ data.line2 }}</span>
          <span>{{ data.line3 }}</span> 
          <a href="https://www.crowncommercial.gov.uk/contact">{{ data.line4 }}</a> <span>{{ data.line5 }}</span></p>
          <ul class="govuk-list govuk-list--number">
          {% for item in data.list %}
            <li>{{item}}</li>
          {% endfor %}
          </ul>
          <a href="/projects/choose-agreement" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
             {{data.buttonText}}
          </a>
        </div>
        <h2 class="govuk-heading-l">{{ data.line6 }}</h2>
        <p class="govuk-body">{{ data.line7 }}</p>
        <div class="govuk-tabs" data-module="govuk-tabs">
          <ul class="govuk-tabs__list" role="tablist">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
              <a class="govuk-tabs__tab" href="#projects" id="tab_projects" role="tab" aria-controls="projects" aria-selected="true" tabindex="0">
            {{ data.line8 }}
          </a>
            </li>
            <li class="govuk-tabs__list-item" role="presentation">
              <a class="govuk-tabs__tab" href="#notifications" data-new-items="1" id="tab_notifications" role="tab" aria-controls="notifications" aria-selected="false" tabindex="-1">
            {{ data.line9 }}
          </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="notifications" role="tabpanel" aria-labelledby="tab_notifications">
            <div class="ccs-notifications-center">
              <div class="notify_message">
                <h4 class="govuk-heading-s">{{data.line10}}</h4>
                <p class="govuk-body">{{ data.line11 }} </p>
                <p class="govuk-body">{{ data.line12 }} <a href="/projects/choose-agreement" class="govuk-link govuk-link--no-visited-state">{{ data.line13 }}</a></p>
                <p class="govuk-body received"><span class="visuallyhidden">Received: </span>25/05/2021 8:30am</p>
              </div>
            </div>
          </div>
          <div class="govuk-tabs__panel" id="projects" role="tabpanel" aria-labelledby="tab_projects">
            <p class="govuk-body">{{ data.line14 }}  <a href="/projects/choose-agreement" class="govuk-link govuk-link--no-visited-state">{{ data.line15 }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </main>

  {# <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-xl">
        {{ data.title }}
      </h1>      
      <h3 class="govuk-heading-m">
        Hello, {{ user_email }}
      </h3>
      <p class="govuk-body">{{ data.line1 }}</p>
      <h3 class="govuk-heading-m">
        RFI temporary landing page
      </h3>
      <ul class="govuk-list">
        
        <li>
          <a class="govuk-link" href="/rfi/type?agreement_id=RM1043.6">How will you build your Request for Information (RfI)</a>
        </li>
        
        <li>
          <a class="govuk-link" href="/rfi/online-task-list?agreement_id=RM1043.6">Build your Request for Information (RfI)</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-one-third">
  
      {{ howToGetSupport() }}

    </div>
  </div>
    
  </div>
  </main> #}
{% endblock %}