{% from "components/breadcrumbs/macro.njk" import CCSBreadcrumbs %}
{% from "components/date-input/macro.njk" import CCSDateInput %}
{% from "components/input/macro.njk" import CCSInput %}
{% from "components/radios/macro.njk" import CCSRadios %}
{% from "components/helper/macro.njk" import helpSection %}
{% from "components/button/macro.njk" import CCSButton %}
{% from "components/fieldset/macro.njk" import CCSFieldset %}
{% from "components/select/macro.njk" import CCSSelect %}
{% from "components/error-message/macro.njk" import CCSErrorMessage %}
{% from "components/error-summary/macro.njk" import CCSErrorSummary %}
{% from "components/textarea/macro.njk" import CCSTextarea %}
{% from "components/InsetText/macro.njk" import CCSInsetText %}
{% from "components/checkboxes/macro.njk" import CCSCheckboxes %}
{% from "components/file-upload/macro.njk" import CCSFileUpload %}
{% from "components/warning-text/macro.njk" import CCSWarningText %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "components/character-count/macro.njk" import CCSCharacterCount %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/tableOfContents.njk" import onsTableOfContents %}
{% from "components/table/macro.njk" import CCSTable %}
{% from "components/questions/macro.njk" import CCSQUESTIONS %}

{% block TextRFP %}
  {% if requirement.nonOCDS.questionType === 'Text' and requirement.nonOCDS.multiAnswer === true and form_name == 'rfp_multianswer_question_form' %}

    {{  CCSTextarea({
                      name:  requirement.OCDS.id,
                      required: requirement.nonOCDS.mandatory,
                      id: "fc_question_"+index+"_"+requirement.nonOCDS.order,
                      value: requirement.nonOCDS.options[index-1].value,
                      label: {
                      text:requirement.OCDS.title,
                      classes: "govuk-label govuk-label--m"
                      },
                      classes:"order_"+requirement.nonOCDS.order,
                      rows:2
                    })
                }}

    {%endif%}
    {% if requirement.nonOCDS.questionType === 'Percentage' and requirement.nonOCDS.multiAnswer === true  and form_name == 'rfp_multianswer_question_form'%}

      {{ CCSInput({
                        label: {
                          text: requirement.OCDS.title 
                        },
                        classes: "govuk-input--width-5 govuk-!-margin-bottom-3 weightage",
                        id: "fc_question_"+index+"_"+requirement.nonOCDS.order,
                        value: requirement.nonOCDS.options[index-1].value,
                        name: requirement.OCDS.id,
                        suffix: {
                          text: "%"
                        }
                      }) }}

      {%endif%}
      {% if requirement.nonOCDS.questionType === 'Text' and requirement.nonOCDS.multiAnswer === true and requirement.nonOCDS.childern.length === 0 %}
        {{  CCSTextarea({
                      name: "value",
                      required: requirement.nonOCDS.mandatory,
                      id: "value",
                      value: requirement.nonOCDS.options[0].value,
                      label: {
                      text: requirement.OCDS.title,
                      classes: "govuk-label govuk-label--m"
                      }
                    })
                }}

        {{  CCSInput({
                      id: "question_id",
                      name: "question_id",
                      type: "hidden",
                      value: requirement.OCDS.id
                    })
                }}

        {%endif%}
        {%endblock%}

        {% block value %}
          {% if requirement.nonOCDS.questionType === 'Value' and requirement.nonOCDS.multiAnswer === true %}
            <br>
            <br>
            {{ CCSInput({
                      label: {
                        text: requirement.OCDS.title,
                        classes: "govuk-label govuk-label--m"
                      },
                      id: "rfp_question_1",
                      name: "rfp_question_1",
                      value: requirement.nonOCDS.options[0].value
                    })
                }}
            {% set numberWord = [
              'Zero',
              'first',
              'second',
              ' third',
              ' fourth',
              ' fifth',
              ' sixth',
              ' seventh',
              ' eight',
              ' ninth',
              ' tenth'
            ] %}
            {% for i in range(2, 11) -%}

              {{ CCSInput({
                      label: {
                        html: requirement.OCDS.title | replace("first",numberWord[i]) +"<a href='"+i+"' class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden' title='delete'> X </a>",
                        classes: "govuk-label govuk-label--m"
                      },
                      id: "rfp_question_"+i,
                      name: "rfp_question_"+i,
                      classes: "add",
                      value: requirement.nonOCDS.options[i-1].value
                    })
                }}

            {%- endfor %}

            <p class="govuk-body">
              {{ CCSButton({
                        text: requirement.OCDS.description,
                        attributes: {
                          id: "ccs_criteria_add"
                        },
                        classes: "govuk-button--secondary ccs-dynaform-hidden"
                      })
                  }}
            </p>

            {{ CCSInput({
                      id: "question_id",
                      name: "question_id",
                      type: "hidden",
                      value: requirement.OCDS.id
                    })
                }}
          {% endif %}
        {% endblock %}

        {% block valuewitNoMultiSelect %}
          {% if (requirement.nonOCDS.questionType === 'Value') and (requirement.nonOCDS.multiAnswer === false) %}
            {% if requirement.OCDS.id == "Question 13"%}
              <div class="govuk-!-margin-bottom-9">
                <label class="govuk-label govuk-label--m">{{requirement.OCDS.title}}</label>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-3">
                  <strong>{{organizationName}}</strong>
                </p>
              </div>
            {% else %}
              {{  CCSInput({
                        label: {
                          text: requirement.OCDS.title,
                          classes: "govuk-label govuk-label--m"
                        },
                        hint: {
                          text: requirement.OCDS.description
                        },
                        id: "rfp_contracting_auth",
                        name:requirement.OCDS.title | replace(" ", "_"),
                        value: requirement.nonOCDS.options[1].value
                      })
                  }}

              {{  CCSInput({
                        id: "question_id",
                        name: "question_id",
                        type: "hidden",
                        value: requirement.OCDS.id
                      })
                  }}
            {% endif %}
          {% endif %}
          {% if (requirement.nonOCDS.questionType === 'Date') 
            or(requirement.nonOCDS.questionType === 'Duration') and (requirement.nonOCDS.multiAnswer === false) %}
            {% if requirement.OCDS.id == "Question 11"%}
              <div class="govuk-form-group durations">
                <div class="govuk-fieldset" role="group" aria-describedby="rfp_resource_start_date-hint">
                  <legend class="govuk-fieldset__legend govuk-label--m">
                    {{requirement.OCDS.title}}
                  </legend>
                  <div id="rfp_resource_start_date-hint" class="govuk-hint">
                    <div id="{{agreement}}" class="agreement_no">
                      <p class="govuk-body" id="p_expirydate">{{requirement.OCDS.description | nl2br | safe}}</p>
                    </div>
                    <p id="event-name-error-date" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <p id="event-name-error-month" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <p id="event-name-error-year" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <div class="govuk-date-input" id="rfp_resource_start_date">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">

                          {{ CCSInput({
                            label: {
                              text: "Day",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_resource_start_date-day"
                            },
                            id: "rfp_resource_start_date-day",
                            name: "rfp_resource_start_date-day",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[0].value,
                            max: 31,
                            min: 1
                          }) }}
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {{ CCSInput({
                            label: {
                              text: "Month",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_resource_start_date-month"
                            },
                            id: "rfp_resource_start_date-month",
                            name: "rfp_resource_start_date-month",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[1].value,
                            max: "12",
                            min: "0",
                            maxlength: "2"
                          }) }}
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {{ CCSInput({
                            label: {
                              text: "Year",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_resource_start_date-year"
                            },
                            id: "rfp_resource_start_date-year",
                            name: "rfp_resource_start_date-year",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-4",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[2].value,
                            max: "2023",
                            min: "2021",
                            maxlength: "4"
                          }) }}
                          {{ CCSInput({
                              id: "question_id",
                              name: "question_id",
                              type: "hidden",
                              value: requirement.OCDS.id
                            })
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="govuk-form-group p_durations">
                  <div class="govuk-fieldset" role="group" aria-describedby="rfp_duration-hint">
                    <legend class="govuk-fieldset__legend govuk-label--m">
                      {{requirement.OCDS.title}} (Optional)
                  </legend>
                    <div id="rfp_duration-hint" class="govuk-hint">
                      <p class="govuk-body">{{requirement.OCDS.description | nl2br | safe}}</p>
                    </div>
                    <p id="event-name-error-pdate" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <p id="event-name-error-pmonth" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <p id="event-name-error-pyear" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>

                    <div class="govuk-date-input" id="rfp_duration">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {{ CCSInput({
                            label: {
                              text: "Years",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_duration-years"
                            },
                            id: "rfp_duration-years",
                            name: "rfp_duration-years",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[0].value,
                            max: "4",
                            min: "0",
                            maxlength: "1"
                          }) }}
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {{ CCSInput({
                            label: {
                              text: "Month",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_duration-months"
                            },
                            id: "rfp_duration-months",
                            name: "rfp_duration-months",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[1].value,
                            max: "12",
                            min: "0",
                            maxlength: "2"
                          }) }}
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {{ CCSInput({
                            label: {
                              text: "Days",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_duration-days"
                            },
                            id: "rfp_duration-days",
                            name: "rfp_duration-days",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[2].value,
                            max: "31",
                            min: "0",
                            maxlength: "2"
                          }) }}
                          {{ CCSInput({
                              id: "question_id",
                              name: "question_id",
                              type: "hidden",
                              value: requirement.OCDS.id
                            })
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endblock %}

          {% block Percentage%}
            {% if (requirement.nonOCDS.questionType === 'Percentage') and (requirement.nonOCDS.multiAnswer === false) %}
              <p>
                <b>{{ requirement.OCDS.title  }}</b>
              </p>
              <p> [ Range : X - XX %] </p>
              {{ CCSInput({
                        label: {
                          text: ""
                        },
                        classes: "govuk-input--width-5 govuk-!-margin-bottom-3",
                        id: requirement.OCDS.id,
                        value: requirement.nonOCDS.options[0].value,
                        name: "percentage",
                        suffix: {
                          text: "%"
                        }
                      }) }}

              {% if- (requirement.OCDS.title === 'Social value group') %}
              <div>
                {{ CCSInsetText({
                      text: "<b> The Total weighting is : 100 % </b> <br> [ Description, you'll be able to add the specific weightings for your quality assessment base in the next screen ]." | safe
                    }) }}

              </div>
              {%endif%}
              {{  CCSInput({
                        id: "question_id",
                        name: "question_id",
                        type: "hidden",
                        value: requirement.OCDS.id
                      })
                      }}
            {% endif %}
          {% endblock %}

          {% block TextSelect%}
            {% if (requirement.nonOCDS.questionType == 'Text') and (requirement.nonOCDS.multiAnswer == false) %}

              {% set word = requirement.OCDS.title | replace(".", "") %}

              {{  CCSTextarea({
                      name: "rfp_prob_statement_"+word | last,
                      required: requirement.nonOCDS.mandatory,
                      id: "rfp_prob_statement_"+word | last,
                      value: requirement.nonOCDS.options[0].value,
                      label: {
                      text: requirement.OCDS.title,
                      classes: "govuk-label govuk-label--m"
                      }
                    })
                }}

              {{  CCSInput({
                      id: "question_id",
                      name: "question_id",
                      type: "hidden",
                      value: requirement.OCDS.id
                    })
                }}

              {%endif%}
            {% endblock %}
            {% block singleSelect%}
              {% if (requirement.nonOCDS.questionType == 'SingleSelect') and (requirement.nonOCDS.multiAnswer == false) %}
                <p>
                  <span id="rfp_singleSelect" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span></span>
                </p>
                <div class="govuk-form-group">
                  <div class="govuk-radios">
                    <br>
                    {% set radioArray = [] %}
                    {% for i in range(0, requirement.nonOCDS.options | length) -%}
                      {% if i == 0%}
                        <div class="govuk-radios__item">
                          {%if requirement.nonOCDS.options[i].selected === true %}
                            <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-item-hint" checked>
                            {%else%}
                            <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-item-hint" >
                            {%endif%}
                            <label class="govuk-label govuk-radios__label ccs_rfp_vetting" for="ccs_vetting_type">
                              <h3 class="govuk-heading-m">{{requirement.nonOCDS.options[i].value}}</h3>
                            </label>
                            <div id="ccs_vetting_type-item-hint" class="govuk-hint govuk-radios__hint">
                              {{requirement.nonOCDS.options[i].text | safe}}
                            </div>
                          </div>
                          {% if requirement.nonOCDS.options[i].value === 'Yes'%}
                            <div class="govuk-radios__conditional" id="conditional-rfp_radio_security_confirmation" hidden>
                              <div class="govuk-form-group yeswho">
                                {{ CCSInput({
                                      label: {
                                        text: "[ Please enter the name of the incumbent supplier]",
                                        classes: "govuk-label govuk-date-input__label",
                                        for: "rfp_security_confirmation"
                                      },
                                      id: "rfp_security_confirmation",
                                      name: "rfp_security_confirmation",
                                      classes: "govuk-input govuk-!-width-one-third",
                                      type: "text", 
                                      inputmode:"numeric",
                                      min: "0"
                                  }) }}
                              </div>
                            </div>
                            {%endif%}
                          {% else %}

                            <div class="govuk-radios__item">
                              {%if requirement.nonOCDS.options[i].selected === true %}
                                <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type-{{i+1}}" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-{{i}}-item-hint" checked>
                                {%else%}
                                <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type-{{i+1}}" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-{{i}}-item-hint" >
                              {% endif %}
                              <label class="govuk-label govuk-radios__label ccs_rfp_vetting" for="ccs_vetting_type-{{i}}">
                                <h3 class="govuk-heading-m">{{requirement.nonOCDS.options[i].value}}</h3>
                              </label>
                              <div id="ccs_vetting_type-{{i}}-item-hint" class="govuk-hint govuk-radios__hint">
                                {{requirement.nonOCDS.options[i].text |safe}}
                              </div>
                            </div>
                            {%endif%}
                          {%- endfor %}
                        </div>
                      </div>
                      <br>
                      {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          })
                      }}

                    {% endif %}
                  {% endblock %}

                  {%block singleInputSelect %}

                    {% if (requirement.nonOCDS.questionType === 'KeyValuePair') and (requirement.nonOCDS.multiAnswer === false) %}
                      <h2>
                        {{requirement.OCDS.title}}
                      </h2>
                      {{ CCSInput({
                            label: {
                              text: ""
                            },
                            id: "rfp_term_1",
                            name: "term",
                            classes: "rfp_term_1",
                            value: requirement.nonOCDS.options[0].value
                          })
                      }}

                      {%endif%}
                    {% endblock %}

                    {% block KeySelect%}
                      {% if (requirement.nonOCDS.questionType === 'KeyValuePair') and (requirement.nonOCDS.multiAnswer === true)and form_name !== 'ccs_rfp_acronyms_form' %}
                        {% call CCSFieldset({
                            legend: {
                               html: "First key user <a href="+1+"  class='clear-fields govuk-link govuk-link--no-visited-state ccs-dynaform hide remove_icon' title='clear'> X </a>",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "term_acronym_fieldset acronym_1",
                            id:"term_acronym_fieldset_acronym_1"
                          })
                        %}

                        {{ CCSInput({
                              label: {
                                text: "Write the key"
                              },
                              id: "rfp_term_1",
                              name: "term",
                              classes: "rfp_term_1",
                              value: requirement.nonOCDS.options[0].value
                            })
                          }}

                        {{ CCSTextarea({
                              name: "value",
                              id: "rfp_term_definition_1",
                              label: {
                                text: "Write a definition for the key explaining what it means"
                              },
                              classes: "rfp_term_definition_1",
                              value: requirement.nonOCDS.options[0].text
                            })
                          }}

                        {% endcall %}
                        {% set NumberWord = [
                          'Zero',
                          'First',
                          'Second',
                          ' Third',
                          ' Fourth',
                          ' Fifth',
                          ' Sixth',
                          ' Seventh',
                          ' Eight',
                          ' Ninth',
                          ' Tenth'
                        ] %}
                        {% for i in range(2, 11) -%}

                          {% call CCSFieldset({
                            legend: {
                              html: NumberWord[i]+" key<a href="+i+" class='clear-fields del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden hide remove_icon' title='delete'> X </a>",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "term_acronym_fieldset acronym_"+i,
                            id:"term_acronym_fieldset"
                          }) %}

                          {{ CCSInput({
                            label: {
                              text: "Write the key"
                            },
                            id: "rfp_term_"+i,
                            name: "term",
                            classes: "rfp_term_"+i,
                            value: requirement.nonOCDS.options[i-1].value
                          }) }}

                          {{ CCSTextarea({
                            label: {
                              text: "Write a definition for the key explaining what it means"
                            },
                            id: "rfp_term_definition_"+i,
                            name: "value",
                            spellcheck: false,
                            classes: "rfp_term_definition_"+i,
                            value: requirement.nonOCDS.options[i-1].text
                          }) }}

                          {% endcall %}

                        {%- endfor %}

                        <p class="govuk-body">
                          {{ CCSButton({
                          text: "Add another key",
                          attributes: {
                            id: "ccs_rfpTerm_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                        </p>

                        {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                        }) }}
                        <div id="rfp_keyterm"></div>
                      {% elif(requirement.nonOCDS.questionType === 'KeyValuePair') and (requirement.nonOCDS.multiAnswer === true)and form_name === 'ccs_rfp_acronyms_form' %}
                        <p>The Authority will measure the quality of the Supplier’s delivery by: Please provide information of the required service levels and/or KPIs that the Potential Bidder will be expected to achieve and against which the Supplier’s performance will be</p>
                        <h2>X service levels and key performance indicators added so far</h2>
                        {% call CCSFieldset({
                            legend: {
                               html: "Enter your first KPI / SLA <a href="+1+"  class='clear-fields govuk-link govuk-link--no-visited-state ccs-dynaform hide remove_icon' title='clear'> X </a>",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "term_acronym_fieldset acronym_1",
                            id:"term_acronym_fieldset_acronym_1"
                          })
                        %}

                        {{ CCSInput({
                              label: {
                                text: "Instructions / examples for this input field "
                              },
                              id: "rfp_term_1",
                              name: "term",
                              classes: "rfp_term_1",
                              value: requirement.nonOCDS.options[0].value
                            })
                          }}

                        {{ CCSTextarea({
                              name: "value",
                              id: "rfp_term_definition_1",
                              label: {
                                text: "Instructions / examples for this input field"
                              },
                              classes: "rfp_term_definition_1",
                              value: requirement.nonOCDS.options[0].text
                            })
                          }}
                        {{ CCSInput({
                                label: {
                                  text: "Insert the required target "
                                },
                                classes: "govuk-input--width-5 govuk-!-margin-bottom-3",
                                id: "rfp_term_target_1",
                                value: requirement.nonOCDS.options[0].value2,
                                name: "percentage",
                                suffix: {
                                  text: "%"
                                }
                              }) }}

                        {% endcall %}
                        {% set NumberWord = [
                          'zero',
                          'first',
                          'second',
                          ' third',
                          ' fourth',
                          ' fifth',
                          ' sixth',
                          ' seventh',
                          ' eight',
                          ' ninth',
                          ' tenth'
                        ] %}
                        {% for i in range(2, 11) -%}

                          {% call CCSFieldset({
                              legend: {
                                html: "Enter your "+NumberWord[i]+" KPI / SLA <a href="+1+"  class='clear-fields govuk-link govuk-link--no-visited-state ccs-dynaform hide remove_icon' title='clear'> X </a>",
                                classes: "govuk-fieldset__legend--m",
                                isPageHeading: false
                              },
                              classes: "term_acronym_fieldset acronym_"+i,
                              id:"term_acronym_fieldset"
                            })
                          %}

                          {{ CCSInput({
                                label: {
                                  text: "Enter the service area"
                                },
                                id: "rfp_term_"+i,
                                name: "term",
                                classes: "rfp_term_"+i,
                                value: requirement.nonOCDS.options[i-1].value
                              })
                            }}

                          {{ CCSTextarea({
                                name: "value",
                                id: "rfp_term_definition_"+i,
                                label: {
                                  text: "Enter the service area / KPI description"
                                },
                                classes: "rfp_term_definition_"+i,
                                value: requirement.nonOCDS.options[i-1].text
                              })
                            }}
                          {{ CCSInput({
                                  label: {
                                    text: "Insert the required target "
                                  },
                                  classes: "govuk-input--width-5 govuk-!-margin-bottom-3",
                                  id: "rfp_term_target_"+i,
                                  value: requirement.nonOCDS.options[0].value2,
                                  name: "percentage",
                                  suffix: {
                                    text: "%"
                                  }
                                }) }}
                          {% endcall %}

                        {%- endfor %}

                        <p class="govuk-body">
                          {{ CCSButton({
                          text: "Add another item",
                          attributes: {
                            id: "ccs_rfpTerm_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                        </p>

                        {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                        }) }}
                        <div id="rfp_keyterm"></div>
                      {% endif %}
                    {% endblock %}

                    {% block Address%}
                      {% if (requirement.nonOCDS.questionType === 'MultiSelect') and (requirement.nonOCDS.multiAnswer === true) %}
                        {% set countryArray = [] %}
                        {% set countryList = [] %}
                        {% for countries in requirement.nonOCDS.options %}
                          {% if countries.value !== "No specific location, for example they can work remotely" and countries.value !== "Not Applicable" %}
                            {% set countryList = (countryList.push(countries.value),countryList)%}
                            {% set countryArray = (countryArray.push({value: countries.value, text: countries.value, checked: countries.selected}), countryArray) %}
                            {%else%}
                            {% set countryList = (countryList.push(countries.value),countryList)%}
                            {% set countryArray = (countryArray.push({
                              divider: "OR"
                            }, {
                              value: countries.value,
                              text: countries.value,
                              checked: countries.selected
                            }), countryArray) %}

                            {%endif%}
                          {% endfor %}

                          {{ CCSCheckboxes({
                            idPrefix: "required_locations",
                            name: "required_locations",
                            items: countryArray
                          })
                      }}
                          {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          })
                      }}

                        {% endif %}
                      {% endblock %}

                      {% block Budget %}
                        {% if ((requirement.nonOCDS.questionType === 'Monetary') and (requirement.nonOCDS.multiAnswer === false)) %}
                          {% if (requirement.nonOCDS.mandatory === false) %}
                            {% set titleText = requirement.OCDS.title + " (optional)" %}
                          {% else %}
                            {% set titleText = requirement.OCDS.title %}
                          {% endif %}
                                ]
                        {{ CCSInput({
                            label: {
                              text: titleText,
                              classes: "govuk-label--m"
                            },
                            hint: {
                              text: requirement.OCDS.description,
                              classes: "govuk-hint"
                            },
                            prefix: {
                              text: "£"
                            },
                            id: "rfp_"+requirement.OCDS.title | replace(" ", "_") | lower,
                            name: "rfp_budget",
                            spellcheck: false,
                            classes: "govuk-input--width-5",
                            value: requirement.nonOCDS.options[0].value
                        })
                      }}

                          {{ CCSInput({
                          id: "question_id",
                          name: "question_id",
                          type: "hidden",
                          value: requirement.OCDS.id
                      })
                      }}
                        {% endif %}
                      {% endblock %}