{% from "components/breadcrumbs/macro.njk" import CCSBreadcrumbs %}
{% from "components/date-input/macro.njk" import CCSDateInput %}
{% from "components/input/macro.njk" import CCSInput %}
{% from "components/radios/macro.njk" import CCSRadios %}
{% from "components/helper/macro.njk" import helpSection %}
{% from "components/button/macro.njk" import CCSButton %}
{% from "components/fieldset/macro.njk" import CCSFieldset %}
{% from "components/select/macro.njk" import CCSSelect %}
{% from "components/error-message/macro.njk" import CCSErrorMessage %}
{% from "components/error-summary/macro.njk" import CCSErrorSummary %}
{% from "components/textarea/macro.njk" import CCSTextarea %}
{% from "components/InsetText/macro.njk" import CCSInsetText %}
{% from "components/checkboxes/macro.njk" import CCSCheckboxes %}
{% from "components/file-upload/macro.njk" import CCSFileUpload %}
{% from "components/warning-text/macro.njk" import CCSWarningText %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "components/character-count/macro.njk" import CCSCharacterCount %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/tableOfContents.njk" import onsTableOfContents %}
{% from "components/table/macro.njk" import CCSTable %}
{% from "components/questions/macro.njk" import CCSQUESTIONS %}
{% from "components/dialog/macro.njk" import CCSDialog %}
dynamicId::{{dynamicId}}
{% block RPFScoringCriteriaTable %}
{%if requirement.nonOCDS.questionType === 'Table' and form_name == 'ccs_rfp_scoring_criteria'%}
  <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               {% for table in requirement.nonOCDS.options %}
               <input type="hidden" class="tierLable" tierLable="{{table.text}}" id="tiersTableData" value="{{table.optiontableDefinationJsonString}}" >
                   {%if(table.text !=='Create your own scoring criteria')%}
                    {{ CCSTable({
                        caption: table.optiontableDefination.rows.length+' tier scoring criteria',
                        captionClasses: "govuk-table__caption--m",
                        firstCellIsHeader: true,
                        head: table.optiontableDefination.head,
                        rows:table.optiontableDefination.rows
                    }) }}
                    <br>
                    {%endif%}
                {% endfor %}
            </div>
  </div>
{{  CCSInput({
    id: "question_id",
    name: "question_id",
    type: "hidden",
    value: requirement.OCDS.id
  }) }}
   {# {{ CCSDialog({
            title:'This action will replace what you’ve entered so far and cannot be undone',
            description:'If your progress with this action, the details that you’ve entered below will be replaced by the chosen CCS default set. This action cannot be undone.',
            redirect:'javascript.void(0)',
            type:'tier-4'
        }) }}

        {{ CCSDialog({
            title:'This action will replace what you’ve entered so far and cannot be undone',
            description:'If your progress with this action, the details that you’ve entered below will be replaced by the chosen CCS default set. This action cannot be undone.',
            redirect:'javascript.void(0)',
            type:'tier-5'
        }) }} #}
        <div>
        <h1><strong>Create your scoring criteria</strong></h1>
        <p class="govuk-body">Select one of the two options below or enter the details for your own scoring criteria.</p>
        <p class="govuk-body">If you want to use the 4 or 5 level scoring criteria, select the option you want and then click 'save and continue'. </p>
        <p class="govuk-body">The minimum number of scoring levels is 2 and the maximum nuumber of scoring level is 10</p>
        </div>
     <br><br>


         <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <p class="govuk-label--l"> <strong id="tiersAdded"> {{tierNo}}  </strong> tiers added so far</h2>
            </div>
            <div class="govuk-grid-column-one-half">
                {# <a href="javascript:void(0)" onclick="selectedTiers('5')" class="govuk-link govuk-!-margin-5 govuk-link--no-visited-state tier-5-popup" title="Tier5">Use the 5-tier scoring criteria</a> #}
                {% for table in requirement.nonOCDS.options %}
                {%if table.optiontableDefination.rows.length>0 and  table.text !=='Create your own scoring criteria'%}
                <a href="javascript:void(0)"   id="tiersTableData" datta="{{table.optiontableDefinationJsonString}}"  class="tier-popup govuk-link govuk-\!-margin_scoring govuk-link--no-visited-state " title="Tier {{table.optiontableDefination.rows.length}}">Use a {{table.optiontableDefination.rows.length}}-tier scoring criteria</a>
                {%endif%}
                {# <a href="javascript:void(0)"  id="tier-4-popup" class="govuk-link govuk-!-margin-5 govuk-link--no-visited-state" title="Tier4">Use the 4-tier scoring criteria</a> #}
                {# <a href="javascript:void(0)" onclick="selectedTiers('4')" class="govuk-link govuk-!-margin-5 govuk-link--no-visited-state tier-4-popup" title="Tier4">Use a 4-tier scoring criteria</a> #}
                {% endfor %}
            </div>
        </div>
{%endif%}
{%endblock%}

{% block RPFScoringCriteria %}
{% if requirement.nonOCDS.questionType === 'Text' and ( requirement.OCDS.title =="Enter the name for this level" or requirement.OCDS.title =="Enter the name for this tier") and  requirement.nonOCDS.multiAnswer === true and form_name == 'ccs_rfp_scoring_criteria' %}

                  {% call CCSFieldset({
                            legend: {
                                classes: "govuk-fieldset__legend--m",
                                isPageHeading: false
                            },
                            classes: "score_criteria_fieldset score_criteria_1",
                            id:"score_criteria_fieldset"
                        })
                        %}
                        
                    {{ CCSInput({
                        id: 'rfp_score_criteria_name_1',
                        name: 'score_criteria_level',
                        classes: 'govuk-input govuk-input--width-20',
                        hint: {
                            html:requirement.OCDS.description 
                        },
                        label: {
                            html: "Enter the name for this level <a href='1' id='deleteButton_1' class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden' title='delete'> X </a>",
                            text: requirement.OCDS.title,
                            classes: 'govuk-label govuk-label--m'
                        }
                    }) }}
                  
               
               {{ CCSInput({
                            label: {
                              text:  'Enter the score for this level',
                              classes: "govuk-label govuk-label--m"
                            },
                            hint: {

                                text:"Make sure your scoring system doesn't overlap or cause confusion.Use whole numbers." 
                        },
                            

                            id: 'rfp_score_criteria_point_1',
                            name: 'score_criteria_points',
                            classes: "govuk-input govuk-date-input__input govuk-input--width-3",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[0].value
                          }) }}
          
                    {{  CCSTextarea({
                        id: 'rfp_score_criteria_desc_1',
                        name: 'score_criteria_desc',
                        classes: 'govuk-textarea govuk-label--m',
                        label: {
                            text: 'Enter the description for this level',
                            classes: 'govuk-label govuk-label--m'
                        },
                        hint: {

                            text:"Describe what a supplier has or hasn't done to achieve this score.Be specific and detailed."

                        }
                        })
                    }}
                  
                    {% endcall %}
       {% for i in range(2, 11) -%}
                         {% call CCSFieldset({
                            legend: {
                                classes: "govuk-fieldset__legend--m",
                                isPageHeading: false
                            },
                            classes: "score_criteria_fieldset score_criteria_"+i,
                            id:"score_criteria_fieldset"
                        })
                        %}
                        
                        {{ CCSInput({
                            id: 'rfp_score_criteria_name_'+i,
                            name: 'score_criteria_level',
                            classes: 'govuk-input govuk-input--width-20',
                            hint: {
                                text: "Use the words that best reflect the scoring level,and that can be used alongside other criteria.For example 'pass' or 'fail',or 'excellent','good','poor'"
                            },
                            label: {
                                html: "Enter the name for this level <a href='"+i+"' id='deleteButton_"+i+"' class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden' title='delete'> X </a>",
                                text: 'Enter the name for this level',
                                classes: 'govuk-label govuk-label--m'
                            }
                        }) }}
                        {{ CCSInput({
                            label: {
                                text: 'Enter the score for this level',
                                classes: 'govuk-label govuk-label--m'
                            },
                            hint: {

                                text:"Make sure your scoring system doesn't overlap or cause confusion.Use whole numbers." 
           },
                            id: 'rfp_score_criteria_point_'+i,
                            name: 'score_criteria_points',
                            classes: "govuk-input govuk-date-input__input govuk-input--width-3",
                            type: "number",
                            inputmode:"numeric"
                          }) }}

                        {{  CCSTextarea({
                            id: "rfp_score_criteria_desc_"+i,
                            name: "score_criteria_desc",
                            classes: 'govuk-textarea govuk-label--m',
                            label: {
                                text: 'Enter the description for this level',
                                classes: 'govuk-label govuk-label--m'
                            },
                            hint: {
                            text:"Describe what a supplier has or hasn't done to achieve this score.Be specific and detailed."
                            }
                        }) }}
                        
                       {% endcall %}
                    {%- endfor %}
                    
                    <p class="govuk-body">
                        {{ CCSButton({
                        text: "Add another tier",
                        attributes: {
                        id: "ccs_rfp_score_criteria_add"
                        },
                        classes: "govuk-button--secondary ccs-dynaform-hidden"
                    }) }}
                    </p>
       
  {%endif%}   
{%endblock%}

{% block TextRFP %}
  
  {% if requirement.nonOCDS.questionType === 'Text' and requirement.nonOCDS.multiAnswer === true and form_name == 'rfp_multianswer_question_form' %}
 {% set classNameNew= requirement.OCDS.id.replace(' ','')%}
    {%if dynamicId ==''%}
    {{  CCSTextarea({
      name:  requirement.OCDS.id,
      required: requirement.nonOCDS.mandatory,
      id: "fc_question_"+index+'_'+requirement.nonOCDS.order,
      value: requirement.nonOCDS.options[index-1].value,
      label: {
      text:requirement.OCDS.title,
      classes: "govuk-label govuk-label--m"
      },
      maxlength:"5000",
      dataSet:requirement.OCDS.title,      
      hint: {
              text:requirement.OCDS.description
            },
      classes:"rfp_fc_questions_description order_"+requirement.nonOCDS.order +" "+ classNameNew,
      rows:2
    }) }}
    {%else%}
{{  CCSTextarea({
      name:  requirement.OCDS.id,
      required: requirement.nonOCDS.mandatory,
      id: dynamicId,
      value: requirement.nonOCDS.options[index-1].value,
      label: {
      text:requirement.OCDS.title,
      classes: "govuk-label govuk-label--m"
      },
      maxlength:"5000",
      dataSet:requirement.OCDS.title,      
      hint: {
              text:requirement.OCDS.description
            },
      classes:"rfp_fc_questions_description order_"+requirement.nonOCDS.order +" "+ classNameNew,
      rows:2
    }) }}
    {%endif%}
     <span class="remaining_chrs_term rfp_fc_req_{{index+'_'+requirement.nonOCDS.order}}_{{requirement.OCDS.id.replace(' ','')}}">You have 5000 characters remaining</span>
    {% set qlable =  'rfp_label_question_lable_' + index+ "_"+requirement.nonOCDS.order %}
    {# <p class="character-count"><label id="{{qlable}}">You have 5000 character remaining</label></p> #}
  {%endif%}
  {% if requirement.nonOCDS.questionType === 'Percentage' and requirement.nonOCDS.multiAnswer === true  and form_name == 'rfp_multianswer_question_form'%}

    {{ CCSInput({
      label: {
        text: requirement.OCDS.title,
        classes: "govuk-label govuk-label--m"
      },
      classes: "govuk-input--width-5 govuk-!-margin-bottom-3 weightage",
      id: "fc_question_precenate_"+index,
      value: requirement.nonOCDS.options[index-1].value,
      name: requirement.OCDS.id,
      suffix: {
        text: "%"
      },
      hint: {
              text:requirement.OCDS.description
            },
      type:"number"
    }) }}

  {%endif%}
  {# {% if requirement.nonOCDS.questionType === 'Text' and requirement.nonOCDS.multiAnswer === true and requirement.nonOCDS.childern.length === 0 %}
    {{  CCSTextarea({
                  name: "value",
                  required: requirement.nonOCDS.mandatory,
                  id: "value",
                  value: requirement.nonOCDS.options[0].value,
                  label: {
                  text: requirement.OCDS.title,
                  classes: "govuk-label govuk-label--m"
                  }
                })
            }}
  {%endif%} #}

  {{  CCSInput({
    id: "question_id",
    name: "question_id",
    type: "hidden",
    value: requirement.OCDS.id
  }) }}

{%endblock%}

        {% block value %}
          {% if requirement.nonOCDS.questionType === 'Value' and requirement.nonOCDS.multiAnswer === true %}
            <br>
            <br>
            {{ CCSInput({
                      label: {
                        text: requirement.OCDS.title,
                        classes: "govuk-label govuk-label--m"
                      },
                      id: "rfp_question_1",
                      name: "rfp_question_1",
                      value: requirement.nonOCDS.options[0].value
                    })
                }}
            {% set numberWord = [
              'Zero',
              'First',
              'Second',
              ' Third',
              ' Fourth',
              ' Fifth',
              ' Sixth',
              ' Seventh',
              ' Eighth',
              ' Ninth',
              ' Tenth'
            ] %}
            {% for i in range(2, 11) -%}

              {{ CCSInput({
                      label: {
                        html: requirement.OCDS.title | replace("first",numberWord[i]) +"<a href='"+i+"' class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden' title='delete'> X </a>",
                        classes: "govuk-label govuk-label--m"
                      },
                      id: "rfp_question_"+i,
                      name: "rfp_question_"+i,
                      classes: "add",
                      value: requirement.nonOCDS.options[i-1].value
                    })
                }}

            {%- endfor %}

            <p class="govuk-body">
              {{ CCSButton({
                        text: requirement.OCDS.description,
                        attributes: {
                          id: "ccs_criteria_add"
                        },
                        classes: "govuk-button--secondary ccs-dynaform-hidden"
                      })
                  }}
            </p>

            {{ CCSInput({
                      id: "question_id",
                      name: "question_id",
                      type: "hidden",
                      value: requirement.OCDS.id
                    })
                }}
          {% endif %}
        {% endblock %}

        {% block valuewitNoMultiSelect %}
          {% if (requirement.nonOCDS.questionType === 'Value') and (requirement.nonOCDS.multiAnswer === false) %}
            {% if requirement.OCDS.id == "Question 13"%}
              <div class="govuk-!-margin-bottom-9">
                <label class="govuk-label govuk-label--m">{{requirement.OCDS.title}}</label>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-3">
                  <strong>{{organizationName}}</strong>
                </p>
              </div>
            {% else %}
              {{  CCSInput({
                        label: {
                          text: requirement.OCDS.title,
                          classes: "govuk-label govuk-label--m"
                        },
                        hint: {
                          text: requirement.OCDS.description
                        },
                        id: "rfp_contracting_auth",
                        name:requirement.OCDS.title | replace(" ", "_"),
                        value: requirement.nonOCDS.options[0].value
                      })
                  }}

              {{  CCSInput({
                        id: "question_id",
                        name: "question_id",
                        type: "hidden",
                        value: requirement.OCDS.id
                      })
                  }}
            {% endif %}
          {% endif %}
          {% if (requirement.nonOCDS.questionType === 'Date') 
            or(requirement.nonOCDS.questionType === 'Duration') and (requirement.nonOCDS.multiAnswer === false) %}
            {% if requirement.OCDS.id == "Question 11"%}
              <div class="govuk-form-group durations">
                <div class="govuk-fieldset" role="group"  aria-describedby="rfp_resource_start_date-hint">
                  <legend class="govuk-fieldset__legend govuk-label--m">
                    {{requirement.OCDS.title}}
                  </legend>
                  <div id="rfp_resource_start_date-hint" class="govuk-hint">
                    <div id="{{agreement}}" class="agreement_no">
                      <p class="govuk-body" id="p_expirydate">{{requirement.OCDS.description | nl2br | safe}}</p>
                    </div>
                    <p id="event-name-error-date" class="govuk-error-message resource_start_date">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <p id="event-name-error-month" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <p id="event-name-error-year" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <div class="govuk-date-input" id="rfp_resource_start_date">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {%set rfp_resource_start_date_day='rfp_resource_start_date_day_'+requirement.OCDS.id.trim().replace(' ','')%}
                          {{ CCSInput({
                            label: {
                              text: "Day",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_resource_start_date-day"
                            },
                            id: rfp_resource_start_date_day,
                            name: rfp_resource_start_date_day,
                            classes: "govuk-input rfp_resource_start_day govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[0].value,
                            max: 31,
                            min: 1
                          }) }}
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {%set rfp_resource_start_date_month='rfp_resource_start_date_month_'+requirement.OCDS.id%}
                          {{ CCSInput({
                            label: {
                              text: "Month",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_resource_start_date-month"
                            },
                            id: rfp_resource_start_date_month,
                            name: rfp_resource_start_date_month,
                            classes: "govuk-input rfp_resource_start_month govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[1].value,
                            max: "12",
                            min: "0",
                            maxlength: "2"
                          }) }}
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {%set rfp_resource_start_date_year='rfp_resource_start_date_year_'+requirement.OCDS.id%}

                          {{ CCSInput({
                            label: {
                              text: "Year",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_resource_start_date-year"
                            },
                            id: rfp_resource_start_date_year,
                            name: rfp_resource_start_date_year,
                            classes: "govuk-input rfp_resource_start_year govuk-date-input__input govuk-input--width-4",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[2].value,
                            maxlength: "4"
                          }) }}
                          {{ CCSInput({
                              id: "question_id",
                              name: "question_id",
                              type: "hidden",
                              value: requirement.OCDS.id
                            })
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}
                 {%set rfp_duration_years='rfp_duration-years_'+requirement.OCDS.id.trim().replace(' ','')%}
                 {%set rfp_duration_months='rfp_duration_months_'+requirement.OCDS.id.trim().replace(' ','')%}
                 {%set rfp_duration_days='rfp_duration_days_'+requirement.OCDS.id.trim().replace(' ','')%}
                <div class="govuk-form-group {{rfp_duration_years}} p_durations">
   <div class="govuk-fieldset" role="group" aria-describedby="rfp_duration-hint">
      <legend class="govuk-fieldset__legend govuk-label--m">
         {{requirement.OCDS.title}} (Optional)
      </legend>
      <div id="rfp_duration-hint" class="govuk-hint">
         <p class="govuk-body">{{requirement.OCDS.description | nl2br | safe}}</p>
      </div>
      <p id="event-name-error-pdate" class="govuk-error-message p_durations_pday_25 p_durations_pday_{{rfp_duration_days}} p_durations_{{rfp_duration_years}} p_durations_{{rfp_duration_months}} p_durations_{{rfp_duration_days}}">
         <span class="govuk-visually-hidden">Error:</span>
      </p>
      <p id="event-name-error-pmonth" class="govuk-error-message p_durations_pmonth_{{rfp_duration_months}}">
         <span class="govuk-visually-hidden">Error:</span>
      </p>
      <p id="event-name-error-pyear" class="govuk-error-message p_durations_pyear_{{rfp_duration_years}}">
         <span class="govuk-visually-hidden">Error:</span>
      </p>
      <div class="govuk-date-input" id="rfp_duration">
         <div class="govuk-date-input__item">
            <div class="govuk-form-group">
               {{ CCSInput({
               label: {
               text: "Years",
               classes: "govuk-label govuk-date-input__label",
               for: "rfp_duration-years"
               },
               id: rfp_duration_years,
               name: rfp_duration_years,
               classes: "govuk-input rfp_duration rfp_duration_year_25 govuk-date-input__input govuk-input--width-4",
               type: "number", 
               inputmode:"numeric",
               value: requirement.nonOCDS.options[0].value,
               max: "4",
               min: "0",
               maxlength: "1"
               }) }}
            </div>
         </div>
         <div class="govuk-date-input__item">
            <div class="govuk-form-group">
               {{ CCSInput({
               label: {
               text: "Month",
               classes: "govuk-label govuk-date-input__label",
               for: "rfp_duration-months"
               },
               id: rfp_duration_months,
               name: rfp_duration_months,
               classes: "govuk-input rfp_duration rfp_duration_month_25 govuk-date-input__input govuk-input--width-2",
               type: "number", 
               inputmode:"numeric",
               value: requirement.nonOCDS.options[1].value,
               max: "12",
               min: "0",
               maxlength: "2"
               }) }}
            </div>
         </div>
         <div class="govuk-date-input__item">
            <div class="govuk-form-group">
               {{ CCSInput({
               label: {
               text: "Days",
               classes: "govuk-label govuk-date-input__label",
               for: "rfp_duration-days"
               },
               id: rfp_duration_days,
               name: rfp_duration_days,
               classes: "govuk-input rfp_duration rfp_duration_day_25 govuk-date-input__input govuk-input--width-2",
               type: "number", 
               inputmode:"numeric",
               value: requirement.nonOCDS.options[2].value,
               max: "31",
               min: "0",
               maxlength: "2"
               }) }}
               {{ CCSInput({
               id: "question_id",
               name: "question_id",
               type: "hidden",
               value: requirement.OCDS.id
               })
               }}
            </div>
         </div>
      </div>
   </div>
</div>
              {% endif %}
            {% endif %}
          {% endblock %}

          {% block Percentage%}
            {% if (requirement.nonOCDS.questionType === 'Percentage') and (requirement.nonOCDS.multiAnswer === false) %}
              
              <p>
                <b>{{ requirement.OCDS.title  }}</b>
              </p>
              <p id="event-name-error-{{requirement.OCDS.id.replace(" ","")}}" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
               </p>
                    
              <p id="range_p{{requirement.OCDS.id.replace(" ","")}}" range="{{requirement.OCDS.minValue.amount}}-{{requirement.OCDS.maxValue.amount}}">  Range : {{requirement.OCDS.minValue.amount}} - {{requirement.OCDS.maxValue.amount}} % </p>
              {{ CCSInput({
                        label: {
                          text: ""
                        },
                        classes: "govuk-input--width-5 govuk-!-margin-bottom-3",
                        id: requirement.OCDS.id,
                        value: requirement.nonOCDS.options[0].value,
                        name: "percentage",
                        suffix: {
                          text: "%"
                        },
                        type:"number"

                      }) }}

              {% if- (requirement.OCDS.title === 'Price' or requirement.OCDS.title === 'Social value') %}
              <div>
                {{ CCSInsetText({
                      text: "<b> The total weighting is : <span id='totalPercentage'>100</span>% </b> " | safe
                    }) }}

              </div>
              {%endif%}
              {{  CCSInput({
                        id: "question_id",
                        name: "question_id",
                        type: "hidden",
                        value: requirement.OCDS.id
                      })
                      }}
            {% endif %}
          {% endblock %}

          {% block TextSelect%}
            {% if (requirement.nonOCDS.questionType == 'Text') and (requirement.nonOCDS.multiAnswer == false) %}

              {% set word = requirement.OCDS.title | replace(".", "") %}
              {% set word = word | replace(":", "") %}
              {% if(word) %}
              {{  CCSTextarea({
                      name: "rfp_prob_statement_"+word | last,
                      required: requirement.nonOCDS.mandatory,
                      id: "rfp_prob_statement_"+word | last,
                      value: requirement.nonOCDS.options[index-1].value,
                      classes:"rfp_background_procurement_textarea",
                      maxlength:"5000",
                      label: {
                      text: requirement.OCDS.title,
                      classes: "govuk-label govuk-label--m"
                      }
                    })
                }}
                <span class="remaining_chrs_term" id="{{word | last}}">You have 5000 characters remaining</span>
              {% else %}
              {{  CCSTextarea({
                      name: "rfp_prob_statement_1",
                      required: requirement.nonOCDS.mandatory,
                      id: "rfp_prob_statement_1",
                      value: requirement.nonOCDS.options[index-1].value,
                      classes:"rfp_background_procurement_textarea",
                      maxlength:"5000",
                      label: {
                      text: requirement.OCDS.title,
                      classes: "govuk-label govuk-label--m"
                      }
                    })
                }}
                <span class="remaining_chrs_term" id="1">You have 5000 characters remaining</span>              
               {% endif %}
              {{  CCSInput({
                      id: "question_id",
                      name: "question_id",
                      type: "hidden",
                      value: requirement.OCDS.id
                    })
                }}

              {%endif%}
            {% endblock %}
            {% block singleSelect%}
              {% if (requirement.nonOCDS.questionType == 'SingleSelect') and (requirement.nonOCDS.multiAnswer == false) %}
                <p>
                  <span id="rfp_singleSelect" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span></span>
                </p>
                <div class="govuk-form-group">
                  <div class="govuk-radios">
                    <br>
                    {% set radioArray = [] %}
                    {% for i in range(0, requirement.nonOCDS.options | length) -%}
                      {% if i == 0%}
                        <div class="govuk-radios__item">
                          {%if requirement.nonOCDS.options[i].selected === true %}
                            <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-item-hint" checked>
                           
                            {%else%}
                            <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-item-hint" >
                            {%endif%}
                            <label class="govuk-label govuk-radios__label ccs_rfp_vetting" for="ccs_vetting_type">
                              <h3 class="govuk-heading-m">{{requirement.nonOCDS.options[i].value}}</h3>
                            </label>
                            <div id="ccs_vetting_type-item-hint" class="govuk-hint govuk-radios__hint">
                              {{requirement.nonOCDS.options[i].text | safe}}
                            </div>
                          </div>
                          {% if requirement.nonOCDS.options[i].value === 'Yes'%}
                            <div class="govuk-radios__conditional" id="conditional-rfp_radio_security_confirmation" hidden>
                              <div class="govuk-form-group yeswho">
                                {{ CCSInput({
                                      label: {
                                        text: "[ Please enter the name of the incumbent supplier]",
                                        classes: "govuk-label govuk-date-input__label",
                                        for: "rfp_security_confirmation"
                                      },
                                      id: "rfp_security_confirmation",
                                      name: "rfp_security_confirmation",
                                      classes: "govuk-input govuk-!-width-one-third",
                                      type: "text", 
                                      value:requirement.nonOCDS.childern[0].nonOCDS.options[0].value,
                                      min: "100"
                                  }) }}
                              </div>
                            </div>
                            {%endif%}
                          {% else %}

                            <div class="govuk-radios__item">
                              {%if requirement.nonOCDS.options[i].selected === true %}
                                <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type-{{i+1}}" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-{{i}}-item-hint" checked>
                                {%else%}
                                <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type-{{i+1}}" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-{{i}}-item-hint" >
                              {% endif %}
                              <label class="govuk-label govuk-radios__label ccs_rfp_vetting" for="ccs_vetting_type-{{i}}">
                                <h3 class="govuk-heading-m">{{requirement.nonOCDS.options[i].value}}</h3>
                              </label>
                              <div id="ccs_vetting_type-{{i}}-item-hint" class="govuk-hint govuk-radios__hint">
                                {{requirement.nonOCDS.options[i].text |safe}}
                              </div>
                            </div>
                            {%endif%}
                          {%- endfor %}
                        </div>
                      </div>
                      <br>
                      {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          })
                      }}

                    {% endif %}
                  {% endblock %}

                  {%block singleInputSelect %}

                    {% if (requirement.nonOCDS.questionType === 'KeyValuePair') and (requirement.nonOCDS.multiAnswer === false) %}
                      <h2>
                        {{requirement.OCDS.title}}
                      </h2>
                      {{ CCSInput({
                            label: {
                              text: ""
                            },
                            id: "rfp_term_1",
                            name: "term",
                            classes: "rfp_term_1",
                            value: requirement.nonOCDS.options[0].value
                          })
                      }}

                      {%endif%}
                    {% endblock %}

                    {% block KeySelect%}
                      {% if (requirement.nonOCDS.questionType === 'KeyValuePair') and (requirement.nonOCDS.multiAnswer === true) and form_name !== 'service_levels_kpi_form' and  form_name !== 'ccs_rfp_acronyms_form' and form_name !== 'service_user_type_form' %}
                        {% call CCSFieldset({
                            legend: {
                               html: "First key user <a href="+1+"  class='clear-fields govuk-link govuk-link--no-visited-state ccs-dynaform hide remove_icon' title='clear'> X </a>",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "term_acronym_fieldset acronym_1",
                            id:"term_acronym_fieldset_acronym_1"
                          })
                        %}

                        {{ CCSInput({
                              label: {
                                text: "Write the key"
                              },
                              id: "rfp_term_1",
                              name: "term",
                              classes: "rfp_term_1",
                              value: requirement.nonOCDS.options[0].value
                            })
                          }}

                        {{ CCSTextarea({
                              name: "value",
                              id: "rfp_term_definition_1",
                              label: {
                                text: "Write a definition for the key explaining what it means"
                              },
                              classes: "rfp_term_definition_1",
                              value: requirement.nonOCDS.options[0].text
                            })
                          }}

                        {% endcall %}
                        {% set NumberWord = [
                          'Zero',
                          'First',
                          'Second',
                          ' Third',
                          ' Fourth',
                          ' Fifth',
                          ' Sixth',
                          ' Seventh',
                          ' Eighth',
                          ' Ninth',
                          ' Tenth'
                        ] %}
                        {% for i in range(2, 11) -%}

                          {% call CCSFieldset({
                            legend: {
                              html: NumberWord[i]+" key<a href="+i+" class='clear-fields del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden hide remove_icon' title='delete'> X </a>",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "term_acronym_fieldset acronym_"+i,
                            id:"term_acronym_fieldset"
                          }) %}

                          {{ CCSInput({
                            label: {
                              text: "Write the key"
                            },
                            id: "rfp_term_"+i,
                            name: "term",
                            classes: "rfp_term_"+i,
                            value: requirement.nonOCDS.options[i-1].value
                          }) }}

                          {{ CCSTextarea({
                            label: {
                              text: "Write a definition for the key explaining what it means"
                            },
                            id: "rfp_term_definition_"+i,
                            name: "value",
                            spellcheck: false,
                            classes: "rfp_term_definition_"+i,
                            value: requirement.nonOCDS.options[i-1].text
                          }) }}
                            
                          {% endcall %}

                        {%- endfor %}

                        <p class="govuk-body">
                          {{ CCSButton({
                          text: "Add another key",
                          attributes: {
                            id: "ccs_rfpTerm_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                        </p>

                        {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                        }) }}
                        <div id="rfp_keyterm"></div>
                      {% elif(requirement.nonOCDS.questionType === 'KeyValuePair') and requirement.nonOCDS.type !== 'Define your service levels and KPIs' and (requirement.nonOCDS.multiAnswer === true) and form_name === 'ccs_rfp_acronyms_form' %}
                        {# <p>Define any terms and acronyms that you have used that suppliers may not be familiar with. this will help suppliers to understand what they mean</p> #}
                        {# <h2>X service levels and key performance indicators added so far</h2> #}
                        {% call CCSFieldset({
                            legend: {
                               html: "First term or acronym  <a href='1' id='deleteButton_acronym_1' class='del clear-fields govuk-link govuk-link--no-visited-state remove_icon' title='clear'> Remove </a>",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "term_acronym_fieldset acronym_1",
                            id:"term_acronym_fieldset_acronym_1"
                          })
                        %}
                        {{ CCSInput({
                              label: {
                                text: requirement.OCDS.title
                              },
                              id: "rfp_term_1",
                              name: "term",
                              classes: "rfp_term_1",
                              value:requirement.nonOCDS.options[0].value
                            })
                          }}
                        {{ CCSTextarea({
                              name: "value",
                              id: "rfp_term_definition_1",
                              label: {
                                text: 'Write a definition for the term or acronym explaining what it means'
                              },
                              classes: "terms_acr_description_count rfp_term_definition_1",
                              value:  requirement.nonOCDS.options[0].text
                            })
                          }}

                         <span class="term_accr_des_1 remaining_chrs_term">You have 5000 characters remaining</span>

                          <br>
                        {# {{ CCSInput({
                                label: {
                                  text: "Insert the required target "
                                },
                                classes: "govuk-input--width-5 govuk-!-margin-bottom-3",
                                id: "rfp_term_target_1",
                                value: requirement.nonOCDS.options[0].value,
                                name: "percentage",
                                suffix: {
                                  text: "%"
                                }
                              }) }} #}

                        {% endcall %}
                        {% set NumberWord = [
                          'Zero',
                          'First',
                          'Second',
                          ' Third',
                          ' Fourth',
                          ' Fifth',
                          ' Sixth',
                          ' Seventh',
                          ' Eighth',
                          ' Ninth',
                          ' Tenth'
                        ] %}
                        {% for i in range(2, 11) -%}

                          {% call CCSFieldset({
                              legend: {
                                html: NumberWord[i] +" term or acronym"  +"<a href="+i+" id='deleteButton_acronym_"+i+"' class='del clear-fields govuk-link govuk-link--no-visited-state remove_icon' title='clear'> Remove </a>",
                                classes: "govuk-fieldset__legend--m",
                                isPageHeading: false
                              },
                              classes: "term_acronym_fieldset acronym_"+i,
                              id:"term_acronym_fieldset"
                            })
                          %}

                          {{ CCSInput({
                                label: {
                                  text: requirement.OCDS.title
                                },
                                id: "rfp_term_"+i,
                                name: "term",
                                classes: "rfp_term_"+i,
                                value:requirement.nonOCDS.options[i-1].value
                              })
                            }}

                          {{ CCSTextarea({
                                name: "value",
                                id: "rfp_term_definition_"+i,
                                label: {
                                  text: 'Write a definition for the term or acronym explaining what it means'
                                },
                                classes: "terms_acr_description_count rfp_term_definition_"+i,
                                value:  requirement.nonOCDS.options[i-1].text
                              })
                            }}
                          <span class="term_accr_des_{{i}} remaining_chrs_term">You have 5000 characters remaining</span>
                          <br>
                          {# {{ CCSInput({
                                  label: {
                                    text: "Insert the required target "
                                  },
                                  classes: "govuk-input--width-5 govuk-!-margin-bottom-3",
                                  id: "rfp_term_target_"+i,
                                  value: requirement.nonOCDS.options[0].value2,
                                  name: "percentage",
                                  suffix: {
                                    text: "%"
                                  }
                                }) }} #}
                          {% endcall %}

                        {%- endfor %}

                        <p class="govuk-body">
                          {{ CCSButton({
                          text: "Add another term or acronym",
                          attributes: {
                            id: "ccs_rfpTerm_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                        </p>

                        {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                        }) }}
                        <div id="rfp_keyterm"></div>
                    
                      {% elif(requirement.nonOCDS.questionType === 'KeyValuePair') and (requirement.nonOCDS.type === 'The people who will use your product or service (Optional)') and (requirement.nonOCDS.multiAnswer === true)and (form_name === 'service_user_type_form') %}

                        

                        {#<p>Define any terms and acronyms that you have used that suppliers may not be familiar with. this will help suppliers to understand what they mean</p>#}
                        {# <h2>X service levels and key performance indicators added so far</h2> #}
                        {% call CCSFieldset({
                            legend: {
                               html: "First service user type <a href='1' id='deleteButton_service_useer_type_1' class='del clear-fields govuk-link govuk-link--no-visited-state ccs-dynaform hide remove_icon' title='clear'> Remove </a>",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "term_acronym_fieldset acronym_service_1",
                            id:"term_acronym_fieldset_acronym_service_1"
                          })
                        %}
                        {{ CCSInput({
                              label: {
                                text: 'Give this group a name'
                              },
                              id: "rfp_term_service_group_1",
                              name: "term",
                              classes: "rfp_term_service_user_type_1",
                              value:  requirement.nonOCDS.options[0].value
                            })
                          }}
                        {{ CCSTextarea({
                              name: "value",
                              id: "rfp_term_more_details_1",
                              label: {
                                text: 'Enter more details about this user type'
                              },
                               maxlength:"5000",
                              classes: "rfp_term_more_description_count rfp_term_more_details_1",
                              value:requirement.nonOCDS.options[0].text
                            })
                          }}
                      <span class="rfp_term_more_details_1 remaining_chrs_term">You have 5000 characters remaining</span>
                        {% endcall %}
                        {% set NumberWord = [
                          'zero',
                          'First',
                          'Second',
                          'Third',
                          'Fourth',
                          'Fifth',
                          'Sixth',
                          'Seventh',
                          'Eighth',
                          'Ninth',
                          'Tenth'
                        ] %}
                        {% for i in range(2, 11) -%}

                          {% call CCSFieldset({
                              legend: {
                                html: NumberWord[i] +" service user type"  +"<a href="+i+" id='deleteButton_service_useer_type_"+i+"' class='del clear-fields govuk-link govuk-link--no-visited-state ccs-dynaform hide remove_icon' title='clear'> Remove </a>",
                                classes: "govuk-fieldset__legend--m",
                                isPageHeading: false
                              },
                              classes: "term_acronym_fieldset acronym_service_"+i,
                              id:"term_acronym_fieldset"
                            })
                          %}

                          {{ CCSInput({
                                label: {
                                  text: 'Give this group a name'
                                },
                                id: "rfp_term_service_group_"+i,
                                name: "term",
                                classes: "rfp_term__Service_user_type_"+i,
                                value: requirement.nonOCDS.options[i-1].text
                              })
                            }}

                          {{ CCSTextarea({
                                name: "value",
                                id: "rfp_term_more_details_"+i,
                                label: {
                                  text: 'Enter more details about this user type'
                                },
                                maxlength:"5000",
                                classes: "rfp_term_more_description_count rfp_term_more_details_"+i,
                                value: requirement.nonOCDS.options[i-1].value
                              })
                            }}
                             <span class="rfp_term_more_details_{{i}} remaining_chrs_term">You have 5000 characters remaining</span>
                          {% endcall %}
                       
                        {%- endfor %}

                        <p class="govuk-body">
                          {{ CCSButton({
                          text: "Add another service user type",
                          attributes: {
                            id: "ccs_rfpService_use_type_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                        </p>

                        {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                        }) }}
                        <div id="rfp_keyterm_service_user_type"></div>
  
                  
                      {% elif (index ===1 ) and (requirement.nonOCDS.questionType === 'KeyValuePair') and (requirement.nonOCDS.multiAnswer === true)and (form_name === 'service_levels_kpi_form') %}
                        {# <p>The Authority will measure the quality of the Supplier’s delivery by: Please provide information of the required service levels and/or KPIs that the Potential Bidder will be expected to achieve and against which the Supplier’s performance will be</p>
                        #}
                        {# kpiKeyLevel this id is used in .js file to display number of KPI added so far  #}
                        <h2> <span id="kpiKeyLevel"></span>  service levels and KPIs added</h2> 
                        <p class="govuk-top-line"></p>
                        {% call CCSFieldset({
                            legend: {
                              html: "Enter your first service level requirement or KPI <a href='1' id='remove_icon_1' data='1'  class='del clear-fields govuk-link govuk-link--no-visited-state ccs-dynaform hide remove_icon' title='clear'> Remove </a>",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "term_acronym_fieldset acronym_service_levels_KPI_1",
                            id:"term_acronym_fieldset_acronym_1"
                          })
                        %}
                        {{ CCSInput({
                              label: {
                                html:requirement.nonOCDS.options[0][0].title,
                                text: requirement.nonOCDS.options[0][0].text
                              },
                              id: "rfp_term_service_levels_KPI_1",
                              name: "term",
                              classes: "rfp_term_1",
                              value: requirement.nonOCDS.options[0][0].value
                            })
                          }}
                        {{ CCSTextarea({
                              name: "value",
                              id: "rfp_term_definition_service_levels_KPI_1",
                              label: {
                                html:requirement.nonOCDS.options[0][1].title,
                               text: requirement.nonOCDS.options[0][1].text
                              },
                              maxlength:"5000",
                              classes: "rfp_kpi_description_count rfp_term_definition_1",
                              value: requirement.nonOCDS.options[0][1].value
                            })
                          }}
                           <span class="rfp_term_kpi_description_1 remaining_chrs_term">You have 5000 characters remaining</span>
                        {{ CCSInput({
                                label: {
                                html:requirement.nonOCDS.options[0][2].title,
                                text: requirement.nonOCDS.options[0][2].text
                                },
                                classes: "govuk-input--width-5 govuk-!-margin-bottom-3",
                                id: "rfp_term_percentage_KPI_1",
                                value: requirement.nonOCDS.options[0][2].value,
                                name: "percentage",
                                suffix: {
                                  text: "%"
                                },
                                type:"number"
                              }) }}

                        {% endcall %}
                        {% set NumberWord = [
                          'Zero',
                          'First',
                          'Second',
                          ' Third',
                          ' Fourth',
                          ' Fifth',
                          ' Sixth',
                          ' Seventh',
                          ' Eighth',
                          ' Ninth',
                          ' Tenth'
                        ] %}
                        {% for i in range(2, 11) -%}

                          {% call CCSFieldset({
                              legend: {
                                html: "Enter your "+NumberWord[i]+" service level requirement or KPI <a href='"+i+"' id='remove_icon_"+i+"' data='"+i+"'  class='del clear-fields govuk-link govuk-link--no-visited-state ccs-dynaform hide remove_icon' title='clear'> Remove </a>",
                                classes: "govuk-fieldset__legend--m",
                                isPageHeading: false
                              },
                              classes: "term_acronym_fieldset acronym_service_levels_KPI_"+i,
                              id:"term_acronym_fieldset"
                            })
                          %}

                          {{ CCSInput({
                                label: {
                                  text: "Enter the service area"
                                },
                                id: "rfp_term_service_levels_KPI_"+i,
                                name: "term",
                                classes: "rfp_term_name_requirement_KPI_"+i,
                                value: requirement.nonOCDS.options[i-1][0].value
                              })
                            }}

                          {{ CCSTextarea({
                                name: "value",
                                id: "rfp_term_definition_service_levels_KPI_"+i,
                                label: {
                                  text: "Enter the service area / KPI description"
                                },
                                maxlength:"5000",
                                classes: "rfp_kpi_description_count rfp_term_desription_KPI_"+i,
                                value: requirement.nonOCDS.options[i-1][1].value
                              })
                            }}
                            <span class="rfp_term_kpi_description_{{i}} remaining_chrs_term">You have 5000 characters remaining</span>
                          {{ CCSInput({
                                  label: {
                                    text: "Insert the required target "
                                  },
                                  classes: "govuk-input--width-5 govuk-!-margin-bottom-3",
                                  id: "rfp_term_percentage_KPI_"+i,
                                  value: requirement.nonOCDS.options[i-1][2].value,
                                  name: "percentage",
                                  suffix: {
                                    text: "%"
                                  },
                                  type:"number"
                                }) }}
                          {% endcall %}

                        {%- endfor %}
                        <p class="govuk-top-line"></p>
                        <p class="govuk-body">
                          {{ CCSButton({
                          text: "Add another item",
                          attributes: {
                            id: "ccs_rfpTerm_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                        </p>

                        {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                        }) }}
                        {# <div id="rfp_keyterm"></div> #}
                      {% endif %}
                      

                    {% endblock %}

                    {% block Address%}
                      {% if (requirement.nonOCDS.questionType === 'MultiSelect') and (requirement.nonOCDS.multiAnswer === true) %}
                        {% set countryArray = [] %}
                        {% set countryList = [] %}
                        {% for countries in requirement.nonOCDS.options %}
                          {% if countries.value !== "No specific location, for example they can work remotely" and countries.value !== "Not Applicable" and countries.value !== "Service design phases do not apply to your project" %}
                            {% set countryList = (countryList.push(countries.value),countryList)%}
                            {% set countryArray = (countryArray.push({value: countries.value, text: countries.value, checked: countries.selected}), countryArray) %}
                            {%else%}
                            {% set countryList = (countryList.push(countries.value),countryList)%}
                            {% set countryArray = (countryArray.push({
                              divider: "OR"
                            }, {
                              value: countries.value,
                              text: countries.value,
                              checked: countries.selected
                            }), countryArray) %}

                            {%endif%}
                          {% endfor %}

                          {{ CCSCheckboxes({
                            idPrefix: "required_locations",
                            name: "required_locations",
                            items: countryArray
                          })
                      }}
                          {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          })
                      }}

                        {% endif %}
                      {% endblock %}

                      {% block Budget %}
                        {% if ((requirement.nonOCDS.questionType === 'Monetary') and (requirement.nonOCDS.multiAnswer === false)) %}
                          {% if (requirement.nonOCDS.mandatory === false) %}
                            {% set titleText = requirement.OCDS.title + " (optional)" %}
                          {% else %}
                            {% set titleText = requirement.OCDS.title %}
                          {% endif %}
                        {{ CCSInput({
                            label: {
                              text: titleText,
                              classes: "govuk-label--m"
                            },
                            hint: {
                              text: requirement.OCDS.description,
                              html: requirement.OCDS.description,
                              classes: "govuk-hint"
                            },
                            prefix: {
                              text: "£"
                            },
                            id: "rfp_"+requirement.OCDS.title | replace(" ", "_") | lower,
                            name: "rfp_budget",
                            spellcheck: false,
                            classes: "govuk-input--width-5",
                            value: requirement.nonOCDS.options[0].value,
                            type:"number"
                        })
                      }}

                          {{ CCSInput({
                          id: "question_id",
                          name: "question_id",
                          type: "hidden",
                          value: requirement.OCDS.id
                      })
                      }}
                        {% endif %}
                      {% endblock %}