{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Expression of Interest issued | Crown Commercial Service' %}

{% block breadCrumb %}
{{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}

{% endblock %}

{% block content %} 

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
 <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
            {{data.title}}

          </h1>
          {% include "includes/project_header.njk" %}
      </div>  

  </div>
    <br>
  <div class="govuk-panel govuk-panel--confirmation">
        <h2 class="govuk-panel__title">
          {{data.board.header}}
        </h2>
        <br><br><br>
        <div class="govuk-panel__body">
          {{data.board.ref}} <strong>{{ rfi_ref_no }} </strong><p class="govuk-body">Please quote this number, along with your project ID ({{ projPersistID }}),  if you need to contact CCS for support. You can contact CCS by phone on {{data.board.phoneno}} or <a class="govuk-link govuk-link--no-visited-state css-link-white" href="mailto:info@crowncommercial.gov.uk">{{data.board.email}}</a></p>
        </div>
      </div>
    <br>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">

      <h2 class="govuk-heading-m">What happens next</h2>

      <ol class="govuk-list govuk-list--number">
      {%for items in data.board.next %}

        <li>{{items.li}}</li>
      {%endfor %}

      </ol>
<br><br><br>
      <div class="govuk-button-group">
        {{ CCSButton({
          text: data.dashboard.title,
          href: data.dashboard.href
        }) }}
        <a href="{{data.procurement.href}}" class="govuk-link govuk-link--no-visited-state">{{data.procurement.title}} </a>
      </div>

    </div>
  </div>


  </main>
{% endblock %}

