{% extends "template.njk" %}

{% if agreementId_session == 'RM6187' %}
  {% set footerSupportLayer = true %}
  {% set fcaHelperLayer = true %}
{% endif %}

{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title = 'Name project | Contract Award Service' %}
{% set url -%}
  /projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}}
{%- endset %}

{% block breadCrumb %}
{% if agreementId_session == "RM6187" %}
{{ CCSBreadcrumbs({
    items: [
        {
            "text": "Dashboard",
            "href": "/dashboard"
        },
        {
            "text": "Choose a commercial agreement",
            "href": "/projects/choose-agreement"
        },
        {
            "text": "Procurement overview",
            "href": url
        },
        {
          "text": "Expression of Interest",
          "href": "/eoi/eoi-tasklist"
        },
        {
          "text": "Name your project",
          "href": "#"
        }
    ]
      }) }}
{% else %}
{{ CCSBreadcrumbs({
    items: [
        {
            "text": "Dashboard",
            "href": "/dashboard"
        },
        {
            "text": "Choose a commercial agreement",
            "href": "/projects/choose-agreement"
        },
        {
            "text": "Procurement overview",
            "href": url
        },
        {
          "text": "Do pre-market engagement",
          "href": "/eoi/eoi-tasklist"
        },
        {
          "text": "Name your project",
          "href": "#"
        }
    ]
      }) }}
{% endif %}  
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
{% if(error) %}

{{ CCSErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: errorText
    }
  ]
}) }}
{%endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
     {{data.title }}
    </h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
  {% include "includes/project_header.njk" %}
      <div class="govuk-inset-text">
            <p class="govuk-body">Your unique project ID is <strong>{{projectLongName}}</strong></p>
            <p class="govuk-body">
              {% if agreementId_session == 'RM6187' %}
                You should include this ID every time you contact CCS.
              {% else %}
                You should include this ID in any correspondence with CCS. 
              {% endif %}
              </p>
      </div>
    
      
      <p class="govuk-body">Please name your project. This will be the name of your contract. </p>
      {% if agreementId_session == "RM6187" %}
        <!---<a href="/eoi/eoi-tasklist">return to Expression of Interest.</a> -->
      {% else %}
        <a href="/eoi/eoi-tasklist">return to Do pre-market engagement.</a> 
      {% endif %}
      <form id="ccs_eoi_project_name_form" name="ccs_eoi_project_name_form" action="/eoi/name?procid={{procId}}" method="POST">      
        {{ csrfProtection(csrf) }} 
          
        {{ CCSCharacterCount({           
            id: data.form.input.id,
            name: data.form.input.name,
            value: projectLongName,
            classes: "nameproject",
            maxlength:250,
            rows:1
            })
        }}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <div class="govuk-button-group govuk-!-margin-top-9">
                {{ CCSButton({
                    text: "Save and continue",
                    action:"submit"
                    })
                }}
                <a href="{{data.form.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.form.backJump.title}}</a>             
              </div>
          </div>
        </div>
          
      </form>
 </div>
      <div class="govuk-grid-column-one-third">
         {{ CCSReleatedContent(releatedContent) }}
      </div>
      </div>
   </div>
  </main>
{% endblock %}