{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title =  eoiTitle + '- Create a Request for Information (EOI)' %}

{% set url -%}
/projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}}
{%- endset %}

{% block breadCrumb %}
{% if agreement_id == "RM6187" %}
  {{ CCSBreadcrumbs({
    items: [
     {
        text: "Dashboard",
        href: "/dashboard"
      },
      {
        text: "Choose a commercial agreement",
        href: "/projects/choose-agreement"
      },
      {
            text: "Procurement overview",
            href: url
        },
        {
          text: "Expression of Interest",
          href: "/eoi/eoi-tasklist"
        },
        {
          text: "Build your EoI",
          href: "/eoi/online-task-list?agreement_id="+agreement_id+"&proc_id="+proc_id+"&event_id="+event_id
      },
      {
        text: bcTitleText
      }
    ]
  }) }}
{% else %}
{{ CCSBreadcrumbs({
    items: [
     {
        text: "Dashboard",
        href: "/dashboard"
      },
      {
        text: "Choose a commercial agreement",
        href: "/projects/choose-agreement"
      },
      {
            text: "Procurement overview",
            href: url
        },
        {
          text: "Do pre-market engagement",
          href: "/eoi/eoi-tasklist"
        },
        {
          text: "Build your EoI",
          href: "/eoi/online-task-list?agreement_id="+agreement_id+"&proc_id="+proc_id+"&event_id="+event_id
      },
      {
        text: bcTitleText
      }
    ]
  }) }}
{% endif %}  
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% if(emptyFieldError)%}
      {{ CCSErrorSummary({
          titleText: "There is a problem",
          errorList: errorText
      }) }}
    {%endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 id="page-heading" class="govuk-heading-xl">
          {{eoiTitle}}
        </h1>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/project_header.njk" %}
      <p class="govuk-body">{{data.eoiTitle}}</p>

      <form id="{{form_name}}" name="{{form_name}}" class="form {{form_name}} eoi_form" action="/eoi/questionnaire?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{criterian_id}}&group_id={{group_id}}" method="post">
        {{ csrfProtection(csrf) }}
        <br>
        <p class="govuk-body">{{prompt[0] | safe}}</p>
        <p class="govuk-body">{{prompt[1] | safe}}</p>

        {% for requirement in data %}

          {% block value %}
            {% if requirement.nonOCDS.questionType === 'Value' and requirement.nonOCDS.multiAnswer === true %}
              <br>
              <br>
              {{ CCSCharacterCount({
                      label: {
                        text: requirement.OCDS.title,
                        classes: "govuk-label govuk-label--m"
                      },
                      id: "eoi_question_1",
                      name: "eoi_question_1",
                      maxlength:10000,
                      classes: "rfp_term_definition",
                      value: requirement.nonOCDS.options[0].value
                    })
                }}
              {% set numberWord = [
                'Zero',
                'first',
                'second',
                ' third',
                ' fourth',
                ' fifth',
                ' sixth',
                ' seventh',
                ' eight',
                ' ninth',
                ' tenth'
              ] %}
              {% for i in range(2, 11) -%}

               <div id="fc_question_{{i}}" class="closeCCS {{'additional' if i>1 }}">
<a href='{{i}}'  class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden' title='delete'> X </a>

                {{ CCSCharacterCount({
                      label: {
                        html: requirement.OCDS.title | replace("first",numberWord[i]) +"",
                        classes: "govuk-label govuk-label--m"
                      },
                      id: "eoi_question_"+i,
                      name: "eoi_question_"+i,
                      maxlength:10000,
                      classes: "add rfp_term_definition",
                      value: requirement.nonOCDS.options[i-1].value
                    })
                }}
</div>
              {%- endfor %}

              <p class="govuk-body">
                {{ CCSButton({
                        text: requirement.OCDS.description,
                        attributes: {
                          id: "ccs_criteria_add"
                        },
                        classes: "govuk-button--secondary ccs-dynaform-hidden"
                      })
                  }}
              </p>

              {{ CCSInput({
                      id: "question_id",
                      name: "question_id",
                      type: "hidden",
                      value: requirement.OCDS.id
                    })
                }}
            {% endif %}
          {% endblock %}

          

          {% block valuewitNoMultiSelect %}
            {% if (requirement.nonOCDS.questionType === 'Value') and (requirement.nonOCDS.multiAnswer === false) %}
              {% if requirement.OCDS.id == "Question 1"%}
                <div class="govuk-!-margin-bottom-9">
                  <label class="govuk-label govuk-label--m">{{requirement.OCDS.title}}</label>
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-3">
                    <strong>{{organizationName}}</strong>
                  </p>
                </div>
              {% else %}
                {{  CCSCharacterCount({
                        label: {
                          text: requirement.OCDS.title,
                          classes: "govuk-label govuk-label--m"
                        },
                        hint: {
                          text: requirement.OCDS.description
                        },
                        id: "eoi_contracting_auth",
                        name:requirement.OCDS.title | replace(" ", "_"),
                        value: requirement.nonOCDS.options[0].value,
                        maxlength: 500,
                        rows:"2",
                        classes:"rfpterm"
                      })
                  }}

                {{  CCSInput({
                        id: "question_id",
                        name: "question_id",
                        type: "hidden",
                        value: requirement.OCDS.id
                      })
                  }}
              {% endif %}
            {% endif %}
            {% if (requirement.nonOCDS.questionType === 'Date') 
              or(requirement.nonOCDS.questionType === 'Duration') and (requirement.nonOCDS.multiAnswer === false) %}
              {% if requirement.OCDS.id == "Question 1"%}
                <div class="govuk-form-group durations">
                  <div class="govuk-fieldset" role="group" aria-describedby="eoi_resource_start_date-hint">
                    <legend class="govuk-fieldset__legend govuk-label--m">
                      {{requirement.OCDS.title}}
                    </legend>
                    <div id="eoi_resource_start_date-hint" class="govuk-hint">
                      <div id="{{agreement}}" class="agreement_no">
                        <p class="govuk-body" id="p_expirydate">{{requirement.OCDS.description | nl2br | safe}}</p>
                      </div>
                      <p id="event-name-error-date" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                      </p>
                      <p id="event-name-error-month" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                      </p>
                      <p id="event-name-error-year" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                      </p>
                      <div class="govuk-date-input" id="eoi_resource_start_date">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">

                            {% if (requirement.nonOCDS.options[0].value | length) %}
                               {% set startdate = requirement.nonOCDS.options[0].value.split('-') %}
                            {% endif %}

                            {{ CCSInput({
                            label: {
                              text: "Day",
                              classes: "govuk-label govuk-date-input__label",
                              for: "eoi_resource_start_date-day"
                            },
                            id: "eoi_resource_start_date-day",
                            name: "eoi_resource_start_date-day",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: startdate[2],
                            max: 31,
                            min: 1
                          }) }}
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            {{ CCSInput({
                            label: {
                              text: "Month",
                              classes: "govuk-label govuk-date-input__label",
                              for: "eoi_resource_start_date-month"
                            },
                            id: "eoi_resource_start_date-month",
                            name: "eoi_resource_start_date-month",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: startdate[1],
                            max: "12",
                            min: "0",
                            maxlength: "2"
                          }) }}
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            {{ CCSInput({
                            label: {
                              text: "Year",
                              classes: "govuk-label govuk-date-input__label",
                              for: "eoi_resource_start_date-year"
                            },
                            id: "eoi_resource_start_date-year",
                            name: "eoi_resource_start_date-year",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-4",
                            type: "number", 
                            inputmode:"numeric",
                            value: startdate[0],
                            max: "2025",
                            min: "2021",
                            maxlength: "4"
                          }) }}
                            {{ CCSInput({
                              id: "question_id",
                              name: "question_id",
                              type: "hidden",
                              value: requirement.OCDS.id
                            })
                          }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="govuk-form-group p_durations">
                    <div class="govuk-fieldset" role="group" aria-describedby="eoi_duration-hint">
                      <legend class="govuk-fieldset__legend govuk-label--m">
                        {{requirement.OCDS.title}} (Optional)
                  </legend>
                      <div id="eoi_duration-hint" class="govuk-hint">
                        <p class="govuk-body">{{requirement.OCDS.description | nl2br | safe}}</p>
                      </div>
                      <p id="eoi-event-name-error-pdate" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                      </p>
                      <p id="event-name-error-pmonth" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                      </p>
                      <p id="event-name-error-pyear" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                      </p>

                      <div class="govuk-date-input" id="eoi_duration">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            {% if (agreement_id != 'RM1043.8') %}
                              {% set maxLength = 3 %}
                            {% else %}
                              {% set maxLength = 1 %}
                            {% endif %}
                            {{ CCSInput({
                            label: {
                              text: "Years",
                              classes: "govuk-label govuk-date-input__label",
                              for: "eoi_duration-years"
                            },
                            id: "eoi_duration-years",
                            name: "eoi_duration-years",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2 eoi_duration",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[0].value,
                            max: "100",
                            min: "0",
                            maxlength: maxLength
                          }) }}
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            {{ CCSInput({
                            label: {
                              text: "Month",
                              classes: "govuk-label govuk-date-input__label",
                              for: "eoi_duration-months"
                            },
                            id: "eoi_duration-months",
                            name: "eoi_duration-months",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2 eoi_duration",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[1].value,
                            max: "12",
                            min: "0",
                            maxlength: "2"
                          }) }}
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            {{ CCSInput({
                            label: {
                              text: "Days",
                              classes: "govuk-label govuk-date-input__label",
                              for: "eoi_duration-days"
                            },
                            id: "eoi_duration-days",
                            name: "eoi_duration-days",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2 eoi_duration",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[2].value,
                            max: "31",
                            min: "0",
                            maxlength: "2"
                          }) }}
                            {{ CCSInput({
                              id: "question_id",
                              name: "question_id",
                              type: "hidden",
                              value: requirement.OCDS.id
                            })
                          }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endblock %}

          {% block TextSelect%}
            {% if (requirement.nonOCDS.questionType == 'Text') and (requirement.nonOCDS.multiAnswer == false) %}

              {{  CCSCharacterCount({
                      name: "eoi_prob_statement",
                      id: "eoi_prob_statement",
                      value: requirement.nonOCDS.options[0].value,
                      maxlength: 10000,
                       classes: "rfp_term_definition",
                      label: {
                      text: "Write your key background information here",
                      classes: "govuk-label govuk-label--m"
                      }
                    })
                }}

              {{  CCSInput({
                      id: "question_id",
                      name: "question_id",
                      type: "hidden",
                      value: requirement.OCDS.id
                    })
                }}

              {%endif%}
               {% if (eoiTitle=="Special terms and conditions (Optional)") and (requirement.nonOCDS.questionType === 'Text') and (requirement.nonOCDS.multiAnswer === true) and (requirement.nonOCDS.order === 2) %}
            
               {% call CCSFieldset({
                    legend: {
                              html: "First special term or condition ",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "closeCCS term_fieldset splterm_1",
                            id:"term_fieldset_splterm_1"
                  }) %}

              {{CCSCharacterCount({
                    name: "term",
                    id: "eoi_splterm_1",
                    maxlength: 10000,
                    rows: "6",
                    classes:"rfp_term_definition",
                    label: {
                      text: "Enter the first special term or condition",
                      classes: "govuk-label--m govuk-!-font-weight-regular",
                      isPageHeading: false
                    },
                    value:requirement.nonOCDS.options[0].value
                }) }}
{%endcall %}
                {% set NumberWord = [
                  'Zero',
                  'First',
                  'Second',
                  ' Third',
                  ' Fourth',
                  ' Fifth',
                  ' Sixth',
                  ' Seventh',
                  ' Eight',
                  ' Ninth',
                  ' Tenth'
                ] %}
                {% for i in range(2, 11) -%}

                  {% call CCSFieldset({
                      legend: {
                        html: NumberWord[i]+" special term and condition<a href="+i+" class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden hide remove_icon' title='delete'> X </a>",
                        classes: "govuk-fieldset__legend--m",
                        isPageHeading: false
                      },
                      classes: "closeCCS term_fieldset splterm_"+i,
                      id:"term_fieldset"
                    }) %}
                 
                  {{CCSCharacterCount({
                            name: "term",
                            id: "eoi_splterm_"+i,
                            maxlength: 10000,
                            classes: "rfp_term_definition eoi_splterm_"+i,
                            rows: "6",
                            label: {
                              text: "Enter the "+NumberWord[i]+" special term or condition",
                              classes: "govuk-label--m govuk-!-font-weight-regular",
                              isPageHeading: false
                            },
                            value:requirement.nonOCDS.options[i-1].value
                        }) }}


     
                  {% endcall %}

                {%- endfor %}

          <p class="govuk-body">
                  {{ CCSButton({
                          text: "Add another special term or condition",
                          attributes: {
                            id: "ccs_eoisplTerm_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                </p>

                {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          }) }}
                <div id="eoi_splterm"></div>

                {%endif%}

              {% if (requirement.nonOCDS.questionType === 'Text') and (requirement.nonOCDS.multiAnswer === true) and (requirement.nonOCDS.order === 1) %}

                {% call CCSFieldset({
                    legend: {
                              html: "First special term or condition ",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "closeCCS term_fieldset splterm_1",
                            id:"term_fieldset_splterm_1"
                  }) %}

             {% if agreement_id == 'RM6187' %}
                {{CCSCharacterCount({
                    name: "term",
                    id: "eoi_splterm_1",
                    maxlength: 10000,
                    rows: "6",
                    classes:"rfp_term_definition",
                    label: {
                      text: "Enter the first special term or condition",
                      classes: "govuk-label--m govuk-!-font-weight-regular",
                      isPageHeading: false
                    },
                    value:requirement.nonOCDS.options[0].value
                }) }}
                {% else %}
                {{CCSCharacterCount({
                    name: "term",
                    id: "eoi_splterm_1",
                    maxlength: 500,
                    rows: "2",
                    classes:"rfpterm",
                    label: {
                      text: "Enter the first special term or condition",
                      classes: "govuk-label--m govuk-!-font-weight-regular",
                      isPageHeading: false
                    },
                    value:requirement.nonOCDS.options[0].value
                }) }}                
                {% endif %}
                {% if agreement_id != 'RM6187' %}
                  {{ CCSCharacterCount({
                    name: "value",
                    id: "eoi_splterm_definition_1",
                    maxlength: 10000,
                    classes:"eoi_splterm_definition_1 rfp_term_definition",
                    rows: "13",
                    label: {
                      text: "Explain the first special term or condition",
                      classes: "govuk-label--m govuk-!-font-weight-regular",
                      isPageHeading: false
                    },
                    value:requirement.nonOCDS.options[0].text
                })}} 
                {% endif %}

                {%endcall %}

                {% set NumberWord = [
                  'Zero',
                  'First',
                  'Second',
                  ' Third',
                  ' Fourth',
                  ' Fifth',
                  ' Sixth',
                  ' Seventh',
                  ' Eight',
                  ' Ninth',
                  ' Tenth'
                ] %}
                {% for i in range(2, 11) -%}

                  {% call CCSFieldset({
                      legend: {
                        html: NumberWord[i]+" special term and condition<a href="+i+" class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden hide remove_icon' title='delete'> X </a>",
                        classes: "govuk-fieldset__legend--m",
                        isPageHeading: false
                      },
                      classes: "closeCCS term_fieldset splterm_"+i,
                      id:"term_fieldset"
                    }) %}
                  {% if agreement_id == 'RM6187' %}
                  {{CCSCharacterCount({
                            name: "term",
                            id: "eoi_splterm_"+i,
                            maxlength: 10000,
                            classes: "rfp_term_definition eoi_splterm_"+i,
                            rows: "6",
                            label: {
                              text: "Enter the "+NumberWord[i]+" special term or condition",
                              classes: "govuk-label--m govuk-!-font-weight-regular",
                              isPageHeading: false
                            },
                            value:requirement.nonOCDS.options[i-1].value
                        }) }}
                        {% else %}
                        {{CCSCharacterCount({
                            name: "term",
                            id: "eoi_splterm_"+i,
                            maxlength: 500,
                            classes: "rfpterm eoi_splterm_"+i,
                            rows: "2",
                            label: {
                              text: "Enter the "+NumberWord[i]+" special term or condition",
                              classes: "govuk-label--m govuk-!-font-weight-regular",
                              isPageHeading: false
                            },
                            value:requirement.nonOCDS.options[i-1].value
                        }) }}
                        {% endif %}
                   {% if agreement_id != 'RM6187' %}
                   {{ CCSCharacterCount({
                            name: "value",
                            id: "eoi_splterm_definition_"+i,
                            maxlength: 10000,
                            rows: "13",
                            classes: "rfp_term_definition eoi_splterm_definition_"+i,
                            label: {
                              text: "Explain the "+NumberWord[i]+" special term or condition",
                              classes: "govuk-label--m govuk-!-font-weight-regular",
                              isPageHeading: false
                            },
                            value:requirement.nonOCDS.options[i-1].text
                  })}} 
                  {% endif %}
                  {% endcall %}

                {%- endfor %}

                <p class="govuk-body">
                  {{ CCSButton({
                          text: "Add another special term or condition",
                          attributes: {
                            id: "ccs_eoisplTerm_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                </p>

                {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          }) }}
                <div id="eoi_splterm"></div>
              {% endif %}

            {% endblock %}

          

            {% block singleSelect%}
              {% if (requirement.nonOCDS.questionType == 'SingleSelect') and (requirement.nonOCDS.multiAnswer == false) %}

                 <div class="govuk-form-group">
                  <div class="govuk-radios">
                    <br>
                    {% set radioArray = [] %}
                    {% for i in range(0, requirement.nonOCDS.options | length) -%}
                      {% if i == 0%}
                        <div class="govuk-radios__item">
                          {%if requirement.nonOCDS.options[i].selected === true %}
                            <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-item-hint" checked>
                            {%else%}
                            <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-item-hint" >
                            {%endif%}
                            <label class="govuk-label govuk-radios__label ccs_eoi_vetting" for="ccs_vetting_type">
                              <h3 class="govuk-heading-m">{{requirement.nonOCDS.options[i].value}}</h3>
                            </label>
                            <div id="ccs_vetting_type-item-hint" class="govuk-hint govuk-radios__hint">
                              {{requirement.nonOCDS.options[i].text | safe}}
                            </div>
                          </div>
                          {% if requirement.nonOCDS.options[i].value === 'Yes'%}
                          {% if requirement.nonOCDS.options[i].selected === true %}
                            {% set displyText = "block;" %}
                            {% else %}
                            {% set displyText = "none !important;" %}
                          {% endif %}
                            <div class="govuk-radios__conditional" id="conditional-rfp_radio_security_confirmation" style="display:{{displyText}}">
                              <div class="govuk-form-group yeswho">
                              
                             
                                {{ CCSInput({
                                      label: {
                                        text: "Enter the name of the existing supplier. For multiple suppliers, separate with a comma after each",
                                        classes: "govuk-label govuk-date-input__label",
                                        for: "rfp_security_confirmation"
                                      },
                                      id: "rfp_security_confirmation",
                                      name: "rfp_security_confirmation",
                                      classes: "govuk-input govuk-!-width-one-third",
                                      type: "text", 
                                      value:requirement.nonOCDS.childern[0].nonOCDS.options[0].value,
                                      min: "100",
                                      maxlength: 500
                                  }) }}
                              </div>
                            </div>
                            {%endif%}
                        {% else %}

                          <div class="govuk-radios__item">
                            {%if requirement.nonOCDS.options[i].selected === true %}
                              <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type-{{i+1}}" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-{{i}}-item-hint" checked>
                              {%else%}
                              <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type-{{i+1}}" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-{{i}}-item-hint" >
                            {% endif %}
                            <label class="govuk-label govuk-radios__label ccs_eoi_vetting" for="ccs_vetting_type-{{i+1}}">
                              <h3 class="govuk-heading-m">{{requirement.nonOCDS.options[i].value}}</h3>
                            </label>
                            <div id="ccs_vetting_type-{{i}}-item-hint" class="govuk-hint govuk-radios__hint">
                              {{requirement.nonOCDS.options[i].text |safe}}
                            </div>
                          </div>
                          {%endif%}
                        {%- endfor %}
                      </div>
                    </div>
                    <br>
                    {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          })
                      }}
                      {%if group_id === "Group 7" %}
                        {{ CCSInput({
                                id: "question_id",
                                name: "question_id",
                                type: "hidden",
                                value: "Question 2"
                              })
                          }}
                      {% endif %}
                  
                  {% endif %}
                {% endblock %}

                {% block KeySelect%}
                  {% if (requirement.nonOCDS.questionType === 'KeyValuePair') and (requirement.nonOCDS.multiAnswer === true) %}

                    {% call CCSFieldset({
                            legend: {
                               html: "First term or acronym",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "closeCCS term_acronym_fieldset acronym_1",
                            id:"term_acronym_fieldset_acronym_1"
                          })
                      %}

                    {{ CCSCharacterCount({
                            label: {
                              text: "Write the term or acronym"
                            },
                            id: "eoi_term_1",
                            name: "term",
                            classes: "eoi_term_1",
                            maxlength: 500,
                             rows:2,
                            value: requirement.nonOCDS.options[0].value
                          })
                      }}

                    {{ CCSCharacterCount({
                            name: "value",
                            id: "eoi_term_definition_1",
                            label: {
                              text: "Write a definition for the term or acronym explaining what it means"
                            },
                            classes: "eoi_term_definition_1",
                            maxlength: 10000,
                            value: requirement.nonOCDS.options[0].text
                          })
                      }}

                    {% endcall %}
                    {% set NumberWord = [
                      'Zero',
                      'First',
                      'Second',
                      ' Third',
                      ' Fourth',
                      ' Fifth',
                      ' Sixth',
                      ' Seventh',
                      ' Eight',
                      ' Ninth',
                      ' Tenth',
                      ' Eleventh',
                      ' Twelfth',
                      ' Thirteenth',
                      ' Fourteenth',
                      ' Fifteenth',
                      ' Sixteenth',
                      ' Seventeenth',
                      ' Eighteenth',
                      ' Nineteenth',
                      ' Twentieth'
                    ] %}
                    {% if agreement_id == "RM6187" %}
                      {% set loopSet = 21 %}
                    {%else%}
                      {% set loopSet = 11 %}
                    {% endif %}
                    {% for i in range(2, loopSet) -%}

                      {% call CCSFieldset({
                      legend: {
                        html: NumberWord[i]+" term or acronym<a href="+i+" class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden hide remove_icon' title='delete'> X </a>",
                        classes: "govuk-fieldset__legend--m",
                        isPageHeading: false
                      },
                      classes: "closeCCS term_acronym_fieldset acronym_"+i,
                      id:"term_acronym_fieldset"
                    }) %}

                      {{ CCSCharacterCount({
                        label: {
                          text: "Write the term or acronym"
                        },
                        id: "eoi_term_"+i,
                        name: "term",
                        classes: "eoi_term_"+i,
                        maxlength: 500,
                        rows:2,
                        value: requirement.nonOCDS.options[i-1].value
                      }) }}

                      {{ CCSCharacterCount({
                        label: {
                          text: "Write a definition for the term or acronym explaining what it means"
                        },
                        id: "eoi_term_definition_"+i,
                        name: "value",
                        spellcheck: false,
                        classes: "eoi_term_definition_"+i,
                        maxlength: 10000,
                        value: requirement.nonOCDS.options[i-1].text
                      }) }}

                      {% endcall %}

                    {%- endfor %}

                    <p class="govuk-body">
                      {{ CCSButton({
                          text: "Add another term or acronym",
                          attributes: {
                            id: "ccs_eoiTerm_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                    </p>

                    {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          }) }}

                        {# {% if agreement_id=='RM6187'%}
                          {% if requirement.OCDS | length > 1 %}
                          {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: "Question 2"
                          }) }}
                          {% endif %}
                          {% endif %} #}
                    <div id="eoi_keyterm"></div>
                  {% endif %}
                {% endblock %}

                {% block Address%}
                  {% if (requirement.nonOCDS.questionType === 'MultiSelect') and (requirement.nonOCDS.multiAnswer === true) %}
                    {% set countryArray = [] %}
                    {% set countryList = [] %}
                    {% for countries in requirement.nonOCDS.options %}
                      {% if countries.value !== "No specific location, for example they can work remotely" %}
                        {% set countryList = (countryList.push(countries.value),countryList)%}
                        {% set countryArray = (countryArray.push({value: countries.value, text: countries.value, checked: countries.selected}), countryArray) %}
                        {%else%}
                        {% set countryList = (countryList.push(countries.value),countryList)%}
                        {% set countryArray = (countryArray.push({value: countries.value, text: countries.value, checked: countries.selected}), countryArray) %}

                        {%endif%}
                      {% endfor %}

                      {{ CCSCheckboxes({
                            idPrefix: "required_locations",
                            name: "required_locations",
                            items: countryArray,
                            classes: "govuk-checkbox-bold"
                          })
                      }}
                      {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          })
                      }}

                    {% endif %}
                  {% endblock %}

                  {% block Budget %}
                    {% if ((requirement.nonOCDS.questionType === 'Monetary') and (requirement.nonOCDS.multiAnswer === false)) %}
                      {% if (requirement.nonOCDS.mandatory === false) %}
                        {% set titleText = requirement.OCDS.title + " (optional)" %}

                      {% else %}
                        {% set titleText = requirement.OCDS.title %}

                      {% endif %}

                      {{ CCSInput({
                            label: {
                              text: titleText,
                              classes: "govuk-label--m"
                            },
                            hint: {
                              text: requirement.OCDS.description,
                              classes: "govuk-hint"
                            },
                            
                            prefix: {
                              text: "£"
                            },
                            id: "eoi_"+requirement.OCDS.title | replace(" ", "_") | lower,
                            name: "eoi_budget",
                            spellcheck: false,
                            classes: "govuk-input--width-5 rfp_term_definition_new",
                            value: requirement.nonOCDS.options[0].value,
                            maxlength:32
                        })
                      }}

                      {{ CCSInput({
                          id: "question_id",
                          name: "question_id",
                          type: "hidden",
                          value: requirement.OCDS.id
                      })
                      }}
                    {% endif %}
                  {% endblock %}
                {% endfor %}

                {{ CCSInput({
                    id: "eoi_build_started",
                    name: "eoi_build_started",
                    type: "hidden",
                    value: true
                  })
                }}

                <div class="govuk-button-group">
                  {{ CCSButton({
                        text: "Save and continue",
                        classes:"save-button"
                      })
                  }}
                  <a href="/eoi/online-task-list?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}" class="govuk-link govuk-link--no-visited-state">Return to Build your EoI</a>
                </div>

              </form>

            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
              </div>
            </div>
          </main>
        {% endblock %}