{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title = 'Suppliers you want to approach | Crown Commercial Service' %}

{% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    {{data.title }}
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}

                <div class="govuk-inset-text">
                    <p class="govuk-body">If you'd like to look at the details for each
              suppliers please visit the <a target="_blank" rel="noopener noreferrer" href="{{lotSuppliers}}">Search suppliers</a>
                        <span class="govuk-visually-hidden">opens in a new window</span> page on the main CCS website. 
              The page will open on a new tab</p>
                </div>

                <form id="ccs-eoi-suppliers-form" class="ccs-eoi-suppliers-form" action="/eoi/suppliers" method="POST">
                    {{ csrfProtection(csrf) }}
                    <br>
                    <h2 class="govuk-heading-m">
                        <span id="added_suppliers_count">
                            {{suppliers_list.length}}
                        </span> suppliers on this lot </h2>
                    <br>
                    <div class="govuk-button-group govuk-!-margin-bottom-7">
                        {{ CCSButton({
                text: "Save and continue"
                }) }}
                        <a href="{{data.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>
                    </div>
                    <div class="govuk-form-group ccs-page-section"></div>
                    <div id="page1" >
                        <div id="supplier-list">
                            <div class="govuk-form-group ccs-page-section">
                                <h3>
                                    <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Download this list
                </a>
                                </h3>
                            </div>
                            {% for supplier in suppliers_list %}
                                <div class="govuk-form-group ccs-page-section">
                                    <h3 class="govuk-heading-m">{{supplier.organization.name}}</h3>
                                    <div id="eoi_required_suppliers-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                        {% if supplier.organization.identifier.legalName | length > 0 %}
                                            <label>{{supplier.organization.identifier.legalName}}
                                            </label>
                                            <br>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div class="govuk-button-group">
                        {{ CCSButton({
                text: "Save and continue"
                }) }}
                        <a href="{{data.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>
                    </div>

                </form>

            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>

    </main>

{% endblock %}