<div class="service-msg">
    <p><span>Having problems with this service? </span> Email <a href="mailto:feedback@example.com">feedback@example.com</a> for support.</p>
</div>
<footer class="govuk-footer footer-global no-print">
    <div class="govuk-width-container ">
            <h1  style="text-align:center; width: 100%;"> FOOTER </h1>
        </div>
    </div>
</footer>
