<header class="{% block headerclasses %}header-global{% endblock %}" {% block headerstyles %}{% endblock %}>
    <div class="ccs-width-container">
        <div class="nav-wrapper">
            HEADER
        </div>
        {% block featuredcontent %}{% endblock %}
    </div>
</header>
