<!-- If your design requires them, you should place components such as breadcrumbs,
back link and phase banner inside this wrapper so that they sit directly underneath the header. -->
<div class="govuk-phase-banner no-print">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
        <span class='hidden_msgs' id="banner-feedback"> Open feedback survey in a new tab</span>
        <span class="govuk-phase-banner__text">
            This is a new service – your
            <a aria-describedby="banner-feedback" class="govuk-link" href="https://www.smartsurvey.co.uk/s/QWDZX/" target="_blank">feedback</a>
            will help us to improve it. 
        </span>
    </p>
</div>