{% macro SelectedAgreement(Description, Id, ProjectName)) %}
<div>
  <label>Selected agreement :</label><b>{{Description}}</b>
</div>
<div>
  <label>Agreement ID:</label><b>{{Id}}</b>
</div>
<div>
  <label>Project name :</label><b>{{ProjectName}}</b>
</div>
{% endmacro %}