/*------------------------------------*\
  #Footer
\*------------------------------------*/

.footer-global {

    /*
    background-color: $ccs-footer-colour;
    color: govuk-colour("white");
    padding-top: govuk-px-to-rem(50);
    margin-top: govuk-px-to-rem(50);

    // to allow the flourish to positon itself according to the footer
    position: relative;
*/
  background-color: $ccs-footer-colour;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  color: #FFF;

}

.govuk-footer__list-item.govuk-footer__list-item {

    margin-bottom: 0;

}

.govuk-footer__link.govuk-footer__link {

    color: white;
    text-decoration: underline;

    &:visited {
        color: white;
    }
    &:hover {
        color: govuk-colour("grey-4");
        text-decoration: none;
    }
    &:focus {
        color: govuk-colour("black");
        text-decoration: none;
    }
    &:active {

        color: govuk-colour("grey-4");

    }

}

.govuk-footer__heading {

    border-color: #636363;
    color: inherit;
    margin-bottom: govuk-px-to-rem(18);
    margin-top: 0;
    padding-bottom: govuk-px-to-rem(16);

}

.social-links .govuk-footer__link {

    &:hover {

        opacity: 0.5;

    }

}


.apollo-island--emphasised + .footer-global {

    margin-top: 0;

}
