/*------------------------------------*\
  #Intro and description
\*------------------------------------*/

.intro_and_description {

}

.intro__heading {

    margin-bottom: govuk-px-to-rem(31);

}

/*
.intro__content {

    margin-bottom: govuk-px-to-rem(26);

    @include govuk-media-query($from: tablet) {
        margin-bottom: govuk-px-to-rem(60);
    }

}
*/

.intro__caption {

    margin-top: govuk-px-to-rem(30);

}
