/*------------------------------------*\
  #Intro and description
\*------------------------------------*/

.component {
    margin: govuk-px-to-rem(40) 0;

    &:first-child {
        margin-top: 0;
    }
}

@include govuk-media-query($from: desktop) {
    .component {
        margin: govuk-px-to-rem(80) 0;

        &:first-child {
            margin-top: govuk-px-to-rem(40);
        }
    }
}


.component.pillars + .component.cards {

    // This isn't ideal but currently the card list has a margin-bottom on each card to push down its next row so we offset that here
    margin-top: govuk-px-to-rem(- 70);

}
