/*------------------------------------*\
  #Phase banner
\*------------------------------------*/

.header-global .govuk-phase-banner {

    border-bottom-color: rgba(white, 0.2);

}

.header-global .govuk-phase-banner__content {

    color: white;

    .govuk-link {

        color: inherit;

        &:hover,
        &:focus,
        &:active {

            text-decoration: none;

        }

    }

}

.govuk-phase-banner {

    padding-left: 0;
    padding-right: 0;

}
