/*------------------------------------*\
  #Tables
\*------------------------------------*/

.govuk-table__cell--noborder {

    border-bottom: 0;

}

.ccs-table--framework-lots {

    margin-bottom: 0;

    td {
        vertical-align: text-top;
    }

    tr:last-child td {

        border: 0;

    }

}

.ccs-table--framework-lots .govuk-table__header,
.ccs-table--framework-lots .govuk-table__cell {

    padding-top: govuk-px-to-rem(14);
    padding-bottom: govuk-px-to-rem(14);

}

.govuk-table__cell--width-30 {

    width: 30%;

}

.ccs-table--upcoming-deals {

    margin-bottom: govuk-px-to-rem(50);

    td {

        vertical-align: text-top;

    }

}
