/*------------------------------------*\
  #Video-wrapper
\*------------------------------------*/
.video-wrapper {

    margin-top: 0;
    margin-right: 0;
    margin-left: 0;

    position: relative;
    height: 0;
    // (9/16)*100 to figure out the ratio for 16:9 videos
    padding-bottom: 56.25%;

    iframe {

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

    }

}
