/*------------------------------------*\
  #Warning text
\*------------------------------------*/

// Move padding to parent to allow for multiline texts
.govuk-warning-text {

    padding-left: 50px;

}

.govuk-warning-text__icon {

    // Manually adjust the line-height for the icon because Source Sans has a different x-height than Transport (GDS font) and looks wonky otherwise
    line-height: 24px;

}

.govuk-warning-text__text {

    padding: 0;
    font-weight: 600;

}

.govuk-warning-text__icon {

    // dynamic height offset which is doesn't require magic numbers
    top: 0;
    transform: translateY(50%);
}


.ccs-subtle-notification {

    color: #70787c;
    display: block;
    font-size: govuk-px-to-rem(18);
    font-weight: 400;

}
