/*------------------------------------*\
  #Wysiwyg
\*------------------------------------*/

.wysiwyg-content ul {

    @extend .govuk-list;
    @extend .govuk-list--bullet;

}

.wysiwyg-content ol {

    @extend .govuk-list;
    @extend .govuk-list--number;

}

.wysiwyg-content .govuk-list--checkmark,
.wysiwyg-content .govuk-list--cross {

    list-style: none;
    padding-left: 20px;

}

.wysiwyg-content h2 {

    @extend .govuk-heading-l;

}

.wysiwyg-content h3 {

    @extend .govuk-heading-m;

}

.wysiwyg-content h4 {

    @include govuk-font(20, $weight: bold);

}

.wysiwyg-content hr {

    @extend .govuk-section-break;
    @extend .govuk-section-break--m;
    @extend .govuk-section-break--visible;

}

.wysiwyg-content blockquote {

    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    font-style: italic;
    border-left: 5px solid #eeeeee;

    p {

        quotes: "“" "”" "‘" "’";

    }

    p:last-child {

        margin-bottom: 0;

    }

    p:before {

        content: open-quote;

    }

    p:after {

        content: close-quote;

    }

}



.wysiwyg-content table {

    @extend .govuk-table;

}


.responsive-video {

    position: relative;

    iframe {

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;

    }

}

// Make the video adjust for 16:9
.responsive-video.widescreen {

    padding-bottom: 56.25%;

}
