{% extends "template.njk" %}
{% if agreementId_session == 'RM6187' %}
  {% set footerSupportLayer = true %}
  {% set fcaHelperLayer = true %}
{% endif %}
{% from "macros/csrf.njk" import csrfProtection %}

{% from "components/support/macro.njk" import howToGetSupport %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/formValidationError.njk" import summary, inline %}

{% set lead = lead.OCDS.contact.email %}

{% set organisationUser = userdata%}

{% set sortedMembers = [
  {
    value: "",
    text: "Select colleague"
  }
] %}
{% for user in organisationUser %}
  {% if user.userName !== lead%}
    {% set sortedMembers = (sortedMembers.push({value: user.userName, text: user.name}), sortedMembers) %}
  {%endif %}
{% endfor %}

{% set title = 'Add colleagues | Contract Award Service' %}
{% set url -%}
  /projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}}
{%- endset %}
{% block breadCrumb %}
  {{ CCSBreadcrumbs({
       items: [
        {
        text: "Dashboard",
        href: "/dashboard"
        },
        {
        text: "Choose a commercial agreement",
        href: "/projects/choose-agreement"
        },
        {
        text: "Procurement overview",
        href: url
        },
        {
        text: "Write and publish your requirements",
        href: "/rfp/task-list"
        },
        {
        text: "Add colleagues to your project"
        }
        ]
      }) }}

{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    
    {{ summary({errors: error.summary}) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
              <strong>
                {{data.title}}
              </strong>
            </h1>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            {% include "includes/project_header.njk" %}
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
          <p class="govuk-inset-text govuk-body">{{data.content.p}}</p>
        {% if agreementId_session == 'RM1557.13' %} 
  
          <p class="govuk-body">Additional colleagues can also help you write your requirements and review and evaluate suppliers.</p>
          <p>Use the drop-down box below to add colleagues. They will need to be registered with the <a target="_blank" href="https://identify.crowncommercial.gov.uk/manage-org/register" class="govuk-link govuk-link--no-visited-state">Public Procurement Gateway and Contract Award Service.</a> </p>
          <p>If you need to wait for them to register, you can continue to the next step and come back to this later.</p>
          <p class="govuk-body">{{data.content.p4}}
          </p>

        {% else %}
            {% if(agreementId_session == 'RM1043.8' and lotId == '3') %}
              <p class="govuk-body">{{data.content.p1l3}}</p>
            {% else %}
              <p class="govuk-body">{{data.content.p1}}</p>
            {% endif %}
              
        {# {% if agreementId_session == 'RM1043.8' %}
          <p class="govuk-body">{{data.content.p5}}</p>
        {% endif %} #}

        {% if agreementId_session == "RM6187" %}
          <p>Use the drop-down box below to add colleagues. They will need to be registered with the <a target="_blank" href="https://identify.crowncommercial.gov.uk/manage-org/register">Public Procurement Gateway and Contract Award Service.</a></p>
        {% else %}
            {% if(agreementId_session == 'RM1043.8' and lotId == '3') %}
             <p class="govuk-body">{{data.content.p2l3 | safe}}
            {% else %}
              <p class="govuk-body">{{data.content.p2 | safe}}
            {% endif %}
          <a class="govuk-link govuk-link--no-visited-state"
           href="{{data.content.a1.href}}">{{data.content.a1.text}}</a>
        {% endif %}

            {% if(agreementId_session == 'RM1043.8' and lotId == '3') %}
            <p class="govuk-body">{{data.content.p3l3}}</p>
            {% else %}
            <p class="govuk-body">{{data.content.p3}}</p>
            {% endif %}

        {% if agreementId_session !== 'RM6187' and agreementId_session !== 'RM1043.8' %}
          <p class="govuk-body">If you are the lead on this project you can add four colleagues.
          If you are not the lead you can add three colleagues.</p>
        {% endif %}

            {% if(agreementId_session == 'RM1043.8' and lotId == '3') %}
            <p class="govuk-body">{{data.content.p4l3}}</p>
            {% else %}
            <p class="govuk-body">{{data.content.p4}}</p>
            {% endif %}

        {% endif %}
        <div class="ccs-page-section">
          <p class="govuk-body">Add colleagues</p>
          <form method="GET" action="/rfp/add-collaborators">
            {# {{ csrfProtection(csrf) }} #}
            
            <div class="govuk-body">
              <div class="govuk-form-group">
              
              {{ CCSSelect({
                id: "rfp_collaborators",
                name: "rfp_collaborators",
                items: sortedMembers,
                errorMessage: error.inline["rfp_collaborators"]
                })
                }}
               </div>
          
              {{ CCSButton({
              text: "Add",
              type: "submit",
              classes: "add"
              }) }}
            </div>
          </form>
        </div>
        {% if agreementId_session == 'RM1043.8' %}
          {% set addcolleaguedetails = "addcolleaguedetailsdos" %}
           {% if collaborator['fullName'] !='' %}
             {% set addcolleaguedetails = "" %}
           {% endif %}

        {% else %}
          {% set addcolleaguedetails = "" %}
        {% endif %}
        <form method="POST" action="/rfp/add-collaborator-detail" >
          {{ csrfProtection(csrf) }}
          <div class="ccs-page-section {{addcolleaguedetails}}" id="potential-collaborator">
            <div id="potential-collaborator-detail">
              <p class="govuk-body" >
                <strong>{{data.content.collegue.name}}
                </strong>
                <span id="show_collab_name" >
                  {{collaborator['fullName']}}</span>
              </p>
              <p class="govuk-body">
                <strong>{{data.content.collegue.email}}
                </strong>
                <span id="show_collab_email" >
                  {{collaborator['email']}}
                  <span></p>
                  <p class="govuk-body">
                    <strong>{{data.content.collegue.tel}}
                    </strong>
                    <span id="show_collab-phone">{{collaborator['tel']}}</span>
                  </p>
               

                {{ CCSInput({
              id: "rfp_collaborator_append",
              name: "rfp_collaborators",
              type: "hidden",
              value: collaborator['email']
              }) }}

              {% if agreementId_session == 'RM1557.13' %}
                  {{ CCSButton({
                      text: "Add another colleague",
                      attributes: {
                      id: "ccs_collab_add"
                      },
                      classes: "govuk-button--secondary"
                  }) }}
              {% else %}
                  {{ CCSButton({
                      text: "Add colleague",
                      attributes: {
                      id: "ccs_collab_add"
                      },
                      classes: "govuk-button--secondary"
                  }) }}
              {% endif %}
               </div>
              </div>

            </form>
            <div id="collaborators-section">
              {% for collaborator in collaborators %}
                {% if collaborator.OCDS.contact.email !== lead %}
                  <div class="ccs-page-section" id="rfi_collaborator_{{collaborator.OCDS.id}}">
                    <div id="collaborator-detail">
                      <a href='/rfp/delete-collaborators?id={{collaborator.OCDS.id}}'  class='del govuk-link govuk-link--no-visited-state' title='delete'> Remove
            </a>
                      <p class="govuk-body">
                        <strong>{{data.content.collegue.name}}
                          <span id="collab_no"></span>
                        </strong>
                        <span
                id="collab_name">{{collaborator.OCDS.contact.name}}</span>
                      </p>
                      <p class="govuk-body">
                        <strong>{{data.content.collegue.email}}
                        </strong>
                        <span id="collab_email">{{ collaborator.OCDS.contact.email}}</span>
                      </p>
                      <p class="govuk-body">
                        <strong>{{data.content.collegue.tel}}
                        </strong>
                        <span id="collab_tel">{{ collaborator.OCDS.contact.telephone }}</span>
                      </p>
                    </div>
                  </div>
                  {%endif%}
                  {% endfor%}
                </div>

                <div class="ccs-page-section" id="lead-user-section">
                  <p class="govuk-body">
                    <strong>{{data.content.lead.name}}
                    </strong>
                    {{lead_data.OCDS.contact.name}}</p>
                  <p class="govuk-body">
                    <strong>{{data.content.lead.email}}
                    </strong>{{  lead_data.OCDS.contact.email }}</p>
                  <p class="govuk-body">
                    <strong>{{data.content.lead.tel}}
                    </strong>{{  lead_data.OCDS.contact.telephone }}</p>
                </div>
                <!-- <p class="govuk-body"><a href="#" id="ccs_collab_add" class="govuk-link govuk-link--no-visited-state">Add another collaborator</a> </p>  -->
                <br>
                <form  class="form ccs_add_rfi_collab" method="POST" action="/rfp/proceed-collaborators" method="post">
                  {{ csrfProtection(csrf) }}

                  {{ CCSInput({
                      id: "rfi_collaborators_added",
                      name: "rfi_collaborators_added",
                      type: "hidden",
                      value: true
                      }) }}

                                  <div class="govuk-button-group">
                                    {{ CCSButton({
                        text: "Save and continue"
                        }) }}
                    <a href="/rfp/task-list" class="govuk-link govuk-link--no-visited-state">Return to Write and publish your requirements</a>
                  </div>
                </form>

              </div>
              </div>
              </div>
              
              <div class="govuk-grid-column-one-third">
                 {{ CCSReleatedContent(releatedContent,'',agreementId_session,'',lotId,'') }}

              </div>
            </div>
          </main>
        {% endblock %}