{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    <strong>{{data.title }}</strong>
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}
                    <br><br><br>
                    <p class="govuk-body">You chose not to continue to further competition with your list of suppliers. If you want to continue to further competition you will need to start your capability assessment again.</p>
                    <p class="govuk-body">You can assess this capability assessment in the archive, in your project dashboard.</p>
                    <p class="govuk-body">You can download your list of suppliers below.</p>
                    <br><br><br>
                {#<form id="ccs-eoi-suppliers-form" class="ccs-eoi-suppliers-form" action="/rfp/suppliers" method="POST">#}
                {{ csrfProtection(csrf) }}
                    <div class="govuk-form-group"></div>
                    <div id="page1" >
                        <div id="supplier-list">
                            <div class="govuk-form-group">
                                <h3>
                                    <a href="/ca/cancel?download=1" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Download your list of suppliers
                </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                                        <br><br><br>
                    <div class="govuk-button-group">
                         {{ CCSButton({
                text: "Go to your project dashboard",
                href:"/dashboard"
                }) }}
                        {#<a href="{{data.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>#}
                    </div>
                {#</form>#}

            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>

    </main>

{% endblock %}