{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}

{% set title = 'Learn about capability assessment | Contract a Thing' %}

{% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs2
    }) }}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    {{ data.title }}
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}
                <p class="govuk-body">{{ data.form.question }}</p>
            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>

        <form id="ccs_ca_learn" name="ccs_ca_learn" class="form ccs_ca_learn" action="/ca/learn-about-capability-assessment" method="POST">

            {{ CCSInput({
                id: "ca_learn_input",
                name: "ca_learn_input",
                type: "hidden",
                value: true
            }) }}

            <div class="govuk-button-group">
                {{ CCSButton({
                    text: "Save and continue"
                }) }}
                <a href="{{data.form.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.form.backJump2.title}}</a>
            </div>
        </form>
    </main>
{% endblock %}