{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/dialog/macro.njk" import CCSDialog %}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
    items:   [{
      "text": "Dashboard",
      "href": "/dashboard"
    },
    {
      "text": "Choose a commercial agreement",
      "href": "/projects/choose-agreement"
    },
    {
      "text": "Procurement overview",
      "href": "/projects/create-or-choose"
    },
    {
      "text": "Write and publish your requirements",
       "href": "/ca/task-list?path="+ choosenViewPath 
    },
    {
      "text": "Select the resources you need and set weighting for vetting and resources",
      "href": "#"
    }]
  }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
{{ CCSDialog({
  title:'This action cannot be undone. Confirm that you want to progress.',
  description:'This action will revert the form to its original state.',
  redirect:'#',
  type:'vetting'
}) }}
    {% if(isError)%}
      {{ CCSErrorSummary({
          titleText: "There is a problem",
          errorList: errorTextSumary
      }) }}
    {%endif %}
 <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
        <strong>{{title}}</strong>
    </h1>
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% include "includes/project_header.njk" %}
        <br>
      </div>
      <br/>
           <div class="sub-section">
        <p class="govuk-body">{{subtitle1}}</p>
        <p class="govuk-body">{{subtitle2}}</p>
        <p class="govuk-body">{{subtitle3}}<a target="_blank" href="{{backJump.href +'?path='+ choosenViewPath }}" class="govuk-link govuk-link--no-visited-state "> DDaT (Digital,Data and Technology) professions .</a> {{subtitle4}}</p>
        <p class="govuk-body">{{subtitle5}}</p>
        <p class="govuk-body">{{subtitle6}}</p>
      </div>
      <div class="sub-section">
        {{ CCSInsetText({
                        html: subtitle7
                }) }}
      </div>
    </div>
    <div id="error_summary_resources">
    
    <form id="ccs_ca_menu_tabs_form_later" name="ccs_ca_menu_tabs_form" class="form ccs_ca_menu_tabs_form" action="/ca/resources-vetting-weightings" method="POST">
    {{ csrfProtection(csrf) }}
   
    <div class="ccs-page-section">

      <div class="sub-section">
       <p class="govuk-body"><span id="ca-total-resources">{{total_res}}</span> resources added</p>
        <p class="govuk-body"><span id="ca-total-staff">{{total_ws}}</span> of 100% total weighting for number of staff</p>
        <p class="govuk-body"><span id="ca-total-vetting">{{total_wv}}</span> of 100% total weighting for related vetting requirement</p>

      </div>
       <div class="sub-section"><a href="#" class="del govuk-link govuk-link--no-visited-state vetting-popup" title="delete">Clear form</a></div>
    </div>
    <section class="ons-page__container ons-container">
        <div id="vertical_tab_nav" class="ons-grid ons-js-toc-container">
            <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
                {{-
                    onsTableOfContents({
                        "title": null,
                        "ariaLabel": 'Sections in this page',
                        "itemsList": TableItems
                    })
                }}
            </div>
            <div class="ons-grid__col ons-col-7@m ons-push-1@m">

            {% for tr in designations %}

              <article id="section">
                    <h2 class="govuk-heading-xl govuk-!-font-weight-bold" >{{tr['Parent']}}</h2>
                    <h4> {{tr['Parent']}} description </h4>
       
                     {% for subItems in tr.category %}
                     {% set newID = subItems.ParentName.split(" ").join("")%}
                     <div class="govuk-!-margin-top-5">
                     <h2 class="govuk-heading-m">{{subItems.ParentName}}</h2>
                     <p> [DDAT Family description] </p>
                     <div class="govuk-!-margin-top-9">
                      <p> Weighting for number of staff </p>
                        {{ CCSInput({
                          label: {
                            text: ""
                          },
                          classes: "govuk-input--width-2 ca_weight_staff_class",
                          id: "ca_weight_staff_"+loop.index+newID,
                          name: "weight_staff",
                          value: subItems.NumberStaff,
                          suffix: {
                            text: "%"
                          },
                          spellcheck: false
                        }) }}
                       <p> Weighting for related vetting requirement </p>

                         {{ CCSInput({
                          label: {
                            text: ""
                          },
                          classes: "govuk-input--width-2 ca_weight_vetting_class_p  p_to",
                          id: "ca_weight_vetting_"+loop.index+newID,
                          name: "weight_vetting",
                          value: subItems.NumberVetting,
                          suffix: {
                            text: "%"
                          },
                          spellcheck: false
                        }) }}
                           {{ CCSInput({
                                    id: "ca_weigthage_weight_vetting_whole_group_"+loop.index+newID,
                                    name: "weigthage_group_name",
                                    type: "hidden",
                                    value: subItems.ParentName
                                  }) }}
                          {{ CCSInput({
                                    id: "ca_weigthage_weight_vetting_whole_group_reqid"+loop.index+newID,
                                    name: "weigthage_reqid",
                                    type: "hidden",
                                    value: subItems.ParentReqId
                                  }) }}
                     </div>

                      <div class="govuk-!-margin-top-9">
                      <p> Add quantity for the roles </p>
                      <div>
                         {% for subNestedItems in subItems.designations %}
                          {% set newsubID = subItems.ParentName.split(" ").join("")%}
                            <span  class="sfia-roles">  
                         {{ CCSInput({
                          label: {
                            text: ""
                          },
                          classes: "govuk-input--width-2 ca_weight_vetting_class",
                          id: "ca_sfia_weight_vetting_"+loop.index+newsubID,
                          name: "SFIA_weightage",
                          value: subNestedItems['NumberSFIA'],
                          suffix: {
                            text: subNestedItems['SFIA_name']
                          },
                          spellcheck: false
                        }) }}
</span>
                         {{ CCSInput({
                                    id: "ca_requirement_weight_vetting_whole_group_"+loop.index+newID,
                                    name: "requirement_Id_SFIA_weightage",
                                    type: "hidden",
                                    value: subNestedItems['requirement-id']
                                  }) }}

                        {{ CCSInput({
                                    id: "ca_weigthage_weight_vetting_whole_group_"+loop.index+newID,
                                    name: "weigthage_group_name_sfia",
                                    type: "hidden",
                                    value: subItems.ParentName
                                  }) }}


                         {%endfor%}
                       <div>
                       <hr>
                     {% endfor %}
                </article>

              
            {% endfor %}
            </div>
        </div>
    </section>
      <div class="govuk-button-group">
        {{ CCSButton({
              text: "Save and continue",
              classes:"save-button"
            })
        }}
        <a href="{{backJump.href +'?path='+ choosenViewPath }}" class="govuk-link govuk-link--no-visited-state">{{backJump.title}}</a>
      </div>
    </div>
      </form>
      </div>
    <div class="govuk-grid-column-one-third">
      {{ CCSReleatedContent(releatedContent) }}
    </div>
    </div>

    </div>
  </main>
        {% endblock %}