{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
    items: breadCrumbs
  }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% if(isError)%}
      {{ CCSErrorSummary({
          titleText: "There is a problem",
          errorList: errorText
      }) }}
    {%endif %}
 <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
        {{title}}
    </h1>
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% include "includes/project_header.njk" %}
      </div>
    </div>
    <form id="ccs_ca_menu_tabs_form" name="ccs_ca_menu_tabs_form" class="form ccs_ca_menu_tabs_form" action="/ca/team-scale" method="POST">
   
    <div class="ccs-page-section">
      <div class="sub-section">
        <p class="govuk-body">{{data.total}} of 100% total weighting for number of staff</p>
        <p class="govuk-body">{{data.total}} of 100% total weighting for related vetting requirement</p>
      </div>
       <div class="sub-section"><a href="2" class="del govuk-link govuk-link--no-visited-state" title="delete">Clear form</a></div>
    </div>
    <section class="ons-page__container ons-container">
        <div id="vertical_tab_nav" class="ons-grid ons-js-toc-container">
            <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
                {{-
                    onsTableOfContents({
                        "title": null,
                        "ariaLabel": 'Sections in this page',
                        "itemsList": TableItems
                    })
                }}
            </div>
            <div class="ons-grid__col ons-col-7@m ons-push-1@m">

            {% for tr in designations %}
                <article id="section">
                    <h2>{{tr['job-category']}}</h2>
                    <h4> {{tr['job-category']}} description </h4>
       
                     {% for subItems in tr.data %}
                       <h5> {{subItems.designation}} </h5>
                     {% endfor %}
                </article>
            {% endfor %}
            </div>
        </div>
    </section>
      <div class="govuk-button-group">
        {{ CCSButton({
              text: "Save and continue",
              classes:"save-button"
            })
        }}
        <a href="{{backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{backJump.title}}</a>
      </div>
    </div>
      </form>
    <div class="govuk-grid-column-one-third">
      {{ CCSReleatedContent(releatedContent) }}
    </div>
    </div>

    </div>
  </main>
        {% endblock %}