{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title = "Suppliers you'ld like to take forward | Contract Award Service" %}

{% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: [
    {
      "text": "Dashboard",
      "href": "/dashboard"
    },
    {
      "text": "Choose a commercial agreement",
      "href": "/projects/choose-agreement"
    },
    {
      "text": "Procurement overview",
      "href": "/projects/create-or-choose"
    },
    {
      "text": "Write and publish your requirements",
      "href": "/ca/task-list?path="+choosenViewPath
    },
    {
      "text": "How many suppliers you'd like to take forward?",
      "href": "#"
    }
  ]
    }) }}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        {% if (error) %}
            {{ CCSErrorSummary({
                titleText: "There is a problem",
                errorList: [{
                    text: "Enter a valid value "
                }]
            }) }}
        {%endif %}

        <div class="govuk-error-summary hide-block" id="service_capability_error_summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list" id="summary_list">
            </ul>
        </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    {{ data.title }}
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}
                <p class="govuk-body">{{ data.form.question }}</p>

                <form id="ccs_ca_suppliers_form" name="ccs_ca_suppliers_form" class="form ccs_ca_suppliers" action="/ca/suppliers-to-forward" method="POST">
                    {{ csrfProtection(csrf) }}
                    <br>
                    <div id="summary">
                    {{ CCSInput({
                      label: {
                        text: "You can enter between "+data.suppliers.min + " and "+data.suppliers.max+" suppliers"                        
                      },
                      type:"number",
                      classes:"govuk-input--width-10",
                      id: "ca-supplier-count",
                      name: "ca_supplier_count",
                      value: eventSupplierCount,
                      pattern:"[0-9]{2}"
                    })
                }}
                    </div>
                    <div class="govuk-button-group" >
                        {{ CCSButton({
                    text: "Save and continue"
                }) }}
                        {% set returnLink = "/ca/task-list?path="+choosenViewPath %}
                        <a href="{{returnLink}}" class="govuk-link govuk-link--no-visited-state">{{data.form.backJump.title}}</a>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>
    </main>
{% endblock %}