{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}

{%- set title = 'Capability Assessment Summary '%}


{% block breadCrumb %}
  {{ CCSBreadcrumbs({
    items: data.breadCrumbs
  }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="ca-summary-main-content" role="main">
<div class="govuk-error-summary hide-block" id="service_capability_error_summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list" id="summary_list">
    </ul>
  </div>
</div>
 <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
        {{data.title}}
    </h1>
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
      {% include "includes/project_header.njk" %}
   
    </div>
<div>

 <form id="ccs_ca_menu_tabs_form" name="ccs_ca_menu_tabs_form" class="form ccs_ca_menu_tabs_form" action="/da/service-capabilities" method="POST">
    {{ csrfProtection(csrf) }}  

<div class="govuk-grid-row govuk-!-padding-top-9 ">
  <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {{ CCSButton({
                    text: "Continue"
                    }) }}
            </div>
            <div class="govuk-grid-column-two-thirds">
               <a href="ca/task-list?path={{choosenViewPath}}" class="govuk-link">Return to write and publish your requirements</a>
            </div>
            </div>
  </div>
  <div class="govuk-grid-column-one-third">
   <a href="#" class="govuk-link" id="ca-summary-Download">Download this summary</a>
  </div>
</div>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      [Enter your weightings]
    </dt>
    <dd class="govuk-summary-list__value">
    {%if weightings.length>0%}
     {% for items in Weightings %}
     <div class="govuk-!-margin-2">{{items.weighting}}% &nbsp; {{items.name}}</div>
     {%endfor%}
     {%endif%}
    </dd>
  </div>
 <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
       [Will you accept sub-contractors?]
    </dt>
    <dd class="govuk-summary-list__value">
     {{isSubContractorAccepted}}
    </dd>  
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
       [Set your resources and vetting weightings]
    </dt>
    <dd class="govuk-summary-list__value">
    <div class="govuk-!-margin-2">{{Totalresourcesvetting}} &nbsp; [Total number of added resources]</div>
    </dd>  
  </div>

<p><strong> [Choose highest security and vetting requirements] </strong></p>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     [Select the highest level of security clearance that staff supplied to the project will need to have.]
    </dt>
    <dd class="govuk-summary-list__value">
    {{Securityoption}}
    </dd> 
  </div>
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     [How many resources need a lower security and vtting requirement?]
    </dt>
    <dd class="govuk-summary-list__value">
    {{Securityresources}}
    </dd> 
  </div>

 <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
       [Select your service capabilities]
    </dt>
    <dd class="govuk-summary-list__value">
     {%if individualcluster.length>0%}
    {% for items in individualcluster %}
    <p><strong>{{items[0]}}</strong></p>
    {% for group in items[1] %}
     <div class="govuk-!-margin-2">{{group.InputWeighting}}% &nbsp; {{group.name}}</div>
     {%endfor%}
     {%endfor%}
     {%endif%}
     </br>
     {%if wholeCluster.length>0%}
     {% for items in wholeCluster %}
    <p><strong>{{items.name}}</strong></p>
     <div class="govuk-!-margin-2">{{items.InputWeighting}}% &nbsp; [Whole cluster]</div>
     {%endfor%}
      {%endif%}
     </br>
    </dd>  
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     [How well your team will scale?]
    </dt>
    <dd class="govuk-summary-list__value">
    {{Teamscale}} 
    </dd> 
  </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      [Where the work will be done?]
    </dt>
    <dd class="govuk-summary-list__value">
     {%if wherewrkdone.length>0%}
     {% for items in wherewrkdone %}
     <div class="govuk-!-margin-2">{{items.weighting}}% &nbsp; {{items.name}}</div>
     {%endfor%}
      {%endif%}
    </dd>
  </div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     [How many suppliers you'd like to take forward?]
    </dt>
    <dd class="govuk-summary-list__value">
    {{SuppliersForward}} 
    </dd> 
  </div>

  

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      [Review ranked suppliers]
    </dt>
    <dd class="govuk-summary-list__value">
     
    </dd>
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      [Enter your justification]
    </dt>
    <dd class="govuk-summary-list__value">
     
    </dd>
  </div>
</dl>
        
   
     </form>
    </div>

    </div>
  </main>
        {% endblock %}