{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title = 'Will you accept sub contractors | Contract Award Service' %}

{# {% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
    }) }}
{% endblock %} #}

{% block breadCrumb%}
    {{ CCSBreadcrumbs({
        items: [
            {
                "text": "Dashboard",
                "href": "/dashboard"
                },
                {
                "text": "Choose a commercial agreement",
                "href": "/projects/choose-agreement"
                },
                {
                "text": "Procurement overview",
                "href": "/projects/create-or-choose"
                },
                {
                "text": "Write and publish your requirements",
                "href": "/ca/task-list?path="+ choosenViewPath
                },
                {
                "text": "Use of sub-contractors",
                "href": "#"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                   <strong> {{ data.title }}</strong>
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-bottom-3">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}
                <p class="govuk-body">{{ data.subtitle1 }}</p>
                <p class="govuk-body">{{ data.subtitle2 }}</p>
                <form id="ccs_ca_subContractors" name="ccs_ca_subContractors" class="form ccs_ca_subContractors" action="/ca/accept-subcontractors" method="POST">
                    {{ csrfProtection(csrf) }}
                    {% for form in data.form %}
                        {% set formOptions = form.radioOptions.items %}
                        {% set form_Options_Altered = [] %}
                        {% for item in formOptions %}
                            {% set form_Options_Altered = (form_Options_Altered.push(
                                {
                                    value: item.value,
                                    html: "<h3 class='govuk-heading-m'>" + item.text + "</h3>",
                                    hint : {
                                        text: item.hint.text
                                    },
                                    checked: item.checked
                                }), form_Options_Altered) 
                                %}
                        {% endfor %}
                        {% if (error == true) %}

                            {{ CCSRadios({
                                    idPrefix: "ca_subContractors`",
                                    name:"ca_subContractors",
                                    items: form_Options_Altered,
                                    errorMessage: error,
                                    errorMessage: {
                                    text: 'You must choose if suppliers can sub-contractors'
                                    }                  
                                }) }}
                                <br>
                        {% else %}

                            {{ CCSRadios({
                                        idPrefix: "ca_subContractors",
                                        name: "ca_subContractors",
                                        items: form_Options_Altered        
                                }) }}
                                <br>
                        {%endif %}
                    {% endfor %}

                    <div class="govuk-button-group">
                        {{ CCSButton({
                    text: "Save and continue"
                }) }}
                        {% set returnLink = "/ca/task-list?path="+choosenViewPath %}
                        <a href="{{returnLink}}" class="govuk-link govuk-link--no-visited-state">Return to Write and publish your requirements</a>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>
    </main>
{% endblock %}