{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
    items: breadCrumbs
  }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% if(isError)%}
      {{ CCSErrorSummary({
          titleText: "There is a problem",
          errorList: errorText
      }) }}
    {%endif %}
 <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
        {{title}}
    </h1>
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% include "includes/project_header.njk" %}
      </div>
    </div>
    <form id="ccs_ca_menu_tabs_form" name="ccs_ca_menu_tabs_form" class="form ccs_ca_menu_tabs_form" action="/ca/service-capabilities" method="POST">
    {{ csrfProtection(csrf) }}   
    <div class="ccs-page-section">
      <div class="sub-section">
        <p class="govuk-body">{{data.total}} of 100% total weighting for service capabilities</p>
      </div>
       <div class="sub-section"><a href="2" class="del govuk-link govuk-link--no-visited-state" title="delete">Clear form</a></div>
    </div>
    <section class="ons-page__container ons-container">
        <div id="vertical_tab_nav" class="ons-grid ons-js-toc-container">
            <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
                {{-
                    onsTableOfContents({
                        "title": null,
                        "ariaLabel": 'Sections in this page',
                        "itemsList": TABLE_HEADING
                    })
                }}
            </div>
            <div class="ons-grid__col ons-col-7@m ons-push-1@m">
            {% for item in TABLE_BODY -%}
                    <article id="section" class="govuk-!-margin-top-6">
                    <h2 class="govuk-heading-l govuk-!-font-weight-bold" >{{item['category']}}</h2>
                    <h4> {{item['category']}} description </h4>
                       
                          <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset">
                                <div class="govuk-radios" data-module="govuk-radios">
                                  <div class="govuk-radios__item govuk-!-margin-top-9">
                                    <input class="govuk-radios__input" id="whole_weightage_{{loop.index}}" name="weightage" type="radio" value="whole" >
                                    <label class="govuk-label govuk-radios__label govuk-heading-s" for="whole_weightage_{{loop.index}}">
                                      Enter a weighting for the whole cluster 
                                    </label>
                                  </div>

                                    <div class="govuk-!-margin-top-9" id="whole_cluster_{{loop.index}}">
                                    

                                      {% for wholeCells in WHOLECLUSTER -%}

                                      {% if wholeCells.name == item.category %}

                                         {{ CCSInput({
                                      label: {
                                        text: ""
                                      },
                                      classes: "govuk-input--width-2 ",
                                      id: "weight_vetting_whole"+loop.index,
                                      name: "weight_vetting_whole",
                                      value: wholeCells.value,
                                      suffix: {
                                        text: "%"
                                      },
                                      spellcheck: false
                                    }) }}
                                    {% endif %}
                                     
                                    {%- endfor %}

                                  

                                    {{ CCSInput({
                                    id: "weight_vetting_whole_group",
                                    name: "weight_vetting_whole_group",
                                    type: "hidden",
                                    value: item['category']
                                  }) }}

                                  </div>
                                <div>
                                  <div class="govuk-radios__item govuk-!-margin-top-9">
                                    <input class="govuk-radios__input" id="partial_weightage_{{loop.index}}" name="weightage" type="radio" value="partial" >
                                    <label class="govuk-label govuk-radios__label govuk-heading-s" for="partial_weightage_{{loop.index}}">
                                      Enter a weighting for specific capabilities
                                    </label>
                                  </div>
                              </fieldset>
                            </div>
                              <div id="partial_cluster_{{loop.index}}">
                              {% for subItems in item['data'] -%}
                              <h4> {{subItems['groupname']}} </h4>
                              <div class="govuk-!-margin-top-6">
                               {{ CCSInput({
                                    label: {
                                      text: ""
                                    },
                                    classes: "govuk-input--width-2 ",
                                    id: "weight_vetting_partial"+loop.index,
                                    value: subItems['value'],
                                    name: "weight_vetting_partial",
                                    suffix: {
                                      text: "%"
                                    },
                                    spellcheck: false
                                  }) }}

                                  {{ CCSInput({
                                    id: "ca_partial_weightage",
                                    name: "ca_partial_weightage",
                                    type: "hidden",
                                    value: subItems['groupname']
                                  }) }}
                                </div>  
                                {%- endfor %}
                                </div>
                            
                     
                    </article>
            {%- endfor %}
           
              
               
            </div>
        </div>
    </section>
                                  {{ CCSInput({
                                    id: "ca_service_started",
                                    name: "ca_service_started",
                                    type: "hidden",
                                    value: true
                                  }) }}

                            
      <div class="govuk-button-group">
        {{ CCSButton({
              text: "Save and continue",
              classes:"save-button"
            })
        }}
        <a href="{{backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{backJump.title}}</a>
      </div>
    </div>
      </form>
    <div class="govuk-grid-column-one-third">
      {{ CCSReleatedContent(releatedContent) }}
    </div>
    </div>

    </div>
  </main>
        {% endblock %}