{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}

{% set title = 'Provide information online | Contract a Thing' %}

{% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
    }) }}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">{{ data.title }}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop ">
            <div class="govuk-!-margin-bottom-6">
            {% include "includes/project_header.njk" %}
            </div>
            <p class="govuk-body govuk-!-margin-bottom-7">{{data.description}}</p>
            <ul class="app-task-list ccs-rfp-upload">
                {% for items in data.taskList %}

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <strong>{{items.title}}</strong>
                        </span>
                        <a class="app-task-list__tag" href="{{items.href}}" aria-describedby="rfp-upload">{{items.hreftitle}}</a>
                    </li>

                {% endfor %}

            </ul>
            <br>
            <br>
            <p class="govuk-body">
                <a href="{{ data.backJump.href }}" class="govuk-link govuk-link--no-visited-state">{{ data.backJump.title }}</a>
            </p>
        </div>
        <div class="govuk-grid-column-one-third">
            {{ CCSReleatedContent(releatedContent) }}
        </div>
    </div>
</main>
{% endblock %}