{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/dialog/macro.njk" import CCSDialog %}

{# {% block breadCrumb %}
  {{ CCSBreadcrumbs({
    items: breadCrumbs
  }) }}
{% endblock %} #}
{% block breadCrumb%}
    {{ CCSBreadcrumbs({
        items: [
            {
                "text": "Your dashboard",
                "href": "/dashboard"
                },
                {
                "text": "Choose a commercial agreement",
                "href": "/projects/choose-agreement"
                },
                {
                "text": "Procurement overview",
                "href": "/projects/create-or-choose"
                },
                {
                "text": "Write and publish your requirements",
                "href": "/ca/task-list?path="+ choosenViewPath
                },
                {
                "text": "Where the work will be done",
                "href": "#"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% if(isError)%}
      {{ CCSErrorSummary({
          titleText: "There is a problem",
          errorList: errorText
      }) }}
    {%endif %}

    {{ CCSDialog({
  title:'This action cannot be undone, please confirm that you want to progress',
  description:'This action will revert the form to its original state.',
  redirect:'#',
  type:'vetting'
}) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 id="page-heading" class="govuk-heading-xl">
          <strong>{{title}}</strong>
        </h1>
      </div>
    </div>
    <div>
    
      <div class="project-overview govuk-div-inline">
  <p class="govuk-body">Selected agreement: <strong>
    {%if agreement_header !=undefined and agreement_header !=null %}
    {{ agreement_header['agreementName'] }}
    {%endif%}
    {% if(agreement_header !=undefined and agreement_header !=null 
    and agreement_header.agreementLotName != undefined)%}, 
    
    {{ agreement_header['lotid'] }}: 
    {{ agreement_header['agreementLotName'] }}  
    {% endif %} 
    
  </strong></p>
  <p class="govuk-body">Agreement ID: 
    {%if(agreement_header !=undefined and   agreement_header !=null) %}
    <strong>
    {{ agreement_header['agreementId_session'] }}
    </strong>
    {%endif%}
    </p>
  {% if agreement_header !=undefined and   agreement_header !=null and agreement_header['project_name'] %}
   <p class="govuk-body">Project ID / Name: <strong>{{agreement_header['project_name']}}</strong></p>
    {% else %}
     <p class="govuk-body">Project name: You have not saved projects </p>
    {% endif %}
  </p>
</div>

      
      <div class="ccs-callout-panel margin-left">
        <h2 class="govuk-heading-m">{{releatedContent.title}}</h2>
        <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href={{ releatedContent.lotUrl }} target="_blank" rel="noopener noreferrer">{{releatedContent.name}}, {{releatedContent.lotName}}</a>
        </p>
    </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
      <div class="ccs-page-section">
        <p class="govuk-body">{{subtitle1}}</p>
          <div  class="govuk-inset-text"><p class="govuk-body">{{subtitle2}}</p></div>
        <br>
      </div>
      
      <form id="ca_where_work_done" name="ca_where_work_done" class="form ca_form" action="/ca/where-work-done" method="post">
      {{ csrfProtection(csrf) }} 
        <div class="ccs-page-section">
        <div class="sub-section govuk-section-break--visible">
         
          <p class="govuk-body">
                        <span id="totalPercentage" class="head-bold">{{totalPercentage    }}</span><b> of 100%</b> total weightings for location
                              <a href="#" class="del govuk-link govuk-link--no-visited-state ca_whereworkdone_popup" title="delete">Clear form</a>
                              </p>
        </div><br/>

            {% for elem in locationArray %}
                      {{ CCSInput({
                            label: {
                              text: elem.name,
                              classes: "govuk-label--m",
                              id: "ca_locationName",
                              name: "ca_locationName"
                            },
                            hint: {
                              classes: "govuk-hint"
                            },
                            suffix: {
                              text: "%"
                            },
                            id: "ca_locationweight"+elem.name,
                            name: "ca_locationweight",
                            spellcheck: false,
                            classes: "govuk-input--width-2 dimensions",
                            value: elem.value,
                            maxlength: "3"
                        })
                      }}

                      {{ CCSInput({
                          id: "requirement_id",
                          name: "requirement_id",
                          type: "hidden",
                          value: elem["requirement-id"]
                      })
                      }}
            {% endfor %}

              <div class="govuk-button-group">
                        {{ CCSButton({
                            text: "Save and continue"
                        }) }}
                        {% set returnLink = "/ca/task-list?path="+choosenViewPath %}
                        <a href="{{returnLink}}" class="govuk-link govuk-link--no-visited-state">Return to write and publish your requirements</a>
                    </div>

      </form>
    </div>
    
  </main>
        {% endblock %}