{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title = 'Enter your weightings | Contract Award Service' %}
{# 
{% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
    }) }}
{% endblock %} #}

{% block breadCrumb%}
    {{ CCSBreadcrumbs({
        items: [
            {
                "text": "Dashboard",
                "href": "/dashboard"
                },
                {
                "text": "Choose a commercial agreement",
                "href": "/projects/choose-agreement"
                },
                {
                "text": "Procurement overview",
                "href": "/projects/create-or-choose"
                },
                {
                "text": "Write and publish your requirements",
                "href": "/da/task-list?path="+ choosenViewPath
                },
                {
                "text": "Enter your weightings",
                "href": "#"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    {% if(error)%}
      {{ CCSErrorSummary({
          titleText: "There is a problem",
          errorList: errorTextSumary
      }) }}
    {%endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    {{ data.title }}
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}
                {{ CCSInsetText({
                        html: data.insertText
                }) }}

                <form id="ccs_daa_weighting" name="ccs_daa_weighting" class="form ccs_daa_weighting" action="/da/enter-your-weightings" method="POST">
                    {{ csrfProtection(csrf) }}
                    <div class="ccs-page-section">
                        <p class="govuk-body">
                            <h2>Total : <span id="totalPercentage">{{totalPercentage    }}</span> of 100%</h2>
                        </p>
                    </div>

                    {% for dimension in dimensions %}
                        {% set loopNumber = loop.index %}
                         {% set errorNum = loop.index0 %}
                        <div class="ccs-page-section">
                        {% if (errorText.length > 0) and isError %}
                             <div class="{% for text in errorText %}
                            {% if text is defined and dimension.id == text.id.slice(-1) | int %}.govuk-form-group govuk-form-group--error{% else %}.govuk-form-group{% endif %}
                            {% endfor %}">
                                <label class="govuk-label govuk-label govuk-label--m">
                                    {{loopNumber}} . {{dimension.title}}
                                </label>
                                <div class="govuk-hint">{{dimension.description}}</div>
                                {% for text in errorText %}
                                <span id="5-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {% if text is defined and dimension.id == text.id.slice(-1) | int  %}{{text.text}}{%  endif %}</span>
                                {% endfor %}
                                {{ CCSInput({
                                    label: {
                                    text: "Range "+dimension.weightingRange.min +"-"+dimension.weightingRange.max+"%"
                                    },
                                    classes: "govuk-input--width-5 dimensions",
                                    id: dimension.id,
                                    name: dimension.id,
                                    suffix: {
                                    text: "%"
                                    },
                                    spellcheck: false,
                                    value: dimension.value,
                                    attributes:{
                                        min:dimension.weightingRange.min,
                                        max:dimension.weightingRange.max
                                    },
                                    maxlength: "2"
                                }) }}
                            </div>
                            {% else %}
                            <div class=".govuk-form-group">
                                <label class="govuk-label govuk-label govuk-label--m">
                                    {{loopNumber}} . {{dimension.title}}
                                </label>
                                <div class="govuk-hint">{{dimension.description}}</div>
                             
                                {{ CCSInput({
                                    label: {
                                      text: "Range "+dimension.weightingRange.min +"-"+dimension.weightingRange.max+"%"
                                    },
                                    classes: "govuk-input--width-5 dimensions",
                                    id: dimension.id,
                                    name: dimension.id,
                                    suffix: {
                                      text: "%"
                                    },
                                    spellcheck: false,
                                    value: dimension.value,
                                    attributes:{
                                        min:dimension.weightingRange.min,
                                        max:dimension.weightingRange.max
                                    },
                                    maxlength: "2"
                                }) }}
                            </div>
                        {% endif %}
                        </div>
                    {% endfor %}

                    {{ CCSInput({
                        id: "ca_weighting_input",
                        name: "ca_weighting_input",
                        type: "hidden",
                        value: true
                    }) }}

                    <div class="govuk-button-group">
                        {{ CCSButton({
                            text: "Save and continue"
                        }) }}
                        {% set returnLink = "/da/task-list?path="+choosenViewPath %}
                        <a href="{{returnLink}}" class="govuk-link govuk-link--no-visited-state">{{data.form.backJump.title}}</a>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>
    </main>
{% endblock %}