{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}
{% set title = 'Learn about capability assessment | Contract Award Service' %}

{# {% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
    }) }}
{% endblock %} #}

{% block breadCrumb %}
    {% if isPathOne %}
        {{ CCSBreadcrumbs({
        items: [
            {
                "text": "Your dashboard",
                "href": "/dashboard"
            },
            {
                "text": "Choose a commercial agreement",
                "href": "/projects/choose-agreement"
            },
            {
                "text": "Procurement overview",
                "href": "/projects/create-or-choose"
            },
            {
                "text": "What is a capability assessment?",
                "href": "#"
            }
        ]
    }) }}
    {% else %}
    {{ CCSBreadcrumbs({
        items: [
            {
                "text": "Your dashboard",
                "href": "/dashboard"
            },
            {
                "text": "Choose a commercial agreement",
                "href": "/projects/choose-agreement"
            },
            {
                "text": "Procurement overview",
                "href": "/projects/create-or-choose"
            },
            {
                "text": "Write and publish your requirements",
                "href": "/da/task-list?path="+ choosenViewPath
            },
            {
                "text": "What is a capability assessment?",
                "href": "#"
            }
        ]
    }) }}
    {% endif %}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    <strong>{{ data.title }}</strong>
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}
                <p class="govuk-body">{{ data.form.Line1 }}</p>
                <p class="govuk-body">{{ data.form.Line2 }}</p>
                <p class="govuk-body">{{ data.form.Line3 }}
                {% for item in data.form.points %}
                <ul>
                <li>{{ item.p1 }}</li>
                <li>{{ item.p2 }}</li>
                <li>{{ item.p3 }}</li>
                <li>{{ item.p4 }}</li>
                </ul>
                {% endfor %}
                </p>
            <p class="govuk-body">{{ data.form.Line4 }}</p>
            <p class="govuk-body">{{ data.form.Line5 }}</p>
            <p class="govuk-body">{{ data.form.Line6 }}</p>
                
            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>
{% if isPathOne %}
            <form id="ccs_da_learn" name="ccs_da_learn" class="form ccs_da_learn" action="/da/learnabout-CA" method="POST">
            {{ csrfProtection(csrf) }}
            <br><br><br>
            {{ CCSInput({
                id: "da_learn_input",
                name: "da_learn_input",
                type: "hidden",
                value: true
            }) }}

            <div class="govuk-button-group">
                {{ CCSButton({
                text: "continue"
            }) }}
            {% set returnLink = "/da/task-list?path=" + choosenViewPath %}
            <a href="{{returnLink}}" class="govuk-link govuk-link--no-visited-state">{{data.form.backJump1.title}}</a>
            </div>
        </form>
 {% else %}
        <form id="ccs_da_learn" name="ccs_da_learn" class="form ccs_da_learn" action="/da/learn-about-capability-assessment" method="POST">
            {{ csrfProtection(csrf) }}
            {{ CCSInput({
                id: "da_learn_input",
                name: "da_learn_input",
                type: "hidden",
                value: true
            }) }}

            <div class="govuk-button-group">
                {{ CCSButton({
                text: "Save and continue"
            }) }}
            {% set returnLink = "/da/task-list?path=" + choosenViewPath %}
            <a href="{{returnLink}}" class="govuk-link govuk-link--no-visited-state">{{data.form.backJump2.title}}</a>
            </div>
        </form>
{% endif %}
    </main>
{% endblock %}