{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'How to build market event' %}

{# {% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
    }) }}
{% endblock %} #}

{% block breadCrumb%}
    {{ CCSBreadcrumbs({
        items: [
            {
                "text": "Dashboard",
                "href": "/dashboard"
                },
                {
                "text": "Choose a commercial agreement",
                "href": "/projects/choose-agreement"
                },
                {
                "text": "Procurement overview",
                "href": "/projects/create-or-choose"
                },
                {
                "text": "Write and publish your requirements",
                "href": "/da/task-list?path="+ choosenViewPath
                },
                {
                "text": "Next Steps",
                "href": "#"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        {% if(error) %}
            {{ CCSErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "Select an option"
                }
            ]
            }) }}
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-xl">
                {{ data.title }}
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}
                <p class="govuk-body">{{data.subtitle}}</p>  
                <form id="ccs_da_next_steps" name="ccs_da_next_steps" class="form ccs_da_next_steps" action="/da/next-steps" method="POST">
                    {% for form in data.form %}
                        <fieldset id="{{form.id}}">
                            <p class="govuk-body">{{ form.question }}</p>
                            {% set formOptions = form.radioOptions.items %}
                            {% set form_Options_Altered = [] %}

                            {% for item in formOptions %}
                                {% set form_Options_Altered = (form_Options_Altered.push(
                                {
                                    value: item.value,
                                    html: "<h3 class='govuk-heading-m'>" + item.text + "</h3>",
                                    hint : {
                                        text: item.hint.text
                                    }
                                }), form_Options_Altered) 
                                %}
                            {% endfor %}
                            {% if(error) %}

                                {{ CCSRadios({
                                    idPrefix: "da_next_steps",
                                    name: form.id,
                                    items: form_Options_Altered,
                                    errorMessage: error,
                                    errorMessage: {
                                    text: 'Select an option'
                                    }                  
                                }) }}
                            {% else %}

                                {{ CCSRadios({
                                        idPrefix: "da_next_steps",
                                        name: form.id,
                                        items: form_Options_Altered        
                                }) }}
                            {%endif %}

                            {{ CCSInput({
                                    id: "choose_fc_da_next_steps",
                                    name: "choose_fc_da_next_steps",
                                    type: "hidden",
                                    value: true
                            }) }}
                        </fieldset>
                    {% endfor %}
                    <div class="govuk-button-group">
                    {{ CCSButton({
                            text: "Save and continue"
                            }) }}
                    {% set returnLink = "/da/task-list?path="+choosenViewPath %}
                    <a href="{{returnLink}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>
    </main>

{% endblock %}