{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title = 'Will you accept sub contractors | Contract Award Service' %}

{# {% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
    }) }}
{% endblock %} #}

{% block breadCrumb%}
    {{ CCSBreadcrumbs({
        items: [
            {
                "text": "Dashboard",
                "href": "/dashboard"
                },
                {
                "text": "Choose a commercial agreement",
                "href": "/projects/choose-agreement"
                },
                {
                "text": "Procurement overview",
                "href": "/projects/create-or-choose"
                },
                {
                "text": "Write and publish your requirements",
                "href": "/da/task-list?path="+ choosenViewPath
                },
                {
                "text": "Will you accept sub-contractors?",
                "href": "#"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
{% if (error == true) %}
 <div class="govuk-error-summary"  aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
  There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
    <li><a href="#">Please select the option</a></li>
    </ul>
  </div>
</div>
  {%endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    {{ data.title }}
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-bottom-3">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}
                <p class="govuk-body">{{ data.subtitle }}</p>

                <form id="ccs_da_subContractors" name="ccs_da_subContractors" class="form ccs_da_subContractors" action="/da/accept-subcontractors" method="POST">
                    {{ csrfProtection(csrf) }}
                    {% for form in data.form %}
                        {% set formOptions = form.radioOptions.items %}
                        {% set form_Options_Altered = [] %}
                        {% for item in formOptions %}
                        {% if item.checked%}
                            {% set form_Options_Altered = (form_Options_Altered.push(
                                {
                                    value: item.value,
                                    html: "<h3 class='govuk-heading-m'>" + item.text + "</h3>",
                                    hint : {
                                        text: item.hint.text
                                    },
                                    checked: item.checked
                                }), form_Options_Altered) 
                                %}
                                {% else %}
                                 {% set form_Options_Altered = (form_Options_Altered.push(
                                {
                                    value: item.value,
                                    html: "<h3 class='govuk-heading-m'>" + item.text + "</h3>",
                                    hint : {
                                        text: item.hint.text
                                    }
                                }), form_Options_Altered) 
                                %}
                                {% endif %}
                        {% endfor %}
                        {% if (error == true) %}

                            {{ CCSRadios({
                                    idPrefix: "da_subContractors`",
                                    name:"da_subContractors",
                                    items: form_Options_Altered,
                                    errorMessage: error,
                                    errorMessage: {
                                    text: 'Select an option'
                                    }                  
                                }) }}
                        {% else %}

                            {{ CCSRadios({
                                        idPrefix: "da_subContractors",
                                        name: "da_subContractors",
                                        items: form_Options_Altered        
                                }) }}
                        {%endif %}
                    {% endfor %}

                    <div class="govuk-button-group">
                        {{ CCSButton({
                    text: "Save and continue"
                }) }}
                        {% set returnLink = "/da/task-list?path="+choosenViewPath %}
                        <a href="{{returnLink}}" class="govuk-link govuk-link--no-visited-state">Return to Write and publish your requirements</a>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>
    </main>
{% endblock %}