{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Route to market' %}

{% block content %}
{{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
{% if(error) %}

    {{ CCSErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
        text: "Select an option"
        }
    ]
    }) }}
    {%endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">
          {{data.title }}
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}

        <p class="govuk-body">{{ data.form.question }}</p>

               <ol class="app-task-list">
    {% for item in data.events %}
         <li>
            <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">{{item.eventno}} </span> {{item.eventTitle}}
             </h2>

              {% if (item.eventTitle == "Stage 1: Do a capability assessment") or (item.eventTitle == "Your assessment bases and evaluation weightings") %}
                <p class="govuk-body">{{item.eventDescription1}}</p>
                <p class="govuk-body">{{item.eventDescription2}}</p>
                {% endif %}

                {% if (item.eventTitle == " Add Context to your direct award") %}
                <p class="govuk-body">{{item.eventDescription1}}</p>
                <ul type='disc'>
                <li>{{item.p1}}</li>
                <li>{{item.p2}}</li>
                <li>{{item.p3}}</li>
                <li>{{item.p4}}</li>
                <li>{{item.p5}}</li>
                </ul>
                {% endif %}


             <p class="govuk-body">{{item.eventDescription}}</p>
              <ul class="app-task-list__items">
               {% for Tasks in item.eventTask %}
                <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <strong>
                            {% if (Tasks.link !== undefined) and (Tasks.status != "Cannot start yet") %}
                                <a href="{{Tasks.link}}" aria-describedby="name-your-project">
                                    {{Tasks.title}}
                                </a>
                            {% else %}
                            {{Tasks.title}}
                            {% endif %} 
                          </strong>
                        </span>
                        {% if (Tasks.status == "Cannot start yet") or (Tasks.status == "Not started") %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">{{Tasks.status}}</strong>
                        {% else %}
                        <strong class="govuk-tag app-task-list__tag" > {{Tasks.status}}</strong>
                        {% endif %} 
                    </li>
               {% endfor %}
                </ul>
             </li>
    {% endfor %}
    </ol>
      </div>
      <div class="govuk-grid-column-one-third">
        {{ CCSReleatedContent(releatedContent) }}
      </div>
      </div>

    </div>

  </main>

{% endblock %}