{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Complete and upload the whole bid pack | Contract Award Service' %}


{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}

{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
      
    {% if (fileError)%}
      {{ CCSErrorSummary({
        titleText: "There is a problem",
        errorList: errorlist
      }) }}
    {% endif %}

    {% if (error)%}
      {{ CCSErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "At least a T&Cs is required to be uploaded",
            href: "#rfp_offline_document"
          }
        ]
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <strong>{{data.title}}</strong>
        </h1>
      </div>
    </div>

    <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-6 ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
          {% include "includes/project_header.njk" %}
 
        <div class="govuk-inset-text">
          <p class="govuk-body govuk-!-margin-bottom-6">{{data.subtitle}}</p>
            {% if agreement_id == 'RM1043.8' %}
        <p class="govuk-body govuk-!-margin-bottom-0">{{data.SUBTITLE_1}}</p>
        {% endif %}
        </div>
          <br/>
          <div id="upload_doc_form">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full" id="documents_upload">
                <label class="govuk-label govuk-label--m govuk-!-margin-bottom-3" for="rfp_offline_document">{{data.subtitle5}}</label>
                <span id="rfp_upload_error_summary" class="govuk-error-message  govuk-!-margin-bottom-3"></span>
                <p class="govuk-body-s">
                  {{data.filedesc}}</p>
                {% if (files.length > 0)%}
                  <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                    <ul class="app-task-list">
                      {% for file in files %}

                        <li class="app-task-list__item test">

                          <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third text-overflow ">
                              <p class="govuk-body">
                                <a href="/rfp/upload-doc?file_id={{file.id}}" class="govuk-link">
                                  <strong>{{file.fileName}}</strong>
                                </a>
                              </p>
                            </div>
                            <div class="govuk-grid-column-one-third">
                              <p>{{file.fileSize | KbtoMb}} MB</p>
                            </div>
                            <div class="govuk-grid-column-one-third">
                              <p>
                                <a class="app-task-list__tag" href="/rfp/files/remove?file_id={{file.id}}" aria-describedby="rfp-upload">remove</a>
                              </p>
                            </div>
                          </div>
                          {% set hreflink = items.OCDS.description | replace(" ", "_") %}
                          {% set criterion_id = items.id | replace(" ", "_") %}

                        </li>

                      {% endfor %}

                    </ul>
                  </div>
                  {%endif%}
                  {% if (storage < 1000000000) %}
                    <form  action="/rfp/upload-doc" method="post" encType="multipart/form-data">
                      {{ csrfProtection(csrf) }}
                      {{ CCSFileUpload({
              id: "rfp_offline_document",
              name: "rfp_offline_document",
              value: data['rfp_offline_document'],
              multiple: true,
              label: {
              text: "",
              classes: "govuk-label--m"
              }
              }) }}
                    </div>
                    <div class="govuk-grid-column-full">
                      {{ CCSButton({
                              text: "Upload",
                              type: "submit",
                              classes: "govuk-button--secondary"
                            })
                        }}
                    </div>
                    {{ CCSInput({
                          id: "rfp_file_started",
                          name: "rfp_file_started",
                          type: "hidden",
                          value: true
                        })
                      }}

                  </div>
                </div>
              </form>
              {%endif%}
                 {% if agreement_id == 'RM6263' %}
                 <p class="govuk-body">{{data.SUBTITLE_1}}
          <ul type="disc">
          <li>{{data.subtitle1}}</li>
          <li>{{data.subtitle2}}</li>
          <li>{{data.subtitle3}}</li>
          </ul>
          </p>
              <p class="govuk-body">{{data.subtitle4}}</p>
              <br/>
 {% endif %}
              <form id="uploaddocument" action="/rfp/upload-doc/proceed" method="post">
                {{ csrfProtection(csrf) }}
                <div class="govuk-button-group govuk-!-margin-top-9">
                  {{ CCSButton({
                              text: "Save and continue",
                              type: "submit"
                            })
                        }}
                  <a href="/rfp/task-list" class="govuk-link govuk-link--no-visited-state">Return to Write and publish your requirements</a>
                </div>
              </form>

            </div>
            <div class="govuk-grid-column-one-third">
              {{ CCSReleatedContent(releatedContent) }}
            </div>
          </div>

        </main>
      {% endblock %}