{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}

{% set title = 'Provide information online | Contract Award Service' %}
{# {% set url -%}
  /projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}}
{%- endset %} #}
{% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: file_data.breadCrumbs
    }) }}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {#<h1 class="govuk-heading-l">{{file_data.title }}</h1>#}
                <h1 class="govuk-heading-l">{{file_data.main_title}}</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop ">
                <div class="govuk-!-margin-bottom-6">
                    {% include "includes/project_header.njk" %}
                </div>
                {% if agreement_id == 'RM1043.8' %}
                <p class="govuk-body govuk-!-margin-bottom-5">{{file_data.form.text1}}</p>
                <p class="govuk-body govuk-!-margin-bottom-5">{{file_data.form.text2}}</p>
                <p class="govuk-body govuk-!-margin-bottom-0">Stage 1: shortlisting</p>
                <p class="govuk-body govuk-!-margin-bottom-5">{{file_data.form.text3}}</p>
                <p class="govuk-body govuk-!-margin-bottom-0">Stage 2: further assessment</p>
                <p class="govuk-body govuk-!-margin-bottom-5">{{file_data.form.text4}}</p>
                {% else %}
                <p class="govuk-body govuk-!-margin-bottom-7">{{file_data.form.question1}}</p>
                {% endif %}
                {% if agreement_id == 'RM6263' %}
                    <p class="govuk-body govuk-!-margin-bottom-7">{{file_data.form.question2}}</p>
                {% endif %}
                <ul class="app-task-list ccs-rfp-buildtask-list">

                    {% if lotId == 3 %}
                        {% set DOS_LOTID = "Group 11" %}
                    {% else %}
                        {% set DOS_LOTID = "Group 13" %}
                    {% endif %}

                    {% for items in data %}
                        {# {% if (items.OCDS.id != 'Group 11') and (agreement_id == 'RM1043.8')  %} #}
                        {% if agreement_id == 'RM1043.8' %}
                            {% if (items.OCDS.id != DOS_LOTID) %}
                            {% if (lotId == 3) and (items.OCDS.id === 'Group 8') and (socialvalueAccess == true) %}
                                           {% elseif (lotId == 1) and (items.OCDS.id === 'Group 9') and (socialvalueAccess == true) %}    
                                    {%else%}       
                                <li class="app-task-list__item govuk-!-padding-bottom-4 govuk-!-padding-top-4">
                                    <span class="app-task-list__task-name">
                                        <strong class="govuk-!-font-size-24">
                                            {% set hreflink = items.OCDS.description | replace(" ", "_") %}
                                            {% set criterion_id = items.id | replace(" ", "_") %}
                                           {% if (lotId == 3) and (items.OCDS.id === 'Group 8') and (socialvalueAccess == true) %}
                                           {% elseif (lotId == 1) and (items.OCDS.id === 'Group 9') and (socialvalueAccess == true) %}    
                                           {% elseif (lotId == 3) and (items.step ===48) and (socialvalueAccess != true)%}
                                                <a class="app-task-list__tag" href="/rfp/assessment-question?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">{{items.OCDS.description}}</a>
                                            {% elseif (lotId == 1) and (items.step ===48)%}
                                                <a class="app-task-list__tag" href="/rfp/assessment-question?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">{{items.OCDS.description}}</a>
                                            {% elseif(items.step ===48)%}
                                                <a class="app-task-list__tag" href="/rfp/set-scoring-criteria?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">{{items.OCDS.description}}</a>
                                            {% elseif(items.step ===40) %}
                                                <a class="app-task-list__tag" href="/rfp/assessment-question?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">{{items.OCDS.description}}</a>
                                            {%else%}
                                                <a class="app-task-list__tag" href="/rfp/assessment-question?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">{{items.OCDS.description}}</a>
                                                {%endif%}
                                                {# <a class="app-task-list__tag" href="/rfp/questions?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}" aria-describedby="eoi-questions">{{items.OCDS.description}}</a> #}
                                                {# <strong>{{items.OCDS.description}}</strong> #}
                                            </strong>
                                        </span>
                                        {% if (items.questionStatus == 'todo') %}
                                        {% if (lotId == 3) and (items.OCDS.id === 'Group 8') and (socialvalueAccess == true) %}
                                           {% elseif (lotId == 1) and (items.OCDS.id === 'Group 9') and (socialvalueAccess == true) %}    
                                            {% elseif (items.nonOCDS.mandatory) %}
                                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">TO DO</strong>
                                            {% elseif (items.nonOCDS.mandatory == false) %}
                                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Optional</strong>
                                            {% else %}
                                                <strong class="govuk-tag govuk-tag--green app-task-list__tag" >Done</strong>
                                            {% endif %}
                                        {% else %}
                                            {% if (lotId == 3) and (items.OCDS.id === 'Group 8') and (socialvalueAccess == true) %}
                                           {% elseif (lotId == 1) and (items.OCDS.id === 'Group 9') and (socialvalueAccess == true) %}
                                           {%else%}
                                            <strong class="govuk-tag govuk-tag--green app-task-list__tag">Done</strong>
                                              {% endif %}
                                        {% endif %}
                                        
                                    </li>

                                    {# <li class="app-task-list__item govuk-!-font-size-24 govuk-!-padding-bottom-4 govuk-!-padding-top-4">
                            <span class="app-task-list__task-name">
                                <strong>{{items.OCDS.description}}</strong>
                            </span>
                            {% set hreflink = items.OCDS.description | replace(" ", "_") %}
                            {% set criterion_id = items.id | replace(" ", "_") %}
                            {% if(items.step ===48) %}
                                <a class="app-task-list__tag" href="/rfp/set-scoring-criteria?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">[Add/ edit link]</a>
                            {% elseif(items.step ===40) %}
                                <a class="app-task-list__tag" href="/rfp/assessment-question?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">[Review link]</a>
                            {%else%}
                                <a class="app-task-list__tag" href="/rfp/assessment-question?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">[Add/ edit link]</a>
                            {%endif%}
                        </li> #}
                        {%endif%}
                                    {%endif%}
                                {% else %}
                                    <li class="app-task-list__item govuk-!-padding-bottom-4 govuk-!-padding-top-4">
                                        <span class="app-task-list__task-name">
                                            <strong class="govuk-!-font-size-24">
                                                {% set hreflink = items.OCDS.description | replace(" ", "_") %}
                                                {% set criterion_id = items.id | replace(" ", "_") %}
                                                {% if (items.step === 48) %}
                                                    <a class="app-task-list__tag" href="/rfp/set-scoring-criteria?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">{{items.OCDS.description}}</a>
                                                {% elseif(items.step ===40) %}
                                                    <a class="app-task-list__tag" href="/rfp/assessment-question?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">{{items.OCDS.description}}</a>
                                                    {%else%}
                                                    <a class="app-task-list__tag" href="/rfp/assessment-question?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">{{items.OCDS.description}}</a>
                                                    {%endif%}
                                                    {# <a class="app-task-list__tag" href="/rfp/questions?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}" aria-describedby="eoi-questions">{{items.OCDS.description}}</a> #}
                                                    {# <strong>{{items.OCDS.description}}</strong> #}
                                                </strong>
                                            </span>

                                            {% if (items.questionStatus == 'todo') %}
                                                {% if (items.nonOCDS.mandatory) %}
                                                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag">TO DO</strong>
                                                {% elseif items.nonOCDS.mandatory == false %}
                                                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Optional</strong>
                                                {% else %}
                                                    <strong class="govuk-tag govuk-tag--green app-task-list__tag" >Done</strong>
                                                {% endif %}
                                            {% else %}
                                                <strong class="govuk-tag govuk-tag--green app-task-list__tag">Done</strong>
                                            {% endif %}
                                        </li>
                                        {# <li class="app-task-list__item govuk-!-font-size-24 govuk-!-padding-bottom-4 govuk-!-padding-top-4">
                            <span class="app-task-list__task-name">
                                <strong>{{items.OCDS.description}}</strong>
                            </span>
                            {% set hreflink = items.OCDS.description | replace(" ", "_") %}
                            {% set criterion_id = items.id | replace(" ", "_") %}
                            {% if(items.step ===48) %}
                                <a class="app-task-list__tag" href="/rfp/set-scoring-criteria?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">[Add/ edit link]</a>
                            {% elseif(items.step ===40) %}
                                <a class="app-task-list__tag" href="/rfp/assessment-question?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">[Review link]</a>
                            {%else%}
                                <a class="app-task-list__tag" href="/rfp/assessment-question?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}&section=5&step={{items.step}}" aria-describedby="rfp-questions">[Add/ edit link]</a>
                            {%endif%}
                        </li> #}
                                    {% endif %}
                                {% endfor %}

                            </ul>
                            <br>
                            <br>
                            <p class="govuk-body govuk-!-margin-top-9">
                                <a href="{{ file_data.form.backJump.href }}" class="govuk-link govuk-link--no-visited-state">{{ file_data.form.backJump.title }}</a>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            {{ CCSReleatedContent(releatedContent,lotId) }}
                        </div>
                    </div>
                </main>
            {% endblock %}