{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% set title = 'Suppliers you want to approach | Crown Commercial Service' %}

{% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                   <strong> {{data.title }} </strong>
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}
                <p class="govuk-body govuk-!-margin-bottom-7">{{data.subtitle}}</p>
               
             <p class="govuk-body">Find more information on each supplier on the main <a target="_blank" rel="noopener noreferrer" href="{{lotSuppliers}}">CCS website.</a> <span class="govuk-visually-hidden">The page will open on a new tab.</span>
              The page will open in a new tab</p>
              <form id="ccs-rfp-suppliers-form" class="ccs-rfp-suppliers-form" action="/rfp/suppliers" method="POST">
                {{ csrfProtection(csrf) }}
                    <br>
                    <h2 class="govuk-heading-m">
                        <span id="added_suppliers_count">
                            {{supplierLength}}
                        </span> suppliers on this lot </h2>
                    <br>
                       {% if(enablebtn) %}
                    <div class="govuk-button-group govuk-!-margin-bottom-7">
                        {{ CCSButton({
                text: "Save and continue"
                }) }}
                        <a href="{{data.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>
                        <a href="/rfp/suppliers?download=1" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Download this list</a>
                    </div>
                     {% else %}
                      <div class="govuk-button-group govuk-!-margin-bottom-7">
                        <a href="/rfp/suppliers?download=1" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Download this list</a>
                    </div>
          {% endif %}
                    <div class="govuk-form-group ccs-page-section"></div>
                    <div id="page1" >
                        <div id="supplier-list">
                            <div class="govuk-form-group ccs-page-section">
                                <h3>
                                    
                
                                </h3>
                            </div>
                            {% for supplier in suppliers_list %}
                                <div class="govuk-form-group ccs-page-section">
                                    <h3 class="govuk-heading-m">{{supplier.organization.name}}</h3>
                                    <div id="rfp_required_suppliers-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                        {% if supplier.organization.identifier.legalName | length > 0 %}
                                            <label>{{supplier.organization.identifier.legalName}}
                                            </label>
                                            <br>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                                       <div>
                                         </br>
                                         {% if(showPrevious) %}
          <a href="suppliers?previous=1" class="govuk-link govuk-link--no-visited-state"><- Previous Page</a>
          {% endif %}
          {% if(showNext) %}
          <a href="suppliers?next=1" class="govuk-link govuk-link--no-visited-state anchor-right">-> Next Page</a>
          {% endif %}
          </div><br>
          <div>
          {% if(showPrevious) %}
          <label>{{currentpagenumber}} of {{noOfPages}}</label>
          {% endif %}
          {% if(showNext) %}
          <label class="anchor-right">{{currentpagenumber}} of {{noOfPages}}</label>
          {% endif %}
          </div>
          </br>  </br>
                    <!--<div class="govuk-button-group">
                        {{ CCSButton({
                text: "Save and continue"
                }) }}
                        <a href="{{data.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>
                    </div>-->
                </form>

            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>

    </main>

{% endblock %}