{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% set title = 'RFP - response date | Crown Commercial Service' %}

{% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    {{data.title }}
                </h1>
            </div>
        </div>
        {% if(error)%}
            {{ CCSErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: errorMessage.text,
      href: "#"+errorMessage.href
    }
  ]
}) }}

            {% endif%}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                    {% include "includes/project_header.njk" %}
                    <br>
                    {{prompt | safe}}

                    <div class="govuk-form-group ccs-page-section">
                        <p class="govuk-body-l"><strong>Timeline for your EoI</strong></p> <br>
                    </div>

                    {% block valuewitNoMultiSelect %}
                        {% for requirement in framework%}
                            {% if (requirement.nonOCDS.questionType === 'DateTime') and (requirement.nonOCDS.multiAnswer === false) %}
                                <div class="govuk-form-group ccs-page-section eoi_publish_date">
                                    <p class="govuk-body">
                                        <span>{{loop.index}} &nbsp; </span>{{requirement.OCDS.title}}</p>
                                    {% if(requirement.OCDS.title == "Publish your EoI" )%}
                                        <p class="govuk-body">
                                            <span> &nbsp; &nbsp; &nbsp;</span>{{data['data'].body.p1}}</p>
                                    {%endif %}
                                    <div id="eoi_clarification_date">

                                        {% if(requirement.nonOCDS.options[0].selected)%}
                                            <label class="govuk-label govuk-body">
                                                <strong id="lbl-clarification" class="clarification_{{loop.index}}">{{ requirement.nonOCDS.options[0].value }}</strong>
                                            </label>
                                        {%endif %}

                                        {% if( requirement.nonOCDS.options.length == 0)%}

                                            {% if(requirement.OCDS.id == "Question 2" )%}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="clarification_period_end" class="clarification_2">{{ eoi_clarification_period_end}}</strong>
                                                </label>
                                            {% elif(requirement.OCDS.id == "Question 3") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="deadline_period_for_clarification_period" class="clarification_3">{{deadline_period_for_clarification_period }}</strong>
                                                </label>
                                            {% elif(requirement.OCDS.id == "Question 4") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="supplier_period_for_clarification_period" class="clarification_4">{{supplier_period_for_clarification_period }}</strong>
                                                </label>
                                            {% elif(requirement.OCDS.id == "Question 5") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="supplier_dealine_for_clarification_period" class="clarification_5">{{supplier_dealine_for_clarification_period }}</strong>
                                                </label>
                                                {%else%}
                                                <label class="govuk-label govuk-body">
                                                    <strong class="clarification_1">{{eoi_clarification_date}}</strong>
                                                </label>
                                                {%endif%}

                                                {%endif%}

                                                {%if (requirement.OCDS.id !== "Question 1")%}

                                                    <a href="#eoi_clarification_date_expanded_{{loop.index}}" id="change_clarification_date_{{loop.index}}"
                        class="govuk-link govuk-link--no-visited-state change">change</a>
                                                </div>

                                                <div id="eoi_clarification_date_expanded_{{loop.index}}">
                                                    <div>
                                                        <label class="govuk-label govuk-body">
                                                            <strong id="lbl-clarification_copy">{{
                                clarification_date_string }}</strong>
                                                        </label>

                                                        <a href="#eoi_clarification_date_{{loop.index}}"  id="cancel_change_clarification_date_{{loop.index}}"
                            class="govuk-link govuk-link--no-visited-state ">I do not want to change this date and time</a>
                                                    </div>
                                                    <br>
                                                    <form action="/eoi/add/response-date" method="post" class="ccs_eoi_response_date_form" id="ccs_eoi_response_date_form">
                                                        <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_date">

                                                            <div class="govuk-date-input" id="clarification_date">

                                                                <div class="govuk-date-input__item">
                                                                    <div class="govuk-form-group">
                                                                        <label class="govuk-label govuk-date-input__label" for="clarification_date-day">
                                        Date
                                    </label>
                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-day_{{loop.index}}" name="clarification_date_day" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-day'] }}" required>
                                                                    </div>
                                                                </div>

                                                                <div class="govuk-date-input__item">
                                                                    <div class="govuk-form-group">
                                                                        <label class="govuk-label govuk-date-input__label" for="clarification_date-month">
                                        Month
                                    </label>
                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-month_{{loop.index}}" name="clarification_date_month" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-month'] }}" required>
                                                                    </div>
                                                                </div>

                                                                <div class="govuk-date-input__item">
                                                                    <div class="govuk-form-group">
                                                                        <label class="govuk-label govuk-date-input__label" for="clarification_date-year">
                                        Year
                                    </label>
                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                        id="clarification_date-year_{{loop.index}}" name="clarification_date_year" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-year'] }}" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_time">

                                                            <div class="govuk-date-input" id="clarification_time">

                                                                <div class="govuk-date-input__item">
                                                                    <div class="govuk-form-group">
                                                                        <label class="govuk-label govuk-date-input__label" for="clarification_date-hour">
                                        Hour
                                    </label>
                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-hour_{{loop.index}}" name="clarification_date_hour" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-hour'] }}" required>
                                                                    </div>
                                                                </div>

                                                                <div class="govuk-date-input__item">
                                                                    <div class="govuk-form-group">
                                                                        <label class="govuk-label govuk-date-input__label" for="clarification_date-minute">
                                        Minutes
                                    </label>
                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-minute_{{loop.index}}" name="clarification_date_minute" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-minute'] }}">
                                                                    </div>
                                                                </div>

                                                                <div class="govuk-date-input__item">
                                                                    {{ CCSSelect({
                                id: "clarification_date-hourFormat",
                                name: "clarification_date_hourFormat",
                                required: true,
                                classes: "",
                                items: [
                                { value:"",
                                text:"Please select"
                                },
                                { value:"AM",
                                text:"AM"
                                },
                                { value:"PM",
                                text:"PM"
                                }
                                ]
                                })
                                }}
                                                                </div>
                                                            </div>
                                                        </fieldset>

                                                        {{ CCSInput({
                    id: "selected_question_id",
                    name: "selected_question_id",
                    type: "hidden",
                    value: requirement.OCDS.id
                    }) }}
                                                        <br><br>
                                                        {{ CCSButton({
                    attributes: {
                    id: "save_clarification_date"
                    },
                    text: "Save New Date"
                    }) }}
                                                    </form>
                                                    {%endif%}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {%endfor%}
                                    {% endblock %}

                                    <div class="govuk-button-group">
                                        <form method="post" action="/eoi/response-date" >
                                            {{ CCSInput({
                    id: "timeStamp",
                    name: "eoi_clarification_date",
                    type: "hidden",
                    value: "Question 1*"+clarification_date
                    }) }}

                                            {{ CCSInput({
                    id: "timeStamp",
                    name: "eoi_clarification_period_end",
                    type: "hidden",
                    value: "Question 2*"+clarification_period_end
                    }) }}

                                            {{ CCSInput({
                    id: "timeStamp",
                    name: "deadline_period_for_clarification_period",
                    type: "hidden",
                    value: "Question 3*"+deadline_period_for_clarification_period
                    }) }}

                                            {{ CCSInput({
                    id: "timeStamp",
                    name: "supplier_period_for_clarification_period",
                    type: "hidden",
                    value: "Question 4*"+supplier_period_for_clarification_period
                    }) }}

                                            {{ CCSInput({
                    id: "timeStamp",
                    name: "supplier_dealine_for_clarification_period",
                    type: "hidden",
                    value: "Question 5*"+supplier_dealine_for_clarification_period
                    }) }}

                    <button class="govuk-button save-button" data-module="govuk-button">Save and continue</button>
                    <a href="/eoi/eoi-tasklist" class="govuk-link govuk-link--no-visited-state">Return to Do pre-market engagement</a>
                </form>
                </div>
                                </div>
                            <div class="govuk-grid-column-one-third">
                                {{ CCSReleatedContent(releatedContent) }}
                            </div>
                        </div>
                    </main>
                {% endblock %}