{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% set title = 'RFP - response date | Crown Commercial Service' %}
{% from "macros/csrf.njk" import csrfProtection %}
{% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
{% endblock %}
{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    {{data.title }}
                </h1>
            </div>
        </div>
        {% if(error)%}
            {{ CCSErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: errorMessage.text,
      href: "#"+errorMessage.href
    }
  ]
}) }}
            {% endif%}
            <div>
    
      <div class="project-overview govuk-div-inline">
  <p class="govuk-body">Selected agreement: <strong>
    {%if agreement_header !=undefined and agreement_header !=null %}
    {{ agreement_header['agreementName'] }}
    {%endif%}
    {% if(agreement_header !=undefined and agreement_header !=null 
    and agreement_header.agreementLotName != undefined)%}, 
    
    {{ agreement_header['lotid'] }}: 
    {{ agreement_header['agreementLotName'] }}  
    {% endif %} 
    
  </strong></p>
  <p class="govuk-body">Agreement ID: 
    {%if(agreement_header !=undefined and   agreement_header !=null) %}
    <strong>
    {{ agreement_header['agreementId_session'] }}
    </strong>
    {%endif%}
    </p>
  {% if agreement_header !=undefined and   agreement_header !=null and agreement_header['project_name'] %}
   <p class="govuk-body">Project ID / Name: <strong>{{agreement_header['project_name']}}</strong></p>
    {% else %}
     <p class="govuk-body">Project name: You have not saved projects </p>
    {% endif %}
  </p>
</div>

      
      <div class="ccs-callout-panel margin-left">
        <h2 class="govuk-heading-m">{{releatedContent.title}}</h2>
        <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href={{ releatedContent.lotUrl }} target="_blank" rel="noopener noreferrer">{{releatedContent.name}}, {{releatedContent.lotName}}</a>
        </p>
    </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
                    <br>
                    {% if (selectedeventtype=='DA')%}
                    <p class="govuk-body">{{data.subtitleDA}}</p><br>
                    <div>
                    <div class="vl govuk-div-inline"></div>
                    <div><p class="govuk-body">{{data.subtitleDA1}}</p></div>
                    </div>
                    <div class="govuk-form-group ccs-page-section govuk-!-padding-bottom-5">
                        <p class="govuk-body-l govuk-!-margin-top-3"><strong>Timeline</strong></p>
                    </div>
                    <br>
                    {%else%}
                     <p class="govuk-body">{{data.subtitle}}</p>
         <p class="govuk-body">{{data.subtitle1}}</p>
          <ul type="disc">
          <li><b>four</b> working days from publishing your one stage further competition until the clarification period closes</li>
          <li><b>two</b> working days from the clarification period closing to publishing your responses to the clarification questions</li>
          <li><b>four</b> working days from publishing responses to clarification questions to the deadline for the suppliers to submit their responses.</li>
          </ul>
         <p class="govuk-body">{{subtitle2}}</p>
         <p class="govuk-body">The clarification period is when suppliers can ask you further questions before submitting their information. You must meet the deadline you set for responding to their questions.</p><br/>
         <p class="govuk-body"><b>You can change the length of time for each section to more suitable times for you. It is recommended you set your times no later than 4pm on a weekday in case you need to contact CCS about your project.</b></p>
                    <div class="govuk-form-group ccs-page-section govuk-!-padding-bottom-5">
                        <p class="govuk-body-l govuk-!-margin-top-3"><strong>Timeline for the your further competition</strong></p>
                          <input type="hidden" value="rfp-date" id ="rfp-date">

                    </div>
                    {%endif%} <br>
                    {% block valuewitNoMultiSelect %}
                        {% for requirement in framework%}
                            {% if (requirement.nonOCDS.questionType === 'DateTime') and (requirement.nonOCDS.multiAnswer === false) %}
                                <div class="govuk-form-group ccs-page-section eoi_publish_date">
                                    <p class="govuk-body">
                                        <span>{{loop.index}} &nbsp; </span>{{requirement.OCDS.title}}</p>
                                    {% if(requirement.OCDS.title == "Publish your EoI" )%}
                                        <p class="govuk-body">
                                            <span> &nbsp; &nbsp; &nbsp;</span>{{data['data'].body.p1}}</p>
                                    {%endif %}
                                    <div id="rfp_clarification_date" class="govuk-!-margin-bottom-5 govuk-!-padding-top-4">
                                        {% if(requirement.nonOCDS.options[0].selected)%}
                                            <label class="govuk-label govuk-body">
                                                <strong id="lbl-clarification" class="clarification_{{loop.index}}">{{ requirement.nonOCDS.options[0].value }}</strong>
                                            </label>
                                        {%endif %}
                                        {% if( requirement.nonOCDS.options.length == 0)%}
                                            {% if(requirement.OCDS.id == "Question 2" )%}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="clarification_period_end" class="clarification_2">{{ rfp_clarification_period_end}}</strong>
                                                </label>
                                            {% elif(requirement.OCDS.id == "Question 3") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="deadline_period_for_clarification_period" class="clarification_3">{{deadline_period_for_clarification_period }}</strong>
                                                </label>
                                            {% elif(requirement.OCDS.id == "Question 4") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="supplier_period_for_clarification_period" class="clarification_4">{{supplier_period_for_clarification_period }}</strong>
                                                </label>
                                            {% elif(requirement.OCDS.id == "Question 5") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="supplier_dealine_for_clarification_period" class="clarification_5">{{supplier_dealine_for_clarification_period }}</strong>
                                                </label>
                                                 {% elif(requirement.OCDS.id == "Question 6") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="deadline_for_submission_of_stage_one" class="clarification_6">{{deadline_for_submission_of_stage_one }}</strong>
                                                </label> {% elif(requirement.OCDS.id == "Question 7") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="evaluation_process_start_date" class="clarification_7">{{evaluation_process_start_date}}</strong>
                                                </label> {% elif(requirement.OCDS.id == "Question 8") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="bidder_presentations_date" class="clarification_8">{{bidder_presentations_date}}</strong>
                                                </label> {% elif(requirement.OCDS.id == "Question 9") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="standstill_period_starts_date" class="clarification_9">{{standstill_period_starts_date}}</strong>
                                                </label> {% elif(requirement.OCDS.id == "Question 10") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="proposed_award_date" class="clarification_10">{{proposed_award_date}}</strong>
                                                </label> {% elif(requirement.OCDS.id == "Question 11") %}
                                                <label class="govuk-label govuk-body">
                                                    <strong id="expected_signature_date" class="clarification_11">{{expected_signature_date}}</strong>
                                                </label>
                                                {%else%}
                                                <label class="govuk-label govuk-body">
                                                    <strong class="clarification_1">{{rfp_clarification_date}}</strong>
                                                </label>
                                                {%endif%}
                                                {%endif%}
                                                {%if (requirement.OCDS.id !== "Question 1")%}
                                                {% if (requirement.OCDS.title == 'Standstill starts<br>A 10-day pause in the procedure for suppliers to consider if they wish to challenge the decision. If you do not require a standstill, change this date to be the same as point 9 below.') %} 
                                                    <a href="#rfp_clarification_date_expanded_{{loop.index}}" id="change_clarification_date_{{loop.index}}"

                        class="govuk-link govuk-link--no-visited-state change" >change<span class="govuk-visually-hidden"> Standstill start date</span></a>
                                                {% else %}
                                                 <a href="#rfp_clarification_date_expanded_{{loop.index}}" id="change_clarification_date_{{loop.index}}"
                        class="govuk-link govuk-link--no-visited-state change" >change<span class="govuk-visually-hidden"> {{requirement.OCDS.title}} </span></a>
                                                {% endif %}

                                                <div id="rfp_clarification_date_expanded_{{loop.index}}">
                                                    <div>
                                                        <label class="govuk-label govuk-body">
                                                            <strong id="lbl-clarification_copy">{{
                                clarification_date_string }}</strong>
                                                        </label>
                                                        <a href="#rfp_clarification_date_{{loop.index}}"  id="rfp_cancel_change_clarification_date_{{loop.index}}"
                            class="govuk-link govuk-link--no-visited-state " hidden>I do not want to change this date and time</a>
                                                    </div>
                                                    <br>
                                                    <form action="/rfp/add/response-date" method="post" class="ccs_eoi_response_date_form" id="ccs_rfp_response_date_form_{{loop.index}}">
                                                    {{ csrfProtection(csrf) }}
                                                        <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_date">
                                                            <div class="govuk-date-input" id="clarification_date">
                                                                <div class="govuk-date-input__item">
                                                                    <div class="govuk-form-group">
                                                                        <label class="govuk-label govuk-date-input__label" for="clarification_date-day_{{loop.index}}">
                                        Date
                                    </label>
                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-day_{{loop.index}}" name="clarification_date_day" type="text"
                                       inputmode="numeric"
                                        value="{{ data['clarification_date-day'] }}" >
                                                                    </div>
                                                                </div>
                                                                <div class="govuk-date-input__item">
                                                                    <div class="govuk-form-group">
                                                                        <label class="govuk-label govuk-date-input__label" for="clarification_date-month_{{loop.index}}">
                                        Month
                                    </label>
                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-month_{{loop.index}}" name="clarification_date_month" type="text"
                                         inputmode="numeric"
                                        value="{{ data['clarification_date-month'] }}" >
                                                                    </div>
                                                                </div>
                                                                <div class="govuk-date-input__item">
                                                                    <div class="govuk-form-group">
                                                                        <label class="govuk-label govuk-date-input__label" for="clarification_date-year_{{loop.index}}">
                                        Year
                                    </label>
                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                        id="clarification_date-year_{{loop.index}}" name="clarification_date_year" type="text"
                                         inputmode="numeric"
                                        value="{{ data['clarification_date-year'] }}" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_time">
                                                            <div class="govuk-date-input" id="clarification_time">
                                                                <div class="govuk-date-input__item">
                                                                    <div class="govuk-form-group">
                                                                        <label class="govuk-label govuk-date-input__label" for="clarification_date-hour_{{loop.index}}">
                                        Hour
                                    </label>
                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-hour_{{loop.index}}" name="clarification_date_hour" type="text"
                                         inputmode="numeric"
                                        value="{{ data['clarification_date-hour'] }}" >
                                                                    </div>
                                                                </div>
                                                                <div class="govuk-date-input__item">
                                                                    <div class="govuk-form-group">
                                                                        <label class="govuk-label govuk-date-input__label" for="clarification_date-minute_{{loop.index}}">
                                        Minutes
                                    </label>
                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-minute_{{loop.index}}" name="clarification_date_minute" type="text"
                                         inputmode="numeric"
                                        value="{{ data['clarification_date-minute'] }}">
                                                                    </div>
                                                                </div>
                                                                <div class="govuk-date-input__item">
                                                                    {{ CCSSelect({
                                id: "clarification_date-hourFormat_"+loop.index,
                                name: "clarification_date_hourFormat",                      
                                classes: "",
                                items: [
                                { value:"",
                                text:"Please select"
                                },
                                { value:"AM",
                                text:"AM"
                                },
                                { value:"PM",
                                text:"PM"
                                }
                                ]
                                })
                                }}
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        {{ CCSInput({
                    id: "selected_question_id",
                    name: "selected_question_id",
                    type: "hidden",
                    value: requirement.OCDS.id
                    }) }}
                                                        <br><br>
                                                        {{ CCSButton({
                    attributes: {
                    id: "save_clarification_date"
                    },
                    text: "Save New Date"
                    }) }}
                                                    </form>
                                                    {%endif%}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {%endfor%}
                                    {% endblock %}
                                    <div class="govuk-button-group">
                                        <form method="post" action="/rfp/response-date" >
                                        {{ csrfProtection(csrf) }}
                                            {{ CCSInput({
                    id: "timeStamp",
                    name: "rfp_clarification_date",
                    type: "hidden",
                    value: "Question 1*"+rfp_clarification_date
                    }) }}
                                            {{ CCSInput({
                    id: "timeStamp",
                    name: "rfp_clarification_period_end",
                    type: "hidden",
                    value: "Question 2*"+rfp_clarification_period_end
                    }) }}
                                            {{ CCSInput({
                    id: "timeStamp",
                    name: "deadline_period_for_clarification_period",
                    type: "hidden",
                    value: "Question 3*"+deadline_period_for_clarification_period
                    }) }}
                                            {{ CCSInput({
                    id: "timeStamp",
                    name: "supplier_period_for_clarification_period",
                    type: "hidden",
                    value: "Question 4*"+supplier_period_for_clarification_period
                    }) }}
                                            {{ CCSInput({
                    id: "timeStamp",
                    name: "supplier_dealine_for_clarification_period",
                    type: "hidden",
                    value: "Question 5*"+supplier_dealine_for_clarification_period
                    }) }}
                                                                {{ CCSInput({
                    id: "timeStamp",
                    name: "deadline_for_submission_of_stage_one",
                    type: "hidden",
                    value: "Question 6*"+deadline_for_submission_of_stage_one
                    }) }}
                                                                {{ CCSInput({
                    id: "timeStamp",
                    name: "evaluation_process_start_date",
                    type: "hidden",
                    value: "Question 7*"+evaluation_process_start_date
                    }) }}
                                                                {{ CCSInput({
                    id: "timeStamp",
                    name: "bidder_presentations_date",
                    type: "hidden",
                    value: "Question 8*"+bidder_presentations_date
                    }) }}
                                                                {{ CCSInput({
                    id: "timeStamp",
                    name: "standstill_period_starts_date",
                    type: "hidden",
                    value: "Question 9*"+standstill_period_starts_date
                    }) }}
                                                                                    {{ CCSInput({
                    id: "timeStamp",
                    name: "proposed_award_date",
                    type: "hidden",
                    value: "Question 10*"+proposed_award_date
                    }) }}
                                                                                    {{ CCSInput({
                    id: "timeStamp",
                    name: "expected_signature_date",
                    type: "hidden",
                    value: "Question 11*"+expected_signature_date
                    }) }}
                    <button class="govuk-button save-button" data-module="govuk-button">Save and continue</button>
                    <a href="/rfp/task-list" class="govuk-link govuk-link--no-visited-state">Return to Write and publish your requirements</a>
                </form>
                </div>
                                </div>
                            
                        </div>
                    </main>
                {% endblock %}