{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}

{% set title = 'Provide information online | Contract a Thing' %}
{% set url -%}
  /projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}}
{%- endset %}
{% block breadCrumb %}
    {{ CCSBreadcrumbs({
        items: file_data.breadCrumbs
    }) }}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{file_data.title }}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop ">
        <div class="govuk-!-margin-bottom-6">
        {% include "includes/project_header.njk" %}
        </div>
        <p class="govuk-body govuk-!-margin-bottom-7">{{file_data.form.question}}</p>
            <ul class="app-task-list ccs-rfp-buildtask-list">
                {% for items in data %}

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <strong>{{items.OCDS.description}}</strong>
                        </span>
                        {% set hreflink = items.OCDS.description | replace(" ", "_") %}
                        {% set criterion_id = items.id | replace(" ", "_") %}
                        <a class="app-task-list__tag" href="/rfp/questions?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{items.criterianId}}&group_id={{items.OCDS.id}}" aria-describedby="rfp-questions">{{items.nonOCDS.task}}</a>
                    </li>

                {% endfor %}

            </ul>
            <br>
            <br>
            <p class="govuk-body">
                <a href="{{ file_data.form.backJump.href }}" class="govuk-link govuk-link--no-visited-state">{{ file_data.form.backJump.title }}</a>
            </p>
        </div>
        <div class="govuk-grid-column-one-third">
            {{ CCSReleatedContent(releatedContent) }}
        </div>
    </div>
    </main>
{% endblock %}