{% extends "template.njk" %}
{% if agreementId_session == 'RM6187' %}
  {% set footerSupportLayer = true %}
  {% set fcaHelperLayer = true %}
{% endif %}
{% from "macros/csrf.njk" import csrfProtection %}
{% set title = 'FC review | Crown Commercial Service' %}
{% set numberWordBig = [
  'Zero',
  'First',
  'Second',
  'Third',
  'Fourth',
  'Fifth',
  'Sixth',
  'Seventh',
  'Eight',
  'Ninth',
  'Tenth'
] %}
{% set numberWordSmall = [
  'Zero',
  ' first',
  ' second',
  ' third',
  ' fourth',
  ' fifth',
  ' sixth',
  ' seventh',
  ' eight',
  ' ninth',
  ' tenth'
] %}
{% block breadCrumb %}
  {% if eventStatus != "published"%}
    {% if stage2_value == "Stage 2" and agreementId_session=='RM1043.8'%}
      {{ CCSBreadcrumbs({items: data.breadCrumbsdos}) }}
    {% else %}
      {{ CCSBreadcrumbs({items: data.breadCrumbs}) }}
    {% endif %}
  {% else %}
    {{ CCSBreadcrumbs({
          items: [
                {"text": "Dashboard","href": "/dashboard"},
                {"text": "Review and publish"}    ] 
  }) }}
  {% endif %}
{% endblock %}
{% block content %}
<div class="govuk-error-summary hide-block" id="checkbox_error_summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list" id="checkbox_error_summary_list">
    </ul>
  </div>
</div>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    {% if (viewError == true) and (apiError == false) %}
      {{ CCSErrorSummary({
        titleText: "There is a problem with publishing RFP",
        errorList: [
          {
            text: "You must check this box to confirm that you have read and confirm the statements above",
            href: "#ccs_rfp_publish_form"
          }
        ]
      }) }}
    {% endif %}
    {% if (checkboxerror == 1) %}
      {{ CCSErrorSummary({
        titleText: "There has been an error publishing your FC",
        errorList: [
          {
            text: "Confirm that the information you have provided is correct",
            href: "#ccs_rfp_publish_form"
          }
        ]
      }) }}
    {% endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          <strong>Review and publish stage 2: further assessment
            <strong></h1>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
            {% include "includes/project_header.njk" %}
            <br>
            <br>
            <p class="govuk-body">
            </p>
            <br>
            <br>
            {% if (selectedeventtype == 'DA') %}
              {{ CCSButton({
    text: "Export your draft",
    classes: "govuk-button--secondary",
    href: "/rfp/review?download=1"
    }) }}
            {% elseif(agreementId_session=='RM1043.8') and (selectedeventtype=='FC')%}
              {{ CCSButton({
    text: "Export your draft stage 2 ",
    classes: "govuk-button--secondary",
    href: "/rfp/review?download=1"
    }) }}
            {% elseif(selectedeventtype=='FC') %}
              {{ CCSButton({
    text: "Export your draft further competition",
    classes: "govuk-button--secondary",
    href: "/rfp/review?download=1"
    }) }}

            {% else %}
              {{ CCSButton({
    text: "Export your draft further competition",
    classes: "govuk-button--secondary",
    href: "/rfp/review?download=1"
    }) }}
            {% endif %}
            <br>
            <br></div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full"></div>
        </div>
        {# --------1 Project and colleagues---START------  #}
        {% block Project_And_colleagues %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h2 class="govuk-heading-l">
                 {% if stage2_value == "Stage 2" and agreementId_session=='RM1043.8'%}
                  1. Project and collaborators
                 {% else %}
                  1. Project and colleagues
                 {% endif %}
               
                </h2>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"></dt>
                  <dd class="govuk-summary-list__value"></dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                    <p>
                                  Name your project</p>
                  </dt>
                  {% if project_name | length > 0 %}
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-body">
                        {{ project_name | safe }}
                      </p>
                    </dd>
                  {% else %}
                    <dd class="govuk-summary-list__value">
                                  You have not given a custom name to your project
                                </dd>
                  {% endif %}
                  <dd class="govuk-summary-list__actions">
                    {% if eventStatus != "published" %}
                      <a class="govuk-link" href="/rfp/name-your-project">
                                    Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                    {% endif %}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                    {% if agreementId_session == 'RM6187' %}
                      <p>Change will lead the procurement (optional)</p>
                    {% elseif stage2_value == "Stage 2" and agreementId_session=='RM1043.8'%} 
                      <p>Change who will to lead your project</p>
                    {% else %}
                      <p>Change who is going to lead the procurement</p>
                    {% endif %}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--none">
                      <li>
                        <p class="govuk-body">{{ procurementLead.name }}</p>
                      </li>
                      <li>
                        <p class="govuk-body">{{ procurementLead.email }}</p>
                      </li>
                      <li>
                        <p class="govuk-body">{{ procurementLead.telephone }}</p>
                      </li>
                    </ul>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    {% if eventStatus != "published" %}
                      <a class="govuk-link" href="/rfp/procurement-lead">
                                    Change<span class="govuk-visually-hidden">
                                      procurement lead</span>
                      </a>
                    {% endif %}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                    <p>
                      {% if agreementId_session == 'RM6187' %}
                        Add colleagues to your project
                      {% elseif stage2_value == "Stage 2" and agreementId_session=='RM1043.8'%} 
                      Add members to your project 
                      {% else %}
                        Add colleagues
                      {% endif %}
                    </p>
                  </dt>
                  {% if procurementColleagues != undefined and procurementColleagues != null and procurementColleagues | length > 0 %}
                    <dd class="govuk-summary-list__value">
                      <ul class="govuk-list govuk-list--none">
                        {% for collaborator in procurementColleagues %}
                          <li>
                            <ul class="govuk-list govuk-list--none">
                              <li>
                                <p class="govuk-body">{{ collaborator.name }}</p>
                              </li>
                              <li>
                                <p class="govuk-body">{{ collaborator.email }}</p>
                              </li>
                              <li>
                                <p class="govuk-body">{{ collaborator.telephone }}</p>
                              </li>
                            </ul>
                          </li>
                        {%- endfor %}
                      </ul>
                    </dd>
                  {% else %}
                    <dd class="govuk-summary-list__value">
                                  You have not added anyone so far in your team
                                </dd>
                  {% endif %}
                  <dd class="govuk-summary-list__actions">
                    {% if eventStatus != "published" %}
                      <a class="govuk-link" href="/rfp/add-collaborators">
                                    Change<span class="govuk-visually-hidden">
                                      eoi team members</span>
                      </a>
                    {% endif %}
                  </dd>
                </div>
              </dl>
            {% endblock %}
            {# END--------------------Project and colleagues-----------------#}
            {% if agreementId_session == 'RM6263' %}
              {# START----------------------Upload pricing schedules and any other supporting documents-1 #}
              {% block Upload_pricing_schedules1 %}
                <h2 class="govuk-heading-l">2. Upload pricing schedules and any other supporting documents
                            </h2>
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"></dt>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions"></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                      <p>Upload your pricing schedule</p>
                    </dt>
                    {% if document != undefined and document != null and document | length > 0 %}
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">
                          {{ document | safe }}
                        </p>
                      </dd>
                    {% else %}
                      <dd class="govuk-summary-list__value"></dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published" %}
                        <a class="govuk-link" href="/rfp/upload-attachment">
                                      Change<span class="govuk-visually-hidden">project name</span>
                        </a>
                      {% endif %}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                      <p>Upload more documents (optional)</p>
                    </dt>
                    {# <dd class="govuk-summary-list__value"> #}
                    {% if (document != undefined and document != null and documents | length > 0) %}
                      <dd class="govuk-summary-list__value">
                        <ul class="govuk-list govuk-list--none">
                          {% for doc in documents %}
                            <li>
                              <span class="govuk-body">{{ doc }}</span>
                            </li>
                          {%- endfor %}
                        </ul>
                      </dd>
                    {% else %}
                      <dd class="govuk-summary-list__value"></dd>
                    {% endif %}
                    {# </dd> #}
                    <dd class="govuk-summary-list__actions">
                      {% if (eventStatus != '' and eventStatus != "published") %}
                        <a class="govuk-link" href="/rfp/upload-doc">
                                      Change<span class="govuk-visually-hidden">
                                        procurement lead</span>
                        </a>
                      {% endif %}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      <p class="govuk-!-margin-bottom-0">Confirm if the IR35 off-payroll working rules apply</p>
                    </dt>
                    {% if (ir35 != undefined and ir35 != null and ir35 | length > 0) %}
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">
                          {{ ir35 | safe }}
                        </p>
                      </dd>
                    {% else %}
                      <dd class="govuk-summary-list__value"></dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published" %}
                        <a class="govuk-link" href="/rfp/IR35">
                                      Change<span class="govuk-visually-hidden">
                                        eoi team members</span>
                        </a>
                      {% endif %}
                    </dd>
                  </div>
                </dl>
              {% endblock %}
              {# END----------------------Upload pricing schedules and any other supporting documents-1 #}
            {% else %}
              {# START----------------------The services you need  #}
              {% if (agreement_id != "RM1043.8") %}
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">2. The services you need
                              </h2>
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"></dt>
                        <dd class="govuk-summary-list__value"></dd>
                        <dd class="govuk-summary-list__actions"></dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          <ul>
                            {% for serviceInfo in selectedServices %}
                              <li>{{ serviceInfo.name }}</li>
                            {% endfor %}
                          </ul>
                        </dt>
                        <dd class="govuk-summary-list__value"></dd>
                        <dd class="govuk-summary-list__actions"></dd>
                      </div>
                    </dl>
                  </div>
                </div>
              {% endif %}
              {# END----------------------The services you need #}
            {% endif %}
            {# START----------- 2. Upload pricing schedules and other documents #}
            {# START----------- 2. Upload pricing schedules and other documents #}
            {% block Upload_pricing_schedules_and_other_documents %}
              <h2 class="govuk-heading-l">2. Upload pricing schedules and other documents
              </h2>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"></dt>
                  <dd class="govuk-summary-list__value"></dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                  <dt class="govuk-summary-list__key">
                    <h3 class="govuk-!-margin-bottom-0">
                      <strong>Upload your pricing schedule</strong>
                    </h3>
                  </dt>
                  <dd class="govuk-summary-list__value">&nbsp;</dd>
                  <dd class="govuk-summary-list__actions">
                    {% if eventStatus != "published" %}
                      <a class="govuk-link" href="/rfp/upload-attachment">
                      Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                    {% endif %}
                  </dd>
                </div>
                

                {% if document != undefined and document != null and document | length > 0 %}
                  {% set rows = 1 %}
                  {% for doc in document %}
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                      <dt class="govuk-summary-list__value">
                        <p>Document {{rows}}</p>
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <span class="govuk-body">{{ doc }}</span>
                      </dd>
                      <dd class="govuk-summary-list__actions">&nbsp;</dd>
                  </div>
                    {% set rows = rows + 1 %}
                  {%- endfor %}
                {% else %}
                <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                  <dt class="govuk-summary-list__key"></dt>
                  <dd class="govuk-summary-list__value"></dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                {% endif %}

                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"></dt>
                  <dd class="govuk-summary-list__value"></dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                  <dt class="govuk-summary-list__key">
                    <h3 class="govuk-!-margin-bottom-0">
                         {%if stage2_value == "Stage 2" and agreementId_session=='RM1043.8'%} 
                       <strong>Upload your core terms, call-off order form and schedules (terms and conditions) </strong>
                       {%else %}
                          <strong>Upload terms and conditions</strong>
                       {%endif %}
                    </h3>
                  </dt>
                  <dd class="govuk-summary-list__value">&nbsp;</dd>
                  <dd class="govuk-summary-list__actions">
                    {% if eventStatus != "published" %}
                      <a class="govuk-link" href="/rfp/upload-doc">
                      Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                    {% endif %}
                  </dd>
                </div>
                  {% if documentsoptional != undefined and documentsoptional != null and documentsoptional | length > 0 %}
                    {% set rows = 1 %}
                    {% for docs in documentsoptional %}
                      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__value">
                          <p>Document {{rows}}</p>
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <span class="govuk-body">{{ docs }}</span>
                        </dd>
                        <dd class="govuk-summary-list__actions"></dd>
                      </div>
                      {% set rows = rows + 1 %}
                    {%- endfor %}
                  {% else %}
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__key"></dt>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions"></dd>
                  </div>
                  {% endif %}

                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"></dt>
                  <dd class="govuk-summary-list__value"></dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                  <dt class="govuk-summary-list__key">
                    <h3 class="govuk-!-margin-bottom-0">
                      <strong>Upload assessment documents</strong>
                    </h3>
                  </dt>
                  <dd class="govuk-summary-list__value">&nbsp;</dd>
                  <dd class="govuk-summary-list__actions">
                    {% if eventStatus != "published" %}
                      <a class="govuk-link" href="/rfp/upload-additional">
                      Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                    {% endif %}
                  </dd>
                </div>
                  {% if documents != undefined and documents != null and documents | length > 0 %}
                    {% set rows = 1 %}
                    {% for docs in documents %}
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                          <dt class="govuk-summary-list__value">
                            <p>Document {{rows}}</p>
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ docs }}</p>
                          </dd>
                          <dd class="govuk-summary-list__actions"></dd>
                        </div>
                      {% set rows = rows + 1 %}
                    {%- endfor %}
                  {% else %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"></dt>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions"></dd>
                  </div>
                  {% endif %}
            
                {# 4 #}
                  {%if stage2_value == "Stage 2" and agreementId_session=='RM1043.8'%} 
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"></dt>
                  <dd class="govuk-summary-list__value"></dd>
                  <dd class="govuk-summary-list__actions"></dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                  <dt class="govuk-summary-list__key">
                  <h3 class="govuk-!-margin-bottom-0">
                  <strong>Upload additional documents (optional)</strong>
                  </h3>
                  </dt>
                  <dd class="govuk-summary-list__value">&nbsp;</dd>
                  <dd class="govuk-summary-list__actions">
                  {% if eventStatus != "published" %}
                  <a class="govuk-link" href="/rfp/upload-additional-doc">
                  Change<span class="govuk-visually-hidden">project name</span>
                  </a>
                  {% endif %}
                  </dd>
                  </div>
                  {% if documentssecoptional != undefined and documentssecoptional != null and documentssecoptional | length > 0 %}
                    {% set rows = 1 %}
                    {% for docs in documentssecoptional %}
                      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__value">
                        <p>Document {{rows}}</p>
                        </dt>
                        <dd class="govuk-summary-list__value">
                        <span class="govuk-body">{{ docs }}</span>
                        </dd>
                        <dd class="govuk-summary-list__actions"></dd>
                      </div>
                      {% set rows = rows + 1 %}
                    {%- endfor %}
                  {% else %}
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"></dt>
                  <dd class="govuk-summary-list__value"></dd>
                  <dd class="govuk-summary-list__actions"></dd>
                  </div>
                  {% endif %}
                  {%endif %}
                {# 4 #}

              </dl>
            {% endblock %}
            {% block Review_and_publish_your_further_competition %}

              {% if (agreement_id == "RM1043.8") and (lotId == 1)or(lotId == 3) %}
                <h2 class="govuk-heading-l">3. Set Your timeline
              </h2>
              {% endif %}
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"></dt>
                  <dd class="govuk-summary-list__value"></dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>

                <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                  <dt class="govuk-summary-list__key">
                    <h3 class="govuk-!-margin-bottom-0">
                      <strong>Your further assessment timeline</strong>
                    </h3>
                  </dt>
                  <dd class="govuk-summary-list__value">&nbsp;</dd>
                  <dd class="govuk-summary-list__actions">
                    {% if eventStatus != "published" %}
                      <a class="govuk-link" href="/rfp/response-date">
                      Change<span class="govuk-visually-hidden">project name</span>
                      </a>
                    {% endif %}
                  </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                  <dt class="govuk-summary-list__value">
                    <p>{{ "Publication of stage 2" if agreement_id == "RM1043.8"  else "Publish your requirements" }}</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p>
                      {%if rfp_clarification_date !=undefined and rfp_clarification_date !=null and rfp_clarification_date !='' and rfp_clarification_date !='Invalid dateZ'%}
                        {{rfp_clarification_date | dateddmmyyyy}}
                        {%endif%}
                      </p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                      <p>Deadline for suppliers to submit their stage 2 responses</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>
                        {% if rfp_clarification_period_end != undefined and rfp_clarification_period_end != null and rfp_clarification_period_end != '' %}
                          {{ rfp_clarification_period_end | dateddmmyyyy }}
                        {% endif %}
                      </p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                      <p>{{ "Supplier presentations (if applicable)" if agreement_id == "RM1043.8"  else "Deadline to publish your responses to the clarification questions" }}
                      </p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>
                        {% if (deadline_period_for_clarification_period != undefined and deadline_period_for_clarification_period != null and deadline_period_for_clarification_period != '') %}
                          {{ deadline_period_for_clarification_period | dateddmmyyyy }}
                        {% else %}
                          Not included
                        {% endif %}
                      </p>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                      {% if stage2_value == "Stage 2" and agreementId_session=='RM1043.8'%}
                      <p>Evaluation of stage 2</p>
                      {% else %}
                      <p>Evaluation of stage 2 responses</p>
                      {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>
                        {% if supplier_period_for_clarification_period != undefined and supplier_period_for_clarification_period != null and supplier_period_for_clarification_period != '' %}
                          {{ supplier_period_for_clarification_period | dateddmmyyyy }}
                        {% endif %}
                      </p>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                      <p>Standstill period starts (if you requested this)</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>
                        {% if supplier_dealine_for_clarification_period != undefined and supplier_dealine_for_clarification_period != null and supplier_dealine_for_clarification_period != '' %}
                          {{ supplier_dealine_for_clarification_period | dateddmmyyyy }}
                        {% else %}
                          Not included
                        {% endif %}
                      </p>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                      <p>When you plan to award the contract</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>
                        {% if supplier_dealine_evaluation_to_start != undefined and supplier_dealine_evaluation_to_start != null and supplier_dealine_evaluation_to_start != '' %}
                          {{ supplier_dealine_evaluation_to_start | dateddmmyyyy }}
                        {% endif %}
                      </p>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                      <p>When you expect the contract to be signed</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>
                        {% if supplier_dealine_expect_the_bidders != undefined and supplier_dealine_expect_the_bidders != null and supplier_dealine_expect_the_bidders != '' %}
                          {{ supplier_dealine_expect_the_bidders | dateddmmyyyy }}
                        {% endif %}
                      </p>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__value">
                      <p>When you expect the supplier to start</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>
                        {% if supplier_dealine_for_pre_award != undefined and supplier_dealine_for_pre_award != null and supplier_dealine_for_pre_award != '' %}
                          {{ supplier_dealine_for_pre_award | dateddmmyyyy }}
                        {% endif %}
                      </p>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
                    <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
                  </div>
                </dl>
              {% endblock %}
            </div>
          </div>
          {# END--------Review and publish your further competition #}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
              <p class="govuk-body">
                <h2 class="govuk-heading-l">
                  
                  Publish stage 2: further assessment 
                 
                </h2>
                
              </p>
               <div class="govuk-inset-text">
              {# <p class="govuk-body">Your further competition will now be sent to suppliers. Please be patient as this could take up to 30 seconds. </p> #}
              <p class="govuk-body">If you need to make any significant changes – including changes to scope or timelines – after publishing this further competiton, you will need to cancel and start a new project.</p>
              </div>
              <br>
              <br>
              {{ CCSWarningText({
                text: "By publishing this further competition to all suppliers in your list, you are stating that, to the best of your knowledge, the information you have provided is correct. 
            ",
                iconFallbackText: "Warning"
                }) }}
             
              <br>
              <br></div>
          </div>
          <form
                id="ccs_rfp_publish_form"
                name="ccs_rfp_publish_form"
                class="form ccs_rfp_publish_form"
                action="/rfp/review"
                method="post">
            {{ csrfProtection(csrf) }}

            {% if eventStatus != "published" and customStatus != "complete" %}
              
               {% if stage2_value == "Stage 2" and agreementId_session=='RM1043.8'%}
              {{ CCSCheckboxes({
                idPrefix: "rfp_publish_confirmation",
                name: "rfp_publish_confirmation",
                classes: "govuk-checkboxes--small",
                items: [
                {
                "value": 1,
                html: "<label><strong>By checking this box, I confirm the statements above.</strong></label>",
                Checked: ""
                }
                ]
                }) 
              }}
              {% else %}
              {{ CCSCheckboxes({
                idPrefix: "rfp_publish_confirmation",
                name: "rfp_publish_confirmation",
                classes: "govuk-checkboxes--small",
                items: [
                {
                "value": 1,
                html: "<label><strong>By checking this box, I confirm the statements above</strong></label>",
                Checked: ""
                }
                ]
                }) 
              }}
            {% endif %}
              <div class="govuk-button-group">
                 {%if publishClickEventStatus == true%}

                {{ CCSButton({
        attributes: {
        id: "rfp_btn_publish_now"
        },
        classes: "oneTimeClick",
        disabled:true,
        text: "Publish and continue"
        }) }}
       {%else%}
        {{ CCSButton({
        attributes: {
        id: "rfp_btn_publish_now"
        },
        classes: "oneTimeClick",
        text: "Publish and continue"
        }) }}

        {%endif%}

                {# {{ CCSButton({
        attributes: {
        id: "rfp_btn_publish_now_close"
        },
        text: "Take offline and close project"
        }) }} #}
                <a href="/rfp/task-list" class="govuk-link govuk-link--no-visited-state">Return to Write and publish your requirements
                      </a>
              </div>
            {% else %}
              <div class="govuk-button-group">
                {# {{ CCSButton({
        attributes: {
        id: "rfp_btn_publish_now_close"
        },
        text: "Take offline and close project"
        }) }} #}
                <a href="/event/management?id={{ event_id }}" class="govuk-link govuk-link--no-visited-state">Return to your project
                      </a>
              </div>
            {% endif %}

            {{ CCSInput({
      id: "finished_pre_engage",
      name: "finished_pre_engage",
      type: "hidden",
      value: "true"
      }) }}
          </form>
        </div>
      </div>
      {# CAS-32 #}
{{ CCSDialog({
  title:'Reset your publish date',
  description:'Your project creation date is different from your project publishing date. This means the publish date on the timeline is incorrect. To fix this, click `Reset timeline` below to update the publish date to today`s date.',
  redirect:'#',
  type:'publishTimelineMismatch'
}) }}

{# Loader container #}
  <div class="loader-container">
    <div class="loader-division">
      <img src="/assets/images/loader.gif" alt="Loading">
        {# <h2 class="govuk-heading-m govuk-!-margin-top-4 loderMakeRes">Downloading responses</h2> #}
      <div class="loderMakeRes"></div>
    </div>
  </div>
    </main>
  {% endblock %}