{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/dialog/macro.njk" import CCSDialog %}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
    items: breadCrumbs
  }) }}
{% endblock %}

{% block content %}
 
<div class="govuk-error-summary hide-block" id="rfp_vetting_error_summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list" id="summary_list">
    </ul>
  </div>
</div>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

{{ CCSDialog({
  title:'This action cannot be undone, please confirm that you want to progress.',
  description:'This action will revert the form to its original stated.',
  redirect:'#',
  type:'vetting'
}) }}

    {% if(isError)%}
      {{ CCSErrorSummary({
          titleText: "There is a problem",
          errorList: errorText
      }) }}
    {%endif %}
 <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
        {{title}}
    </h1>
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% include "includes/project_header.njk" %}
      </div>
    </div>
    <p class="govuk-body">{{subtitle}}</p>
    <p class="govuk-body">{{subtitle1}}</p>
    <p class="govuk-body">{{subtitle2}}</p>
    <p class="govuk-body">{{subtitle3}}</p>
    <p class="govuk-body">{{subtitle4}}</p>
    <div id="error_summary_resources">
    
    <form id="ccs_ca_menu_tabs_form_rfp_vetting" name="ccs_ca_menu_tabs_form" class="form ccs_ca_menu_tabs_form" action="/rfp/vetting-weighting" method="POST">
    {{ csrfProtection(csrf) }}
   
    <div class="ccs-page-section">
      <div class="sub-section">
           <p class="govuk-body govuk-!-font-size-19">
        <span class="govuk-heading-l govuk-!-display-inline" id = "rfp_total_resource">{{totalResouces}}</span> resources added
        </p>
      </div>
       <div class="sub-section"><a href="#" class="del govuk-link govuk-link--no-visited-state rfp_vetting-popup" title="delete">Clear form</a></div>
    </div>
    <section class="ons-page__container ons-container">
        <div id="vertical_tab_nav" class="ons-grid ons-js-toc-container">
            <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
                {{-
                    onsTableOfContents({
                        "title": null,
                        "ariaLabel": 'Sections in this page',
                        "itemsList": TableItems
                    })
                }}
            </div>
            <div class="ons-grid__col ons-col-7@m ons-push-1@m">

            {% for tr in designations %}

              <article id="section">
                    <h2 class="govuk-heading-xl govuk-!-font-weight-bold" >{{tr['Parent']}}</h2>
                    <h4> {{tr['Parent']}} description </h4>
                    {% set domSelector = tr['Parent'] | replace(" ", "_") | replace("(", '') | replace(")", '') %}
                    {% set index = 0 %}
                     {% for subItems in tr.category %}
                     <div class="govuk-!-margin-top-5">
                     <h2 class="govuk-heading-m">{{subItems.ParentName}}</h2>
                     <p> [DDAT Family description] </p>
                    
                      <div class="govuk-!-margin-top-9">
                      <p> Add quantity for the roles </p>
                      <div>
                         {% for subNestedItems in subItems.designations %}
                        {% set index = (index + 1) %}
                           <p id="rfp_weight-error-{{loop.index}}" class="govuk-error-message weight_vetting_class_error">
                                        <span class="govuk-visually-hidden"></span> 
                            </p>


                         {{ CCSInput({
                          label: {
                            text: ""
                          },
                          classes: "govuk-input--width-2 weight_vetting_class rfp_weight_vetting_class",
                          id: "rfp_weight_vetting_"+domSelector+"_"+index,
                          name: "SFIA_weightage",
                          value: subNestedItems.value,
                          suffix: {
                            text: subNestedItems['SFIA_name']
                          },
                          spellcheck: false
                        }) }}


                         {{ CCSInput({
                                    id: "rfp_weight_vetting_whole_group",
                                    name: "requirement_Id_SFIA_weightage",
                                    type: "hidden",
                                    value: subNestedItems['requirement-id']
                        }) }}


                         {%endfor%}
                       </div>
                       <hr>
                     {% endfor %}
                     
                </article>

              
            {% endfor %}
            </div>
        </div>
    </section>
    <div class="ccs-page-section">
      <div class="sub-section">
        <p class="govuk-body govuk-!-font-size-19">
        <span class="govuk-heading-l govuk-!-display-inline" id = "rfp_total_resource2" >{{totalResouces}}</span> resources added
        </p>
      </div>
    </div>

      <div class="govuk-button-group">
        {{ CCSButton({
              text: "Save and continue",
              classes:"save-button"
            })
        }}
        <a href="{{backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{backJump.title}}</a>
      </div>
    </div>
      </form>
      </div>
    <div class="govuk-grid-column-one-third">
      {{ CCSReleatedContent(releatedContent) }}
    </div>
    </div>

    </div>
  </main>
        {% endblock %}