{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Complete and upload the whole bid pack | Contract Award Service' %}

{% block breadCrumb %}
{{ CCSBreadcrumbs({
    items: [
        {
            "text": "Dashboard",
            "href": "/dashboard"
        },
        {
            "text": "Choose a commericial agreement",
            "href": "/projects/choose-agreement"
        },
        {
            "text": "Procurement overview",
            "href": "/projects/create-or-choose"
        },
        {
        "text": "Write and publish your requirements",
        "href": "/rfp/task-list"
        },
        {
          "text": "Upload pricing schedules and any other supporting documentation",
          "href": "#"
        }
    ]
      }) }}

{% endblock %}

{% block content %} 

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
 <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
 Upload pricing schedules and any other supporting documentation

          </h1>
          {% include "includes/project_header.njk" %}
      </div>  
  </div>

  <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-4 govuk-!-margin-bottom-2">Page Work in progress</strong>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       
  </div>
    
  </div>
  </main>
{% endblock %}

