{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Complete and upload the whole bid pack | Contract a Thing' %}

{% block breadCrumb %}
{{ CCSBreadcrumbs({
    items:breadCrumbs
      }) }}

{% endblock %}

{% block content %} 

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
 <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
           {{heading}}

          </h1>
          {% include "includes/project_header.njk" %}
      </div>  
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form action="/rfp/IR35" method="POST" >
    {{ csrfProtection(csrf) }}
    <div class="govuk-!-margin-top-9">
      
</div>
 <div class="govuk-button-group">
                  {{ CCSButton({
                        text: "Save and continue",
                        classes:"save-button"
                      })
                  }}
                  <a href="/rfp/task-list" class="govuk-link govuk-link--no-visited-state">Return to your assessment bases and evaluation weightings</a>
</div>

 </form>
               

  </div>


    <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
              </div>
            </div>
    
  </div>


 
  
  </main>
{% endblock %}

