{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'How to build market event' %}

{% block content %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    {% if (error) %}

      {{ CCSErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
        text: "Select how you want to build your bid pack
               You cannot upload documents at this time."
        }
    ]
    }) }}
    {%endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">
          {{data.title }}
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}
        <p class="govuk-body">{{data.subtitle1}}</p>
        <br>
         <p class="govuk-body">{{data.subtitle2}}</p>
         <br>
         <p class="govuk-body">{{data.subtitle3}}</p>
        <form id="ccs_rfp_type_form" name="ccs_rfp_type_form" class="form ccs_rfp_type_form" action="/rfp/type" method="POST">
          {{ csrfProtection(csrf) }}
          {% for form in data.form %}
            <fieldset id={{form.id}}>
              <p class="govuk-body"><strong>{{ form.question }}</strong></p>
              {% set formOptions = form.radioOptions.items %}

              {% set form_Options_Altered = [] %}

              {% for item in formOptions %}
                {% if item.disabled != 'true' %}
                  {% set form_Options_Altered = (form_Options_Altered.push(
             {
               value: item.value,
              html: "<h3 class='govuk-heading-m'>" +item.text + "</h3>",
              hint : {
                text: item.hint.text
              }
              }
             ), form_Options_Altered) 
             
             %}
                {% else %}
                  {% set form_Options_Altered = (form_Options_Altered.push(
             {
               value: item.value,
              html: "<h3 class='govuk-heading-m'>" +item.text + "</h3>",
              disabled: 'true',
              hint : {
                text: item.hint.text
              }
              }
             ), form_Options_Altered) 
             
             %}
                {% endif %}

              {% endfor %}
              {% if (error) %}

                {{ CCSRadios({
                idPrefix: "fc_rfp_type",
                name: form.id,
                items: form_Options_Altered,
                errorMessage: error,
                errorMessage: {
                text: 'Select an option'
                  }                  
              }) }}
              {% else %}

                {{ CCSRadios({
                idPrefix: "fc_rfp_type",
                name: form.id,
                items: form_Options_Altered        
              }) }}
              {%endif %}

              {{ CCSInput({
                id: "choose_fc_rfp_type",
                name: "choose_fc_rfp_type",
                type: "hidden",
                value: true
              }) }}
            </fieldset>
          {% endfor %}
          <div class="govuk-button-group">
            {{ CCSButton({
                text: "Save and continue"
                }) }}
            <a href="{{data.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>
          </div>
        </form>

      </div>
      <div class="govuk-grid-column-one-third">
        {{ CCSReleatedContent(releatedContent) }}
      </div>
    </div>

  </div>

</main>

{% endblock %}