{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}
{% set title =  rfpTitle + '- Create a Request for Information (rfp)' %}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
    items: [
     {
        text: "Dashboard",
        href: "/dashboard"
      },
      {
        text: "Choose a commercial agreement",
        href: "/projects/choose-agreement"
      },
      {
            text: "Procurement overview",
            href: "/projects/create-or-choose"
        },
        {
          text: "Write and publish your requirements",
          href: "/rfp/rfp-tasklist"
        },
        {
          text: "Add context and requirements",
          href: "/rfp/add-context?agreement_id="+agreement_id+"&proc_id="+proc_id+"&event_id="+event_id
      },
      {
        text: bcTitleText
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% if(emptyFieldError)%}
      {{ CCSErrorSummary({
          titleText: "There is a problem",
          errorList: errorText
      }) }}
    {%endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 id="page-heading" class="govuk-heading-xl">
          {{rfpTitle}}
        </h1>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/project_header.njk" %}
      <p class="govuk-body">{{data.rfpTitle}}</p>

      <form id="{{form_name}}" name="{{form_name}}" class="form {{form_name}} rfp_form" action="/rfp/questionnaire?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{criterian_id}}&group_id={{group_id}}" method="post">
      {{ csrfProtection(csrf) }}
        <p class="govuk-body">{{prompt?[0] | safe}}</p>
        <p class="govuk-body">{{prompt?[1] | safe}}</p>

          {% macro recurseRequirements(requirement,form_name) -%}
            {%if (requirement.nonOCDS.childern.length > 0)%}  
                      {{CCSQUESTIONS(organizationName, requirement,form_name)}}
                      {{recurseRequirements(requirement.nonOCDS.childern[0],form_name)}}
            {%else%}
                      {{CCSQUESTIONS(organizationName, requirement,form_name)}}
          {%endif%}
          {%- endmacro %}

          {%if (form_name !== 'ccs_rfp_acronyms_form')%}  
                {% for requirement in data %}
                    {{recurseRequirements(requirement,form_name)}}
                {% endfor %}
          {%else%}
              {{recurseRequirements(data[0],form_name)}}
          {%endif%}

          {% if (form_name === 'read_me') %}
            {{ CCSInput({
              id: "rfp_read_me",
              name: "rfp_read_me",
              type: "hidden",
              value: true
            }) }}
          {% endif %}


                    {{ CCSInput({
                    id: "rfp_build_started",
                    name: "rfp_build_started",
                    type: "hidden",
                    value: true
                  })
                }}

                    <div class="govuk-button-group">
                      {{ CCSButton({
                        text: "Save and continue",
                        classes:"save-button"
                      })
                  }}
                      <a href="/rfp/add-context?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}" class="govuk-link govuk-link--no-visited-state">Return to Add context and requirements</a>
                    </div>

                  </form>

                </div>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    {{ CCSReleatedContent(releatedContent) }}
                  </div>
                </div>
              </main>
            {% endblock %}