{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}

{% set title =  rfpTitle + '- Create a Request for Information (rfp)' %}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
    items: [
     {
        text: "Dashboard",
        href: "/dashboard"
      },
      {
        text: "Choose a commercial agreement",
        href: "/projects/choose-agreement"
      },
      {
            text: "Procurement overview",
            href: "/projects/create-or-choose"
        },
        {
          text: "Do pre-market engagement",
          href: "/rfp/rfp-tasklist"
        },
        {
          text: "Build your RFP",
          href: "/rfp/online-task-list?agreement_id="+agreement_id+"&proc_id="+proc_id+"&event_id="+event_id
      },
      {
        text: bcTitleText
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% if(emptyFieldError)%}
      {{ CCSErrorSummary({
          titleText: "There is a problem",
          errorList: errorText
      }) }}
    {%endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 id="page-heading" class="govuk-heading-xl">
          {{rfpTitle}}
        </h1>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/project_header.njk" %}
      <p class="govuk-body">{{data.rfpTitle}}</p>

      <form id="{{form_name}}" name="{{form_name}}" class="form {{form_name}} rfp_form" action="/rfp/questionnaire?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{criterian_id}}&group_id={{group_id}}" method="post">
        <br>
        <p class="govuk-body">{{prompt[0] | safe}}</p>
        <p class="govuk-body">{{prompt[1] | safe}}</p>

        {% for requirement in data %}
          {% block value %}
            {% if requirement.nonOCDS.questionType === 'Value' and requirement.nonOCDS.multiAnswer === true %}
              <br>
              <br>
              {{ CCSInput({
                      label: {
                        text: requirement.OCDS.title,
                        classes: "govuk-label govuk-label--m"
                      },
                      id: "rfp_question_1",
                      name: "rfp_question_1",
                      value: requirement.nonOCDS.options[0].value
                    })
                }}
              {% set numberWord = [
                'Zero',
                'first',
                'second',
                ' third',
                ' fourth',
                ' fifth',
                ' sixth',
                ' seventh',
                ' eight',
                ' ninth',
                ' tenth'
              ] %}
              {% for i in range(2, 11) -%}

                {{ CCSInput({
                      label: {
                        html: requirement.OCDS.title | replace("first",numberWord[i]) +"<a href='"+i+"' class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden' title='delete'> X </a>",
                        classes: "govuk-label govuk-label--m"
                      },
                      id: "rfp_question_"+i,
                      name: "rfp_question_"+i,
                      classes: "add",
                      value: requirement.nonOCDS.options[i-1].value
                    })
                }}

              {%- endfor %}

              <p class="govuk-body">
                {{ CCSButton({
                        text: requirement.OCDS.description,
                        attributes: {
                          id: "ccs_criteria_add"
                        },
                        classes: "govuk-button--secondary ccs-dynaform-hidden"
                      })
                  }}
              </p>

              {{ CCSInput({
                      id: "question_id",
                      name: "question_id",
                      type: "hidden",
                      value: requirement.OCDS.id
                    })
                }}
            {% endif %}
          {% endblock %}

          {% block valuewitNoMultiSelect %}
            {% if (requirement.nonOCDS.questionType === 'Value') and (requirement.nonOCDS.multiAnswer === false) %}
              {% if requirement.OCDS.id == "Question 1"%}
                <div class="govuk-!-margin-bottom-9">
                  <label class="govuk-label govuk-label--m">{{requirement.OCDS.title}}</label>
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-3">
                    <strong>{{organizationName}}</strong>
                  </p>
                </div>
              {% else %}
                {{  CCSInput({
                        label: {
                          text: requirement.OCDS.title,
                          classes: "govuk-label govuk-label--m"
                        },
                        hint: {
                          text: requirement.OCDS.description
                        },
                        id: "rfp_contracting_auth",
                        name:requirement.OCDS.title | replace(" ", "_"),
                        value: requirement.nonOCDS.options[0].value
                      })
                  }}

                {{  CCSInput({
                        id: "question_id",
                        name: "question_id",
                        type: "hidden",
                        value: requirement.OCDS.id
                      })
                  }}
              {% endif %}
            {% endif %}
            {% if (requirement.nonOCDS.questionType === 'Date') 
              or(requirement.nonOCDS.questionType === 'Duration') and (requirement.nonOCDS.multiAnswer === false) %}
              {% if requirement.OCDS.id == "Question 11"%}
                <div class="govuk-form-group durations">
                  <div class="govuk-fieldset" role="group" aria-describedby="rfp_resource_start_date-hint">
                    <legend class="govuk-fieldset__legend govuk-label--m">
                      {{requirement.OCDS.title}}
                    </legend>
                    <div id="rfp_resource_start_date-hint" class="govuk-hint">
                      <div id="{{agreement}}" class="agreement_no">
                      <p class="govuk-body" id="p_expirydate">{{requirement.OCDS.description | nl2br | safe}}</p>
                    </div>
                    <p id="event-name-error-date" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <p id="event-name-error-month" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <p id="event-name-error-year" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <div class="govuk-date-input" id="rfp_resource_start_date">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">

                          {{ CCSInput({
                            label: {
                              text: "Day",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_resource_start_date-day"
                            },
                            id: "rfp_resource_start_date-day",
                            name: "rfp_resource_start_date-day",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[0].value,
                            max: 31,
                            min: 1
                          }) }}
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {{ CCSInput({
                            label: {
                              text: "Month",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_resource_start_date-month"
                            },
                            id: "rfp_resource_start_date-month",
                            name: "rfp_resource_start_date-month",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[1].value,
                            max: "12",
                            min: "0",
                            maxlength: "2"
                          }) }}
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {{ CCSInput({
                            label: {
                              text: "Year",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_resource_start_date-year"
                            },
                            id: "rfp_resource_start_date-year",
                            name: "rfp_resource_start_date-year",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-4",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[2].value,
                            max: "2023",
                            min: "2021",
                            maxlength: "4"
                          }) }}
                          {{ CCSInput({
                              id: "question_id",
                              name: "question_id",
                              type: "hidden",
                              value: requirement.OCDS.id
                            })
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="govuk-form-group p_durations">
                  <div class="govuk-fieldset" role="group" aria-describedby="rfp_duration-hint">
                    <legend class="govuk-fieldset__legend govuk-label--m">
                      {{requirement.OCDS.title}} (Optional)
                  </legend>
                    <div id="rfp_duration-hint" class="govuk-hint">
                      <p class="govuk-body">{{requirement.OCDS.description | nl2br | safe}}</p>
                    </div>
                    <p id="event-name-error-pdate" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <p id="event-name-error-pmonth" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>
                    <p id="event-name-error-pyear" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                    </p>

                    <div class="govuk-date-input" id="rfp_duration">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {{ CCSInput({
                            label: {
                              text: "Years",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_duration-years"
                            },
                            id: "rfp_duration-years",
                            name: "rfp_duration-years",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[0].value,
                            max: "4",
                            min: "0",
                            maxlength: "1"
                          }) }}
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {{ CCSInput({
                            label: {
                              text: "Month",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_duration-months"
                            },
                            id: "rfp_duration-months",
                            name: "rfp_duration-months",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[1].value,
                            max: "12",
                            min: "0",
                            maxlength: "2"
                          }) }}
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          {{ CCSInput({
                            label: {
                              text: "Days",
                              classes: "govuk-label govuk-date-input__label",
                              for: "rfp_duration-days"
                            },
                            id: "rfp_duration-days",
                            name: "rfp_duration-days",
                            classes: "govuk-input govuk-date-input__input govuk-input--width-2",
                            type: "number", 
                            inputmode:"numeric",
                            value: requirement.nonOCDS.options[2].value,
                            max: "31",
                            min: "0",
                            maxlength: "2"
                          }) }}
                          {{ CCSInput({
                              id: "question_id",
                              name: "question_id",
                              type: "hidden",
                              value: requirement.OCDS.id
                            })
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endblock %}

          {% block TextSelect%}
            {% if (requirement.nonOCDS.questionType == 'Text') and (requirement.nonOCDS.multiAnswer == false) %}

              {{  CCSTextarea({
                      name: "rfp_prob_statement",
                      id: "rfp_prob_statement",
                      value: requirement.nonOCDS.options[0].value,
                      label: {
                      text: "Write your key background information here",
                      classes: "govuk-label govuk-label--m"
                      }
                    })
                }}

              {{  CCSInput({
                      id: "question_id",
                      name: "question_id",
                      type: "hidden",
                      value: requirement.OCDS.id
                    })
                }}

              {%endif%}
              {% if (requirement.nonOCDS.questionType === 'Text') and (requirement.nonOCDS.multiAnswer === true) and (requirement.nonOCDS.order === 1) %}

                {% call CCSFieldset({
                    legend: {
                              html: "First special term or condition <a href="+1+"  class='clear-fields govuk-link govuk-link--no-visited-state ccs-dynaform hide remove_icon' title='clear'> X </a>",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "term_fieldset splterm_1",
                            id:"term_fieldset_splterm_1"
                  }) %}

                {{CCSCharacterCount({
                    name: "term",
                    id: "rfp_splterm_1",
                    maxlength: 100,
                    rows: "2",
                    label: {
                      text: "Enter the first special term or condition",
                      classes: "govuk-label--m govuk-!-font-weight-regular",
                      isPageHeading: false
                    },
                    value:requirement.nonOCDS.options[0].value
                }) }}

                {{ CCSCharacterCount({
                    name: "value",
                    id: "rfp_splterm_definition_1",
                    maxlength: 1000,
                    classes:"rfp_splterm_definition_1",
                    rows: "13",
                    label: {
                      text: "Explain the first special term or condition",
                      classes: "govuk-label--m govuk-!-font-weight-regular",
                      isPageHeading: false
                    },
                    value:requirement.nonOCDS.options[0].text
                })}}

                {%endcall %}

                {% set NumberWord = [
                  'Zero',
                  'First',
                  'Second',
                  ' Third',
                  ' Fourth',
                  ' Fifth',
                  ' Sixth',
                  ' Seventh',
                  ' Eight',
                  ' Ninth',
                  ' Tenth'
                ] %}
                {% for i in range(2, 11) -%}

                  {% call CCSFieldset({
                      legend: {
                        html: NumberWord[i]+" special term and condition<a href="+i+" class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden hide remove_icon' title='delete'> X </a>",
                        classes: "govuk-fieldset__legend--m",
                        isPageHeading: false
                      },
                      classes: "term_fieldset splterm_"+i,
                      id:"term_fieldset"
                    }) %}
                  {{CCSCharacterCount({
                            name: "term",
                            id: "rfp_splterm_"+i,
                            maxlength: 100,
                            classes: "rfp_splterm_"+i,
                            rows: "2",
                            label: {
                              text: "Enter the "+NumberWord[i]+" special term or condition",
                              classes: "govuk-label--m govuk-!-font-weight-regular",
                              isPageHeading: false
                            },
                            value:requirement.nonOCDS.options[i-1].value
                        }) }}

                  {{ CCSCharacterCount({
                            name: "value",
                            id: "rfp_splterm_definition_"+i,
                            maxlength: 1000,
                            rows: "13",
                            classes: "rfp_splterm_definition_"+i,
                            label: {
                              text: "Explain the "+NumberWord[i]+" special term or condition",
                              classes: "govuk-label--m govuk-!-font-weight-regular",
                              isPageHeading: false
                            },
                            value:requirement.nonOCDS.options[i-1].text
                  })}}
                  {% endcall %}

                {%- endfor %}

                <p class="govuk-body">
                  {{ CCSButton({
                          text: "Add another special term or condition",
                          attributes: {
                            id: "ccs_rfpsplTerm_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                </p>

                {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          }) }}
                <div id="rfp_splterm"></div>
              {% endif %}

            {% endblock %}

            {% block singleSelect%}
              {% if (requirement.nonOCDS.questionType == 'SingleSelect') and (requirement.nonOCDS.multiAnswer == false) %}
              <p>
              <span id="rfp_singleSelect" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span></span>
              </p>
                <div class="govuk-form-group">
                  <div class="govuk-radios">
                    <br>
                    {% set radioArray = [] %}
                    {% for i in range(0, requirement.nonOCDS.options | length) -%}
                      {% if i == 0%}
                        <div class="govuk-radios__item">
                          {%if requirement.nonOCDS.options[i].selected === true %}
                            <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-item-hint" checked>
                            {%else%}
                            <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-item-hint" >
                            {%endif%}
                            <label class="govuk-label govuk-radios__label ccs_rfp_vetting" for="ccs_vetting_type">
                              <h3 class="govuk-heading-m">{{requirement.nonOCDS.options[i].value}}</h3>
                            </label>
                            <div id="ccs_vetting_type-item-hint" class="govuk-hint govuk-radios__hint">
                              {{requirement.nonOCDS.options[i].text | safe}}
                            </div>
                          </div>
                        {% else %}

                          <div class="govuk-radios__item">
                            {%if requirement.nonOCDS.options[i].selected === true %}
                              <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type-{{i+1}}" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-{{i}}-item-hint" checked>
                              {%else%}
                              <input class="govuk-radios__input ccs_vetting" id="ccs_vetting_type-{{i+1}}" name="ccs_vetting_type" type="radio" value="{{requirement.nonOCDS.options[i].value}}" aria-describedby="ccs_vetting_type-{{i}}-item-hint" >
                            {% endif %}
                            <label class="govuk-label govuk-radios__label ccs_rfp_vetting" for="ccs_vetting_type-{{i}}">
                              <h3 class="govuk-heading-m">{{requirement.nonOCDS.options[i].value}}</h3>
                            </label>
                            <div id="ccs_vetting_type-{{i}}-item-hint" class="govuk-hint govuk-radios__hint">
                              {{requirement.nonOCDS.options[i].text |safe}}
                            </div>
                          </div>
                          {%endif%}
                        {%- endfor %}
                      </div>
                    </div>
                    <br>
                    {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          })
                      }}

                  {% endif %}
                {% endblock %}

                {% block KeySelect%}
                  {% if (requirement.nonOCDS.questionType === 'KeyValuePair') and (requirement.nonOCDS.multiAnswer === true) %}

                    {% call CCSFieldset({
                            legend: {
                               html: "First term or acronym <a href="+1+"  class='clear-fields govuk-link govuk-link--no-visited-state ccs-dynaform hide remove_icon' title='clear'> X </a>",
                              classes: "govuk-fieldset__legend--m",
                              isPageHeading: false
                            },
                            classes: "term_acronym_fieldset acronym_1",
                            id:"term_acronym_fieldset_acronym_1"
                          })
                      %}

                    {{ CCSInput({
                            label: {
                              text: "Write the term or acronym"
                            },
                            id: "rfp_term_1",
                            name: "term",
                            classes: "rfp_term_1",
                            value: requirement.nonOCDS.options[0].value
                          })
                      }}

                    {{ CCSTextarea({
                            name: "value",
                            id: "rfp_term_definition_1",
                            label: {
                              text: "Write a definition for the term or acronym explaining what it means"
                            },
                            classes: "rfp_term_definition_1",
                            value: requirement.nonOCDS.options[0].text
                          })
                      }}

                    {% endcall %}
                    {% set NumberWord = [
                      'Zero',
                      'First',
                      'Second',
                      ' Third',
                      ' Fourth',
                      ' Fifth',
                      ' Sixth',
                      ' Seventh',
                      ' Eight',
                      ' Ninth',
                      ' Tenth'
                    ] %}
                    {% for i in range(2, 11) -%}

                      {% call CCSFieldset({
                      legend: {
                        html: NumberWord[i]+" term or acronym<a href="+i+" class='del govuk-link govuk-link--no-visited-state ccs-dynaform-hidden hide remove_icon' title='delete'> X </a>",
                        classes: "govuk-fieldset__legend--m",
                        isPageHeading: false
                      },
                      classes: "term_acronym_fieldset acronym_"+i,
                      id:"term_acronym_fieldset"
                    }) %}

                      {{ CCSInput({
                        label: {
                          text: "Write the term or acronym"
                        },
                        id: "rfp_term_"+i,
                        name: "term",
                        classes: "rfp_term_"+i,
                        value: requirement.nonOCDS.options[i-1].value
                      }) }}

                      {{ CCSTextarea({
                        label: {
                          text: "Write a definition for the term or acronym explaining what it means"
                        },
                        id: "rfp_term_definition_"+i,
                        name: "value",
                        spellcheck: false,
                        classes: "rfp_term_definition_"+i,
                        value: requirement.nonOCDS.options[i-1].text
                      }) }}

                      {% endcall %}

                    {%- endfor %}

                    <p class="govuk-body">
                      {{ CCSButton({
                          text: "Add another term or acronym",
                          attributes: {
                            id: "ccs_rfpTerm_add"
                          },
                          classes: "govuk-button--secondary ccs-dynaform-hidden"
                        }) }}
                    </p>

                    {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          }) }}
                    <div id="rfp_keyterm"></div>
                  {% endif %}
                {% endblock %}

                {% block Address%}
                  {% if (requirement.nonOCDS.questionType === 'MultiSelect') and (requirement.nonOCDS.multiAnswer === true) %}
                    {% set countryArray = [] %}
                    {% set countryList = [] %}
                    {% for countries in requirement.nonOCDS.options %}
                      {% if countries.value !== "No specific location, for example they can work remotely" %}
                        {% set countryList = (countryList.push(countries.value),countryList)%}
                        {% set countryArray = (countryArray.push({value: countries.value, text: countries.value, checked: countries.selected}), countryArray) %}
                        {%else%}
                        {% set countryList = (countryList.push(countries.value),countryList)%}
                        {% set countryArray = (countryArray.push({
                          divider: "OR"
                        }, {
                          value: countries.value,
                          text: countries.value,
                          checked: countries.selected
                        }), countryArray) %}

                        {%endif%}
                      {% endfor %}

                      {{ CCSCheckboxes({
                            idPrefix: "required_locations",
                            name: "required_locations",
                            items: countryArray
                          })
                      }}
                      {{ CCSInput({
                            id: "question_id",
                            name: "question_id",
                            type: "hidden",
                            value: requirement.OCDS.id
                          })
                      }}

                    {% endif %}
                  {% endblock %}

                  {% block Budget %}
                    {% if ((requirement.nonOCDS.questionType === 'Monetary') and (requirement.nonOCDS.multiAnswer === false)) %}
                      {% if (requirement.nonOCDS.mandatory === false) %}
                        {% set titleText = requirement.OCDS.title + " (optional)" %}
                      {% else %}
                        {% set titleText = requirement.OCDS.title %}
                      {% endif %}

                      {{ CCSInput({
                            label: {
                              text: titleText,
                              classes: "govuk-label--m"
                            },
                            hint: {
                              text: requirement.OCDS.description,
                              classes: "govuk-hint"
                            },
                            prefix: {
                              text: "£"
                            },
                            id: "rfp_"+requirement.OCDS.title | replace(" ", "_") | lower,
                            name: "rfp_budget",
                            spellcheck: false,
                            classes: "govuk-input--width-5",
                            value: requirement.nonOCDS.options[0].value
                        })
                      }}

                      {{ CCSInput({
                          id: "question_id",
                          name: "question_id",
                          type: "hidden",
                          value: requirement.OCDS.id
                      })
                      }}
                    {% endif %}
                  {% endblock %}
                {% endfor %}

                {{ CCSInput({
                    id: "rfp_build_started",
                    name: "rfp_build_started",
                    type: "hidden",
                    value: true
                  })
                }}

                <div class="govuk-button-group">
                  {{ CCSButton({
                        text: "Save and continue",
                        classes:"save-button"
                      })
                  }}
                  <a href="/rfp/online-task-list?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}" class="govuk-link govuk-link--no-visited-state">Return to Build your Expression of Interest</a>
                </div>

              </form>

            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
              </div>
            </div>
          </main>
        {% endblock %}