{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title = 'FC review | Crown Commercial Service' %}
{% set numberWordBig = [
                'Zero',
                'First',
                'Second',
                'Third',
                'Fourth',
                'Fifth',
                'Sixth',
                'Seventh',
                'Eight',
                'Ninth',
                'Tenth'
              ] %}

{% set numberWordSmall = [
                'Zero',
                ' first',
                ' second',
                ' third',
                ' fourth',
                ' fifth',
                ' sixth',
                ' seventh',
                ' eight',
                ' ninth',
                ' tenth'
              ] %}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% if (viewError == true) and (apiError == false) %}
      {{ CCSErrorSummary({
        titleText: "There is a problem with publishing RFP",
        errorList: [
          {
            text: "You must check this box to confirm that I have read and confirm the statements above",
            href: "#ccs_rfp_publish_form"
          }
        ]
      }) }}
    {% endif %}

    {% if (checkboxerror==1) %}
      {{ CCSErrorSummary({
        titleText: "There has been an error publishing your FC",
        errorList: [
          {
            text: "Confirmation checkbox must be checked before progressing",
            href: "#ccs_rfp_publish_form"
          }
        ]
      }) }}
    {% endif %}

    

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          <strong>{{data.title }}<strong>
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}
        <br><br>
        <p class="govuk-body">{% if selectedeventtype=='DA' %}{{data.subtitleDA}}{%else%}{{data.subtitle}}{%endif%}
        </p><br><br>
        {%if(selectedeventtype=='DA')%}
        {{ CCSButton({
    text: "Export your draft",
    classes: "govuk-button--secondary",
    href: "/rfp/review?download=1"
    }) }}
    {%else%}
    {{ CCSButton({
    text: "Export your draft further competition",
    classes: "govuk-button--secondary",
    href: "/rfp/review?download=1"
    }) }}
    {%endif%}<br><br>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"></div>
    </div>
{# --------1 Project and colleagues---START------  #}
{%block Project_And_colleagues%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">1. Project and colleagues</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
              <dd class="govuk-summary-list__value">
              </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
         <p> Name your project</p>
        </dt>
            {% if project_name | length > 0 %}
              <dd class="govuk-summary-list__value">
                <p class="govuk-body-s">
                   {{ project_name | safe }} 
                </p>
              </dd>
            {% else %}
              <dd class="govuk-summary-list__value">
          You have not given a custom name to your project
        </dd>
            {% endif %}

            <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/name-your-project">
            Change<span class="govuk-visually-hidden">project name</span>
              </a>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <p>Change who will lead the procurement</p>
        </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--none">
                <li>
                  <span class="govuk-body-s">{{procurementLead.name }}</span></li>
                <li>
                  <span class="govuk-body-s">{{procurementLead.email }}</span></li>
                <li>
                  <span class="govuk-body-s">{{procurementLead.telephone }}</span></li>
              </ul> 
            </dd>
            <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/procurement-lead">
            Change<span class="govuk-visually-hidden"> procurement lead</span>
              </a>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <p>
            Add colleagues to your project 
            </p>
        </dt>
            {% if procurementColleagues !=undefined and procurementColleagues !=null and procurementColleagues | length > 0 %}
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--none">
                  {% for collaborator in procurementColleagues %}
                    <li>
                      <ul class="govuk-list govuk-list--none">
                        <li>
                          <span class="govuk-body-s">{{collaborator.name}}</span></li>
                        <li>
                          <span class="govuk-body-s">{{collaborator.email}}</span></li>
                        <li>
                          <span class="govuk-body-s">{{collaborator.telephone}}</span></li>
                      </ul>
                    </li>
                  {%- endfor %}
                </ul>
              </dd>
            {% else %}
              <dd class="govuk-summary-list__value">
          You have not added anyone so far in your team
        </dd>
            {% endif %}
            <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/add-collaborators">
            Change<span class="govuk-visually-hidden">  team members</span>
              </a>
              {% endif %}
            </dd>
          </div>
        </dl>
        
{% endblock %}
{# END--------------------Project and colleagues-----------------#}
{# START----------------------Upload pricing schedules and any other supporting documents #}

{%block Upload_pricing_schedules%}
         <h2 class="govuk-heading-m">2. Upload pricing schedules and other supporting documents </h2>
         <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <p>Upload your pricing schedule</p>
        </dt>
            {% if(document !=undefined and document !=null and document | length > 0) %}
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--none">
                  {% for doc in document %}
                    <li>
                       <span class="govuk-body-s">{{doc}}</span>
                       </li>
                  {%- endfor %}
                </ul>
              </dd>
            {% else %}
              <dd class="govuk-summary-list__value">  
          
        </dd>
            {% endif %}

            <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/upload-attachment">
            Change<span class="govuk-visually-hidden"> pricing schedule</span>
              </a>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <p>Upload your terms and conditions and other documents</p>
        </dt>
            {# <dd class="govuk-summary-list__value"> #}
              {% if(documents !=undefined and documents !=null and documents | length > 0) %}
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--none">
                  {% for doc in documents %}
                    <li>
                       <span class="govuk-body-s">{{doc}}</span>
                       </li>
                  {%- endfor %}
                </ul>
              </dd>
            {% else %}
              <dd class="govuk-summary-list__value">          
        </dd>
            {% endif %}
            {# </dd> #}
            <dd class="govuk-summary-list__actions">
            {% if(eventStatus != "published")%}
              <a class="govuk-link" href="/rfp/upload-doc">
            Change<span class="govuk-visually-hidden"> uploaded document</span>
              </a>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          <p>Confirm if you require a contracted out service or a supply of resource</p>
        </dt>
            {% if(ir35 !=undefined and  ir35 !=null and ir35 | length > 0) %}
              <dd class="govuk-summary-list__value">
                <p class="govuk-body-s">
                  {{ ir35 | safe }}
                </p>
              </dd>
            {% else %}
              <dd class="govuk-summary-list__value">
          
        </dd>
            {% endif %}
            <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/IR35">
            Change<span class="govuk-visually-hidden"> if you require a contracted out service or a supply of resource</span>
              </a>
              {% endif %}
            </dd>
          </div>
        </dl>
{% endblock %}
{# END----------------------Upload pricing schedules and any other supporting documents #}

{# START----------------------3 Add context to your further competition #}
{%block Section_3%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">3. Add context {% if selectedeventtype=='DA' %}and requirements{%else%}and requirements{%endif%} </h2>
              <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                      <h3><strong>Terms and acronyms (Optional) </strong></h3>
                      <br />
                      {% if(termAndAcr !=undefined and  termAndAcr !=null and termAndAcr | length > 0) %}
                      {% for data in termAndAcr %}
                      <p>Term or acronym</p><p>Definition</p><br />
                      {% endfor%}
                      {%endif%}
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <br /><br /><br />
                      {% if(termAndAcr !=undefined and  termAndAcr !=null and termAndAcr | length > 0 )%}
                      {% for data in termAndAcr %}
                      <p>{{data.value}} </p><p>{{data.text}}</p><br />
                      {% endfor%}
                      {%endif%}
                      {#<p>Expression or acronym answer</p><p>Definition answer</p><br />
                      <p>Expression or acronym answer</p><p>Definition answer</p><br />#}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published"%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 3">
                          Change<span class="govuk-visually-hidden"> Term or acronym</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                      <h3><strong>Background to your procurement</strong></h3><br />
                      {% if(backgroundArr !=undefined and  backgroundArr !=null and backgroundArr | length > 0) %}
                      {% for data in backgroundArr%}
                      <p> Background information</p></br></br>
                      <p> Social value, economic and enviornmental benefits</p>
                      {% endfor %}
                      {%endif%}
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <br /><br /><br />
                      {% if(backgroundArr !=undefined and  backgroundArr !=null and backgroundArr | length > 0) %}
                      {% for data in backgroundArr%}
                      <p>{{data.v1}}</p><br /><br />
                      <p>{{data.v2}}</p>
                      {% endfor %}
                      {%endif%}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published"%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 4">
                          Change<span class="govuk-visually-hidden"> Background to your procurement</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      <p> The business problem you need to solve</p></br>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p> {{businessProbAns}} </p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published"%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 5">
                          Change<span class="govuk-visually-hidden">The business problem you need to solve</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                      <h3><strong> The people who will use your product or service (optional)</strong></h3><br />
                      {% if keyUser !=undefined and  keyUser !=null and keyUser | length > 0 %}
                      {% for item in keyUser %}
                      <p> Service user type</p><p>Details about them</p><br />
                      {% endfor %}
                      {%endif%}
                      {#<p> Key user</p><p>definition</p><br />#}
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <br /><br /><br /><br />
                      {% if keyUser !=undefined and  keyUser !=null and keyUser | length > 0 %}
                      {% for item in keyUser %}
                      <p> {{item.value}}</p><p>{{item.text}}</p><br />
                      {% endfor %}
                      {%endif%}
                      {#<p> Key user answer</p><p>definition answer</p><br />#}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 6">
                          Change<span class="govuk-visually-hidden"> The people who will use your product or service</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      <p>Work done so far (optional)</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p>{{workcompletedsofar}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 7">
                          Change<span class="govuk-visually-hidden"> Work done so far</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      <p>Which phase the project is in</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p>{{currentphaseofproject}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 8">
                          Change<span class="govuk-visually-hidden"> Which phase the project is in</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      <p>
                        Which phases of the project you need resource for
                        </p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      {% if phaseResource !=undefined and phaseResource !=null and phaseResource | length >0 %}
                      {% for data in phaseResource %}
                      <p>{{data}}</p>
                      {% endfor %}
                      {%endif%}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 9">
                          Change<span class="govuk-visually-hidden"> Which phases of the project you need resource for</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                      <h3><strong>
                        {# Expected duration of the project  #}
                       How long the project will last
                        </strong></h3><br />
                      <p>The date you want the project to start</p><br />
                      <p>
                        How long you think the project will run for (optional)
                        </p><br />
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <br /><br /><br />
                      <p>{{startdate}}</p><br /><p>{{indicativedurationYear}} &nbsp; &nbsp; {{indicativedurationMonth}} &nbsp; &nbsp; {{indicativedurationDay}}</p><br />
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 10">
                          Change<span class="govuk-visually-hidden"> How long you think the project will run for</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                     <h3> <strong>Who the buying organisation is (optional)</strong></h3><br />
                      <p>Name of the organisation doing the procurement</p><br /><p>Name of the organisation using the products or services</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <br /><br /><br />
                      <p>{{buyingorg1}}</p><br /><br /><p>{{buyingorg2}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 11">
                          Change<span class="govuk-visually-hidden">Name of the organisation doing the procurement</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      <p>Describe any pre-market engagement you've done (optional) </p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p> {{summarize}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published"%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 14">
                          Change<span class="govuk-visually-hidden">the Description of any pre-market engagement you've done</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      <p>
                        Choose if this will be a new, replacement or expanded service or product
                        </p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p> {{newreplace}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 15">
                          Change<span class="govuk-visually-hidden">if this will be a new, replacement or expanded service or product</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      <p>Tell us if there is an existing supplier</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p> {{incumbentoption}}</p><p>{{suppliername}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 16">
                          Change<span class="govuk-visually-hidden">if there is an existing supplier</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      <p>
                        Management information and reporting requirements
                        
                      </p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p> {{managementinfo}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 17">
                          Change<span class="govuk-visually-hidden"> Management information and reporting requirements</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                      <h3><strong>Your service levels and KPIs</strong></h3>
                      {% set i=1 %}
                      {%if serviceLevel !=undefined and serviceLevel !=null and serviceLevel | length >0 %}
                      {% for data in serviceLevel %}
                      {% set text=numberWordBig[i] + " service level requirement/KPI" %}
                      <h3><strong>{{text}}</strong></h3>
                      <p>
                        Name of requirement
                        </p><br />
                      <p>Description of the criteria</p><br />
                      <p>Your success target </p><br /><br />
                      {% set i=i+1 %}
                      {% endfor %}
                      {%endif%}
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <br /><br /><br />
                      {%if serviceLevel !=undefined and serviceLevel !=null and serviceLevel | length >0 %}
                      {% for data in serviceLevel%}
                      <br />
                      <p>{{data.text}}</p><br />
                      <p>{{data.value}}</p><br />
                      <p>{{data.percent}}% required target</p><br /><br />
                      <br>
                      <br>
                      {% endfor %}
                      {%endif%}
                      {#<p>Service area answer</p><br />
                      <p>Enter the service area/ KPI description</p><br />
                      <p>XX% required target</p><br /><br />#}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if(eventStatus != "published")%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 19">
                          Change<span class="govuk-visually-hidden"> Your service levels and KPIs</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                      <h3><strong>Any performance incentives and exit strategies</strong></h3><br />
                      <p>Details of any perfomance incentives or expected actions for poor performance</p><br />
                      <p>Details about any exit strategy that you would apply if a supplier performed poorly, and you needed to end their contract early</p><br />
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <br /><br /><br /><br />
                      <p class="govuk-!-margin-1">{{incentive1}}</p><br /><br />
                      <p class="govuk-!-margin-1">{{incentive2}}</p><br />
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published"%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 20">
                          Change<span class="govuk-visually-hidden">performance incentives and exit strategies</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
{%block Your_project_budget%}

                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key border-bottom-rfp-review">
                      <h3><strong>Your project budget (optional)</strong></h3> 
                  </dt>
                  <dd class="govuk-summary-list__value border-bottom-rfp-review">
                      
                  </dd>
                  <dd class="govuk-summary-list__actions border-bottom-rfp-review">
                      {% if eventStatus != "published"%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 21">
                          Change<span class="govuk-visually-hidden">Your project budget</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key border-bottom-rfp-review">
                      <p>Maximum estimated contract value (optional)</p>
                  </dt>
                  <dd class="govuk-summary-list__value border-bottom-rfp-review">
                      <p>{{bc1}}</p>
                     
                  </dd>
                  <dd class="govuk-summary-list__actions border-bottom-rfp-review">
                      
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key border-bottom-rfp-review">
                      <p>Minimum estimated contract value (optional)</p>
                  </dt>
                  <dd class="govuk-summary-list__value border-bottom-rfp-review">
                      <p>{{bc2}}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions border-bottom-rfp-review">
                      
                  </dd>
                  </div>
 {%endblock%}                 
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                      <h3><strong>Your project requirements</strong></h3><br />
                      {%if reqGroup !=undefined  and reqGroup !=null and numberWordSmall !=undefined and numberWordSmall !=null and numberWordSmall !='' and reqGroup | length >0%}
                      {% set i=1 %}

                      {% for data in reqGroup%}
                      {% set text = "Name of the" +numberWordSmall[i]+" requirement group"%}
                      <p>{{text}}</p>
                      {% set text2 = "Name of the" +numberWordSmall[i]+" requirement"%}
                      <p>{{text2}}</p>
                      {% set text3 = "Description of the" +numberWordSmall[i]+" requirement"%}
                      <p>{{text3}}</p><br />
                      {% set i=i+1 %}
                      {% endfor %}
                      {% endif %}
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <br /><br /><br />
                      {%if reqGroup !=undefined  and reqGroup !=null and reqGroup | length >0%}
                      {% for data in reqGroup%}
                      <p>{{data.title}}</p>
                      <p>{{data.group}}</p>
                      <p>{{data.desc}}</p><br />
                      {% endfor %}

                      {%endif%}
                      
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      {% if eventStatus != "published"%}
                      <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 3&group_id=Group 24">
                          Change<span class="govuk-visually-hidden">Your project requirements</span>
                      </a>
                      {% endif %}
                  </dd>
                  </div>
              </dl>
{%endblock%}
       {# ----END-----Add context to your further competition #}
   
       {# ----END-----Add context to your further competition #}
       {# ----START-----People, skills, security and location #}


{%block People_skills_security_and_location%}
        <h2 class="govuk-heading-m">4. People, skills, security and location</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>        
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
         <h3><strong> The roles you need </strong></h3><br/>
         <p>Total number of roles added</p><br/>
         <p>Number of roles by job section, family and individual role</p>
        </dt>
        <dd class="govuk-summary-list__value">
        <br/><br/><br/>
          {{resourceQuntityCount}} <br/>
          <br/>
          {%if StorageForSortedItems !=undefined  and StorageForSortedItems !=null and StorageForSortedItems | length >0%}
          {% for item in StorageForSortedItems%}
          <br/>
          <strong>{{item.parent}}</strong><br/><br/>
          {% for data in item.subParent %}
          <strong>{{data.sp}}</strong><br/><br/>
          {% for arr in data.items[0] %}
          {{arr}}<br/><br/>
          {% endfor %}
          {% endfor %}
          {% endfor %}
          {%endif%}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/vetting-weighting">
            Change<span class="govuk-visually-hidden">The roles you need</span>
              </a>
              {% endif %}
            </dd>
          </div>
  {%block Your_highest_security_and_vetting_requirements%}        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key border-bottom-rfp-review">
          <h3><strong>Your highest security and vetting requirements </strong></h3>
          
        </dt>
        <dd class="govuk-summary-list__value border-bottom-rfp-review">
          
        </dd>
        <dd class="govuk-summary-list__actions border-bottom-rfp-review">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/choose-security-requirements">
            Change<span class="govuk-visually-hidden">Your highest security and vetting requirements</span>
              </a>
              {% endif %}
            </dd>
          </div>
<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key border-bottom-rfp-review">
          <p>Highest level of clearance that supplied staff may need to have</p>
          
        </dt>
        <dd class="govuk-summary-list__value border-bottom-rfp-review">
         
          <p>{{highestSecuritySelected}}</p>
         
        </dd>
        <dd class="govuk-summary-list__actions border-bottom-rfp-review">
            
          </div>
<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key border-bottom-rfp-review">
          <p>
            Number of staff that will need a lower level of clearance
            {# How many resources need a lower security and vetting requirement?   #}
          </p>
        </dt>
        <dd class="govuk-summary-list__value border-bottom-rfp-review">
         
          <p>{{highestSecurityCount}}</p>
         
        </dd>
        <dd class="govuk-summary-list__actions border-bottom-rfp-review">
            
            </dd>
          </div>
{%endblock%}

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
         <h3><strong> Essential skills and capabilities </strong></h3><br/>
          <p>Total number of skills and capabilities added</p>
          <p>Skills and capabilities added for each section</p>
        </dt>
        <dd class="govuk-summary-list__value">
          <br/><br/><br/>
          {{serviceCapabilitesCount}}
          <br/><br/>
          {%if StorageForServiceCapability !=undefined  and StorageForServiceCapability !=null and StorageForServiceCapability | length >0%}
          {% for item in StorageForServiceCapability%}
          <br/><strong>{{item.parent}}</strong><br/><br/>
          {% for sp in item.subParent%}
          {{sp}}<br/>
          {% endfor %}
          {% endfor %}
          {%endif%}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/service-capabilities">
            Change<span class="govuk-visually-hidden">Essential skills and capabilities</span>
              </a>
              {% endif %}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <p>Where the work will be done</p>
        </dt>
        <dd class="govuk-summary-list__value">
          {%if whereWorkDone !=undefined  and whereWorkDone !=null and whereWorkDone | length >0%}
        {% for elem in whereWorkDone %}
        <p>{{elem}}</p>
         {% endfor %}
         {%endif%}
          {# North East England<br/>
          Yorkshire and the Humber<br/>
          Channel islands<br/>
          No specific location, for example they can work remotely #}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/where-work-done">
            Change<span class="govuk-visually-hidden">Where the work will be done</span>
              </a>
              {% endif %}
            </dd>
          </div>
          
        </dl>
{%endblock%}
{# END----------------------People, skills, security and location #}

{# START----------------------Your assessment criteria #}
{%block Your_assessment_criteria%}
        <h2 class="govuk-heading-m">5. Your assessment criteria </h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div> 

{%block The_overall_weighting_for_quality_and_price%}
<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value border-bottom-rfp-review">
         <h3><strong> The overall weighting for quality and price </strong></h3>
        </dt>        
        <dd class="govuk-summary-list__value border-bottom-rfp-review">
        </dd>
        <dd class="govuk-summary-list__actions border-bottom-rfp-review">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/assesstment-question?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 2">
            Change<span class="govuk-visually-hidden">The overall weighting for quality and price</span>
              </a>
              {% endif %}
            </dd>
          </div>
<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value border-bottom-rfp-review">
        <p>Quality</p>
        </dt>        
        <dd class="govuk-summary-list__value border-bottom-rfp-review">
          <p>{{overallratioQuestion2}}%
        </dd>
        <dd class="govuk-summary-list__actions border-bottom-rfp-review">
            
          </div>
     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value border-bottom-rfp-review">
        <p>Price</p>
        </dt>        
        <dd class="govuk-summary-list__value border-bottom-rfp-review">
          <p>{{overallratioQuestion1}}%
        </dd>
        <dd class="govuk-summary-list__actions border-bottom-rfp-review">
            
          </div>      
{%endblock%}
    {%block The_overall_weighting_for_the_quality_categories%}    
    <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value border-bottom-rfp-review">
          <h3><strong>The overall weighting for the quality categories</strong></h3>
           </dt>
       <dt class="govuk-summary-list__value border-bottom-rfp-review">
         
           </dt>
        <dd class="govuk-summary-list__actions border-bottom-rfp-review">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/assesstment-question?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 3">
            Change<span class="govuk-visually-hidden">The overall weighting for the quality categories</span>
              </a>
              {% endif %}
            </dd>
          </div>
    {%endblock%}
          <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key border-bottom-rfp-review" >
    <p>Technical </p>
     </dt>
    <dd class="govuk-summary-list__value border-bottom-rfp-review">
      <p> {{technicalgroupquestion1}}%</p>
    </dd> 
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key border-bottom-rfp-review">
      <p>Cultural   </p>
     </dt>
    <dd class="govuk-summary-list__value border-bottom-rfp-review">
       <p>{{culturalgroupquestion1}}%</p>
    </dd> 
  </div
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
       <p> Social value  </p>  
     </dt>
    <dd class="govuk-summary-list__value ">
      <p> {{socialvaluegroupquestion1}}%</p>
    </dd> 
  </div>
       
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <h3><strong>Your technical questions </strong></h3><br/>
          {%if techGroup !=undefined  and techGroup !=null and techGroup | length >0%}
          {% for data in techGroup%}
          <p>Your question</p><br/>
          <p>Enter more details about your question</p><br/>
          <p>Explain what good looks like</p><br/>
          <p>Enter a weighting for this question</p><br/><br/>
          {% endfor %}
          {%endif%}
        </dt>
        <dd class="govuk-summary-list__value">
          <br/><br/><br/>
          {%if techGroup !=undefined  and techGroup !=null and techGroup | length >0%}

          {% for data in techGroup%}
          <p>{{data.tech}}</p><br/>
          <p>{{data.add}}</p><br/>
          <p>{{data.good}}</p><br/>
          <p>{{data.weight}}%</p><br/><br/>
          {% endfor %}
          {%endif%}
        </dd>
        <dd class="govuk-summary-list__actions border-top-rfp-review-">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/assesstment-question?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 4">
            Change<span class="govuk-visually-hidden">Your technical questions</span>
              </a>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__value">
          <h3><strong>Your cultural fit questions </strong></h3><br/><br/>
          {%if culGroup !=undefined  and culGroup !=null and culGroup | length >0%}

          {% for data in culGroup%}
          <p>Your question</p><br/>
          <p>Enter more details about your question</p><br/>
          <p>Explain what good looks like</p><br/>
          <p>Enter a weighting for this question</p><br/><br/>
          {% endfor %}
          {% endif %}

        </dt>
        <dd class="govuk-summary-list__value">
          <br/><br/><br/><br/>
          {%if culGroup !=undefined  and culGroup !=null and culGroup | length >0%}

          {% for data in culGroup%}
          <p>{{data.tech}}</p><br/>
          <p>{{data.add}}</p><br/>
          <p>{{data.good}}</p><br/>
          <p>{{data.weight}}%</p><br/><br/>
          {% endfor %}
          {%endif%}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/assesstment-question?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 5">
            Change<span class="govuk-visually-hidden">Your cultural fit questions</span>
              </a>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
          <h3><strong>Your social value questions </strong></h3><br/><br/>
          {%if socialGroup !=undefined  and socialGroup !=null and socialGroup | length >0%}
          
          {% for data in socialGroup%}
          <p>Your question</p><br/>
          <p>Enter more details about your question</p><br/>
          <p>Explain what good looks like</p><br/>
          <p>Enter a weighting for this question</p><br/><br/>
          {% endfor %}
          {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          <br/><br/><br/><br/>
          {%if socialGroup !=undefined  and socialGroup !=null and socialGroup | length >0%}

          {% for data in socialGroup%}
          <p>{{data.tech}}</p><br/>
          <p>{{data.add}}</p><br/>
          <p>{{data.good}}</p><br/>
          <p>{{data.weight}}%</p><br/><br/>
          {% endfor %}
          {% endif %}
          
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/assesstment-question?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 6">
            Change<span class="govuk-visually-hidden">Your social value questions</span>
              </a>
              {% endif %}
            </dd>
          </div>
          {# ENABLE STEP 46 UNCOMMET THIS CODE  #}
           {# <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         <p> Your selected pricing model</p>
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{pricingModel}}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/questions?agreement_id=RM6263&proc_id={{proc_id}}&event_id={{event_id}}&id=Criterion 2&group_id=Group 7">
            Change<span class="govuk-visually-hidden">Your selected pricing model</span>
              </a>
              {% endif %}
            </dd>
          </div> #}
          {#</dl>
          <dl>#}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value border-bottom-rfp-review">
          <h3><strong>How you will score suppliers</strong></h3><br/><br/>
           </dt>
       <dt class="govuk-summary-list__value border-bottom-rfp-review">
         
           </dt>
        <dd class="govuk-summary-list__actions border-bottom-rfp-review">
            {% if eventStatus != "published"%}
              <a class="govuk-link" href="/rfp/set-scoring-criteria">
            Change<span class="govuk-visually-hidden">How you will score suppliers</span>
              </a>
              {% endif %}
            </dd>
          </div>
          {%if tierData !=undefined  and tierData !=null and tierData | length >0%}
          {% for data in tierData%}
        
 <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key border-bottom-rfp-review" >
    <p> Level Name </p>
     </dt>
    <dd class="govuk-summary-list__value border-bottom-rfp-review">
      <p> {{data.name}}</p>
    </dd> 
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key border-bottom-rfp-review">
      <p>Score  </p>
     </dt>
    <dd class="govuk-summary-list__value border-bottom-rfp-review">
       <p>{{data.id}}</p>
    </dd> 
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key border-bottom-rfp-review">
       <p> Description  </p>  
     </dt>
    <dd class="govuk-summary-list__value border-bottom-rfp-review">
      <p> {{data.text}}</p>
    </dd> 
  </div>
            
          {% endfor %}
          {%endif%}
       
        </dl>
  
{%endblock%}
{# END-----------Your assessment criteria #}

{# START-----------Review and publish your further competition #}
 {%block Review_and_publish_your_further_competition%}
<div class="border-top-rfp-review-"></div>
<h2 class="govuk-heading-m">6. Review and publish {% if selectedeventtype!='DA' %}your further competition{%endif%} </h2>
<dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value">
        <p> Number of suppliers available</p>
    </dt>
    <dd class="govuk-summary-list__value">
        {%if(supplierList !=undefined  and supplierList !=null and supplierList | length >0)%}
        {{supplierList.length}} {% if supplierList | length >1 %}suppliers{%else%}supplier{%endif%}
        {%else%}
        0 suppliers
        {%endif%}
    </dd>
    <dd class="govuk-summary-list__actions">
        {% if(eventStatus != "published")%}
        <a class="govuk-link" href="/rfp/suppliers">
            View<span class="govuk-visually-hidden">Number of suppliers available</span>
        </a>
        {% endif %}
    </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <h3><strong>Your timeline</strong></h3>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">
        {% if eventStatus != "published"%}
        <a class="govuk-link" href="/rfp/response-date">
            Change<span class="govuk-visually-hidden">Your timeline</span>
        </a>
        {% endif %}
    </dd>   
    
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>Clarification period closes</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p> 
          {%if rfp_clarification_period_end !=undefined and rfp_clarification_period_end !=null and rfp_clarification_period_end !=''%}  
          {{rfp_clarification_period_end | dateddmmyyyy}}  {{ rfp_clarification_period_end |formatTimeHHMM}}
          {%endif%}
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>Deadline to publish your responses to the clarification questions</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>
          {%if(deadline_period_for_clarification_period !=undefined and deadline_period_for_clarification_period !=null and deadline_period_for_clarification_period  !='')%}  
           {{deadline_period_for_clarification_period | dateddmmyyyy}} {{ deadline_period_for_clarification_period |formatTimeHHMM}}
          {%endif%}
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>Deadline for suppliers to submit their response</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p> 
          {%if supplier_period_for_clarification_period !=undefined and supplier_period_for_clarification_period !=null and supplier_period_for_clarification_period  !=''%}  
           {{supplier_period_for_clarification_period | dateddmmyyyy}} {{ supplier_period_for_clarification_period |formatTimeHHMM}}
          {%endif%}
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>Confirm your next steps to suppliers</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p> 
          {%if supplier_dealine_for_clarification_period !=undefined and supplier_dealine_for_clarification_period !=null and supplier_dealine_for_clarification_period  !=''%}  
           {{ supplier_dealine_for_clarification_period | dateddmmyyyy}} {{ supplier_dealine_for_clarification_period |formatTimeHHMM}}
          {%endif%}
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>Start supplier evaluation</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>{%if supplier_dealine_evaluation_to_start !=undefined and supplier_dealine_evaluation_to_start !=null and supplier_dealine_evaluation_to_start  !=''%}  
           {{ supplier_dealine_evaluation_to_start | dateddmmyyyy}} {{ supplier_dealine_evaluation_to_start |formatTimeHHMM}}
          {%endif%}
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>Start supplier evaluation</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
       <p> {%if supplier_dealine_evaluation_to_start !=undefined and supplier_dealine_evaluation_to_start !=null and supplier_dealine_evaluation_to_start  !=''%}  
           {{ supplier_dealine_evaluation_to_start | dateddmmyyyy}} {{ supplier_dealine_evaluation_to_start |formatTimeHHMM}}
          {%endif%}
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>Supplier presentations</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p> 
          {%if supplier_dealine_expect_the_bidders !=undefined and supplier_dealine_expect_the_bidders !=null and supplier_dealine_expect_the_bidders  !=''%}  
           {{ supplier_dealine_expect_the_bidders | dateddmmyyyy}}  {{ supplier_dealine_expect_the_bidders |formatTimeHHMM}}
          {%endif%}
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>Standstill starts</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p> 
          {%if supplier_dealine_for_pre_award !=undefined and supplier_dealine_for_pre_award !=null and supplier_dealine_for_pre_award  !=''%}  
           {{ supplier_dealine_for_pre_award | dateddmmyyyy}}  {{ supplier_dealine_for_pre_award |formatTimeHHMM}}
          {%endif%}
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>When you plan to award the contract</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p> 
          {%if supplier_dealine_for_expect_to_award !=undefined and supplier_dealine_for_expect_to_award !=null and supplier_dealine_for_expect_to_award  !=''%}  
           {{ supplier_dealine_for_expect_to_award | dateddmmyyyy}} {{ supplier_dealine_for_expect_to_award |formatTimeHHMM}}
          {%endif%}
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>When you expect the contract to be signed</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>
          {%if supplier_dealine_sign_contract !=undefined and supplier_dealine_sign_contract !=null and supplier_dealine_sign_contract  !=''%}  
           {{ supplier_dealine_sign_contract | dateddmmyyyy}}  {{ supplier_dealine_sign_contract |formatTimeHHMM}}
          {%endif%} 
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
        <p>When you expect the supplier to start</p>
    </dt>
    <dt class="govuk-summary-list__key border-bottom-rfp-review"> 
         <p>  {%if supplier_dealine_for_work_to_commence !=undefined and supplier_dealine_for_work_to_commence !=null and supplier_dealine_for_work_to_commence  !=''%}  
           {{ supplier_dealine_for_work_to_commence | dateddmmyyyy}} {{ supplier_dealine_for_work_to_commence |formatTimeHHMM}}
          {%endif%} 
          
          </p>
    </dt>
      <dd class="govuk-summary-list__actions border-bottom-rfp-review">        
    </dd>
    </div>
</dl>
{%endblock%}
</div>
</div>
{# END--------Review and publish your further competition #}
         <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                              <p class="govuk-body">
                                <h2 class="govuk-heading-m"> Publish your {%if(selectedeventtype=='DA')%}requirements{%else%} further competition {%endif%}</h2>
                              </p>
                              <p class="govuk-body">
      After publishing{%if(selectedeventtype!='DA')%} this further competition, you can still cancel all or part of it at any time, or amend, clarify, add to or withdraw all or any part of it.{%endif%}
    </p>

      
                              <br><br>
{%if(selectedeventtype=='DA')%}
                              {{ CCSWarningText({
    text: "By publishing these requirements, you are stating that, to the best of your knowledge, the information you have provided is correct.",
    iconFallbackText: "Warning"
    }) }}
    {%else%}
     {{ CCSWarningText({
    text: "By publishing this further competition to all the suppliers listed, you are stating that, to the best of your knowledge, the information you have provided is correct.",
    iconFallbackText: "Warning"
    }) }}
    {%endif%}
                        <br><br>
                              <!--<div class="ccs-link-group">
                                <span>
                                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
            d="M0 1.77778C0 1.34823 0.335786 1 0.75 1H5.00286C6.23012 1 7.31979 1.61142 8.00393 2.55666C8.68803 1.61146 9.77766 1 11.005 1H15.25C15.6642 1 16 1.34823 16 1.77778V12.6667C16 13.0962 15.6642 13.4445 15.25 13.4445H10.7426C10.1459 13.4445 9.57361 13.6903 9.15165 14.1279L8.53033 14.7722C8.23744 15.0759 7.76256 15.0759 7.46967 14.7722L6.84835 14.1279C6.42639 13.6903 5.8541 13.4445 5.25736 13.4445H0.75C0.335786 13.4445 0 13.0962 0 12.6667V1.77778ZM8.755 4.8889C8.755 3.60023 9.76236 2.55556 11.005 2.55556H14.5V11.8889H10.7426C10.0326 11.8889 9.34339 12.0978 8.75124 12.4825L8.755 4.8889ZM7.25124 12.4842L7.255 7.22297L7.25285 4.88668C7.25167 3.59887 6.24466 2.55556 5.00286 2.55556H1.5V11.8889H5.25736C5.96836 11.8889 6.65854 12.0983 7.25124 12.4842Z"
            fill="#505A5F"/>
                                  </svg>&nbsp;&nbsp;<a href="#" onclick="return false;"  class="govuk-link govuk-link--no-visited-state"> link 1</a>
                                </span>
                                <br>

                              </div>-->
                              <br><br>
                            </div>
                          </div>
                          <form id="ccs_rfp_publish_form" name="ccs_rfp_publish_form" class="form ccs_rfp_publish_form"
      action="/rfp/review" method="post">
      {{ csrfProtection(csrf) }}

{% if(buttonDisabled) %}
                            {{ CCSCheckboxes({
      items: [
      {
      "value": 1,
      html: "<label><strong>By checking this box, I confirm that I have read and confirm the statements above are true.</strong></label>",
      Checked: "",
      disabled: "disabled"
      }
      ]
      }) }}
	  
	   <div class="govuk-button-group">
	     <button disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled" data-module="govuk-button">
         Publish and continue
        </button>
		 <a href="/rfp/task-list" class="govuk-link govuk-link--no-visited-state">Return to Write and publish your requirements </a>
      </div>
		
      {% else %}
      
      {{ CCSCheckboxes({
      idPrefix: "rfp_publish_confirmation",
      name: "rfp_publish_confirmation",
      items: [
      {
      "value": 1,
      html: "<label><strong>By checking this box, I confirm that I have read and confirm the statements above are true.</strong></label>",
      Checked: ""
      }
      ]
      }) }}
      <div class="govuk-button-group">
	    {{ CCSButton({
        attributes: {
        id: "rfp_btn_publish_now"
        },
        text: "Publish and continue"
        }) }}
       
           <a href="/rfp/task-list" class="govuk-link govuk-link--no-visited-state">Return to Write and publish your requirements </a>
            </div>
                            
							  {% endif %}
                            {{ CCSInput({
      id: "finished_pre_engage",
      name: "finished_pre_engage",
      type: "hidden",
      value: "true"
      }) }}

                          </form>

                        </div>
                      </div>

                    </main>

                  {% endblock %}