{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% set title = 'Suppliers you want to approach | Crown Commercial Service' %}

{% block breadCrumb %}
  {% if(enablebtn) %}
    {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
      {% endif %}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    {{data.title }}
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                {% include "includes/project_header.njk" %}
                    {% if agreementId_session == 'RM6187' %}
                        <p class="govuk-body govuk-!-margin-bottom-7">
                            {{data.subtitle}} <br>
                            Find more information on each supplier on the <a target="_blank" rel="noopener noreferrer" href="{{lotSuppliers}}">CCS website (opens in a new tab).</a>
                        </p>    
                    {% else %}
                            <p class="govuk-body govuk-!-margin-bottom-7">{{data.subtitle}}</p>
                                {% if agreementId_session != 'RM1557.13' %}
                                    <p class="govuk-body">Find more information on each supplier on the main <a target="_blank" rel="noopener noreferrer" href="{{lotSuppliers}}">CCS website.</a> <span class='govuk-visually-hidden'> opens in a new window</span> The page will open on a new tab.</p>
                                {% endif %}
                    {% endif %}	
              <form id="ccs-rfp-suppliers-form" class="ccs-rfp-suppliers-form" action="/rfp/suppliers" method="POST">
                {{ csrfProtection(csrf) }}
                    <br>
                    <h2 class="govuk-heading-m">
                        {% if agreementId_session == 'RM6187' %}
                        <span id="added_suppliers_count">
                            {{supplierLength}}
                        </span> suppliers </h2>
                        {% else %}
                        <span id="added_suppliers_count">
                            {{supplierLength}}
                        </span> suppliers on this lot </h2>
                        {% endif %}
                    <br>
                     {% if(enablebtn) %}
                    <div class="govuk-button-group govuk-!-margin-bottom-7">
                        {{ CCSButton({
                text: "Save and continue"
                }) }}
                        <a href="{{data.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>
                    </div>
                    {% endif %}
                    <div class="govuk-form-group ccs-page-section"></div>
                    <div id="page1" >
                        <div id="supplier-list">
                            <div class="govuk-form-group ccs-page-section">
                                <h3>
                                    <a href="/rfp/suppliers?download=1" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Download this list
                </a>
                                </h3>
                            </div>
                            {% for supplier in suppliers_list %}
                                <div class="govuk-form-group ccs-page-section">
                                    <h3 class="govuk-heading-m">{{supplier.organization.name}}</h3>
                                    <div id="rfp_required_suppliers-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-padding-left-0">
                                        {% if supplier.organization.identifier.legalName | length > 0 %}
                                            <p>{{supplier.organization.identifier.legalName}}</p>
                                             
                                             {% if(enablebtn) %}
                                             {% if agreementId_session != 'RM1557.13' %}
                                            <p><a href="/rfp/supplier/ratecard?supplierId={{supplier.organization.id}}&supplierName={{supplier.organization.name}}">View rate card and contact details</a></p>
                                            {% endif %}
                                            {% endif %}

                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                                       <div>
                                         </br>
         {% if(showPrevious) %}
           {% if(enablebtn) %}
          <a href="suppliers?previous=1" class="govuk-link govuk-link--no-visited-state"><- Previous Page</a>
          {% else %}
          <a href="suppliers?fromMessage=1&previous=1" class="govuk-link govuk-link--no-visited-state"><- Previous Page</a>
          {% endif %}

          {% endif %}

          {% if(showNext) %}
          
           {% if(enablebtn) %}
          <a href="suppliers?next=1" class="govuk-link govuk-link--no-visited-state anchor-right">-> Next Page </a>
          {% else %}
    <a href="suppliers?fromMessage=1&next=1" class="govuk-link govuk-link--no-visited-state anchor-right">-> Next Page</a>
            {% endif %}
          {% endif %}
          </div><br>
          <div>
          {% if(showPrevious) %}
          <label>{{currentpagenumber}} of {{noOfPages}}</label>
          {% endif %}
          {% if(showNext) %}
          <label class="anchor-right">{{currentpagenumber}} of {{noOfPages}}</label>
          {% endif %}
          </div>
          </br>  </br>
          {% if(enablebtn) %}
                    {# <div class="govuk-button-group">
                        {{ CCSButton({
                text: "Save and continue"
                }) }}
                        <a href="{{data.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>
                    </div> #}
                     {% endif %}
                </form>

            </div>
            <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>
        </div>

    </main>

{% endblock %}