{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}

{% if (agreementId == 'RM6187') or (agreementId == 'RM1043.8') or (agreementId == 'RM1557.13') %} 
 {% set title = 'Your project' %}
{% else %}
 {% set title = 'Award documents' %}
{% endif %} 
{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items:[
    {
      "text": "Dashboard",
      "href": "/dashboard"
    },
    {
      "text": "Your project",
      "href": "#"
    }
  ]
    }) }}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        
<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
          <strong>
            {{title}}</strong>
        </h1>

              <div class="project-overview">
        <p class="govuk-body">Selected agreement: <strong>
          {% if(agreement_header !=undefined and agreement_header !=null and agreement_header.agreementLotName != undefined)%}    
            {% if(agreement_header['agreementIdSession']=='RM1557.13' and agreement_header['lotid']=='4') %}
            {{ agreement_header['agreementName'] }} Lot 4
            {% elseif(agreement_header['agreementIdSession']=='RM1043.8') %}
            {{ agreement_header['agreementName'] }}, Lot {{ agreement_header['lotid'] }}: {{ agreement_header['agreementLotName'] }} 
            {% else%}
            {{ agreement_header['agreementName'] }}, {{ agreement_header['lotid'] }}: {{ agreement_header['agreementLotName'] }} 
            {% endif %} 
          {% endif %} 


        </strong>
      </p>

  <p class="govuk-body">Agreement ID: <strong>
    {% if(agreement_header['agreementIdSession'] == 'RM1557.13' and agreement_header['lotid']=='4') %}
      {{ agreement_header['agreementIdSession']}}L4
    {% else %}
      {{ agreement_header['agreementIdSession'] }}
    {% endif %}
  </strong></p>
  <p class="govuk-body">Project ID & Name: <strong>{{agreement_header['projectId']+" & "+agreement_header['projectName']}}</strong></p>
   <!-- <p class="govuk-body">Project ID / Name: <strong>{{agreement_header['projectName']}}</strong></p> -->
        </div>
      </div>  
</div>

 <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <div>
          <h2 class="govuk-heading-m">
          {{ agreement_header['projectId']+" & "+agreement_header['projectName'] }}
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="suppliers-status">{{eventManagementData.status}}</strong>
          </h2>
          <p class="govuk-body">
            <a class="govuk-link" href="/rfi/nextsteps">Close your event</a>
          </p>
        </div>
      </div>
    </div>

<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
          <b><strong>Download and complete award documents </strong></b>
          
          <p class="govuk-!-margin-top-4">You will need to complete your award documents. You may wish to use the templates provided below.</p>
          
        </h1>
      
      {% if agreementId == 'RM1043.8' or agreementId == 'RM6187' or agreementId == 'RM1557.13' %}
        <h2> <strong>Successful supplier templates</strong></h2>
       <p>If you have not already completed the order form and call off schedules template, please do so before continuing.</p>
       <p>You can use the templates provided on this page to inform the successful supplier that you intend to award them the contract.</p>
        {% else %}
       <h2> <strong>Awarded supplier contract templates </strong></h2>
       <p> If you have not already completed the order form and call off schedules template, you must download and complete it before continuing.</p>
       <p> You can use the templates provided on this page to inform your supplier that you intend to award them. This should be done via your organisation’s email account.</p>
        {% endif %}
  

<div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-visually-hidden">Supplier Evaluation</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Supplier name</th>
                  {% if (agreementId == "RM6187") or (agreementId == "RM1557.13") or (agreementId == "RM1043.8") %}
                  <th scope="col" class="govuk-table__header govuk-text-align ">Award templates</th>
                  {% else %}
                  <th scope="col" class="govuk-table__header govuk-text-align ">Documents Template</th>
                  {% endif %}
                  <th scope="col" class="govuk-table__header govuk-text-align ">Order form and call off schedules template</th>
                </tr>
              </thead>
              {% for supplier in eventManagementData.documentTemplateDataList %}
              {# {% if supplier.responseState ==='Draft'  %} #}
              <tbody class="govuk-table__body">
                
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                    
                      <p class="govuk-body govuk-!-margin-bottom-0">
                        {{supplier.supplierName}}
                      </p>                      
                    </th>
                     <td class="govuk-table__cell govuk-text-align ">
                      <a class="govuk-link" href="/award-supplier-document?supplierId={{supplier.supplierId}}&doctempateId={{supplier.documentTemplates}}">Download templates</a>
                    </td>

                    <td class="govuk-table__cell govuk-text-align ">
                      {# <a class="govuk-link" href="/award-supplier-document?supplierId={{supplier.supplierId}}&doctempateId={{supplier.templatesOrder}}">Download template</a> #}
                      <a class="govuk-link" target="_blank" href="{{orderTemplateUrl}}">Visit Documents section of agreements page</a>
                    </td>
                    
                  </tr>
              </tbody>
          {# {% endif %} #}
          {% endfor %}
            </table>
            </div>
        </div>
<br>

       <h2> <strong>Unsuccessful supplier templates </strong></h2>
        </br>
        {% if agreementId == 'RM6187' %}
            <p>You will need to notify unsuccessful suppliers of the outcome. You can use the templates provided below. Please make a copy of the supplier names and contact emails below, because you will need to notify all unsuccessful suppliers using your organisation’s email account.</p>
        {% else %}
            <p>You will need to notify unsuccessful suppliers of the outcome. You can use the templates provided below.
            <br>Please make a copy of the supplier names and contact emails below, because you will need to notify all unsuccessful suppliers using your organisation’s email account. You will do this on the next page. </p>
        {% endif %}
</br> 
{%set urlNew=eventManagementData.documentTemplateDataList[0].supplierId+"&doctempateId="+eventManagementData.documentTemplateDataList[0].documentTemplatesUnSuccess %}
 <a class="govuk-link govuk-body" href="/award-supplier-document?supplierId={{urlNew}}">Download templates</a>
       </div>
        </div>
  <br><br>
  <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-visually-hidden">Supplier Evaluation</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  {% if (agreementId == "RM6187") or (agreementId == "RM1557.13") or (agreementId == "RM1043.8") %}
                  <th scope="col" class="govuk-table__header">Supplier name</th>
                  {% else %}
                  <th scope="col" class="govuk-table__header">Supplier's name</th>
                  {% endif %}
                  <th scope="col" class="govuk-table__header">Contact email</th>
                </tr>
              </thead>
              {% for supplier in eventManagementData.supplierDetailsList %}
               
              <tbody class="govuk-table__body">                
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">                    
                      <p class="govuk-body govuk-!-margin-bottom-0">
                        {{supplier.supplierName}}
                      </p>                      
                    </th>
                     <th scope="row" class="govuk-table__cell">                    
                      <p class="govuk-body govuk-!-margin-bottom-0">
                        {{supplier.supplierContactEmail}}
                      </p>                      
                    </th>                    
                  </tr>
              </tbody>
           
          {% endfor %}
            </table>
            </div>
        </div>
<br>

<form id="ccs_document_supplier_form" name="ccs_document_supplier_form" class="form ccs_document_supplier_form"
     >
                     {{ csrfProtection(csrf) }}      	 

                                <div class="govuk-button-group">
                                  {{ CCSButton({
        attributes: {
        id: "btn_document_completed"
        },
        text: "Documents completed",
        href:"/award-supplier?supplierId="+eventManagementData.documentTemplateDataList[0].supplierId
        }) }}
                                  <a class="govuk-link" href="/event/management?id={{eventManagementData.eventId}}">Return to Your Project</a> 
                                </div>
                                
                              </form>          
 </main>
{% endblock %}
 
