{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Award Supplier ' %}
{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items:[
    {
      "text": "Dashboard",
      "href": "/dashboard"
    },
    {
      "text": "Your project",
      "href": "#"
    }
  ]
    }) }}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          {% if (viewError == true) %}
      {{ CCSErrorSummary({
        titleText: "There is a problem with supplier to be awarded",
        errorList: [
          {
            text: "You must check this box to confirm that you have read and confirm the statements above",
            href: "#ccs_award_supplier_form"
          }
        ]
      }) }}
    {% endif %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
              <div class="project-overview">
                <h1 class="govuk-heading-xl">
          <strong>Your project</strong>
        </h1>
        <p class="govuk-body">Selected agreement: <strong>
          {% if(agreement_header !=undefined and agreement_header !=null and agreement_header.agreementLotName != undefined)%}    
            {% if(agreement_header['agreementId_session']=='RM1557.13' and agreement_header['lotid']=='4') %}
            {{ agreement_header['agreementName'] }} Lot 4
            {% elseif(agreement_header['agreementId_session']=='RM1043.8') %}
             {{ agreement_header['agreementName'] }}, Lot {{ agreement_header['lotid'] }}: {{ agreement_header['agreementLotName'] }} 
            {% else %}
            {{ agreement_header['agreementName'] }}, {{ agreement_header['lotid'] }}: {{ agreement_header['agreementLotName'] }} 
            {% endif %} 
          {% endif %} 
    
  </strong></p>
  <p class="govuk-body">Agreement ID: <strong>
        {% if(agreement_header['agreementId_session'] == 'RM1557.13' and agreement_header['lotid']=='4') %}
          {{ agreement_header['agreementId_session']}}-L4
        {% else %}
          {{ agreement_header['agreementId_session'] }}
        {% endif %}
  </strong></p>
  <p class="govuk-body">Project ID & Name: <strong>{{agreement_header['projectId']+" & "+agreement_header['project_name']}}</strong></p>
        </div>
      </div>  
</div>

 <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <div>
          <h2 class="govuk-heading-m">
          {{ agreement_header['projectId']+" & "+agreement_header['project_name'] }}
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="suppliers-status">{{status}}</strong>
          </h2>
          <p class="govuk-body">
            {% if(true) %}
            <a class="govuk-link" href="/rfi/nextsteps">Close your event</a>
            {% else %}
            <a class="govuk-link" href="/event/management?id=eventId">Close Event</a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>

<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          <strong>Details of the supplier to be awarded </strong>
        </h1>
        
        <h3> <strong>{{supplierDetails.supplierName}}</strong></h3>

       <p> {{supplierDetails.supplierId}}</p>

       <p> <strong>Address:</strong></p>
       <p> {{supplierDetails.supplierAddress}}</p>
       {# <p> {{supplierDetails.supplierDetails.streetAddress}}</p>
       <p> {{supplierDetails.supplierDetails.locality}}</p>
       <p> {{supplierDetails.supplierAddress.region}}</p> #}
      
       </br>
       </br>
       
<p> <strong>Contact name:</strong></p>
       <p> {{supplierDetails.supplierContactName}}</p>
       </br>
       </br>
       <p> <strong>Contact email:</strong></p>
       <p> {{supplierDetails.supplierContactEmail}}</p>
       </br>
       <p> <strong>Website:</strong></p>
       <p> {{supplierDetails.supplierWebsite}}</p>
       </br>
       </br>
       </br>
       </br>
       </div>
        </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-visually-hidden">Supplier Evaluation</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Supplier name</th>
                  <th scope="col" class="govuk-table__header govuk-text-align govuk-!-text-align-centre">Supplier answer</th>
                  <th scope="col" class="govuk-table__header govuk-text-align govuk-!-text-align-centre">Supplier evaluation</th>
                  <th scope="col" class="govuk-table__header govuk-text-align govuk-!-text-align-centre">Score</th>
                </tr>
              </thead>
              {% for supplier in supplierDetailsList %}
               {# {% if supplier.responseState =='Draft'  %} #}
              <tbody class="govuk-table__body">
                
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                    
                      <p class="govuk-body govuk-!-margin-bottom-0">
                        {{supplier.supplierName}}
                      </p>
                      
                    </th>
                     <td class="govuk-table__cell govuk-text-align govuk-!-text-align-centre">
                      <a class="govuk-link" href="/download-supplier-responce?supplierid={{supplier.supplierId}}">Download</a>
                    </td>

                    <td class="govuk-table__cell govuk-text-align govuk-!-text-align-centre">
                      <a class="govuk-link" href="/eventmanagement?reviewsupplierid={{supplier.supplierId}}&&Type=eventManagment">Review evaluation</a>
                    </td>
                    <th scope="row" class="govuk-table__cell govuk-text-align govuk-!-text-align-centre">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{supplier.score}}</p>
                    </th> 
                  </tr>
              </tbody>
          {# {% endif %} #}
          {% endfor %}
            </table>
            </div>
        </div>
<br>

<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          {% if agreement_header['agreementId_session'] == 'RM6187'  or agreement_header['agreementId_session'] == 'RM1557.13' or agreement_header['agreementId_session'] == 'RM1043.8' %}
              <strong>Contract award</strong>
          {% else %}
              <strong>Award supplier</strong>
          {% endif %}
        </h1>
            {% if agreement_header['agreementId_session'] == 'RM6187'  or agreement_header['agreementId_session'] == 'RM1557.13' or agreement_header['agreementId_session'] == 'RM1043.8' %}
              <p>When you award your contract, ensure you send documentation to both successful and unsuccessful bidders. You will need to do this using your organisation’s email account.</p>
            {% else %}
              <p>When you award your supplier, ensure you send documentation to both successful and unsuccessful bidders.</p>
            {% endif %}  
        </br></br>
        {% if agreement_header['agreementId_session'] == 'RM1043.8' or  agreement_header['agreementId_session'] == 'RM6187'  or agreement_header['agreementId_session'] == 'RM1557.13' %}
        {{ CCSWarningText({
    text: "Please confirm that you are ready to award this contract.",
    iconFallbackText: "Warning"
    }) }}
        {% else %}
        {{ CCSWarningText({
    text: "You must agree that you acknowledge the responsibility to award this supplier.",
    iconFallbackText: "Warning"
    }) }}
    {% endif %}
       </div>
       </div>

<form id="ccs_award_supplier_form" name="ccs_award_supplier_form" class="form ccs_award_supplier_form"
      action="/award-supplier" method="post">
                     {{ csrfProtection(csrf) }}  
                     {% if agreement_header['agreementId_session'] == 'RM1043.8'  or agreement_header['agreementId_session'] == 'RM1557.13' or agreement_header['agreementId_session'] == 'RM6187' %}
                     {{ CCSCheckboxes({
      idPrefix: "award_supplier_confirmation",
      name: "award_supplier_confirmation",
      items: [
      {
      "value": 1,
      html: "<label><strong>I confirm that I am ready to award this contract.</strong></label>",
      Checked: ""
      }
      ]
      }) }}
                     {% else %}       	 
        {{ CCSCheckboxes({
      idPrefix: "award_supplier_confirmation",
      name: "award_supplier_confirmation",
      items: [
      {
      "value": 1,
      html: "<label><strong>I acknowledge the reponsibility to award this supplier.</strong></label>",
      Checked: ""
      }
      ]
      }) }}
      {% endif %}
      <input type="hidden" name="supplier_id" id="supplier_id" value="{{supplierDetails.supplierId}}">
                                <div class="govuk-button-group">
        
          {% if eventType=="DA" %}
            {% set s_classes = "del btn_event_managment_award" %}
        {% else %}
        {% set s_classes = "" %}
        {% endif %}

        {{ CCSButton({
        attributes: {
        id: "btn_award_supplier"
        },
         classes: s_classes,
        text: "Award supplier"
        }) }}
                                  <a class="govuk-link" href="/event/management?id={{eventId}}">Return to Your Project</a> 
                                </div>
                                
                              </form>

                          <form id="ccs_standstill_period_form" name="ccs_standstill_period_form" class="form ccs_standstill_period_form"
      action="/stand-period" method="post">
                          {{ csrfProtection(csrf) }}
                          <input class="govuk-radios__input" id="standstill_period_no" name="standstill_period_yes" type="hidden" value="no" >
                         </form>

 {% set s_name = supplierName + '<br><br>You are now awarding the selected supplier. Before proceeding, ensure that you have followed the evaluation criteria you set out and communicated to suppliers.' | safe %}


{{ CCSDialog({
    title:'Confirm your wish to award to this supplier',
    description:s_name | safe,
    redirect:'#',
    type:'vetting'
  }) }}




 </main>
{% endblock %}

 
