{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Evaluate suppliers ' %}
{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items:[
    {
      "text": "Your Dashboard",
      "href": "/dashboard"
    },
    {
      "text": "Your Project",
      "href": "/event/management?id="+eventId
    },
    {
      "text": "Evaluate Suppliers",
      "href": "#"
    }
  ]
    }) }}
{% endblock %}
{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
         <strong> {{data.title}}</strong>
        </h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
            <div class="project-overview">
                   <p class="govuk-body">Selected agreement: <strong>{{ agreement_header['agreementName'] }}{% if(agreement_header !=undefined and agreement_header !=null 
    and agreement_header.agreementLotName != undefined)%}
    
    {% if(agreementId_session=='RM1557.13' and agreement_header['lotid']=='4') %}

             Lot 4
    {% else %}
             , 
        {{ agreement_header['lotid'] }}: {{ agreement_header['agreementLotName'] }} 
    {% endif %} 
    {% endif %} 
    
  </strong></p>
                    <p class="govuk-body">Agreement ID: <strong>{{agreementId_session}}</strong></p>
                      {% if agreement_header !=undefined and   agreement_header !=null and agreement_header['project_name'] %}
                    <p class="govuk-body">Project ID & Name: <strong>{{agreement_header['projectId']+" & "+agreement_header['project_name']}}</strong></p>
                       {% else %}
                    <p class="govuk-body">Project name: You have not saved projects </p>
                      {% endif %}
                     </p>
            </div>

              <div class="ccs-page-section">
                {% if agreementId_session != 'RM1043.8' %}
                  {% if agreementId_session == "RM6187" or agreementId_session == "RM1557.13" %}
                    <p>{{data.subtitle_mcf1}}</p>
                    <p>{{data.subtitle_mcf2}}</p>
                    <p>{{data.subtitle_mcf3}}</p>
                    <p class="govuk-!-padding-bottom-9">
                    You may wish to download <a href="/evaluate-suppliers?download=1" onclick="return false;" class="govuk-link govuk-link--no-visited-state">the Award Recommendation Report,</a> {{data.subtitle_mcf4}}
                    </p>
                  {% else %}
                    <p>{{data.subtitle}}</p>                   
                    <p>{{data.subtitle1}}</p>
                    <p>{{data.subtitle4}}</p>
                    <p class="govuk-!-padding-bottom-9">
                         {{data.subtitle3}} <a href="/evaluate-suppliers?download=1" onclick="return false;" class="govuk-link govuk-link--no-visited-state">download the Award Recommendation Report.</a>
                    </p>
                  {% endif %}
                    {%else%}
                      {% if stage2_value == 'Stage 2'%}
                          <p>{{data.subtitle_dos}}</p>
                          <p>{{data.subtitle1_dos}}</p>
                          <p>{{data.subtitle2_dos}}</p>
                          <p class="govuk-!-padding-bottom-9">
                              You may wish to download the <a href="/evaluate-suppliers?download=1" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Award Recommendation Report,</a> which can be used to capture your final scores and feedback, an overview of the process and your recommendation to award.</p>
                        {% else %}
                        <p>You are required to evaluate the responses from all suppliers.</p>
                        {% endif %}
                    {%endif%}
              <div>  

      </div>
</div> 
</div>
      <div class="govuk-grid-column-one-third-from-desktop">
          {{ CCSReleatedContent(releatedContent) }}
      </div> 
    </div>
     <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

    
        <h3 class="govuk-heading-m">
          {{data.subsection4_title4}}</h3>
          {% if agreementId_session == 'RM6187' %}
           
           {% else %}
           <p> The suppliers below have responded to your published project. You can download individual supplier responses or all responses.</p> 
        {% endif %}
          
        <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-visually-hidden">Messaging Inbox</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                {% if agreementId_session == 'RM6187' %}
                  <th scope="col" class="govuk-table__header">Supplier name</th>
                  <th scope="col" class="govuk-table__header">Response date</th>
                  <th scope="col" class="govuk-table__header">Supplier answer</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_4}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_5}}</th>
                {% else %}  
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_1}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_2}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_3}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_4}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_5}}</th>
                {% endif %}
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for supplier in supplierName %}
                {% if supplier.responseState =='Submitted'  %}  
                
                  
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__cell">
                      
                        {#<p class="govuk-body govuk-!-margin-bottom-0">#}
                          {{supplier.name}}
                        {#</p>#}
                        
                      </th>
                      <td class="govuk-table__cell">{{ supplier.responseDate }}</td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="/evaluate-download?supplierid={{supplier.id}}">{{ data.Downloadresponse[0].text }}</a>
                      </td> 
                      <td class="govuk-table__cell"> <a href="/enter-evaluation?supplierid={{supplier.id}}&suppliername={{supplier.name}}" class="govuk-link govuk-link--no-visited-state"> Add or edit </a></td>
                      <td class="govuk-table__cell"> {{supplier.completionStatus}} </td>
                    </tr>
                
                {% endif %} 
                {% endfor %}
                {% if(showallDownload) %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    {#<a href="/evaluate-suppliers" class="govuk-link app-task-list__tag ">{{data.backJump.title}}</a>#}
                    <a class="govuk-link" href="/evaluate-suppliers?download=2" class="govuk-link ">{{data.backJump.title}}</a>
                  </td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                      
                {% endif %}
              </tbody>
            </table>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
          <div class="govuk-grid-column-full">
            
            {% if agreementId_session == 'RM6187' %}
           
           {% else %}
           <p class="govuk-body">Finish the evaluation for each supplier to complete the overall evaluation.</p>
        {% endif %}
            
            
          </div>
        </div>
        {#{% endif %}#}
      
 
      </div>
      </div>
  
<br />
 <div class="govuk-button-group">
        {#{{ CCSButton({
        text: "Confirm Scores",
        idPrefix:"evaluate_suppliers"
        }) }}#}
        {% if(ConfirmFlag) %}
        <button class="govuk-button" data-module="govuk-button" id="evaluate_suppliers">
  Confirm Scores
</button>
{% endif %}
        <a class="govuk-link" href="/event/management?id={{eventId}}">Return to Your Project</a> 
 </div>
 


      
   </main>     




<div class="backdrop-evaluatesuppliers" id="evaluatesupplierspopup">
  <div class="messagepop pop" role="dialog" aria-labelledby="navigationDialog" style="display: block;">
    <div class="pop_logo govuk-grid-column-full">
      <hidden id="redirect-dialog" class="govuk-visually-hidden"></hidden>
      <p class="pop_logo_image govuk-grid-column-one-half">
        <img class="popup_image" src="/assets/images/CCS_WHITE_SML_AW.png" alt="Go to the CCS homepage">
      
      </p>
      <p class="govuk-!-text-align-right govuk-grid-column-one-half dialog-close-evaluatesuppliers govuk-!-padding-top-6">
      <a href="#" class="dialog-close-evaluatesuppliers nav-list__link_secondary">X</a></p>
    </div>
    <div class="govuk-grid-column-full">
      {% if stage2_value == 'Stage 1'%}
      
       {% if (agreementId_session == 'RM6187') or (agreementId_session == 'RM1557.13') %}
           <h1 id="dialog-title">You are about to complete your evaluation<p></p>
           {% else %}
          <h1 id="dialog-title">You are about to complete your shortlisting evaluation<p></p>
        {% endif %}

      
      {%else%}
      <h1 id="dialog-title">You are about to complete your evaluation<p></p>
      {%endif%}

      {% if agreementId_session == 'RM6187' or agreementId_session == "RM1557.13" %}
     <p id="dialog-description">Click 'Continue', or click 'Return' to edit your scores. After this point, you will be unable to edit your evaluation.</p>
      {%else%}
      {% if stage2_value == 'Stage 2'%}
       <p id="dialog-description">Click ‘Continue’, or click ‘Return’ to edit your scores. After this point, you will be unable to edit your evaluation.</p>
       {%else%}
       <p id="dialog-description">Click ‘Continue’, or click ‘Return’ to edit your scores.</p>
       {%endif%}
      {%endif%}
     
      <div class="govuk-button-group">
        <button id="redirect-button-evaluatesuppliers"  class="button dialog-button govuk-button" name="Evaluate Suppliers">Continue</button>
        <a href="/evaluate-suppliers" class="dialog-close-evaluatesuppliers govuk-link govuk-link--no-visited-state">Return</a>
      </div>
    </h1></div>
  </div>
</div>

{% endblock %}