{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Next step ' %}
{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items:[
    {
      "text": "Dashboard",
      "href": "/dashboard"
    },
    {
      "text": eventId+" / "+eventType,
      "href": "/event/management?id="+eventId
    },
    {
      "text": "Next step",
      "href": "#"
    }
  ]
    }) }}
{% endblock %}
{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    {% if (error) %}
      {{ CCSErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
        text: "Please select an option"
        }
    ]
    }) }}
    {%endif %}
    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-4 govuk-!-margin-bottom-2">Page Work in progress</strong>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          {{data.title}}
        </h1>
        <p class="govuk-body"><strong>Event Id / Name : {{eventId | upper}} / {{eventType}}</strong></p>
        {% include "includes/project_header.njk" %}
      </div>
    </div>
    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <p class="govuk-!-padding-bottom-9">
          {{data.subtitle}}
        </p>
        <div>
          <h2 class="govuk-heading-m">
            {{data.subsection2_title}}
            <strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="suppliers-status">Published</strong>
          </h2>
          <p class="govuk-body">
            <a class="govuk-link close-event-link" href="#">{{ data.subsection2_content }}</a>
          </p>
        </div>
      </div>
    </div>

    <p class="govuk-body">{{ data.form.question }}</p>
    <form id="ccs_rfp_type_form" name="ccs_rfp_type_form" class="form event_next_step_form" action="/event/next" method="POST">
      {{ csrfProtection(csrf) }}
      {% set formOptions = data.form.radioOptions.items %}

      {% set form_Options_Altered = [] %}
      {% set option_text = null %}

      {% for item in formOptions %}

        {% if eventType == 'RFI' %}
          {% set option_text = item.text %}
        {% else %}
          {% set option_text = item.text2 %}
        {% endif %}

        {% set form_Options_Altered = (form_Options_Altered.push(
                {
                  value: item.value,
                    html: "<h3 class='govuk-heading-m'>" +option_text + "</h3>"
                  }
                ), form_Options_Altered) 
              %}
      {% endfor %}

      {% if (error) %}

        {{ CCSRadios({
                idPrefix: "event_management_next_step",
                name: "event_management_next_step",
                items: form_Options_Altered,
                errorMessage: error,
                errorMessage: {
                text: 'Select an option'
                  }                  
              }) }}
      {% else %}

        {{ CCSRadios({
                idPrefix: "event_management_next_step",
                name: "event_management_next_step",
                items: form_Options_Altered        
              }) }}
      {%endif %}
      {{ CCSInput({
                id: "choose_event_management_next_step",
                name: "choose_event_management_next_step",
                type: "hidden",
                value: true
              }) }}

      <div class="govuk-button-group">
        {{ CCSButton({
                text: "Save and continue",
                classes: "close-event"
                }) }}
        <a href="/event/management?id={{eventId}}" class="govuk-link govuk-link--no-visited-state">{{data.form.backJump.title}}</a>
      </div>
    </form>
  </main>
{% endblock %}