{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}
{% from "macros/csrf.njk" import csrfProtection %}

{% set title = 'Your project ' %}
{% block breadCrumb %}
  {{ CCSBreadcrumbs({
  items:[
  {
    "text": "Your Dashboard",
    "href": "/dashboard"
  },
  {
    "text": "Your project",
    "href": "#"
  }
  ]
}) }}
{% endblock %}
{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-eventmanagement">
          <strong>
            {{data.title}}</strong>
        </h1>
        <div class="project-overview">
          <p class="govuk-body">Selected agreement: <strong>{{ agreement_header['agreementName'] }}
              {% if(agreement_header.agreementLotName !== undefined)%}, {% if agreement_header['lotid'] !== undefined %}{% endif %}
                {{ agreement_header['lotid'] }}: {{ agreement_header['agreementLotName'] }}
              </strong>
            </p>
          {%endif %}
          <p class="govuk-body">Agreement ID: <strong>{{ agreement_header['agreementId_session'] }}</strong></p>
          <p class="govuk-body">Project ID / Name: <strong>{{ projectName }}</strong></p>
        </div>
      </div>
    </div>
    <br><br>
    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <p>
          {{data.subtitle}}<br><br>
          {{data.subtitle1}}
        </p>
        <div>
          <h2 class="govuk-heading-m">
            {{projectName}}
            <strong class="app-task-list__tag custom_tag" id="suppliers-status">{{status | capitalize}}</strong>
          </h2>
          <p class="govuk-body">

            {% if (projectStatus == 2) %}
              {% if (showCloseProject) %}
                <a class="govuk-link" href="/rfi/nextsteps">{{ data.subsection2_content }}</a>
              {% else %}
                <a class="govuk-link" href="/event/management?id={{ eventId }}">{{ data.subsection2_content }}</a>
              {% endif %}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    {% if (projectStatus == 2) %}
      <div class="govuk-grid-row ccs-page-section">
        <div class="govuk-grid-column-full">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">
              {{data.subsection3_title}}<br>
      ({{unreadMessage}} unread messages)</h2>
            <p class="govuk-body">
              <a class="govuk-link" href="{{ data.subsection3_linkURL }}?id={{ eventId }}">{{ data.subsection3_linkText }}</a>
            </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">
              {{data.subsection3_title2}}<br>
      ({{ QAs.length }} unread messages )</h2>
            <p class="govuk-body">
              <a class="govuk-link" href="{{ data.subsection3_linkURL2 }}">{{ data.subsection3_linkText2 }}</a>
            </p>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          <span class="proc-task-list__section-number">1.</span>
          {{data.subsection4_title1}}

          <!--COMMENTING FOR RELEASE 1-->
          <!-- <p class="app-task-list__tag">
{% if eventType == 'RFI' %}

<a class="govuk-link" href="/rfi/add-collaborators">{{data.subsection4_title1_task[0].line_1_text}}</a>
{% endif %} 
{% if (eventType == 'FC' or eventType == 'DA') %}
<a class="govuk-link" href="/rfp/add-collaborators">{{data.subsection4_title1_task[0].line_1_text}}</a>
{% endif %}   
</p>-->
        </h2>

        {% for item in Colleagues %}
          <div class="">
            <p class="govuk-body  govuk-grid-column-full">
              <strong>{{item.OCDS.contact.name}}</strong>
            </p>
            <div class="govuk-body govuk-grid-column-full ccs-page-section">

              <div class="ccs-eventmanagement govuk-body govuk-grid-column-one-half " >{{item.OCDS.contact.email}}</div>
              <div class="govuk-body govuk-grid-column-one-half">
                {{item.OCDS.contact.telephone}}</div>
            </div>
          </div>
        {% endfor %}

        <!--<p class="govuk-body">{{ data.subsection4_title1_descriiption }}</p>-->
      </div>
    </div>

    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          <span class="proc-task-list__section-number">2.</span>
          {{data.subsection4_title2_1}}
          <p class="app-task-list__tag">
            <a class="govuk-link" href="/rfp/review">{{data.subsection4_title2_1_task[0].line_1_text}}</a>
          </p>
        </h2>
        <p class="govuk-body">{{ data.subsection4_title2_1_descriiption }}
          <a class="govuk-link app-task-list__tag" href="/publisheddoc?download=1">{{data.subsection4_title2_1_task[1].line_1_text}}</a>
        </p>
      </div>
    </div>

    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">

        {% if status.toUpperCase() == 'TO-BE-EVALUATED' or status.toUpperCase() == 'EVALUATING' %}
          <h2 class="govuk-heading-m">
            <span class="proc-task-list__section-number">3.</span>
            {{data.subsection4_title3_eval}}</h2>
          <p class="govuk-body">{{ data.subsection4_title3_eval_descriiption }}</p>
          {% if (projectStatus == 2) %}
            <p class="govuk-body">If you want to see any clarification questions suppliers have submitted, <a href="/message/inbox">open your inbox</a>.</p>
          {% else %}
            <p class="govuk-body">If you want to see any clarification questions suppliers have submitted, <a href="/message/inbox">open your inbox</a>.</p>
          {% endif %}
          <p class="govuk-body">The deadline for responses from suppliers is <strong>{{filtervalues}}</strong>.</p>
        </div>
      </div>
      <div class="govuk-grid-row ccs-page-section">
        <div>
          <p class="govuk-grid-column-one-half">
            <strong>{{data.subsection4_title3_eval_task1}}</strong>
            <p class="govuk-grid-column-one-half">{{supplierSummary.invited | safe}}</p>
            <p class="govuk-grid-column-one-half">{{data.subsection4_title3_eval_task2}}
              <p class="govuk-grid-column-one-half">{{supplierSummary.responded | safe}}</p>
              <p class="govuk-grid-column-one-half">{{data.subsection4_title3_eval_task3}}
                <p class="govuk-grid-column-one-half">{{supplierSummary.declined | safe}}</p>
                <p class="govuk-grid-column-one-half">{{data.subsection4_title3_eval_task4}}
                  <p class="govuk-grid-column-one-half">{{supplierSummary.noResponse | safe}}</p>
                {% else %}
                  <h2 class="govuk-heading-m">
                    <span class="proc-task-list__section-number">3.</span>
                    {{data.subsection4_title3}}</h2>
                  <p class="govuk-body">{{ data.subsection4_title3_descriiption }}</p>
                  {% if (projectStatus == 2) %}
                    <p class="govuk-body">If you want to see any clarification questions suppliers have submitted, <a href="/message/inbox">open your inbox</a>.</p>
                  {% endif %}
                  <p class="govuk-body">The deadline for responses from suppliers is <strong>{{filtervalues}}</strong>
                  </p>
                </div>
              </div>
              <div class="govuk-grid-row ccs-page-section">
                <div>
                  <p class="govuk-grid-column-one-half">
                    <strong>{{data.subsection4_title3_task1}}</strong>
                    <p class="govuk-grid-column-one-half">{{supplierSummary.invited | safe}}</p>
                    <p class="govuk-grid-column-one-half">{{data.subsection4_title3_task2}}
                      <p class="govuk-grid-column-one-half">{{supplierSummary.responded | safe}}</p>
                      <p class="govuk-grid-column-one-half">{{data.subsection4_title3_task3}}
                        <p class="govuk-grid-column-one-half">{{supplierSummary.declined | safe}}</p>
                        <p class="govuk-grid-column-one-half">{{data.subsection4_title3_task4}}
                          <p class="govuk-grid-column-one-half">{{supplierSummary.noResponse | safe}}</p>
                        {% endif %}
                      </div>
                    </div>

                    <div class="govuk-grid-row ccs-page-section">
                      <div class="govuk-grid-column-full">
                        {% if status.toUpperCase() == 'EVALUATED' %}
                          {% if(stage2_value == 'Stage 2')  %}
                                         <h2 class="govuk-heading-m">

                            <span class="proc-task-list__section-number">4.</span>
                            Supplier responsess</h2>
                          {% else %}
                              <h2 class="govuk-heading-m">

                            <span class="proc-task-list__section-number">4.</span>
                            {{data.subsection4_title4_eval}}</h2>

                          {% endif %}
                          
                        {% else %}
                          <h2 class="govuk-heading-m">

                            <span class="proc-task-list__section-number">4.</span>
                            {{data.subsection4_title4}}</h2>
                        {% endif %}
                        {% if status.toLowerCase() == 'published' %}
                          <p class="govuk-body">{{ data.subsection4_title4_descriiption }}</p>
                        {% endif %}

                        {% if status.toUpperCase() == 'TO-BE-EVALUATED' or status.toUpperCase() ==='EVALUATED' or status.toUpperCase() == 'EVALUATING' %}
                          
                          {% if agreementId_session == 'RM1043.8' %}
                              <p class="govuk-body">The suppliers below have responded to your published project. You can download individual supplier responses or all responses.</p>
                          {% else %}
                              <p class="govuk-body">{{data.subsection4_eval_title4_descriiption}}</p>
                          {% endif  %}
                          {# {% if(stage2_value == 'Stage 2')  %}
                          <p class="govuk-body">{{data.subsection4_eval_title4_descriiption}}</p>
                          {% endif %} #}
                          <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
                            <div class="govuk-grid-column-full">
                              <table class="govuk-table">
                                <caption class="govuk-table__caption govuk-visually-hidden">Messaging Inbox</caption>
                                <thead class="govuk-table__head">
                                  <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">{{data.subsection4_eval_table_th_1}}</th>

                                    {% if status.toUpperCase() ==='TO-BE-EVALUATED' or status.toUpperCase() ==='EVALUATING' %}
                                      <th scope="col" class="govuk-table__header">{{data.subsection4_eval_table_th_7}}</th>
                                      <th scope="col" class="govuk-table__header">{{data.subsection4_eval_table_th_2}}</th>
                                    {% endif %}

                                    {% if status.toUpperCase() === 'EVALUATED' %}
                                      <th scope="col" class="govuk-table__header">{{data.subsection4_eval_table_th_2}}</th>
                                      <th scope="col" class="govuk-table__header">{{data.subsection4_eval_table_th_3}}</th>
                                      <th scope="col" class="govuk-table__header">{{data.subsection4_eval_table_th_4}}</th>
                                      <th scope="col" class="govuk-table__header">{{data.subsection4_eval_table_th_5}}</th>
                                      {% if(stage2_value != 'Stage 2')  %}
                                        <th scope="col" class="govuk-table__header">{{data.subsection4_eval_table_th_9}}</th>
                                      {% endif %}
                                      {% if(stage2_value == 'Stage 2')  %}
                                        <th scope="col" class="govuk-table__header">{{data.subsection4_eval_table_th_8}}</th>
                                      {% endif %}
                                    {% else %}
                                      <th scope="col" class="govuk-table__header"></th>
                                    {% endif %}
                                  </tr>
                                </thead>
                                {% set rows = 0 %}
                                {% for supplier in supplierDetailsDataList %}
                                  <tbody class="govuk-table__body">
                                    {% if supplier
                                      .responseState
                                      .toLowerCase() === 'submitted' %}
                                      <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__cell">

                                          <p class="govuk-body govuk-!-margin-bottom-0">
                                            {{supplier.supplierName}}
                                          </p>

                                        </th>

                                        {% if status.toUpperCase() ==='TO-BE-EVALUATED' or status.toUpperCase() ==='EVALUATING'%}
                                          <td class="govuk-text-align govuk-!-text-align-left">
                                            {{ supplier.responseDate }}
                                          </td>
                                          <td class="govuk-text-align govuk-!-text-align-left">
                                            <a class="govuk-link" href="/eventmanagement?supplierid={{supplier.supplierId}}">Download</a>
                                          </td>

                                          {%endif%}

                                          {% if status.toUpperCase() === 'EVALUATED' %}
                                            <td class="govuk-text-align govuk-!-text-align-left">
                                              <a class="govuk-link" href="/eventmanagement?supplierid={{supplier.supplierId}}">Download</a>
                                            </td>
                                            <td class="govuk-text-align govuk-!-text-align-left">
                                              <a class="govuk-link" href="/eventmanagement?reviewsupplierid={{supplier.supplierId}}&&Type=eventManagment">Review evaluation</a>
                                            </td>

                                            <th scope="row" class="govuk-table__cell govuk-!-text-align-left">
                                              <p class="govuk-body govuk-!-margin-bottom-0">{{supplier.rank}}
                                              </p>
                                            </th>
                                            <th scope="row" class="govuk-table__cell govuk-!-text-align-left">
                                              <p class="govuk-body govuk-!-margin-bottom-0">{{supplier.score}}</p>
                                            </th>
                                            {% if status.toUpperCase() === 'EVALUATED' %}
                                            {% if(stage2_value != 'Stage 2')  %}
                                              <td class="govuk-text-align govuk-!-text-align-left">
                                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                                  <div class="govuk-checkboxes__item">
                                                    <input {{ "checked" if rows <= assessmentSupplierTarget }} class="govuk-checkboxes__input dos_evaluate_supplier"   type="checkbox" value="{{supplier.supplierId}}">
                                                    <lable class="govuk-label govuk-checkboxes__label" for="waste"> &nbsp;</lable>
                                                  </div>
                                                </div>

                                              </td>
                                              {%endif%}
                                              {% if(stage2_value == 'Stage 2')  %}
                                                <td class="govuk-text-align govuk-!-text-align-left">
                                                  <a class="govuk-link" href="/confirm-supplier?supplierid={{supplier.supplierId}}">Select</a>
                                                  </td>
                                              {%endif%}
                                              {%endif%}

                                              {%endif%}
                                            </tr>
                                            {%endif%}
                                          </tbody>
                                          {% set rows = rows + 1 %}
                                        {% endfor %}
                                        <tbody class="govuk-table__body">
                                          <tr class="govuk-table__row">
                                            <td class="govuk-text-align govuk-!-text-align-left border-none"></td>
                                            <td class="govuk-text-align govuk-!-text-align-left border-none"></td>
                                            <td class="govuk-text-align govuk-!-text-align-left border-none">

                                              {% if (showallDownload) %}

                                                {% if status.toUpperCase() === 'TO-BE-EVALUATED' or status.toUpperCase() === 'EVALUATING' %}
                                                  <a href="/eventmanagement?download=1" class="govuk-link ">Download all</a>
                                                {% endif %}

                                              {% endif %}
                                            </td>
                                            {% if status.toUpperCase() === 'EVALUATED' %}
                                              <td class="govuk-text-align govuk-!-text-align-left border-none"></td>

                                              <th scope="row" class="govuk-table__cell govuk-!-text-align-left border-none"></th>
                                              <th scope="row" class="govuk-table__cell govuk-!-text-align-left border-none"></th>

                                              <td class="govuk-text-align govuk-!-text-align-left border-none"></td>

                                            {% endif %}
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>

                                {% elif status.toLowerCase() != 'published' %}

                                  <p class="govuk-body">The supplliers below have responded to your published project.You can download individual supplier's answers or all answers</p>
                                  {#<h3 class="govuk-heading-m">
                      {{data.subsection4_title4_1}}</h3>#}
                                  <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
                                    <div class="govuk-grid-column-full">
                                      <table class="govuk-table">
                                        <caption class="govuk-table__caption govuk-visually-hidden">Messaging Inbox</caption>
                                        <thead class="govuk-table__head">
                                          <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_1}}</th>
                                            <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_2}}</th>
                                            <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_3}}</th>
                                          </tr>
                                        </thead>
                                        {% for supplier in supplierDetailsDataList %}
                                          {% if supplier.responseState == 'Submitted' %}
                                            <tbody class="govuk-table__body">

                                              <tr class="govuk-table__row">
                                                <th scope="row" class="govuk-table__cell">

                                                  <p class="govuk-body govuk-!-margin-bottom-0">
                                                    {{supplier.supplierName}}
                                                  </p>

                                                </th>
                                                <td class="govuk-table__cell">{{ supplier.responseDate  }}</td>
                                                <td class="govuk-text-align">
                                                  <a class="govuk-link" href="/eventmanagement?supplierid={{supplier.supplierId}}">{{ data.Downloadresponse[0].text }}</a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          {% endif %}
                                        {% endfor %}
                                      </table>
                                    </div>
                                  </div>

                                  {% if (showallDownload) %}
                                    <a href="/eventmanagement?download=1" class="govuk-link app-task-list__tag govuk-!-text-align-right">{{data.backJump.title}}</a>
                                  {% endif %}
                                {% endif %}
                              </div>
                            </div>

                          </main>
                          {#<div class="govuk-grid-row ccs-page-section">#}
                          <div>
                            {% if (eventType == 'FC') %}
                              {% if(stage2_value == 'Stage 2' and status.toUpperCase() == 'EVALUATED')%}

                              <h2 class="govuk-heading-m">
                                    <span class="proc-task-list__section-number">5.</span>
                                  Evaluate suppliers</h2>
                              <p>You have completed your supplier evaluation.</p>
                              {% else %}
                                {% if status.toUpperCase() !== 'PUBLISHED' %}
                                  {% if status.toUpperCase() == 'EVALUATED' %}
                                    <h2 class="govuk-heading-m">
                                      <span class="proc-task-list__section-number">5.</span>
                                    Invite selected suppliers to stage 2: further assessment</h2>
                                    <p>You need to evaluate suppliers using the criteria and questions you set when you published your procurement project.</p>
                                    <p>You can only enter  your final evaluation score for each supplier in this service. You will need to complete your full evaluation offline.</p>
                                    <form id="dos_invite_supplier_form" name="dos_invite_supplier_form" action="/event/invite-suppliers" method="POST">
                                      {{ csrfProtection(csrf) }}

                                      {{ CCSInput({           
                                          id: "invite_suppliers",
                                          name: "invite_suppliers",
                                          rows:1,
                                          type:"hidden",
                                          classes: "govuk-!-width-two-thirds"
                                        })
                                      }}
                                      <div class="govuk-button-group govuk-!-margin-top-9">
                                        {{ CCSButton({
                                            text: "Invite to stage 2",
                                            action:"submit"
                                          })
                                        }}
                                      </div>

                                    </form>
                                  {% endif %}
                                  {% if status.toUpperCase() != 'EVALUATED' %}
                                  <h2 class="govuk-heading-m">
                                    <span class="proc-task-list__section-number">5.</span>
                                    Evaluate suppliers</h2>
                                  <p>You need to evaluate suppliers using the criteria and questions you set when you published your procurement project.</p>
                                  <p>You can only enter  your final evaluation score for each supplier in this service. You will need to complete your full evaluation offline.</p>
                                  {% if (status.toUpperCase() == 'TO-BE-EVALUATED' or status.toUpperCase() == 'EVALUATING') %}
                                    {% if supplierDetailsDataList != null and(supplierDetailsDataList.length > 0 and showallDownload) %}

                                      <div class="govuk-button-group">
                                        {{ CCSButton({
                                            text: "Start supplier evaluation", 
                                            href:"/eventStateChange?StateChange=1"
                                          }) }}
                                      </div>
                                      <div class="govuk-!-padding-top-6">
                                  <a class="govuk-link" href="/dashboard">Return to your dashboard</a>
                                </div>
                                    {% elseif status.toUpperCase() === 'PUBLISHED' %}
                                      <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                                     <div class="govuk-!-padding-top-6">
                                  <a class="govuk-link" href="/dashboard">Return to your dashboard</a>
                                </div>
                                    {% endif %}
                                  {% endif %}
                                  {% endif %}
                                {% else %}
                                  {% if status.toUpperCase() === 'PUBLISHED' %}
                                    <h2 class="govuk-heading-m">
                                      <span class="proc-task-list__section-number">5.</span>
                                     Evaluate suppliers</h2>
                                    <p>You need to evaluate suppliers using the criteria and questions you set when you published your procurement project.</p>
                                    <p>You can only enter  your final evaluation score for each supplier in this service. You will need to complete your full evaluation offline.</p>

                                    {% if supplierDetailsDataList != null and(supplierDetailsDataList.length > 0 and showallDownload) %}

                                     {% if (status.toUpperCase() == 'TO-BE-EVALUATED' or status.toUpperCase() == 'EVALUATING') %}

                                          <div class="govuk-button-group">
                                            {{ CCSButton({
                                                text: "Start supplier evaluation", 
                                                href:"/eventStateChange?StateChange=1"
                                              }) }}
                                          </div>
                                      {% else %}
                                              <div class="govuk-!-padding-top-6">
                                                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                                                </div>
                                       {% endif %}
                                       <div class="govuk-!-padding-top-6">
                                          <a class="govuk-link" href="/dashboard">Return to your dashboard</a>
                                       </div>
                                </div>
                                    {% elseif status.toUpperCase() === 'PUBLISHED' %}
                                      <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                                       <div class="govuk-!-padding-top-6">
                                        <a class="govuk-link" href="/dashboard">Return to your dashboard</a>
                                      </div>
                                    {% endif %}
                                  {% endif %}
                                {% endif %}
                                {% endif %}
                                

                              {% endif %}
                            {% endblock %}