{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Event management ' %}
{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items:[
    {
      "text": "Dashboard",
      "href": "/dashboard"
    },
    {
      "text": eventId+" / "+eventType,
      "href": "#"
    }
  ]
    }) }}
{% endblock %}
{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          {{data.title}}
        </h1>
        {% include "includes/project_header.njk" %}
      </div>
    </div>
    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <p class="govuk-!-padding-bottom-9">
          {{data.subtitle}}
        </p>
        <div>
          <h2 class="govuk-heading-m">
            {{data.subsection2_title}}
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="suppliers-status">{{status}}</strong>
          </h2>
          <p class="govuk-body">
            <a class="govuk-link" href="/event/management?id={{ eventId }}">{{ data.subsection2_content }}</a>
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">
            {{data.subsection3_title}}</h2>
          <p class="govuk-body">You have {{unreadMessage}} unread messages</p>
          <p class="govuk-body">
            <a class="govuk-link" href="{{ data.subsection3_linkURL }}?id={{ eventId }}">{{ data.subsection3_linkText }}</a>
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">
            {{data.subsection3_title2}}</h2>
          <p class="govuk-body">There are X clarifications in the Q&A </p>
          <p class="govuk-body">
            <a class="govuk-link" href="{{ data.subsection3_linkURL2 }}">{{ data.subsection3_linkText2 }}</a>
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          <span class="proc-task-list__section-number">1.</span>
          {{data.subsection4_title1}}
          <p class="app-task-list__tag">
            <a class="govuk-link" href="#">{{data.subsection4_title1_task[0].line_1_text}}</a>
          </p>
        </h2>
        <p class="govuk-body">{{ data.subsection4_title1_descriiption }}</p>
      </div>
    </div>

    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        {% if eventType == 'RFI' %}
          <h2 class="govuk-heading-m">
            <span class="proc-task-list__section-number">2.</span>
            {{data.subsection4_title2_1}}
            <p class="app-task-list__tag">
              <a class="govuk-link" href="#">{{data.subsection4_title2_1_task[0].line_1_text}}</a>
            </p>
          </h2>
          <p class="govuk-body">{{ data.subsection4_title2_1_descriiption }}
            <a class="govuk-link app-task-list__tag" href="{{data.subsection4_title2_1_task[1].line_1_link}}">{{data.subsection4_title2_1_task[1].line_1_text}}</a>
          </p>
        {% elseif eventType == 'EOI' %}
          <h2 class="govuk-heading-m">
            <span class="proc-task-list__section-number">2.</span>
            {{data.subsection4_title2_2}}
            <p class="app-task-list__tag">
              <a class="govuk-link" href="{{data.subsection4_title2_2_task[0].line_1_link}}">{{data.subsection4_title2_2_task[0].line_1_text}}</a>
            </p>
          </h2>
          <p class="govuk-body">{{ data.subsection4_title2_2_descriiption }}
            <a class="govuk-link app-task-list__tag" href="{{data.subsection4_title2_2_task[1].line_1_link}}">{{data.subsection4_title2_2_task[1].line_1_text}}</a>
          </p>
        {% endif %}
      </div>
    </div>

    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          <span class="proc-task-list__section-number">3.</span>
          {{data.subsection4_title3}}</h2>
        <p class="govuk-body">{{ data.subsection4_title3_descriiption }}</p>
        <p class="govuk-body govuk-grid-column-one-half">{{data.subsection4_title3_task1}}
        <p class="govuk-body govuk-grid-column-one-half">{{supplierSummary.invited | safe}}</p>
        <p class="govuk-body govuk-grid-column-one-half">{{data.subsection4_title3_task2}}
        <p class="govuk-body govuk-grid-column-one-half">{{supplierSummary.responded | safe}}</p>
        <p class="govuk-body govuk-grid-column-one-half">{{data.subsection4_title3_task3}}
        <p class="govuk-body govuk-grid-column-one-half">{{supplierSummary.declined | safe}}</p>
        <p class="govuk-body govuk-grid-column-one-half">{{data.subsection4_title3_task4}}
        <p class="govuk-body govuk-grid-column-one-half">{{supplierSummary.noResponse | safe}}</p>
        
      </div>
    </div>

    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
        {% if status == 'Published' %}
        <span class="proc-task-list__section-number">4.</span>
          {{data.subsection4_title4}}</h2>
        <p class="govuk-body">{{ data.subsection4_title4_descriiption }}</p>
        <h3 class="govuk-heading-m">
          {{data.subsection4_title4_1}}</h3>
        <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-visually-hidden">Messaging Inbox</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_1}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_2}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_3}}</th>
                </tr>
              </thead>
              </table>
            </div>
          </div>
        {% elseif status == 'Response period open' %}
        <span class="proc-task-list__section-number">4.</span>
          {{data.subsection4_title4}}</h2>
        <p class="govuk-body">{{ data.subsection4_title4_descriiption }}</p>
        <h3 class="govuk-heading-m">
          {{data.subsection4_title4_1}}</h3>
        <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-visually-hidden">Messaging Inbox</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_1}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_2}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_3}}</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for supplier in supplierName %}
                {% if supplier.responseState =='Submitted'  %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                      <p class="govuk-body govuk-!-margin-bottom-0">
                        {{supplier.name}}
                      </p>
                    </th>
                    <td class="govuk-table__cell">{{ supplier.responseDate }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% elseif status == 'Response period closed' %}
        
          <span class="proc-task-list__section-number">4.</span>
          {{data.subsection4_title4}}</h2>
        <p class="govuk-body">{{ data.subsection4_title4_descriiption }}</p>
        <h3 class="govuk-heading-m">
          {{data.subsection4_title4_1}}</h3>
        <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-visually-hidden">Messaging Inbox</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_1}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_2}}</th>
                  <th scope="col" class="govuk-table__header">{{data.subsection4_table_th_3}}</th>
                </tr>
              </thead>
              {% for supplier in supplierName %}
                
              <tbody class="govuk-table__body">
                
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                    
                      <p class="govuk-body govuk-!-margin-bottom-0">
                        {{supplier.name}}
                      </p>
                      
                    </th>
                    <td class="govuk-table__cell">{{ supplier.responseDate }}</td>
                     <td class="govuk-text-align">
                      <a class="govuk-link" href="/eventmanagement?supplierid={{supplier.id}}">{{ data.Downloadresponse[0].text }}</a>
                    </td> 
                  </tr>
              </tbody>
            
          {% endfor %}
            </table>
            </div>
        </div>
        {% if(showallDownload) %}
              <a href="/eventmanagement" class="govuk-link app-task-list__tag ">{{data.backJump.title}}</a> 
        {% endif %}
        {% endif %} 
      </div>
  </div>
    
  <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
      {% if status == 'To be evaluated' %}
      <div class="govuk-inset-text">
        <h4 class="govuk-heading-s">Next Steps on the procurement</h4>
         <a class="govuk-link" href="/projects/create-or-choose">Complete RfI and start procurement</a> 
      </div>
    </div>
    </div>
    {% endif %}
  </main>
{% endblock %}