{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Message Create ' %}

{% set sortedMembers = [
  {
    value: "",
    text: "Please select"
  }
] %}
{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items:[
    {
      "text": "Your Dashboard",
      "href": "/dashboard"
    },
    {
      "text": "Your project",
      "href": "/event/management?id="+eventId
    },
    
    {
      "text": "Compose message",
      "href": "#"
    }
  ]
    }) }}
{% endblock %}

{% for msg in message.create_message %}
  {% if message.selected_message == msg %}
    {% set sortedMembers = (sortedMembers.push({value: msg, text: msg, selected: msg}), sortedMembers) %}
  {% else %}
    {% set sortedMembers = (sortedMembers.push({value: msg, text: msg}), sortedMembers) %}
  {% endif %}
{% endfor %}

{% block content %}
<div class="backdrop-createmsgcancel" id="createmsgcancelpopup">
  <div class="messagepop pop" role="dialog" aria-labelledby="navigationDialog" style="display: block;">
    <div class="pop_logo govuk-grid-column-full">
      <hidden id="redirect-dialog" class="govuk-visually-hidden"></hidden>
      <p class="pop_logo_image govuk-grid-column-one-half" <a="" href="#">
        <img class="popup_image" src="/assets/images/CCS_WHITE_SML_AW.png" alt="Go to the CCS homepage">
      
      </p>
      <p class="govuk-!-text-align-right govuk-grid-column-one-half dialog-close-createmsgcancel govuk-!-padding-top-6">
      <a href="#" class="dialog-close-createmsgcancel nav-list__link_secondary">X</a></p>
    </div>
    <div class="govuk-grid-column-full">
      <h1 id="dialog-title">If you cancel now this message will not be saved.<p></p>
      
      <div class="govuk-button-group">
        <button id="redirect-button-createmsgcancel" class="button dialog-button govuk-button" name="Cancel Message">OK</button>
        <a href="#" class="dialog-close-createmsgcancel govuk-link govuk-link--no-visited-state">Cancel</a>
      </div>
    </h1></div>
  </div>
</div>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% if (validationError) %}

      {{ CCSErrorSummary({
  titleText: "Broadcast cannot be completed",
  errorList: errorText
}) }}
    {%endif %}
    <div class="govuk-grid-row govuk-!-padding-bottom-7">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
         <strong> {{data.title}} </strong>
        </h1>
        <p class="govuk-body">
          <strong>Event Id / Name : {{eventId | upper}} / {{eventType}}</strong>
        </p>
        {% include "includes/project_header.njk" %}
      </div>
    </div>

    <div class="govuk-grid-row messaging-navigation">
      <div class="govuk-grid-column-full">
        <nav class="global-navigation" data-toggle="nav" data-app-uri="http://www.crowncommercial.gov.uk/" data-app-pathinfo="/">

          <ul class="nav-list messaging-nav-list--primary">
            <li class="nav-list__item selected">
              {{data.tabs.text1}}
            </li>
            <li class="nav-list__item">
              <a class="nav-list__link " href="{{data.tabs.href2}}?type=received">{{data.tabs.text2}}</a>
            </li>
            <li class="nav-list__item">
              <a class="nav-list__link " href="{{data.tabs.href3}}?type=sent">{{data.tabs.text3}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <form id="ccs_message_create_form" name="ccs_message_create_form" action="/message/create" method="POST">
      {{ csrfProtection(csrf) }}
      <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6 ccs-page-section">
        <div class="govuk-grid-column-full" class="backlink-margin-top" >        
          <a href="{{data.backlink}}" class="backlink-margin">Back</a></br></br></br>
           <h1 class="govuk-heading-m">
            {{data.subtitle}}
          </h1>
          <div class="govuk-inset-text">
            <p class="govuk-body">{{data.signposting.line1}}</p>
            <p class="govuk-body">
              <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="{{supplier_link}}">
                {{data.signposting.line2}}
              </a>
            </p>
          </div>
          <div class="govuk-grid-column-two-thirds">

            {% if message.IsClassificationNotDefined %}
              <div class="govuk-form-group govuk-form-group--error">
                <label class="govuk-label govuk-label govuk-label--m message-fontsize" for="create_message">
                  Message Classification
                </label>
                <span id="create_message-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> 
                  {{message.classificationErrorMessage}}
                </span>
                <select class="govuk-select govuk-select--error" id="create_message" name="create_message" aria-describedby="create_message-error">
                  {% for members in sortedMembers %}
                  <option value="{{members.value}}">{{members.text}}</option>
                  {% endfor %}
                </select>
              </div>
            {% else %}
              {{ CCSSelect({
                id: "create_message",
                name: "create_message",
                items: sortedMembers,
                label: {
                  text: data.MessageClassification,
                  classes: "govuk-label govuk-label--m"
                }
                })
              }}
            {% endif %}

            {% if message.IsSubjectNotDefined %}
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-label govuk-label govuk-label--m message-fontsize" for="create_subject_input">
                Subject
              </label>
              <span id="create_subject_input-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> 
                {{message.subjectErrorMessage}}
              </span>
              <input class="govuk-input govuk-input--error" id="create_subject_input" name="create_subject_input" type="text" aria-describedby="create_subject_input-error">
              </div>
             
            {% else %}
              {{ CCSInput({           
                id: "create_subject_input",
                name: "create_subject_input",
                value: message.create_subject_input,
                label: {
                  text: data.Subject,
                  classes: "govuk-label govuk-label--m"
                }
                })
              }}
            {% endif %}

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="5000">
              {% if message.IsMessageNotDefined or message.IsSubjectNotDefinedcount%}
                <div class="govuk-form-group govuk-form-group--error">
                  <label class="govuk-label govuk-label govuk-label--m message-fontsize" for="create_message_input">{{data.Message}}</label>
                  {% if message.IsMessageNotDefined%}
                  <p id="create_message_input-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{message.messageErrorMessage}}
                  </p>
                  <textarea class="govuk-textarea govuk-textarea--error1 govuk-js-character-count" id="create_message_input" name="create_message_input" rows="5" aria-describedby="create_message_input-info create_message_input-hint create_message_input-error"></textarea>
                </div>
                {% else %}
                 <p id="create_message_input-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{message.SUBJECT_REQUIRED_count}}
                  </p>
                  <textarea class="govuk-textarea govuk-textarea--error1 govuk-js-character-count" id="create_message_input" name="create_message_input" rows="5" aria-describedby="create_message_input-info create_message_input-hint create_message_input-error">{{message.create_message_input}}</textarea>
                </div>
                {% endif %}
              {% else %}
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label govuk-label--m" for="create_message_input">{{data.Message}}</label>
                  <textarea class="govuk-textarea govuk-js-character-count" id="create_message_input" name="create_message_input" rows="5" aria-describedby="create_message_input-info create_message_input-hint">{{message.create_message_input}}</textarea>
                </div>
              {% endif %}
              <div id="create_message_input-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You can enter up to 5000 characters</div>
            </div>

            <div class="govuk-button-group senttoall-width">
              {{ CCSButton({
                text: data.btnText,
                action:"submit",
                id:"btnCreateMessage"
                })
            }}
              <a id="createMsgCancel" class="govuk-link govuk-link--no-visited-state a-cursor-pointer">{{data.Cancel.text}}</a>
            </div>

          </div>
        </div>
      </div>
    </form>
   <!-- <p class="govuk-body">
      <a href="/event/management?id={{eventId}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>
    </p>-->
  </main>
{% endblock %}