{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Add your supplier evaluation' %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 id="page-heading" class="govuk-heading-xl">
          <strong>{{data.title}}</strong>
        </h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "includes/project_header.njk" %}
        <div>        
          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
                            <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
                          </div>
                          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                          {% if (agreement_id == 'RM1043.8') %}
                          <h2 class="govuk-heading-l">{{data.subtitledos}}</h2>
                          {%else%}
                            <h2 class="govuk-heading-l">{{data.subtitle}}</h2>
                          {%endif%}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">
          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
                            <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
                          </div>
          <h2 class="govuk-heading-m">{{data.subtitle1}}</h2>  
          <ol type="1" class="govuk-list govuk-list--number">
              {% if lotid == '3' and agreement_id == 'RM1043.8' %}
                  <li>{{data.subsection1_title}}</li>
              {% else %}
                {% if (stage_value == 'stage 2') %}
                    <li>{{data.subsection1_titlel1}}</li>
                {% else %}
                    <li>{{data.subsection1_title}}</li>
                {% endif %}
              {% endif %}
              {% if data.subsection2_title !='' %}
              <li>{{data.subsection2_title}}</li>
              {% endif %}
              </ol>
          <br>
        </div>
        {% if (agreement_id == 'RM1043.8') %}
       {% set returnLink = "/event/management?id="+eventId %}
       {% else %}
       {% set returnLink = "/dashboard" %}
        {% endif %}
        <div class="govuk-button-group">
        {% if lotid == '3' and agreement_id == 'RM1043.8' %}
          {{ CCSButton({text: data.btntext,href:returnLink}) }}
        {% else %}
            {% if (stage_value == 'stage 2') %}
              {{ CCSButton({text: data.btntextl1,href:returnLink}) }}
            {% else %}
              {{ CCSButton({text: data.btntext,href:returnLink}) }}
            {% endif %}
        {% endif %}
        </div>
        
      </div>    
    </div>
  </main>
        {% endblock %}