{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}
{% from "components/dialog/macro.njk" import CCSDialog %}

{% set title = 'Your project ' %}
{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items:[
    {
      "text": "Dashboard",
      "href": "/dashboard"
    },
    {
      "text": "Your project",
      "href": "#"
    }
  ]
    }) }}
{% endblock %}
{% block content %}
 <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
 
 {{ CCSDialog({
  title:'Please confirm your wish to award this supplier.',
  description:supplierName,
  redirect:'#',
  type:'vetting'
}) }}

 {% if (isError) %}
      {{ CCSErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
        text: "Please select an option"
        }
    ]
    }) }}
    {%endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          <strong> {{title}}</strong> 
        </h1>
        <div class="project-overview">
        <p class="govuk-body">Selected agreement: <strong>{{ agreement_header['agreementName'] }}{% if(agreement_header.agreementLotName !== undefined)%}, {% if agreement_header['lotid'] !== undefined %}  {% endif %} {{ agreement_header['lotid'] }}: {{ agreement_header['agreementLotName'] }}  
  </strong></p>
  {%endif %}
  <p class="govuk-body">Agreement ID: <strong>{{ agreement_header['agreementId_session'] }}</strong></p>
        </div>
      </div>
    </div>
   <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <div>
          <h2 class="govuk-heading-m">
          {{ agreement_header['project_name'] }}
            {# <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="suppliers-status">{{status}}</strong> #}
          </h2>
          <p class="govuk-body">
          <a class="govuk-link" href="/rfi/nextsteps">Close Event</a>
          </p>
        </div>
      </div>
    </div>
</main>
    

     <form id="ccs_standstill_period_form" name="ccs_standstill_period_form" class="form ccs_standstill_period_form"
      action="/stand-period" method="post">
                     {{ csrfProtection(csrf) }}

                     <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
       <h1 class="govuk-heading-xl">
           <strong> Do you want a standstill period?</strong></h1>
            <div class="govuk-radios" id = "standstill_period_radios" data-module="govuk-radios">
                                  <div class="govuk-radios__item govuk-!-margin-top-9">
          
                                    <input class="govuk-radios__input" id="standstill_period_yes" name="standstill_period_yes" type="radio" value="yes">
                      
                                    <label class="govuk-label govuk-radios__label govuk-heading-s" for="standstill_period_yes">    
                                      <h3 class="govuk-heading-m">Yes - I want a standstill period  </h3>
                                      <p> Your chosen supplier will be subject to a standstill period of 10 days before you can continue with the award.</p>
                                      </label>
                                      </div>
                                  
                                  <div class="govuk-radios__item govuk-!-margin-top-4">
          
                                    <input class="govuk-radios__input" id="standstill_period_no" name="standstill_period_no" type="radio" value="no">
                      
                                    <label class="govuk-label govuk-radios__label govuk-heading-s" for="standstill_period_no">
                                      
                                       <h3 class="govuk-heading-m">No - I do not want a standstill period  </h3>
                                       <p>Your chosen supplier will be awarded immediately.</p>
                                    </label>
                                  </div>
                                  </div>
      </div>
      </div>
        	 
       
                                <div class="govuk-button-group">
                                  {{ CCSButton({
        attributes: {
        id: "btn_standstill_period"
        },
        classes: "del govuk-link govuk-link--no-visited-state event_managment_award",
        text: "Save and continue"
         
        }) }}
                                  <a class="govuk-link" href="/award-supplier?supplierId={{supplierId}}">Return to Your project</a> 
                                </div>
                                
                              </form> 
{% endblock %}