{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "components/support/macro.njk" import howToGetSupport %}
{% from "components/dialog/macro.njk" import CCSDialog %}

{% set title = 'Event management ' %}
{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items:[
    {
      "text": "Dashboard",
      "href": "/dashboard"
    },
    {
      "text": "Your project",
      "href": "#"
    }
  ]
    }) }}
{% endblock %}
{% block content %}
 <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  
  {% if (agreement_id =='RM1043.8')%}
    {% set s_name = supplierName + '<br><br>Confirm you wish to award to this supplier.' | safe %}
   {% elseif agreement_id == 'RM6187' %}
   {% set s_name = supplierName + '<br><br>You are now awarding the selected supplier. Before proceeding, ensure that you have followed the evaluation criteria you set out and communicated to suppliers.' | safe %}
  {%else%}
    {% set s_name = supplierName + '<br><br>You are now awarding the selected supplier. Before proceeding, ensure that you are satisfied with your choice.' | safe %}
  {%endif%}
  {{ CCSDialog({
    title:'Confirm your wish to award to this supplier',
    description:s_name | safe,
    redirect:'#',
    type:'vetting'
  }) }}

 {% if (isError) %}
      {{ CCSErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
        text: "Please select an option"
        }
    ]
    }) }}
    {%endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            {% if (agreement_id =='RM1557.13') %}
              <strong> Your project</strong>
            {% else %}
              <strong> {{data.title}}</strong>
            {% endif %}
        </h1>
        <div class="project-overview">
        <p class="govuk-body">Selected agreement: <strong>
          {% if(agreement_header !=undefined and agreement_header !=null and agreement_header.agreementLotName != undefined)%}    
            {% if(agreement_header['agreementId_session']=='RM1557.13' and agreement_header['lotid']=='4') %}
            {{ agreement_header['agreementName'] }} Lot 4
            {% else %}
            {{ agreement_header['agreementName'] }}, {{ agreement_header['lotid'] }}: {{ agreement_header['agreementLotName'] }} 
            {% endif %} 
          {% endif %} 

        </strong>
      </p>
  {%endif %}
  <p class="govuk-body">Agreement ID: <strong>{{ agreement_header['agreementId_session'] }}</strong></p>
  <p class="govuk-body">Project ID & Name: <strong>{{agreement_header['projectId']+" & "+agreement_header['project_name']}}</strong></p>
  

        </div>
      </div>
    </div>
    <div class="govuk-grid-row ccs-page-section">
      <div class="govuk-grid-column-full">
        <div>
          <h2 class="govuk-heading-m">
          {{agreement_header['projectId']+" & "+projectName}}
            {# <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="suppliers-status">{{status}}</strong> #}
          </h2>
          <p class="govuk-body">
            {% if(showCloseProject) %}
            <a class="govuk-link" href="/rfi/nextsteps">Close your event</a>
            {% else %}
            <a class="govuk-link" href="/event/management?id={{ eventId }}">Close Event</a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
</main>
    

     <form id="ccs_standstill_period_form" name="ccs_standstill_period_form" class="form ccs_standstill_period_form"
      action="/stand-period" method="post">
                     {{ csrfProtection(csrf) }}

                     <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
       <h1 class="govuk-heading-xl">
           <strong> Choose if you want a standstill period</strong></h1>
           <p>If you previously indicated on the procurement timeline that you required a standstill period, select 'Yes', otherwise, select 'No' . </p>
            <div class="govuk-radios" data-module="govuk-radios">
                                  <div class="govuk-radios__item govuk-!-margin-top-9">
          
                                    <input class="govuk-radios__input" id="standstill_period_yes" name="standstill_period_yes" type="radio" value="yes">
                      
                                    <label class="govuk-label govuk-radios__label govuk-heading-s" for="standstill_period_yes">    
                                      <h3 class="govuk-heading-m">Yes - I want a standstill period  </h3>
                                      <p> Your chosen supplier will be subject to a standstill period of 10 days before you can continue with the award.</p>
                                      </label>
                                      </div>
                                  
                                  <div class="govuk-radios__item govuk-!-margin-top-4">
          
                                    <input class="govuk-radios__input" id="standstill_period_no" name="standstill_period_yes" type="radio" value="no">
                      
                                    <label class="govuk-label govuk-radios__label govuk-heading-s" for="standstill_period_no">
                                      
                                       <h3 class="govuk-heading-m">No - I do not want a standstill period  </h3>
                                       <p>Your chosen supplier will be awarded immediately.</p>
                                    </label>
                                  </div>
                                  </div>
      </div>
      </div>
        	 
       
                                <div class="govuk-button-group">
                                  {{ CCSButton({
        attributes: {
        id: "btn_standstill_period"
        },
        classes: "del event_managment_award",
        text: "Save and continue"
         
        }) }}
                                  <a class="govuk-link" href="/event/management?id={{eventId}}">Return to Your Project</a> 
                                </div>
                                
                              </form> 
{% endblock %}