{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'QA ' %}


{% block breadCrumb %}
{%if(isSupplierQA !==true)%}
    {{ CCSBreadcrumbs({
        items:[
    {
      "text": "Dashboard",
      "href": "/dashboard"
    },
    {
      "text": eventId+" / "+eventType,
      "href": "/event/management?id="+eventId
    },
    {
      "text": "Supplier Message",
      "href": "#"
    }
  ]
    }) }}
    {%endif%}
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row govuk-!-padding-bottom-7">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    {%if(isSupplierQA ==true)%}
                         <strong>Current Q&A Document </strong>
                    {%else%}
                    <strong>{{data.title}}</strong>
                    {%endif%}
                </h1>
                <p class="govuk-body">
                <strong>{{eventId}}</strong><br/>
                Selected agreement: <strong>{{ agreement_header['agreementName'] }}{% if(agreement_header.agreementLotName !== undefined)%}, {% if agreement_header['lotid'] !== undefined %}  {% endif %} {{ agreement_header['lotid'] }}: {{ agreement_header['agreementLotName'] }}</strong>{% endif %}<br/>
                Agreement ID: <strong>{{ agreement_header['agreementId_session'] }}</strong></p>
            </div>
        </div>

        <div class="govuk-grid-row ccs-page-section">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">
                    {{data.subtitle}}
                </h2>
                <p class="govuk-body">{{data.info}}</p>
            </div>
            <div class="govuk-grid-column-full">
                <p class="govuk-body">
                There are <strong>{{ QAs.length }}</strong> clarifications for this Agreement
                </p>
            </div>
        </div>
        {% set q=1 %}
        {% for QA in QAs %}
        <div class="govuk-grid-row ccs-page-section-without-margin">
            <div class="govuk-grid-column-full">
                <h3>{{q+". "}}{{QA.question}}</h3>
                <p class="govuk-body">
                    {{QA.answer}}
                </p>
                <p class="govuk-body">
                {% if QA.lastUpdated%}
                    {{data.updateDate}} : <strong>{{QA.lastUpdated | dateddmmyyyy }}</strong>
                    {% else %}
                     {{data.updateDate}} : <strong>{{QA.created | dateddmmyyyy }}</strong>
                     {% endif %}
                </p>
            </div>
        </div>
        {% set q=q+1 %}
        {% endfor %}
        {% if(isSupplierQA) %}
         <p class="govuk-body-margin-top">
            <a href="/event/management?id={{eventId}}" class="govuk-link govuk-link--no-visited-state">Close</a>
        </p>
        {% else %}
        <p class="govuk-body-margin-top">
            <a href="/event/management?id={{eventId}}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>
        </p>
         {% endif %}
        
    </main>
{% endblock %}
