/*------------------------------------*\
  #All pages
\*------------------------------------*/
.govuk-widthless-container {

    //@extend .govuk-width-container;
    //
    //max-width: none;

}


.govuk-main-wrapper--tight {
    padding-top: govuk-px-to-rem(10);

    @include govuk-media-query($from: tablet) {
        padding-top: govuk-px-to-rem(20);
    }

    @include govuk-media-query($from: desktop) {
        padding-top: govuk-px-to-rem(30);
    }
}



.page-introduction {
    padding-bottom: govuk-px-to-rem(10);

    @include govuk-media-query($from: tablet) {
        padding-bottom: govuk-px-to-rem(20);
    }
}

.hidden_msgs{
    display: none;
}

// a.skip-main {
//     color: #fff;
//     background-color:#000;
//     left: auto;
//     top: auto;
//     width: 30%;
//     height: auto;
//     overflow:auto;
//     margin: 10px 35%;
//     padding:5px;
//     border-radius: 15px;
//     border:4px solid yellow;
//     text-align:center;
//     font-size:1.2em;

//     position: absolute;
//     transform: translateY(-100%);
//     transition: transform 0.3s;
//     overflow: hidden;

// }

// a.skip-main:focus {
//     overflow: auto;
//     transform: translateY(0%);
// }

a.skip-main {
    border-radius: 15px;
    border:4px solid yellow;
    color: #fff;
    background-color:#000;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

a.skip-main:focus {
  transform: translateY(0%);
  z-index:999;  
}

@media(max-width: 600px) {
    a.skip-main {
        left: 30%;  
    }
}

.restrict-width {

    max-width: 900px;
}

//removes links from printing page
/* Don't print link hrefs */
@media print {
  a[href]:after {
    content: none
}
.no-print, .no-print *
{
    display: none !important;
}
}

.footer-global{
    margin-top: 0;
}

.service-msg{
    background-color: #EAEBEB;
    font-size: 16px;
  
    line-height: 50px;
}

.service-msg p{
    margin-left: 29px;
    margin-bottom: 0px;
    padding-top: govuk-px-to-rem(12.5);
    padding-bottom: govuk-px-to-rem(12.5);


}

.service-msg span{
    font-weight: bold;
}

.page-title{
    margin-bottom: govuk-px-to-rem(25);
}

.cat-legend{
    margin-bottom: govuk-px-to-rem(25);
}
.govuk-radios__item {
    margin-bottom: govuk-px-to-rem(25);
}
.govuk-error-summary {
    margin-bottom: govuk-px-to-rem(20);
}
.govuk-error-message {
    margin-bottom: govuk-px-to-rem(25);
    margin-top: govuk-px-to-rem(-5);
}
.cat-top-dist{
    margin-top: govuk-px-to-rem(40);
}

.cat-top-dist-25{
    margin-top:govuk-px-to-rem(25);
}
.cat-bottom-dist-40{
    margin-bottom: govuk-px-to-rem(40);

}

.govuk-main-wrapper {
    padding-top: govuk-px-to-rem(25);
    padding-bottom: govuk-px-to-rem(60);

}

.govuk-button{
    margin-bottom: 0px;
}

.govuk-body{
    margin-bottom: 0px;
}

.govuk-summary-list {
    margin-bottom: 0px;
}

.govuk-error-summary:focus {
    outline: none;
}

.govuk-width-container{
    padding-left: govuk-px-to-rem(30);
    padding-right: govuk-px-to-rem(30);
}

.govuk-form-group{
    margin-bottom: 0px;
}
.govuk-back-link{
    margin-top: govuk-px-to-rem(25);
    margin-bottom: 0;;
}


.govuk-inset-text{
    margin-top:0px;
    margin-bottom:0px;
}

.govuk-summary-list{
    margin-top: govuk-px-to-rem(40);
}

.govuk-body-m,  .wp-caption-text{
    margin-bottom: govuk-px-to-rem(25);
}


.govuk-body{

    p:last-child{
        margin-bottom: 0px;
    }
}

 .govuk-hint p:last-child{
    margin-bottom: 0px;

 }
.govuk-label:not(.govuk-label--m):not(.govuk-label--l):not(.govuk-label--xl)+.govuk-hint {
    margin-bottom: 0px;
}
.cat-bottom-dist-25 {
    margin-bottom: govuk-px-to-rem(25);
}
.review-supplier-list {
    margin-top: 0px;
}
.govuk-summary-list__value {
    padding-bottom: govuk-px-to-rem(15);
    padding-top: govuk-px-to-rem(15);
}
.selected-items .selected-items-url {
    margin-top: govuk-px-to-rem(15);
}

.app-step-nav__button--controls {
    padding-bottom: govuk-px-to-rem(25);

}


.cat-dist-bottom-28{
    margin-bottom: govuk-px-to-rem(28);
}
.selected-items-txt{
    margin-bottom: 0px;
}

.cat-bottom-dist-0{
    margin-bottom: 0px;
}

#step-by-step-navigation{
    margin-bottom: 0px;
}

