/*------------------------------------*\
  #Homepage
\*------------------------------------*/
.govuk-form-group--enclosure--homepage {

    background-color: rgba(#6D0227, 0.41);
    border-radius: govuk-px-to-rem(3);
    color: white;

    .govuk-label {

        color: inherit;

    }

    .govuk-input {

        border: 0;
        border-radius: govuk-px-to-rem(3) 0 0 govuk-px-to-rem(3);
        box-shadow: 0 2px 4px 0 rgba(black, 0.29);

    }

    .govuk-form-group {



    }

}

.homepage-hero {

    padding-top: govuk-px-to-rem(50);
    padding-bottom: govuk-px-to-rem(62);

    //max-width: 66%;

    @include govuk-media-query($from: 961) {

        max-width: 66%;
        margin: 0 auto;

    }

}

.homepage-hero-title {

    margin-bottom: govuk-px-to-rem(10);

}

.homepage-hero .govuk-body-l {

    margin-bottom: govuk-px-to-rem(50);

}

.homepage-hero-title,
.homepage-hero .govuk-body-l {

    color: white;
    //text-align: center;

}



.homepage-hero__search-button {

    background: $ccs-button-colour url("../images/icon-search-white.png") center center no-repeat;
    background-size: 19px 19px;
    border: 0;
    // 40px to match the input height (this is fickle)
    min-height: govuk-px-to-rem(40);
    min-width: govuk-px-to-rem(44);

    &:hover,
    &:active,
    &:focus {

        background-color: $ccs-button-hover-colour;

    }

}

.homepage-hero__search-group {

    position: relative;

    .homepage-hero__search-button {

        position: absolute;
        bottom: 0;
        margin: 0;
        right: 0;

    }

}


.apollo-island {

    padding: 60px 0;

}

.apollo-island--emphasised {

    background-color: #FCFAF7;
    border-top: 1px solid #E7E4DF;

}

.greyed-bg {

    background-color: #F8F8F8;
    padding: govuk-px-to-rem(69) 0 govuk-px-to-rem(75) 0;

    @include govuk-media-query($from: desktop) {

        padding: govuk-px-to-rem(69) 0 govuk-px-to-rem(93) 0;

    }

}

.is-home .govuk-main-wrapper {

    padding-bottom: 0;

}
.is-home .footer-global {

    margin-top: 0;

}

.align-center-from-desktop {

    @include govuk-media-query($from: desktop) {

        text-align: center;

    }

}
