/*------------------------------------*\
  #Journey Result Page
\*------------------------------------*/

.journey-answers .govuk-summary-list__value:last-child{

    width: 15%;
}
.govuk-summary-list{
  margin: 0;
}

.view-framework-details-ulr{
  font-size: 0.8421rem;
}