/*------------------------------------*\
  #News
\*------------------------------------*/


.flow-pages {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}


.flow-pages-radio {
background: yellow;
}
