
.review-supplier-list .govuk-summary-list__row:first-child dd{
    border-top: 1px solid #bfc1c3;
}

.review-supplier-list{
    font-size: 24px;
    font-weight: 600;
}

.review-supplier-btn{
    width: 100%;
}
.selected-items{
    background-color: #f8f8f8;
    margin-top: 12px;
    padding: 10px;
}

.selected-items .selected-items-url{
    margin-top: 10px;
    font-size: 17px;
}

.enterprise-suplier{
    font-weight: 700;
    color: #144E81;
    font-size: 17px;
    background-color: #D2E2F1;
    padding-left: 11px;
    padding-right: 11px;
}

.selected-items-txt{

    font-size: 21px;
    font-weight: 600;
}

.govuk-summary-list__row-hide-parent{
    display: none;
}

.js-step-title-text{
    color: #007194;
}

.app-step-nav--large .app-step-nav__toggle-link{
    font-size: 18px;
    line-height: 26px;
    margin-top: 5px;
}
.app-step-nav--large .app-step-nav__header{
    padding-top: govuk-px-to-rem(25);
    padding-bottom: govuk-px-to-rem(25);;


}

.app-step-nav__panel{
    margin-top: govuk-px-to-rem(-10);

}

.app-step-nav__list-item p:last-child{
    margin-bottom: 0px;
}
.app-step-nav__list-item{
    margin-bottom: 0px;
}

.app-step-nav--large .app-step-nav__list{
    padding-bottom: govuk-px-to-rem(25);;
}

.app-step-nav__controls .js-step-controls-button{
    padding-top: 0px;
}