<link rel="stylesheet" href="/assets/styles/application.css">
<link rel="stylesheet" href="/assets/styles/custom.css">
{# <link rel="stylesheet" href="/assets/styles/main.css"> #}
{# <link rel="stylesheet" href="/assets/styles/patternlib.css"> #}
{# <link rel="stylesheet" href="/assets/styles/print.css"> #}
