<script src="/assets/scripts/libraries/jquery-3.6.0.min.js"></script>
<script src="/assets/scripts/libraries/objectFitPolyfill.js"></script>
<script src="/assets/scripts/app.js"></script>
<script src="/assets/scripts/all.js"></script>
<script src="/assets/scripts/cookies/cookieprefrences.js"></script>
<script src="/assets/scripts/validations/formfield.js"></script>
{# This block has been comented out - This can be un-comment once the SCAT-3516 & SCAT-3517 has been ready for implementation #}
<script src="/assets/scripts/dialog/dialog-polyfill.0.4.3.js"></script>
<script src="/assets/scripts/dialog/rfp_vetting.js"></script>
<script src="/assets/scripts/dialog/dialog.js"></script>
<script src="/assets/scripts/dialog/ca_da_servicecapability.js"></script>


<script src="/assets/scripts/cookies/cookiesScript.js"></script>
<script src="/assets/scripts/validations/form_validation.js"></script>
<script src="/assets/scripts/validations/rfp-servicecapbility.js"></script>
<script src="/assets/scripts/validations/validate_login.js"></script>
<script src="/assets/scripts/validations/validate_create_or_choose.js"></script>
<script src="/assets/scripts/validations/validate_select_offer.js"></script>
<script src="/assets/scripts/validations/rfp_requirement-validation.js"></script>
<script src="/assets/scripts/validations/validate_eoi_location.js"></script>
<script src="/assets/scripts/validations/validate_rfi_location.js"></script>
<script src="/assets/scripts/validations/validate_eoi_needs.js"></script>
<script src="/assets/scripts/validations/validate_eoi_security.js"></script>
<script src="/assets/scripts/validations/validate_eoi_incumbent.js"></script>
<script src="/assets/scripts/validations/validate_eoi_budget.js"></script>
<script src="/assets/scripts/validations/eoi_criteria.js"></script>
<script src="/assets/scripts/validations/eoi_supporting_docs.js"></script>
<script src="/assets/scripts/validations/validate_eoi_deadline.js"></script>
<script src="/assets/scripts/validations/validate_eoi_contact.js"></script>
<script src="/assets/scripts/validations/eoi_confidential.js"></script>
<script src="/assets/scripts/validations/eoi-collaborators.js"></script>
<script src="/assets/scripts/validations/rfi-collaborators.js"></script>
<script src="/assets/scripts/validations/collaborators.js"></script>
<script src="/assets/scripts/validations/validate_rfi_who.js"></script>
<script src="/assets/scripts/validations/rfi_dates.js"></script>
<script src="/assets/scripts/validations/validate_rfi_dates.js"></script>
<script src="/assets/scripts/validations/rfi_address.js"></script>
<script src="/assets/scripts/validations/file_uploads.js"></script>
<script src="/assets/scripts/validations/validate_rfi_project.js"></script>
<script src="/assets/scripts/validations/validate_rfi_project_status.js"></script>
<script src="/assets/scripts/validations/rfi_questions.js"></script>
<script src="/assets/scripts/validations/eoi_questions.js"></script>
<script src="/assets/scripts/validations/scroll_to_content.js"></script>
<script src="/assets/scripts/validations/eoi_acronyms.js"></script>
<script src="/assets/scripts/validations/eoi_dates.js"></script>
<script src="/assets/scripts/validations/rfi_acronyms.js"></script>
<script src="/assets/scripts/validations/rfp_acronyms.js"></script>
<script src="/assets/scripts/validations/rfi_responsedate.js"></script>
<script src="/assets/scripts/validations/eoi_responsedate.js"></script>
<script src="/assets/scripts/validations/validate_rfi_upload.js"></script>
<script src="/assets/scripts/validations/rfi_suppliers.js"></script>
<script src="/assets/scripts/validations/validate_rfi_address.js"></script>
<script src="/assets/scripts/validations/validate_rfi_name.js"></script>
<script src="/assets/scripts/session/idle.js"></script>
<script src="/assets/scripts/validations/rfi_procurement_leader.js"></script>
<script src="/assets/scripts/validations/eoi_procurement_leader.js"></script>
<script src="/assets/scripts/validations/rfp_procurement_leader.js"></script>
<script src="/assets/scripts/validations/eoi_numerical.js"></script>
<script src="/assets/scripts/validations/eoi_specialterms.js"></script>
<script src="/assets/scripts/validations/validate_rfp_location.js"></script>
<script src="/assets/scripts/validations/validate_rfp_strategy.js"></script>
<script src="/assets/scripts/validations/validate_rfp_background.js"></script>
<script src="/assets/scripts/validations/rfp_select.js"></script>
<script src="/assets/scripts/validations/rfp_dates.js"></script>
<script src="/assets/scripts/validations/ca_supplierValidation.js"></script>
<script src="/assets/scripts/validations/ca_dimensions_weightings.js"></script>
<script src="/assets/scripts/validations/menu_tabs.js"></script>
<script src="/assets/scripts/validations/rfp-responsedate.js"></script>
<script src="/assets/scripts/validations/ca_da_service.js"></script>
<script src="/assets/scripts/validations/ca_da_whereworkDone.js"></script>


<script src="/assets/scripts/application.js"></script>