{% if assetBundlerMode !== 'development' %}
    <script defer src="/assets/scripts/bundle-min.js" tag-manager="{{GOOGLE_TAG_MANAGER_ID}}"></script>
{% else %}
    <script defer src="/assets/scripts/bundle.js" tag-manager="{{GOOGLE_TAG_MANAGER_ID}}"></script>
{% endif %}