/*------------------------------------*\
  #Buttons
\*------------------------------------*/

.govuk-button {

    background-color: $ccs-button-colour;
    border-radius: govuk-px-to-rem(3);
    box-shadow: 0 3px 0 #003618;

    padding-left: govuk-px-to-rem(30);
    padding-right: govuk-px-to-rem(30);

    width: auto;

    &:hover,
    &:active,
    &:focus {

        background-color: $ccs-button-hover-colour;

    }

}

.input--search-icon {

    background: white url("../images/icon-search.png") center right #{govuk-px-to-rem(10)} no-repeat;
    
}


.ccs-button--tight {
    margin-bottom: 0;
}
