<div class="project-overview">
  <p class="govuk-body">Selected agreement: <strong>{{ project_header['name'] }}, {{ project_header['this_lot'] }}</strong></p>
  <p class="govuk-body">Agreement ID: <strong>{{ project_header['number'] }}</strong></p>
  <p class="govuk-body">Project name:
    {% if data['projLongName'] | length == 0 and data['projPersistID'] | length == 0 %}
    <strong> {{ data['project_name'] }}</strong>
    {% elif data['projLongName'] | length == 0 and data['projPersistID'] | length > 0 %}
    <strong> {{ data['projPersistID'] }}</strong>
    {% else %}
    <strong>{{ data['projLongName'] }} ({{ data['projPersistID'] }})</strong>
    {% endif %}
  </p>
</div>
