<div class="project-overview">
  <p class="govuk-body">Selected agreement: <strong>
    {%if agreement_header !=undefined and agreement_header !=null %}
    {{ agreement_header['agreementName'] }}
    {%endif%}
    {% if(agreement_header !=undefined and agreement_header !=null 
    and agreement_header.agreementLotName != undefined)%}, 
    
    {{ agreement_header['lotid'] }}: 
    {{ agreement_header['agreementLotName'] }}  
    {% endif %} 
    
  </strong></p>
  <p class="govuk-body">Agreement ID: 
    {%if(agreement_header !=undefined and   agreement_header !=null) %}
    <strong>
    {{ agreement_header['agreementId_session'] }}
    </strong>
    {%endif%}
    </p>
  {% if agreement_header !=undefined and   agreement_header !=null and agreement_header['project_name'] %}
   <p class="govuk-body">Project ID / Name: <strong>{{agreement_header['project_name']}}</strong></p>
    {% else %}
     <p class="govuk-body">Project name: You have not saved projects </p>
    {% endif %}
  </p>
</div>
