<div class="backdrop-timeout-warnings">
  <div class="messagepop timeout-warnings-pop-up">
    <div class="pop_logo govuk-grid-column-full">
      <p class="pop_logo_image govuk-grid-column-one-half"
      <a class="govuk-footer__link logo" href="/">
        <img class="popup_image" src="/assets/images/CCS_WHITE_SML_AW.png" alt="Go to the CCS homepage">
      </a>
      </p>
      <p class="govuk-!-text-align-right govuk-grid-column-one-half warning-dialog-close govuk-!-padding-top-6">
      <a href="/" class="warning-dialog-close nav-list__link_secondary">X</a></p>
    </div>
    <div class="govuk-grid-column-full">
      <h1 id="dialog-title">'Create and award a contract' will time out soon</h1>
      <p>We will logout you if you do not respond in 5 minutes. We do this to keep your information secure.</p>
      <div class="govuk-button-group">
        <button id="redirect-button" class="button dialog-button govuk-button">Continue</button>
      </div>
    </div>
  </div>
</div>