{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}


{% set organisationUser = userdata%}

{% set sortedMembers = [{value: "", text: "Please select a colleague to be added", disabled: true}] %}
{% for user in organisationUser %}
    {% set sortedMembers = (sortedMembers.push({value: user.userName, text: user.name}), sortedMembers) %}
{% endfor %}

{% set title = 'Complete and upload a document | Contract a Thing' %}
{% set url -%}
  /projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}}
{%- endset %}
{% block breadCrumb %}
{{ CCSBreadcrumbs({
       items: [
        {
        text: "Dashboard",
        href: "/dashboard"
        },
        {
        text: "Choose a commercial agreement",
        href: "/projects/choose-agreement"
        },
        {
        text: "Procurement overview",
        href: url
        },
        {
        text: "Do pre-market engagement",
        href: "/rfi/rfi-tasklist"
        },
        {
        text: "Add colleagues "
        }
        ]
      }) }}

{% endblock %}

{% block content %} 

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
{% if(error) %}

{{ CCSErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "you cannot add this use. Please try with another user"
    }
  ]
}) }}
{%endif %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Add colleagues
    </h1>
     {% include "includes/project_header.njk" %}
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">

    <p class="govuk-body">You can add colleagues to help you write your your requirements and review and evaluate
      suppliers.</p>

    <p class="govuk-body">Use the drop-down box below to add colleagues. They will need to be registered with CCS. If
      they’re not registered, send them this link to our <a class="govuk-link govuk-link--no-visited-state"
        href="#">self-registration service.</a></p>

    <p class="govuk-body">If you need to wait for them to register, you can return to the pre-market engagement section
      and complete this step later, or you can continue to the next step.</p>
      
      {{ CCSInsetText({
        html: '<p class="govuk-body">If you are the lead on this project you can add four colleagues.<br>
          If you are not the lead you can add three colleagues.</p>'
        }) }}

    <p class="govuk-body">You cannot remove yourself from this procurement project. If you need to change the lead
      colleague, you can do this on the previous step. </p>

  {### ##}

  {%if(collaborators.length < 5)%}
   

      <div class="ccs-page-section">
        <p class="govuk-body">Select and add colleagues</p>
        <form method="POST" action="/rfi/get-collaborator-detail">
         <div class="govuk-button-group">
        {{ CCSSelect({
        id: "rfi_collaborators",
        name: "rfi_collaborators",
        items: sortedMembers
        })
        }}
        &nbsp;
         {{ CCSButton({
        text: "Add",
        type: "submit"
        }) }}
        </div>
        </form>
      </div>

      <form method="POST" action="/rfi/add-collaborator-detail" >
      <div class="ccs-page-section" id="potential-collaborator">
        <div id="potential-collaborator-detail">
          <p class="govuk-body"><strong>Colleague <span ></span>: </strong> {{collaborator['fullName']}}
          </p>
          <p class="govuk-body"><strong>Email address: </strong>{{collaborator['email']}}</p>
          <p class="govuk-body"><strong>Phone number: </strong>{{collaborator['tel']}}</p>
        </div>

        {{ CCSInput({
            id: "rfi_collaborator",
            name: "rfi_collaborator",
            type: "hidden",
            value: collaborator['email']
            }) }}

        {{ CCSButton({
        text: "Add colleague",
        attributes: {
        id: "ccs_collab_add"
        },
        classes: "govuk-button--secondary"
        }) }}

      </div>

      </form>
      {%endif%}
      <div id="collaborators-section">
        {% for collaborator in collaborators %}
        <div class="ccs-page-section" id="rfi_collaborator_{{collaborator.id}}">
          <div id="collaborator-detail">
            <a href='{{collaborator.id}}'  class='del govuk-link govuk-link--no-visited-state' title='delete'> Remove
            </a>
            <p class="govuk-body"><strong>Colleague <span id="collab_no"></span>: </strong><span
                id="collab_name">{{collaborator.OCDS.contact.name}}</span></p>
            <p class="govuk-body"><strong>Email address: </strong><span id="collab_email">{{ collaborator.OCDS.contact.email}}</span></p>
            <p class="govuk-body"><strong>Phone number: </strong><span id="collab_tel">{{ collaborator.OCDS.contact.telephone }}</span></p>
          </div>
        </div>
        {% endfor%}
      </div>



      <div class="ccs-page-section" id="lead-user-section">
        <p class="govuk-body"><strong>Lead colleague: </strong>{{lead.OCDS.contact.name}}</p>
        <p class="govuk-body"><strong>Email address: </strong>{{ lead.OCDS.contact.email }}</p>
        <p class="govuk-body"><strong>Phone number: </strong>{{ lead.OCDS.contact.telephone }}</p>
      </div>
      <!-- <p class="govuk-body"><a href="#" id="ccs_collab_add" class="govuk-link govuk-link--no-visited-state">Add another collaborator</a> </p>  -->
      <br>
<form  class="form ccs_add_rfi_collab" method="POST" action="/rfi/proceed-collaborators" method="post">

      {{ CCSInput({
      id: "rfi_collaborators_added",
      name: "rfi_collaborators_added",
      type: "hidden",
      value: true
      }) }}

      <div class="govuk-button-group">
        {{ CCSButton({
        text: "Save and continue"
        }) }}
        <a href="/rfi/rfi-task-list" class="govuk-link govuk-link--no-visited-state">Return to pre-market engagement</a>
      </div>


    </form>

 </div>
      <div class="govuk-grid-column-one-third">
         <div class="ccs-callout-panel">
            <h2 class="govuk-heading-m">Related content</h2>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/agreement/DSP/lot?no=1" target="_blank">Digital Specialists and Programmes, Lot 1: Programmes </a> </p>
         </div>
      </div>
   </div>
  </main>
{% endblock %}
