{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}


{% set title = 'Project Closure | Crown Commercial Service' %}

{% block breadCrumb %}
{#{{ CCSBreadcrumbs({
    items: [
        {
            "text": "Your dashboard",
            "href": "/dashboard"
        },
        {
          "text": "Close Project",
          "href": "#"
        }
    ]
      }) }}#}
{% endblock %}

{% block content %} 

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
 <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
            <strong>{{data.title}}</strong>

         </h1>
      </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">   
          {% include "includes/project_header.njk" %}
         
      </div>  
      <div class="govuk-grid-column-one-third">
                {{ CCSReleatedContent(releatedContent) }}
            </div>

  </div>
    <br>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
   
 </br></br></br>
            <p><strong>You just closed {{projectName}} </strong></p>
           
        <p>{{data.subtitle}}</p>
        </br></br></br>
        <a href="/dashboard" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title}}</a>

         </div>
         

  
 
</div>
  </main>
{% endblock %}
