{% extends "template.njk" %}

{% set title = 'Provide information online | Crown Commercial Service' %}

  {% block breadCrumb %}
  {{ CCSBreadcrumbs({
          items: file_data.breadCrumbs
        }) }}
  {% endblock %}

    {% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">{{file_data.title }}</h1>{% include "includes/project_header.njk" %}
            </div>
        </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <ul class="app-task-list">
              {% for items in data %}
                {% for subItem in items.requirementGroups%}

                 <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <strong>{{subItem.description}}</strong>
                    </span>
                    {% set hreflink  = subItem.description | replace(" ", "_" ) %}
                    {% set criterion_id  = items.id | replace(" ", "_" ) %}
                    <a class="app-task-list__tag" href="/rfi/questions?agreement_id={{agreement_id}}&id={{criterion_id}}&path_view={{hreflink}}" aria-describedby="rfi-questions">{{subItem.task}}</a>
                </li>

                {% endfor %}
                   
                {% endfor %}

                 {% for items in data[1] %}
                    <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <strong>{{items.description}}</strong>
                    </span>
                    {% set hreflink  = subItem.description | replace(" ", "_" ) %}
                     {% set criterion_id  = items.id | replace(" ", "_" ) %}
                    <a class="app-task-list__tag" href="/rfi/questions?agreement_id={{agreement_id}}&id={{criterion_id}}&path_view={{hreflink}}" aria-describedby="rfi-questions">{{subItem.task}}</a>
                </li>
                {% endfor %}
            </ul>
                <br>
                <br>
            <p class="govuk-body">
                <a href="{{data.backJump.href }}" class="govuk-link govuk-link--no-visited-state">{{data.backJump.title }}</a>
            </p>
        </div>
    </div>
    {% endblock %}      