{% extends "template.njk" %}

{% set title = 'Lead Procurement | Crown Commercial Service' %}



{% block content %}
<strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-4 govuk-!-margin-bottom-2">Page Work in progress</strong>
{% endblock %}