{% extends "template.njk" %}

{% set title = 'RfI - response date | Crown Commercial Service' %}


{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          {{data.title }}
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}

        {{prompt | safe}}
       
        <div class="govuk-form-group ccs-page-section">
            <p class="govuk-body-l"><strong>Timeline for your RfI</strong></p> <br>
        </div>

        
         {% block valuewitNoMultiSelect %}
         {% for requirement in framework%}
            {% if (requirement.nonOCDS.questionType === 'Value') and (requirement.nonOCDS.multiAnswer === false) %}
             
            <div class="govuk-form-group ccs-page-section rfi_publish_date">
                <p class="govuk-body"><span>{{loop.index}} &nbsp; </span>{{requirement.OCDS.title}}</p>

                <div id="rfi_clarification_date">
                    <label class="govuk-label govuk-body"><strong id="lbl-clarification">{{ clarification_date_string
                            }}</strong></label>
                    <a href='#' id="change_clarification_date"
                        class="govuk-link govuk-link--no-visited-state change">change</a>
                </div>

                <div id="rfi_clarification_date_expanded">
                    <div>
                        <label class="govuk-label govuk-body"><strong id="lbl-clarification_copy">{{
                                clarification_date_string }}</strong></label>
                        <br> <a href='#' id="cancel_change_clarification_date"
                            class="govuk-link govuk-link--no-visited-state ">I do not want to change this date and time</a>
                    </div>
                    <br>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_date">

                        <div class="govuk-date-input" id="clarification_date">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-day" name="clarification_date-day" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-day'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-month" name="clarification_date-month" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-month'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                        id="clarification_date-year" name="clarification_date-year" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-year'] }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_time">

                        <div class="govuk-date-input" id="clarification_time">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-hour">
                                        Hour
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-hour" name="clarification_date-hour" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-hour'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-minute">
                                        Minutes
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-minute" name="clarification_date-minute" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-minute'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                {{ CCSSelect({
                                id: "clarification_date-hourFormat",
                                name: "clarification_date-hourFormat",
                                classes: "",
                                items: [
                                { value:"",
                                text:"Please select"
                                },
                                { value:"AM",
                                text:"AM"
                                },
                                { value:"PM",
                                text:"PM"
                                }
                                ]
                                })
                                }}
                            </div>
                        </div>
                    </fieldset>
                    {{ CCSButton({
                    attributes: {
                    id: "save_clarification_date"
                    },
                    text: "Save New Date"
                    }) }}
                </div>
            </div>
            {% endif %}
            {%endfor%}
          {% endblock %}





<div class="govuk-button-group">
                
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
                <a href="/rfi/rfi-task-list" class="govuk-link govuk-link--no-visited-state">Return to pre-market engagement</a>
            </div>

        </div>

  </main>

{% endblock %}