{% extends "template.njk" %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}
{% from "macros/csrf.njk" import csrfProtection %}
{% set title = 'RfI - response date | Crown Commercial Service' %}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-xl">
          <strong>{{data.title }}</strong>
        </h2>
      </div>
    </div>
    {% if(error)%}
    {{ CCSErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: errorMessage.text,
      href: "#"+errorMessage.href
    }
  ]
}) }}

{% endif%}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}

        {{prompt | safe}}
       
        
            <h2><strong>Timeline for your RfI</strong></h2>
        
            <p class="border-header"> </p>
        
         {% block valuewitNoMultiSelect %}
         {% for requirement in framework%}
            {% if (requirement.nonOCDS.questionType === 'DateTime') and (requirement.nonOCDS.multiAnswer === false) %}
             
            <div class="govuk-form-group ccs-page-section rfi_publish_date">
                <p class="govuk-body"><span>{{loop.index}} &nbsp; </span>{{requirement.OCDS.title}}</p>
                {% if(requirement.OCDS.title == "Publish your RfI" )%}
                <p class="govuk-body"><span> &nbsp; &nbsp; &nbsp;</span>{{data['data'].body.p4}}</p>
                {%endif %}
               

                <div id="rfi_clarification_date">

                    {% if(requirement.nonOCDS.options[0].selected)%}
                <label class="govuk-label govuk-body"><strong id="lbl-clarification" class="clarification_{{loop.index}}">{{ requirement.nonOCDS.options[0].value }}</strong></label>
                {%endif %}
                
                {% if( requirement.nonOCDS.options.length == 0)%}

                {% if(requirement.OCDS.id == "Question 2" )%}
                 <label class="govuk-label govuk-body"><strong id="clarification_period_end" class="clarification_2">{{ rfi_clarification_period_end}}</strong></label>
                 {% elif (requirement.OCDS.id == "Question 3" ) %}
                <label class="govuk-label govuk-body"><strong id="deadline_period_for_clarification_period" class="clarification_3">{{deadline_period_for_clarification_period }}</strong></label>
                  {% elif (requirement.OCDS.id == "Question 4" ) %}
                   <label class="govuk-label govuk-body"><strong id="supplier_period_for_clarification_period" class="clarification_4">{{supplier_period_for_clarification_period }}</strong></label>
                    {% elif (requirement.OCDS.id == "Question 5" ) %}
                   <label class="govuk-label govuk-body"><strong id="supplier_dealine_for_clarification_period" class="clarification_5">{{supplier_dealine_for_clarification_period }}</strong></label>
                 {%else%}
                  <label class="govuk-label govuk-body"><strong class="clarification_1">{{rfi_clarification_date}}</strong></label>
                {%endif%}


                {%endif%}

                {%if (requirement.OCDS.id !== "Question 1")%}

                    <a href="#rfi_clarification_date_expanded_{{loop.index}}" id="change_clarification_date_{{loop.index}}"
                        class="govuk-link govuk-link--no-visited-state change" hidden>change</a>
                </div>

                <div id="rfi_clarification_date_expanded_{{loop.index}}">
                    <div>
                        <label class="govuk-label govuk-body"><strong id="lbl-clarification_copy">{{
                                clarification_date_string }}</strong></label>
                        <br> <a href="#rfi_clarification_date_{{loop.index}}"  id="cancel_change_clarification_date_{{loop.index}}"
                            class="govuk-link govuk-link--no-visited-state " hidden>I do not want to change this date and time</a>
                    </div>
                    <br>
                    <form action="/rfi/add/response-date" method="post" class="ccs_rfi_response_date_form" id="ccs_rfi_response_date_form_{{loop.index}}">
                    {{ csrfProtection(csrf) }}

                    <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_date">

                        <div class="govuk-date-input" id="clarification_date">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-day">
                                        Date
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-day_{{loop.index}}" name="clarification_date_day" type="text"
                                         inputmode="numeric"
                                        value="{{ data['clarification_date-day'] }}" >
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-month_{{loop.index}}" name="clarification_date_month" type="text"
                                         inputmode="numeric"
                                        value="{{ data['clarification_date-month'] }}" >
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                        id="clarification_date-year_{{loop.index}}" name="clarification_date_year" type="text"
                                         inputmode="numeric"
                                        value="{{ data['clarification_date-year'] }}" >
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_time">

                        <div class="govuk-date-input" id="clarification_time">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-hour">
                                        Hour
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-hour_{{loop.index}}" name="clarification_date_hour" type="text"
                                         inputmode="numeric"
                                        value="{{ data['clarification_date-hour'] }}" >
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-minute">
                                        Minutes
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-minute_{{loop.index}}" name="clarification_date_minute" type="text"
                                        inputmode="numeric"
                                        value="{{ data['clarification_date-minute'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                {{ CCSSelect({
                                id: "clarification_date-hourFormat_"+loop.index,
                                name: "clarification_date_hourFormat",
                              
                                classes: "",
                                items: [
                                { value:"",
                                text:"Please select"
                                },
                                { value:"AM",
                                text:"AM"
                                },
                                { value:"PM",
                                text:"PM"
                                }
                                ]
                                })
                                }}
                            </div>
                        </div>
                    </fieldset>
                  
                {{ CCSInput({
                    id: "selected_question_id",
                    name: "selected_question_id",
                    type: "hidden",
                    value: requirement.OCDS.id
                    }) }}
                    <br><br>
                    {{ CCSButton({
                    attributes: {
                    id: "save_clarification_date"
                    },
                    text: "Save New Date"
                    }) }}
                    </form>
                    {%endif%}
                </div>
            </div>
            {% endif %}
            {%endfor%}
          {% endblock %}





<div class="govuk-button-group">
<form method="post" action="/rfi/response-date" >   
{{ csrfProtection(csrf) }}
                {{ CCSInput({
                    id: "timeStamp",
                    name: "rfi_clarification_date",
                    type: "hidden",
                    value: "Question 1*"+rfi_clarification_date
                    }) }}


                 {{ CCSInput({
                    id: "timeStamp",
                    name: "rfi_clarification_period_end",
                    type: "hidden",
                    value: "Question 2*"+rfi_clarification_period_end
                    }) }}
                
                 {{ CCSInput({
                    id: "timeStamp",
                    name: "deadline_period_for_clarification_period",
                    type: "hidden",
                    value: "Question 3*"+deadline_period_for_clarification_period
                    }) }}

                 {{ CCSInput({
                    id: "timeStamp",
                    name: "supplier_period_for_clarification_period",
                    type: "hidden",
                    value: "Question 4*"+supplier_period_for_clarification_period
                    }) }}

                  {{ CCSInput({
                    id: "timeStamp",
                    name: "supplier_dealine_for_clarification_period",
                    type: "hidden",
                    value: "Question 5*"+supplier_dealine_for_clarification_period
                    }) }}

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
<a href="/rfi/rfi-tasklist" class="govuk-link govuk-link--no-visited-state">Return to pre-market engagement</a>
</form>
                
            </div>

        </div>
      <div class="govuk-grid-column-one-third">
         {{ CCSReleatedContent(releatedContent) }}
      </div>
  </main>

{% endblock %}