{% extends "template.njk" %}

{% if agreementId_session == 'RM6187' %}
  {% set footerSupportLayer = true %}
  {% set fcaHelperLayer = true %}
{% endif %}

{% from "macros/csrf.njk" import csrfProtection %}
{% set title = 'RFI review | Crown Commercial Service' %}
{% block content %}

  {% set url -%}
    /projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}}
  {%- endset %}
{% if agreementId_session == "RM6187" or agreementId_session == "RM1557.13" %}  
{% if eventStatus != "published" and closeStatus!="CLOSED"%}
  {{ CCSBreadcrumbs({
          items: [
                {"text": "Dashboard","href": "/dashboard"},
                {"text": "Choose a commercial agreement","href": "/projects/choose-agreement"},
                {"text": "Procurement overview","href": url},
                {"text": "Request for Information","href": "/rfi/rfi-tasklist"},
                {"text": "Review and publish your RfI"}    ] 
  }) }}
  {% else %}
  {{ CCSBreadcrumbs({
          items: [
                {"text": "Dashboard","href": "/dashboard"},
                {"text": "Review and publish"}    ] 
  }) }}

  {% endif %}
{% else %}
{% if eventStatus != "published" and closeStatus!="CLOSED" %}
  {{ CCSBreadcrumbs({
          items: [
                {"text": "Dashboard","href": "/dashboard"},
                {"text": "Choose a commercial agreement","href": "/projects/choose-agreement"},
                {"text": "Procurement overview","href": url},
                {"text": "Do pre-market engagement","href": "/rfi/rfi-tasklist"},
                {"text": "Review and publish"}    ] 
  }) }}
  {% else %}
  {{ CCSBreadcrumbs({
          items: [
                {"text": "Dashboard","href": "/dashboard"},
                {"text": "Review and publish"}    ] 
  }) }}

  {% endif %}
{% endif %}


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% if (viewError == true) and (apiError == false) %}
      {% if agreementId_session == 'RM6187' or agreementId_session == "RM1557.13" %}
        {{ CCSErrorSummary({
titleText: "There is a problem with publishing RFI",
errorList: [
{
text: "You must check the box to confirm the above statement",
href: "#ccs_rfi_publish_form"
}
]
}) }}
      {% else %}
        {{ CCSErrorSummary({
titleText: "There is a problem with publishing RFI",
errorList: [
{
text: "You must check this box to confirm that you have read and confirm the statements above",
href: "#ccs_rfi_publish_form"
}
]
}) }}
      {% endif %}
    {% endif %}

    {% if (viewError == true) and (apiError == true) %}
      {{ CCSErrorSummary({
titleText: "There has been an error publishing your RfI",
errorList: [
{
text: "Please try again or contact the CCS helpdesk",
href: "#ccs_rfi_publish_form"
}
]
}) }}
    {% endif %}


    

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          <strong>
            {{data.title }}
          </strong>
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}

        <p class="govuk-body">{{data.subtitle}}
        </p>
        {{ CCSButton({
text: "Download your RfI (.ODT format)",
classes: "govuk-button--secondary",
href: "/rfi/review?download=1"
}) }}

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"></div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">1. Project and colleagues</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"></dt>
            <dd class="govuk-summary-list__value"></dd>
            <dd class="govuk-summary-list__actions"></dd>
          </div>
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">
              <p class="govuk-body">
              Name your project
            </p>
            </dt>
            {% if project_name | length > 0 %}
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                  {{ project_name | safe }}
                </p>
              </dd>
            {% else %}
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                  You have not given a custom name to your project
                </p>
              </dd>
            {% endif %}

            <dd class="govuk-summary-list__actions">
              {% if eventStatus != "published" and closeStatus!="CLOSED"%}
                <a class="govuk-link" href="/rfi/name-your-project">
Change<span class="govuk-visually-hidden">project name</span>
                </a>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
              {% if agreementId_session == 'RM6187'%}
                  <p class="govuk-body">
                      Who will lead the project (optional)
                  </p>
              {% else %}
                  <p class="govuk-body">
                      Change who will lead your project
                  </p>
              {% endif %}
                </p>
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--none">
                <li>
                  <p class="govuk-body">{{procurementLead.name }}</p></li>
                <li>
                  <p class="govuk-body">{{procurementLead.email }}</p></li>
                <li>
                  <p class="govuk-body">{{procurementLead.telephone }}</p></li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if eventStatus != "published" and closeStatus!="CLOSED"%}
                <a class="govuk-link" href="/rfi/procurement-lead">
Change<span class="govuk-visually-hidden"> procurement lead</span>
                </a>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-body">
              {% if agreementId_session == 'RM6187' %}
              Add colleagues to your project (optional)
              {% else %}
              Add colleagues to your project
              {% endif %}
              </p>
            </dt>
            {% if procurementColleagues | length > 0 %}
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--none">
                  {% for collaborator in procurementColleagues %}
                    <li>
                      <ul class="govuk-list govuk-list--none">
                        <li>
                          <p class="govuk-body">{{collaborator.name}}</p></li>
                        <li>
                          <p class="govuk-body">{{collaborator.email}}</p></li>
                        <li>
                          <p class="govuk-body">{{collaborator.telephone}}</p></li>
                      </ul>
                    </li>
                  {%- endfor %}
                </ul>
              </dd>
            {% else %}
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                    You have not added anyone so far in your team
                </p>
              </dd>
            {% endif %}
            <dd class="govuk-summary-list__actions">
              {% if eventStatus != "published" and closeStatus!="CLOSED"%}
                <a class="govuk-link" href="/rfi/add-collaborators">
Change<span class="govuk-visually-hidden"> rfi team members</span>
                </a>
              {% endif %}
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">2. Build your RfI </h2>
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"></dt>
            <dd class="govuk-summary-list__value"></dd>
            <dd class="govuk-summary-list__actions"></dd>
          </div>
{% if agreementId_session == "RM1557.13" or agreementId_session == "RM6187" %}  
          <div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  <p class="govuk-body">
Choose how to build your RfI
</p>
</dt>
{% if ccs_rfi_type == 'all_online' %}
<dd class="govuk-summary-list__value">
  <p class="govuk-body">
Provide all information online
</p>
</dd>
{% else %}
<dd class="govuk-summary-list__value">
  <p class="govuk-body">
Complete a document offline
</p>
</dd>
{% endif %}

<dd class="govuk-summary-list__actions">
{% if eventStatus != "published"%}
<a class="govuk-link" href="/rfi/type">
Change<span class="govuk-visually-hidden">RFI type</span>
</a>
{% endif %}
</dd>
</div>
{% endif %}

          <div class="ccs-summary-list-heading">
            <strong class="govuk-heading-s"> Build your Rfi <br><br></strong>
          </div>

          {# {% if ccs_rfi_type == 'all_online' %}

<div class="ccs-summary-list-heading">
<strong> Buying organisation (optional)</strong>
</div>

{% else %} #}

          {#rfi_data#}
          {%for item in rfi_data%}
            {% if (item.title == "Who the buying organization is") or(item.title == "Who the buying organization is (Optional)") or (item.title == "Who the organisation using the products or services is") %}
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-body govuk-summary-list__key">
                <strong>The buying organisation (optional)</strong>
              </dt>
              <dd class="govuk-summary-list__value">&nbsp;</dd>
              <dd class="govuk-summary-list__actions">
                {% if eventStatus != "published" and closeStatus!="CLOSED"%}
                  <a class="govuk-link" href="/rfi/questions?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{item.criterian}}&group_id={{item.id}}">
                    Change<span class="govuk-visually-hidden">RFI type</span>
                  </a>
                {% endif %}
              </dd>
            </div>
            {%for i in item.answer%}
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__value">
                
                  {% if agreementId_session == "RM1557.13" %}
                      {% if i.question == 'Name of the Contracting Authority' %}
                          <p class="govuk-body">
                              Name of the organisation doing the procurement
                          </p>
                      {% endif %}

                      {% if i.question == 'The organisation using the products or services' %}
                          <p class="govuk-body">
                              Who the organisation using the products or services is (optional) 
                          </p>
                      {% endif %}
                  {% else %}  
                      <p class="govuk-body">
                          {% if i.question != 'Name of the organisation doing the procurement' %}
                              {{i.question}}
                          {%endif%}
                      </p>
                  {% endif %}
                </dt>
              <dd class="govuk-summary-list__value">
                

                {% if data['rfi_offline_document'] | length > 0 %}
                <p class="govuk-body">data['rfi_offline_document']</p>
                {% else %}
                  {% if i.values | length > 0 %}
                    {% for answer in i.values%}
                    
                   
                      <p class="govuk-body content_review_length">{{answer.value}}</p>
                     

                    {%endfor%}
                  {%else%}

                  {% if i.question != 'Name of the organisation doing the procurement' %}
                    {% if agreementId_session == "RM6187" or agreementId_session == "RM1557.13" and i.question == 'Name of the Contracting Authority' %}
                      <p class="govuk-body">{{organizationName}}<p>
                    {%else%}
                      <p class="govuk-body">You have not answered this question<p>
                    {%endif%}
                   {%endif%}

                  {%endif%}
              {%endif%}
              </dd>
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </div>
            {% endfor %}
            {% else %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  <p class="govuk-body">
                  {% if item.mandatory == false %}
                  {# {% if item.title == "Who the organisation using the products or services is" %} #}
                    <strong>{{item.title}} (optional)</strong>
                      {# {% else %} #}
                      {# {{item.title}} #}
                      {# {% endif %} #}
                      {% else %}
                    {{item.title}}
                  {% endif %}
                  </p>
                </dt>
                {% if data['rfi_offline_document'] | length > 0 %}
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">
                    data['rfi_offline_document']
                    </p>
                    </dd>
                   {% else %}
                  <dd class="govuk-summary-list__value">

                    {% for i in item.answer %}
                      {% if i.question != 'Name of the Contracting Authority' %}
                      {% if i.values | length > 0 %}
                        {% for answer in i.values%}
                          <p class="govuk-body content_review_length">{{answer.value}}</p>
                          <p class="govuk-body content_review_length">{{answer.text | safe}}</p>
                              <br/>
                              {%endfor%}
                              {%else%}
                              <p class="govuk-body">You have not answered this question</p>
                                  {%endif%}
                                  {%endif%}
                                  {%endfor%}
                                </dd>
                              {% endif %}
                              <dd class="govuk-summary-list__actions">
                                {% if eventStatus != "published" and closeStatus!="CLOSED"%}
                                  <a class="govuk-link" href="/rfi/questions?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}&id={{item.criterian}}&group_id={{item.id}}">
Change<span class="govuk-visually-hidden">RFI type</span>
                                  </a>
                                {% endif %}
                              </dd>

                            </div>
                          {% endif %}
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-padding-0"></dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-0"></dd>
                            <dd class="govuk-summary-list__actions govuk-!-padding-0"></dd>
                          </div>
                        {% endfor %}
                        
                      </dl>

                      <div>
                        <h2 class="govuk-heading-m">
                          
                              3. Review your RfI
                          
                        </h2>
                        <dl class="govuk-summary-list">

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key"></dt>
                            <dd class="govuk-summary-list__value"></dd>
                            <dd class="govuk-summary-list__actions"></dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              <p class="govuk-body">
                              {% if agreementId_session == 'RM6187' %}
Upload documents (optional)
{% else %}
Upload documents
{% endif %}
</p>
                            </dt>
                            {% if documents | length > 0 %}
                              <dd class="govuk-summary-list__value">
                                <ul class="govuk-list govuk-list--none">
                                  {% for document in documents%}
                                    <li>
                                      <p class="govuk-body">Uploaded file: &nbsp;<a href="/rfi/upload-doc" class="govuk-link">{{ document }}</a></p>
                                    </li>

                                    {%endfor%}
                                  </ul>
                                </dd>
                                {%else%}
                                <dd class="govuk-summary-list__value">
                                  <p class="govuk-body"> You have not uploaded any document </p>
                                </dd>
                              {% endif %}

                              <dd class="govuk-summary-list__actions">
                                {% if eventStatus != "published" and closeStatus!="CLOSED"%}
                                  <a class="govuk-link" href="/rfi/upload-doc">
Change<span class="govuk-visually-hidden">rfi additional link and documents</span>
                                  </a>
                                {% endif %}
                              </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                              {% if agreementId_session != "RM1557.13" %}
                              <dt class="govuk-summary-list__key">

                                {% if agreementId_session == 'RM6187' or agreementId_session == "RM1557.13" %}

                                <p class="govuk-body">
                                    View suppliers
                                {% else %}
                                    See the suppliers who will receive your RfI
                                {% endif %}
                                </p>
                              </dt>

                              <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{suppliers_list.length}} &nbsp suppliers selected</p>
                              </dd>

                              <dd class="govuk-summary-list__actions">
                                {% if eventStatus != "published" and closeStatus!="CLOSED"%}
                                  <a class="govuk-link" href="/rfi/suppliers">
View<span class="govuk-visually-hidden">rfi supplier list</span>
                                  </a>
                                {% endif %}
                              </dd>
                              {% endif %}
                            </div>

                            <dt>
                              <div class="ccs-summary-list-heading">
                                {% if (agreementId_session == 'RM6187') or (agreementId_session == 'RM1557.13') %}
                                    <strong class="govuk-heading-s"> Your timeline <br><br></strong>
                                {% else %}
                                    <strong class="govuk-heading-s"> Your Rfi timeline <br><br></strong>
                                {% endif %}
                                
                              </div>
                            </dt>
                            <dd class="govuk-summary-list__value no-borders"></dd>
                            <dd class="govuk-summary-list__actions no-borders">
                              {% if eventStatus != "published" and closeStatus!="CLOSED"%}
                                <a class="govuk-link" href="/rfi/response-date">
Change <span class="govuk-visually-hidden"> Your RFI timeline</span>
                                </a>
                              {% endif %}
                            </dd>

                            {% for dates in rfi_keydates.answer%}
                              <div class="govuk-summary-list__row no-borders">
                                <dt class="govuk-summary-list__row no borders">
                                  <p class="govuk-body">
                                  {{dates.question}}
                                  </p>
                                </dt>
                                <dd class="govuk-summary-list__value no-borders">
                                  {%for value in dates.values%}
                                    <p class="govuk-body">
                                      {{value.value}}</p>
                                    {%endfor%}
                                  </dd>
                                </div>
                                {%endfor%}

                                <dt class="govuk-summary-list__key"></dt> 
                                <dd class="govuk-summary-list__value"></dd>
                                <dd class="govuk-summary-list__actions"></dd>
                              </dl>
                            </div>
                          </div>

                          <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                              <p class="govuk-body">
                                <h2 class="govuk-heading-m"> Publish your RfI</h2>
                              </p>

                              {% if agreementId_session == 'RM6187' or agreementId_session == "RM1557.13" %}
                                  <div class="govuk-inset-text">
                                    <p class="govuk-body">Your RfI will now be sent to suppliers. Please be patient as this could take up to 30 seconds. </p>
                                  </div>
                                  <p class="govuk-body">
                                    If you need to make any significant changes – including changes to scope or timelines – after publishing this RfI, you will need to cancel and start a new project.
                                  </p>
                              {% else %}
                                  <div class="govuk-inset-text">
                                    <p class="govuk-body">Publishing compiles your information and sends it to all suppliers. Please be patient as this could take up to 30 seconds. </p>
                                  </div>
                                  <p class="govuk-body">
                                    After publishing this RfI, if changes are required, you will need to cancel and re-publish your event. You may do so at any time.
                                  </p>
                              {% endif %}
 
                              <p class="govuk-body">
                                {% if agreementId_session != 'RM6187' and agreementId_session != "RM1557.13"  %}
                                The document sent to suppliers will also include a number of best practice statements from your organisation.  These are in the link below for you to review.
                                {% endif %}

                              </p>
                              <br><br>

                          {% if agreementId_session == 'RM6187' or agreementId_session == "RM1557.13"  %}
                              {{ CCSWarningText({
                                text: "By publishing this RfI you are stating that, to the best of your knowledge, the information you have provided is correct.",
                                iconFallbackText: "Warning"
                              }) }}
                          {% else %}
                              {{ CCSWarningText({
                                text: "By publishing this Request for Information (RfI) to all the suppliers you selected, you are stating that, to the best of your knowledge, the information you have provided is correct.",
                                iconFallbackText: "Warning"
                              }) }}
                          {% endif %}

                              <br><br>
                            </div>
                          </div>
                          
                            <form id="ccs_rfi_publish_form" name="ccs_rfi_publish_form" class="form ccs_rfi_publish_form"
action="/rfi/review" method="post">
                              {{ csrfProtection(csrf) }}
          {% if eventStatus != "published" and customStatus!="complete" and closeStatus!="CLOSED" %}                              
                              {{ CCSCheckboxes({
                                      idPrefix: "rfi_publish_confirmation",
                                      name: "rfi_publish_confirmation",
                                      items: [
                                      {
                                      "value": 1,
                                      html: "<label><strong>By checking this box, I confirm the statements above.</strong></label>",
                                      Checked: ""
                                      }
                                      ]
                                }) }}
                              <div class="govuk-button-group">
                                {{ CCSButton({
                                    attributes: {
                                    id: "rfi_btn_publish_now"
                                    },
                                    classes: "oneTimeClick",
                                    text: "Publish and continue"
                                    }) }}
                                    {% if agreementId_session == "RM6187" or agreementId_session == "RM1557.13" %}  
                                <a href="/rfi/rfi-tasklist?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}" class="govuk-link govuk-link--no-visited-state">Return to Request for Information  </a>
                                    {% else %}
                                <a href="/rfi/rfi-tasklist?agreement_id={{agreement_id}}&proc_id={{proc_id}}&event_id={{event_id}}" class="govuk-link govuk-link--no-visited-state">Return to Do pre-market engagement  </a>
                                    {% endif %}
                              </div>
                              {% else %}
                              <div class="govuk-button-group">
                                <a href="/event/management?id={{ event_id }}" class="govuk-link govuk-link--no-visited-state">Return to your project  </a>
                              </div>
                              {% endif %}
                              {{ CCSInput({
                                  id: "finished_pre_engage",
                                  name: "finished_pre_engage",
                                  type: "hidden",
                                  value: "true"
                              }) }}

                            </form>
                          
                        </div>
                      </div>

                    </main>

                  {% endblock %}