{% extends "template.njk" %}

{% set title = 'Suppliers you want to approach | Crown Commercial Service' %}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          {{data.title }}
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}

        <p class="govuk-body">{{total_suppliers }}
          {{data.data.supplier['text']}}
          <a href="{{data.data.supplier.href}}"
                class="govuk-link govuk-link--no-visited-state">
            {{data.data.supplier['href_text']}}
          </a>
        </p>

        <form id="ccs-rfi-suppliers-form" class="ccs-rfi-suppliers-form" action="/rfi/suppliers" method="POST">

          <br>
          <h2 class="govuk-heading-m">
            <span id="added_suppliers_count">
              {{suppliers_list.count}}
            </span> suppliers on this lot </h2>
          <br>
          <div class="govuk-button-group govuk-!-margin-bottom-9">
            {{ CCSButton({
                text: "Save and continue"
                }) }}
            <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Download this list
                </a>
            <a href="/rfi/rfi-tasklist" class="govuk-link govuk-link--no-visited-state">Return to pre-market engagement
                </a>
          </div>
          <div id="page1" >
            <div id="supplier-list ccs-page-section">
              <div class="govuk-form-group">
                {% for supplier in suppliers_list %}
                  <h3 class="govuk-heading-m">{{supplier.legal_name}}</h3>
                  <div id="rfi_required_suppliers-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    {% if supplier.trading_name | length > 0 %}
                      <label>{{supplier.trading_name}}
                      </label>
                      <br>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <br>
          <div class="govuk-button-group">
            {{ CCSButton({
                text: "Save and continue"
                }) }}
            <a href="/rfi/rfi-tasklist" class="govuk-link govuk-link--no-visited-state">Return to pre-market engagement</a>
          </div>

        </form>

      </div>
    </div>

  </main>

{% endblock %}