{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% set title = 'Suppliers you want to approach | Crown Commercial Service' %}

{% block breadCrumb %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          <strong>{{data.title }}<strong>
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}

        <div class="govuk-inset-text">
        <p>The suppliers listed below are contracted to provide goods and services under this commercial agreement and lot.</p>
        <p>Your RfI will be sent to all suppliers on this list but some may not respond.</p>
         <p class="govuk-body">If you'd like to look at the details for each
              suppliers please visit the <a target="_blank" rel="noopener noreferrer" href="{{lotSuppliers}}">Search suppliers
            <span class="govuk-visually-hidden">opens in a new window</span> page on the main CCS website.</a>
              (The page will open on a new tab)</p>
          
          
        </div>

        <form id="ccs-rfi-suppliers-form" class="ccs-rfi-suppliers-form" action="/rfi/suppliers" method="POST">
        {{ csrfProtection(csrf) }}
          <br>
          <h2 class="govuk-heading-m">
            <span id="added_suppliers_count">
              {{supplierLength}}
            </span>  suppliers will receive your RfI </h2>
          <br>
          <div class="govuk-button-group govuk-!-margin-bottom-7">
            {{ CCSButton({
                text: "Save and continue"
                }) }}
            <a href="/rfi/rfi-tasklist" class="govuk-link govuk-link--no-visited-state">Return to pre-market engagement</a>
          </div>
          <div class="govuk-form-group ccs-page-section"></div>
          <div id="page1" >
            <div id="supplier-list">
              <div class="govuk-form-group ccs-page-section">
                <h3>
                  <a href="/rfi/suppliers?download=1" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Download this list
                </a>
                </h3>
              </div>
              {% for supplier in suppliers_list %}
                <div class="govuk-form-group ccs-page-section">
                  <h3 class="govuk-heading-m">Company name: {{supplier.organization.name}}</h3>
                  <div id="rfi_required_suppliers-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    {% if supplier.organization.identifier.legalName | length > 0 %}
                      <label>Trading name: {{supplier.organization.identifier.legalName}}
                      </label>
                      <br>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <br>
          <div>
          {% if(showPrevious) %}
          <a href="suppliers?previous=1" class="govuk-link govuk-link--no-visited-state"><- Previous Page</a>
          {% endif %}
          {% if(showNext) %}
          <a href="suppliers?next=1" class="govuk-link govuk-link--no-visited-state anchor-right">-> Next Page</a>
          {% endif %}
          </div><br>
          <div>
          {% if(showPrevious) %}
          <label>{{currentpagenumber}} of {{noOfPages}}</label>
          {% endif %}
          {% if(showNext) %}
          <label class="anchor-right">{{currentpagenumber}} of {{noOfPages}}</label>
          {% endif %}
          </div>
          <br><br>
          <div class="govuk-button-group">
            {{ CCSButton({
                text: "Save and continue"
                }) }}
            <a href="/rfi/rfi-tasklist" class="govuk-link govuk-link--no-visited-state">Return to pre-market engagement</a>
          </div>

        </form>

      </div>
      <div class="govuk-grid-column-one-third">
        {{ CCSReleatedContent(releatedContent) }}
      </div>
    </div>

  </main>

{% endblock %}