{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}
{% set title = 'How will you publish your RfI? | Contract Award Service' %}
{% from "components/releatedContent.njk" import CCSReleatedContent %}

{% block breadCrumb %}
{% if agreementId_session == "RM6187" or agreementId_session=="RM1557.13" %}
{{ CCSBreadcrumbs({
    items: [
      {
         text: "Dashboard",
         href: "/dashboard"
      },
      {
         text: "Choose a commercial agreement",
         href: "/projects/choose-agreement"
      },
      {
         text: "Procurement overview",
         href: url
      },
      {
         text: "Request for Information",
         href: "/rfi/rfi-tasklist"
      },
      {
         text: "Choose how to build your RfI",
         href: "#"
      }
    ]
      }) }}
{% else %}
{{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
      {% endif %}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          {{data.title }}
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.njk" %}
        {% if agreementId_session == "RM1557.13" %}
          <p>You can build your RfI by entering the necessary information online. You will also have the option to upload documents as part of this journey.</p><br>
          <p> In future, you will have the option to prepare your RfI offline and then upload it.</p>
        {% else %}
        <p class="govuk-body">{{ data.form.question }}</p>
        {% endif %}
      </div>
      <div class="govuk-grid-column-one-third">
        {{ CCSReleatedContent(releatedContent) }}
      </div>
    </div>
    <form id="ccs_rfi_type_form" name="ccs_rfi_type_form" class="form ccs_rfi_type_form" action="/rfi/type?agreement_id={{agreement_id}}" method="POST">
      {{ csrfProtection(csrf) }}
      {% set formOptions = data.form.radioOptions.items %}

      {% set form_Options_Altered = [] %}

      {% for item in formOptions %}
        {% if item.disabled != 'true' %}
          {% set form_Options_Altered = (form_Options_Altered.push(
             {
               value: item.value,
              html: "<h3 class='govuk-heading-m'>" +item.text + "</h3>",
              hint : {
                text: item.hint.text
              }
              }
             ), form_Options_Altered) 
             
             %}
        {% else %}
          {% set form_Options_Altered = (form_Options_Altered.push(
             {
               value: item.value,
              html: "<h3 class='govuk-heading-m'>" +item.text + "</h3>",
              disabled: 'true',
              hint : {
                text: item.hint.text
              }
              }
             ), form_Options_Altered) 
             
             %}
        {% endif %}

      {% endfor %}
      {{ CCSRadios({
                idPrefix: "ccs_rfi_type",
                name: "ccs_rfi_type",
                items: form_Options_Altered               
              }) }}

      {{ CCSInput({
                id: "choose_rfi_type",
                name: "choose_rfi_type",
                type: "hidden",
                value: true
              }) }}

      <div class="govuk-button-group">
        {{ CCSButton({
                text: "Save and continue"
                }) }}
        <a href="{{data.form.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.form.backJump.title}}</a>
      </div>
    </form>
  </div>

</main>

{% endblock %}