{% extends "template.njk" %}

{% set title = 'How will you publish your RfI? | Crown Commercial Service' %}

{% block breadCrumb %}
{{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
 {% endblock %}
 
{% block content %}
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
        {{data.title }}
        </h1>
        {% include "includes/project_header.njk" %}  
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">{{ data.form.question }}</p>
        <form id="ccs_rfi_type_form" name="ccs_rfi_type_form" class="form ccs_rfi_type_form" action="/rfi/type?agreement_id={{agreement_id}}" method="POST">

        {% set formOptions =  data.form.radioOptions.items %}

        {% set form_Options_Altered = [] %}

      {% for item in formOptions %}
           {% set form_Options_Altered = (form_Options_Altered.push(
             {
               value: item.value,
              html: "<h3 class='govuk-heading-m'>" +item.text + "</h3>",
              hint : {
                text: item.hint.text
              }
              }
             ), form_Options_Altered) 
             
             %}

      {% endfor %}



       {{ CCSRadios({
                idPrefix: "ccs_rfi_type",
                name: "ccs_rfi_type",
                items: form_Options_Altered               
              }) }}

               {{ CCSInput({
                id: "choose_rfi_type",
                name: "choose_rfi_type",
                type: "hidden",
                value: true
              }) }}

            <div class="govuk-button-group">
                {{ CCSButton({
                text: "Save and continue"
                }) }}
                <a href="{{data.form.backJump.href}}" class="govuk-link govuk-link--no-visited-state">{{data.form.backJump.title}}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}