{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Complete and upload a document | Contract a Thing' %}
{% set url -%}
  /projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}}
{%- endset %}
{% block breadCrumb %}
{{ CCSBreadcrumbs({
        items: [
          {
            text: "Dashboard",
            href: "/dashboard"
          },
          {
            text: "Choose a commercial agreement",
            href: "/projects/choose-agreement"
          },
                    {
            text: "Procurement overview",
            href: url
          },
          {
            text: "Do pre-market engagement",
            href: "/rfi/rfi-tasklist"
          },
          {
            text: "Complete and upload a document",
            href: "#"
          }
        ]
      }) }}

{% endblock %}

{% block content %} 

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

  <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-4 govuk-!-margin-bottom-2">Page Work in progress</strong>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-xl">
        Complete and upload a document
      </h1>

    <div class="govuk-grid-column-one-third">
  
      {{ howToGetSupport() }}

    </div>
  </div>
    
  </div>
  </main>
{% endblock %}

