{% extends "template.njk" %}

{% set title = 'See the available suppliers | Contract Award Service' %}

{% block content %}
{% set url -%}
  /projects/create-or-choose?lotId={{lotId}}&agreementLotName={{agreementLotName}}
{%- endset %}

{{ CCSBreadcrumbs({
        items: [
        { "text": "Dashboard", "href": "/dashboard" },
        { "text": "Choose a commercial agreement", "href": "/projects/choose-agreement" },
        { "text": "Procurement overview", "href": url },
        { "text": "See the available suppliers", "href": "#" } ] 
}) }}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
          {{ data.title }}
          </h1>
      </div>  
  </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% include "includes/project_header.njk" %} 
    <p class="govuk-body">{{data.line1}}</p>
    <p class="govuk-body">{{data.line2}}</p>
    {# <ul class="govuk-list govuk-list--bullet">
      <li>{{data.line2}} </li>
      <li>{{data.line3}}</li>
      <li>{{data.line4}}</li>
      <li>{{data.line5}}</li>
    </ul> #}
    <br>
    <ol class="app-task-list">
    {% for item in data.events %}
         <li>
            <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">{{item.eventno}}. </span> {{item.eventTitle}}
             </h2>
             <p class="govuk-body">{{item.eventDescription}}</p>
             {% if item.optional %}
                {% if agreementId_session != "RM6187" %}
                    <p>This step is optional.</p>
                {% endif %}
             {% endif %}
              <ul class="app-task-list__items govuk-!-padding-left-0">
               {% for Tasks in item.eventTask %}
                <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <strong>
                            {% if (Tasks.link !== undefined) and (Tasks.status != "Cannot start yet") %}
                                <a href="{{Tasks.link}}" aria-describedby="name-your-project">
                                    {{Tasks.title}}
                                </a>
                            {% else %}
                            {{Tasks.title}}
                            {% endif %} 
                          </strong>
                        </span>
                        {% if (Tasks.status == "Cannot start yet") or (Tasks.status == "Not started") %}
                          <strong class="govuk-tag govuk-tag--grey app-task-list__tag">{{Tasks.status}}</strong>
                        {% elif Tasks.status == "Done" %}
                          <strong class="govuk-tag govuk-tag--green app-task-list__tag">{{Tasks.status}}</strong>
                        {% else %}
                          <strong class="govuk-tag app-task-list__tag" > {{Tasks.status}}</strong>
                        {% endif %} 
                    </li>
               {% endfor %}
                </ul>
             </li>
    {% endfor %}
    </ol>
    {% if btnBottom %}
      <a href="{{url}}" class="govuk-link govuk-link--no-visited-state">Return to Procurement overview </a>
    {% else %}
      <a href="/dashboard" class="govuk-link govuk-link--no-visited-state">Return to Dashboard </a>
    {% endif %}
    
    </div>
          <div class="govuk-grid-column-one-third">
        {{ CCSReleatedContent(releatedContent) }}
      </div>
</div>
</main>

{% endblock %}
