{% set footerSupportLayer = true %}
{% set fcaHelperLayer = true %}
{% extends "template.njk" %}

{% block head %}
   {{ super() }}
{% endblock %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Available Supplier' %}
{% block content %}
  {{ CCSBreadcrumbs({
        items: data.breadCrumbs
      }) }}
  
  <main id="main-content" role="main" class="govuk-main-wrapper">



         <div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				<h3 class="govuk-heading-xl page-title">
					See the available suppliers
				</h3>
			</div>
            <div class="govuk-grid-column-two-thirds">
			
				<div class="govuk-fc-overview">
					
					<div class="project-overview">
						<p class="govuk-body">Selected agreement: {{data.selected_agreement_value}}</p>
						<p class="govuk-body">Agreement ID: {{data.agreement_id_value}}</p>
						<p class="govuk-body">Project ID / Name: {{data.project_id_value}}</p>
						
					</div>
					<div class="govuk-fac-intro">
						<p class="govuk-body">{{data.line5}}</p>
						<p class="govuk-body">{{data.line6}}</p>
					</div>
					
				</div>
					
				<ol class="app-task-list capability-assessment fac-task-list fac-taskinfo">
			  	 {% for item in data.events %}
					<li>

	{% if (item.eventno !== null) %}<h2 class="govuk-heading-xl page-title">{{item.eventno}}.{{item.eventTitle}}. </h2>{% endif%}
                  

						
				  <p class="govuk-body govuk-!-margin-bottom-9">{{item.eventDescription}}</p>
				
			{% if (item.eventTitle == "Project and colleagues") %}
				<p class="govuk-body govuk-!-margin-bottom-9">{{item.eventDescription2}}</p>
                <p class="govuk-body govuk-!-margin-bottom-9">{{item.eventDescription1}}</p>
				
                {% endif %}

              		
						<ul class="app-task-list__items govuk-fac-list_items">
							
							
							 {% for Tasks in item.eventTask %}
							    {% if Tasks.eventSubTask %}
                      <li class="app-task-list__item sub-item">
                      {% else %}
                        <li class="app-task-list__item">
                        {% endif %}
							           

								<span class="app-task-list__task-name">
									<strong>
									     {% if (Tasks.link !== undefined) and (Tasks.status != "Cannot start yet") %}
                              <a href="{{Tasks.link}}" aria-describedby="name-your-project">
                                {{Tasks.title}}
                              </a>
                            {% else %}
                              {{Tasks.title}}
                            {% endif %}                         
									</strong>
							</span>
	
				    {% if (Tasks.status == "Cannot start yet") 
                          or(Tasks.status == "Not started") %}
                          <strong class="govuk-tag govuk-tag--grey app-task-list__tag">{{Tasks.status}}</strong>
                        {% else %}
                          <strong class="govuk-tag app-task-list__tag" >
                            {{Tasks.status}}</strong>
                        {% endif %}

								
							</li>
						
                     {% endfor %}
						</ul>
						
				   
					</li>
				  
					  {% endfor %}
					
				  
				</ol>
            </div>
			
   <div class="govuk-grid-column-one-third">
	   <aside class="aside">
		  <div class="apollo-enclosure govuk-fac-enclosure">
			  <h2 class="aside__heading">{{data.related_content_text}}</h2>
				{% for item in data.related_content %}
					<p class="govuk-body govuk-!-font-size-16">
						<a href="{{item.href}}">{{item.text}}</a>
					</p>
				{% endfor %}
		  </div>
	   </aside>
	</div>
			
			<div class="govuk-grid-column-full">
				<a class="govuk-link govuk-fac-pro-link" href="{{data.return_url}}">{{data.returnTo}}</a> 
			</div>
			
			<div class="ccs-width-container">
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-full fac-p0">
						<div class="govuk-inset-text ccs_pre_footer_help govuk-fac-help">
							<h2 class="govuk-heading-m">Help</h2>
							<p class="govuk-body">You can contact us by email, phone or using the <a href="#">enquiry form.</a></p>
							<p class="govuk-body govuk-!-margin-bottom-0">
								<strong>Email:</strong>
							</p>
							<p class="govuk-body govuk-!-margin-bottom-2">
								<a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a>
							</p>
							<p class="govuk-body govuk-!-margin-bottom-0">
								<strong>Telephone:</strong>
							</p>
							<p class="govuk-body govuk-!-margin-bottom-2">
								<a href="tel:03454102222">0345 410 2222</a>
							</p>
							<p class="govuk-body govuk-!-margin-bottom-0">CCS customer services team is available Monday to Friday, 9am to 5pm.</p>
						</div>
					</div>
				</div>
			</div>
			
		

         </div>


      </main>


{% endblock %}

	