{% set footerSupportLayer = true %}
{% set fcaHelperLayer = true %}
{% extends "template.njk" %}

{% block head %}
   {{ super() }}
{% endblock %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = data.title %}
{% block content %}
{{ CCSBreadcrumbs({items: data.breadCrumbs}) }}
<main id="main-content" role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				<h3 class="govuk-heading-xl page-title">
					{{data.line1}}
				</h3>
			</div>
            <div class="govuk-grid-column-two-thirds govuk-fac-next-step">
			
				<div class="govuk-fc-overview">
					
					<div class="project-overview">
						<p class="govuk-body">Selected agreement:{{data.selected_agreement_value}}</p>
						<p class="govuk-body">Agreement ID:      {{data.agreement_id_value}}</p>
						<p class="govuk-body">Project ID / Name23: {{data.project_id_value}}</p>
					</div>
				</div>
				
				<div class="govuk-fac-supply_list">
					<p class="govuk-body"><a href="/#">{{data.line2}}</a></p>					
					<p class="govuk-body">{{data.line3}}</p>					
					<div class="govuk-radios">

						{% for item in data.events %}
							<div class="govuk-radios__item govuk-radios__item--small">
								<input id="results-per-page-{{item.checkbox_id}}" name="limit" type="radio" value="{{item.value}}" checked="{{item.checked}}" class="govuk-radios__input govuk-radios__input--small"> 
								<label for="results-per-page-{{item.checkbox_id}}" class="govuk-label govuk-radios__label">{{item.label}}
								{% for content in item.contents %}
									<span>{{content.text | safe }}</span>
								{% endfor %}
								</label>
							</div> 
						{% endfor %}
					</div>
				</div>
				<div class="govuk-fac-supplytitle">					
					<div>
						<button class="govuk-button govuk-fac-button" type="button" onclick="">{{data.buttonText}}</button>
						<a href="/#" class="fac-view">{{data.returnTo}}</a> 
					</div>							
				</div>
            </div>
			
            <div class="govuk-grid-column-one-third">
               <aside class="aside">
                  <div class="apollo-enclosure govuk-fac-enclosure">
					<h2 class="aside__heading">{{data.related_content_text}}</h2>
						{% for item in data.related_content %}
						<p class="govuk-body govuk-!-font-size-16">
							<a href="{{item.href}}">{{item.text}}</a>
						</p>
						{% endfor %}
                  </div>
               </aside>
            </div>
			
			<div class="ccs-width-container">
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-full fac-p0">
						<div class="govuk-inset-text ccs_pre_footer_help govuk-fac-help">
							<h2 class="govuk-heading-m">Help</h2>
							<p class="govuk-body">You can contact us by email, phone or using the <a href="#">enquiry form.</a></p>
							<p class="govuk-body govuk-!-margin-bottom-0">
								<strong>Email:</strong>
							</p>
							<p class="govuk-body govuk-!-margin-bottom-2">
								<a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a>
							</p>
							<p class="govuk-body govuk-!-margin-bottom-0">
								<strong>Telephone:</strong>
							</p>
							<p class="govuk-body govuk-!-margin-bottom-2">
								<a href="tel:03454102222">0345 410 2222</a>
							</p>
							<p class="govuk-body govuk-!-margin-bottom-0">CCS customer services team is available Monday to Friday, 9am to 5pm.</p>
						</div>
					</div>
				</div>
			</div>
	</div>
</main>
{% endblock %}