{% extends "template.njk" %}

{% from "components/support/macro.njk" import howToGetSupport %}

{% set title = 'Accessibility Statement | Contract Award Service' %}

{% block breadCrumb %}
    {{ CCSBreadcrumbs({
    items: [
        {
            "text": "Home",
            "href": "/"
        },
        {
          "text": "Accessibility Statement",
          "href": "#"
        }
    ]
      }) }}

{% endblock %}

{% block content %}

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Accessibility Statement</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-width-container">
                    <p class="govuk-body">The Contract Award Service (CAS) is run by Crown Commercial Service (CCS). We want as many people as possible to be able to use CAS. For example, that means you should be able to:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>change colours, contrast levels and fonts</li>
                        <li>zoom in up to 300% without the text spilling off the screen</li>
                        <li>navigate most of the website using just a keyboard</li>
                        <li>navigate most of the website using speech recognition software</li>
                        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                    </ul>
                    <br/>

                    <h3><b>How accessible is CAS?</b></h3>
                    <p class="govuk-body">We know some parts of CAS are not fully accessible, most notably:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>older PDF documents are not fully accessible to screen reader software</li>
                        <li>some documents have not been saved in an open document format</li>
                    </ul>
                    <br/>

                    <h3><b>What to do if you cannot access parts of CAS</b></h3>
                    <p class="govuk-body">If you need information on CAS in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>email <a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a></li>
                        <li>call 0345 410 2222</li>
                    </ul>
                    <p class="govuk-body">You will need to put &rsquo;accessible request&rsquo; as the subject line of your email.</p>
                    <p class="govuk-body">We&rsquo;ll consider your request and get back to you in five working days.</p>
                    <br/>

                    <h3><b>Reporting accessibility problems with CAS</b></h3>
                    <p class="govuk-body">We&rsquo;re always looking to improve the accessibility of the platform. If you find any problems not listed on this page or think we&rsquo;re not meeting accessibility requirements, contact: <a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a>.</p>
                </div>
            </div>

        </div>
    </main>
{% endblock %}